<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'yoruichi',
    'isshin',
    'ukitake',
    'rukia',
    'aizen'
  ];
%>
<body>
<div class="container second character kukaku">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">確かな実力を持つ</span><br>
						<span class="character-detail-nickname_bottom">豪快な女花火師</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">志波空鶴</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">170cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">58kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">10月1日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">志波家</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						流魂街に暮らす女花火師で、志波家の当主。岩鷲の姉で海燕の妹。夜一、浦原とは昔なじみ。織姫以上の巨乳美人で、豪快な性格。言葉遣いは荒く、口より先に手が出る。姉御肌で、一人称は「おれ」。右腕の肩より下がない（アニメでは義腕をつけている）。独自の霊術「花鶴射法」（かかくしゃほう）と攻撃系の鬼道を使用する。妙な旗持ちオブジェを好んで家の前に取りつけている（現在は人の腕で、夜一曰くなかなかの出来）。そのためか流魂街でも街外れのほうに住んでおり、転々とすることもしばしばある。岩鷲に対してはお仕置きばかりしているが、弟想いではある。千年血戦篇では、霊王宮に向かう一護たちを送り出すために登場し、この時には一護の父親が叔父の一心であることを知っていた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">破道の六十三 「雷吼炮（らいこうほう）」</dt>
						<dd class="c-ability__txt c-text">雷を衝撃とともに相手に向かって放つ。詠唱は「散在する獣の骨・尖塔・紅晶・鋼鉄の車輪・動けば風・止まれば空・槍打つ音色が虚城に満ちる」</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>