<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'genryusai',
    'hisagi',
    'aizen',
    'bambietta'
  ];
%>
<body>
<div class="container second character komamura">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">義理人情・漢気溢れる</span><br>
						<span class="character-detail-nickname_bottom">七番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">狛村左陣</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">288cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">301kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">8月23日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊七番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">天譴</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">黒縄天譴明王</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">肉</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現隊長<br>
						隊長固い性格の大男。人狼であり獣の顔を隠すため虚無僧のような鉄笠や手甲を着用し、常に顔や手を隠していた。剣八との戦い以降は鉄笠で顔を隠さなくなった。
					</p>
					<p class="c-text">
						孤独だった自分を死神として拾ってくれた山本元柳斎への恩義に報いることが自身の行動における第一義とし、元柳斎の考えに殉ずる意思を持つ。羽裏色はりかんちゃ、羽織は袖のないタイプ。
					</p>
					<p class="c-text">
						力重視の死神であり、本人もそのことを自覚している。反面、鬼道は得意でないのか作中では使ったことがない。アニメの「死神図鑑ゴールデン」にて一角と同じ美容院に通い毛並みを整えてもらっている。さらに、現世に赴いていた檜佐木修兵（後述）に土産として織姫が知っているペットショップで買った犬用の櫛を貰い喜ぶなど、アニメではその風貌が度々ネタにされている。自身も小動物を愛しており、七番隊隊舎裏で犬の吾郎（小説版では登場）を飼っている。後に発行された『カラブリ+』では身長・体重ともに巨大化した他、イラストに対しての助言や自らが書いた絵などで独特なセンスを発揮していた。
					</p>
					<p class="c-text">
						一角が卍解を習得していることを途中知ったが、耳の調子が悪いといって聞かなかったことにした。九番隊隊長の東仙要とは死神になる前に出会い、共に死神を目指した親友の間柄だった。東仙が亡き友人の正義を貫き世界を守るという死神を目指す理由を聞き、東仙が本心では愛しい者を亡くした為に世界を憎んでいると察した上で、自分が東仙の心の拠り所となろうと親友になる事を決意した。
					</p>
					<p class="c-text">
						他隊の隊長格と共に、空座町での藍染との決戦に出陣する。破面・ポウに追い詰められた一角を救い、ポウを卍解で一撃のもとに叩き伏せて撃破した。その後、吉良が治療を行なっている結界を守っていたが、他の仲間が倒されては意味がないと吉良に諭されたために戦前に立ち、東仙と交戦。東仙の本来の目的を知りながらも、親友として死闘を繰り広げた末に東仙と和解した直後に東仙が藍染に殺害。その後、藍染に立ち向かうが、藍染の圧倒的な力の前になす術なく敗北した。
					</p>
					<p class="c-text">
						星十字騎士団との戦いではバンビエッタと対峙。早期決着を狙い卍解するも『黒縄天譴明王』を奪われてしまう。劣勢に陥るが山本元柳斎が放った全力の霊圧を察知し、部下と共に奮い立つも、右耳を失う重傷を負った(その後完治している）。
					</p>
					<p class="c-text">
						星十字騎士団との戦いの後、出た一族の元に戻り「大爺様」と呼ばれる巨狼に世界に危機が来ていると言う事で一族の秘儀を授かるために訪れるも否定され戦闘になってしまう。戦いの末に大爺を下し、秘儀「人化の術」を受けるには己の心臓を捧げる必要があると知らされるも、亡き元柳斎に報いるため心臓を捧げ、僅かに獣の頃の面影を残した長髪の人間の姿となる。
					</p>
					<p class="c-text">
						「見えざる帝国」の二度目の侵攻では大爺から授けられた鎧を纏い、再びバンビエッタと対峙。倒れた平子と雛森を庇い人の身となった姿を晒すが、卍解『黒縄天譴明王・断鎧縄衣』を召喚（大爺のいる洞穴から瀞霊廷に向かう最中に卍解の虚化により取り戻したと思われる）。不滅となった明王と「人化の術」で不死身になった為にバンビエッタの攻撃がまったく通じず、明王の一太刀でバンビエッタに圧勝した。続いてユーハバッハの居る銀架城へと進撃しようとするも、「人化の術」が解けて完全に獣の姿へと変貌してしまった。復讐心に駆られ、かつての東仙の二の舞になってしまった自分を卑下するが、射場の励ましを受け共にユーハバッハの元へと向かう。 
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『天譴（てんげん）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放に伴う形状変化はないが、自身の攻撃動作に合わせて具現化した巨大な剣撃や拳で攻撃する能力をもつ。卍解とは異なり、具現化させた剣が破壊されても本体に影響が及ぶことはない。アニメでは、飛ぶ斬撃のエフェクトに変更され、卍解の一部分を召喚しているようにも描写されている。</dd>
						<dd class="c-ability__txt c-text">解号は「轟け『天譴』（とどろけ『 - 』）」</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『黒縄天譴明王（こくじょうてんげんみょうおう）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放とともに、自身の動きに連動して動く鎧兜を身にまとった巨人を召喚する。巨体を生かした攻撃力は帰刃時のポウを一撃で倒すほどの威力をもつが、巨体ゆえに動きが鈍重なため一撃で敵を倒しきれなかった場合や素早い相手には苦戦するおそれがあるうえに命を鎧に変える卍解であるため、狛村とのリンクの度合いが非常に強く、明王が傷つけられると狛村の同じ部位にまで傷がつくデメリットがある。しかしそのデメリットは狛村が回復すれば卍解時でも回復するという特性でもあり、「卍解時に破壊された斬魄刀は二度と修復しない」という原則の唯一の例外の斬魄刀である。狛村は巨人を「明王」と呼んでいる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">黒縄天譴明王・断鎧縄衣（こくじょうてんげんみょうおう・だんがいじょうえ）</span>
						</dt>
						<dd class="ability__txt c-text">「黒縄天譴明王」が命を吹き込まれた鎧を脱ぎ捨てた形態。角が生えた骸骨のような顔に髭をたくわえて両目に炎を灯らせ、痩身の体に黒い縄をまとった巨人の姿をしている。霊圧を剥き出しにした力のみに特化した姿であり、たとえ破壊されようと即座に修復する。動作も俊敏で逃走を図ろうとしたバンビエッタに跳躍で易々と追いつき、その剣速は触れた瞬間に爆発する「爆撃」ごと斬撃を叩き込めるほど。ダメージを狛村本体と共有するという弱点はそのままだが、「人化の術」により不死身となった狛村は事実上その弱点を克服した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>