<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'uryu',
    'zaraki',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character candice">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">稲妻の能力を持つ</span><br>
						<span class="character-detail-nickname_bottom">女性星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">キャンディス・キャットニップ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">T(雷霆:THE Thunderbolt)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						巨乳で露出度の高い格好をしたギャル風な女滅却師。髪型や眉が稲妻を思わせる形にセットされており、通称は「キャンディ」。霊子兵装はハート型のバックルを叩いて出現させる弓で、雷を象った形状をしている。完聖体では稲妻のような形状の3対の翼が生える。バンビエッタと同様にかなりの短気で気性が荒く、口調も悪い。美形の兵士を選んでは手を出していたらしい。バンビエッタを始めとする周囲の完聖体に影響されて完聖体の姿となるが、この時は交戦の意思がなかった。好戦的であるが実力はリルトット、ミニーニャ、ジゼルより劣るようである。
					</p>
					<p class="c-text">
						巨乳で露出度の高い格好をしたギャル風な女滅却師。髪型や眉が稲妻を思わせる形にセットされており、通称は「キャンディ」。霊子兵装はハート型のバックルを叩いて出現させる弓で、雷を象った形状をしている。完聖体では稲妻のような形状の3対の翼が生える。バンビエッタと同様にかなりの短気で気性が荒く、口調も悪い。美形の兵士を選んでは手を出していたらしい。バンビエッタを始めとする周囲の完聖体に影響されて完聖体の姿となるが、この時は交戦の意思がなかった。好戦的であるが実力はリルトット、ミニーニャ、ジゼルより劣るようである。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『雷霆（ザ・サンダーボルト）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“T”の能力。空や掌から雷撃を繰り出す。肉体そのものを稲妻に変えることができ、機動力も高い。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">稲妻のような形状の3対の翼が生える。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「ガルヴァノブラスト」</span>
						</dt>
						<dd class="ability__txt c-text">キャンディスが射る「神聖滅矢」。霊子兵装の弓から5GJ（ギガジュール）の雷の矢を撃ち出す。一護が纏っていた外套を焼き払ったが、ダメージはまったく与えられなかった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「ガルヴァノジャベリン」</dt>
						<dd class="ability__txt c-text">完聖体時に使用した、キャンディス曰く「小技」。剣としても使える背後の翼を相手に向けて投擲する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「電滅刑（エレクトロキューション）」</dt>
						<dd class="ability__txt c-text">完聖体時に使用。腕から凄まじい放電を発生させ、相手に向けて巨大な雷を打ち下ろす。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>