<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'urahara',
    'isshin',
    'white_ichigo',
    'aizen',
    'white',
    'yhbh'
  ];
%>
<body>
<div class="container second character masaki">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">純血統滅却師の生き残りの</span><br>
						<span class="character-detail-nickname_bottom">天真爛漫な一護の母</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">黒崎真咲</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">6月9日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">武器</dt>
							<dd class="character-profile__detail-txt">弓矢</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						三兄妹の母で一心の妻。一護が「ウチはおふくろを中心に回っていた」と語るほど、黒崎家にはなくてはならない存在だった。まだ幼い一護を庇い虚・グランドフィッシャーに殺害された。
					</p>
					<p class="c-text">
						前述した真咲の遺影は「Masaki Forever」と書かれたものであり、夏梨曰くアホみたいな遺影（この巨大な遺影の登場回数はわずか3回だが、原作1話で正面を向いた笑顔の写真だったものが原作199話では体を斜めに向け片手でピースしているものに変わっていた）。一心のルックスを褒めたのは1度だけである。夫の一心は妻を「（全てを引きつけ全てを許し全てを照らして振り回す様から）太陽に似ていた」と評し、彼女に振り回されることに幸せを感じていた。
					</p>
					<p class="c-text">
						実は純血統の滅却師・黒崎家の最後（両親は死去し、兄弟はいない）の生き残り。同じく純血統の家系である石田家に居候しており、高校の先輩後輩でいとこでもある竜弦とは婚約関係にあった。その実力は高く、特に静血装の力は桁外れだった。滅却師の仕来たりを無視して虚を倒しに飛び出すなど、強い正義感も秘めていた。<br>
						高校時代のある日、一心とホワイトとの戦闘に割って入り、自身の身体を囮にホワイトを撃破する。しかし、この戦闘で受けた傷が元で虚化を発症してしまい、浦原によって一心の魂魄を真咲及び彼女の中の虚に繋ぐことで症状を抑えることに成功して、何とか事無きを得た。
					</p>
					<p class="c-text">
						やがて高校卒業後石田家を追放され、大学に進学。自分を救うために死神の力を失った一心とはその後も交流を続け、やがて結ばれ一護たち3児の母となった。高校時代の性格は、虚に飲み込まれそうになって一心が助けに来た時もお気楽にはしゃいで名前を教えて貰おうとするなど楽天的な性格であり、助かった後も能天気に寝ていた程。
					</p>
					<p class="c-text">
						彼女の死の真相は、グランドフィッシャーに襲撃された日にユーハバッハの"聖別"が行われ、虚が混ざっていたことで"不浄"と見なされ滅却師の力を全て奪われ、戦う術を失ってしまったためだった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">霊子で形成されたスタンダードな弓。一度に一本放つ。ホワイトのスピードが速く命中させることができず、自身に攻撃を当てさせた瞬間を狙い撃ちしたが一撃で撃破できるほどの破壊力を持つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">血装（ブルート）</span>
						</dt>
						<dd class="ability__txt c-text">血管の中に直接霊子を流し込んで、攻撃能力と防御能力を飛躍的に向上させる戦闘技術。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">静血装（ブルート・ヴェーネ）</span>
						</dt>
						<dd class="ability__txt c-text">竜弦によれば、真咲の静血装は並外れた防御力を誇るという。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>