<%- include('../../inc/_head', {page_flg:'story_detail', page: json['story_detail']}) %>
<body>
<div class="container second story story_detail story_03">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'story'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<div class="main-contents_second">
			<h2 class="c-tit-lv_2">STORY</h2>
			<div class="inner">
				<ul class="story-detail-list">
					<li class="story-detail-list__item story-detail-list__01">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">謎の転校生平子真子</span>
									<span class="story-detail-list__txt-tit_bottom">斬魄刀に虚の仮面</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染たちが虚圏へと去った後、しばらくは平和な日々が戻った。ある日、死神代行として虚の退治をしていたところ、転校生の平子真子が一護の前に現れた。彼は死神の斬魄刀を所持しながら虚の仮面を持っていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__02">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">生体の破面2体出現</span>
									<span class="story-detail-list__txt-tit_bottom">圧倒的な強さを誇る</span>
								</p>
								<p class="story-detail-list__txt-txt">
									白哉との戦い以降内なる虚に悩んでいる一護は、空座町に突如出現した2体の破面の討伐に向かう。茶度と織姫は先んじて戦う。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__03">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">二度目の侵攻</span>
									<span class="story-detail-list__txt-tit_bottom">闘いが始まる</span>
								</p>
								<p class="story-detail-list__txt-txt">
									相手の破面の圧倒的な力に茶度は敗北し織姫も絶対絶命の危機に陥る。その時一護が間一髪で駆けつける。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__04">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">一護卍解で優勢に立つが</span>
									<span class="story-detail-list__txt-tit_bottom">内なる虚に邪魔される</span>
								</p>
								<p class="story-detail-list__txt-txt">
									卍解で相手の破面「ヤミー」に立ち向かい、優勢に立つが、内なる虚に邪魔され戦闘不能になってしまう一護。トドメを刺される直前に裏原と夜一に救出され事なきを得る。もう一人の破面「ウルキオラ」により撤退を促され、二人は虚圏へ帰還する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__05">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">織姫の特異な能力に</span>
									<span class="story-detail-list__txt-tit_bottom">関心を抱く藍染</span>
								</p>
								<p class="story-detail-list__txt-txt">
									帰還したウルキオラとヤミーは藍染に現世での調査内容を報告。藍染は織姫の能力に関心を抱く。
									破面の「グリムジョー」は一護たちを殺さなかったことに不服になり、単独で現世へと侵攻する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__06">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">グリムジョーの現世侵攻</span>
									<span class="story-detail-list__txt-tit_bottom">尸魂界の援軍と交戦</span>
								</p>
								<p class="story-detail-list__txt-txt">
									グリムジョーは自身の従属官と共に現世へと侵攻を開始する。尸魂界から既に援軍として来ていた日番谷、乱菊、一角、弓親はそれぞれ従属官たちと交戦に入る。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__07">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">力と力の戦い</span>
									<span class="story-detail-list__txt-tit_bottom">一角VSエドラド</span>
								</p>
								<p class="story-detail-list__txt-txt">
									従属官の一人「エドラド・リオネス」と交戦中の一角は相手の斬魄刀の解放「刀剣解放」で絶対絶命に陥る。一角は周りにバレないことを願い密かに真の能力を解放する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__08">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">卍解と刀剣解放</span>
									<span class="story-detail-list__txt-tit_bottom">決着着く</span>
								</p>
								<p class="story-detail-list__txt-txt">
									卍解を解放し、勝利した一角。しかし、卍解は一部破損してしまっていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__09">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">五鋏蟲に苦戦</span>
									<span class="story-detail-list__txt-tit_bottom">日番谷VSシャウロン</span>
								</p>
								<p class="story-detail-list__txt-txt">
									日番谷はシャウロン・クーファンと交戦。早々に卍解するも歯が立たず苦戦。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__10">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">破面に序列</span>
									<span class="story-detail-list__txt-tit_bottom">十刃とは</span>
								</p>
								<p class="story-detail-list__txt-txt">
									シャウロンから破面の番号は生まれた順番に付けられるが、1~10までは殺戮能力の高い順に付けられると教えられる。十刃の戦闘能力はこんなものではないと言われる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__11">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">限定解除にて</span>
									<span class="story-detail-list__txt-tit_bottom">一挙に決着へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									日番谷たちは絶対絶命の状況に追い詰められるが、やった降りた限定解除の封印を解き、全開の力で一挙に破面たちを葬った。しかし、これでも藍染によれば最下級のギリアンだという。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__12">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">破面たちによる</span>
									<span class="story-detail-list__txt-tit_bottom">二度目の侵攻の意味とは</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染は以前のウルキオラの報告のときから気になっていた織姫の能力を奪取するために、再び破面たちに現世へと侵攻させる。全開も来たヤミーは浦原と交戦するが浦原にだんだん追いつめられる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__13">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ウルキオラにより</span>
									<span class="story-detail-list__txt-tit_bottom">織姫が誘拐される</span>
								</p>
								<p class="story-detail-list__txt-txt">
									侵攻してきた破面たちとの戦闘に集中していた日番谷たちと一護だが、突如戦闘の途中で撤退してしまう。意味を図りかねていたところ、元柳斎により織姫の拉致が発覚する。しかし、織姫は誘拐される直前に一護の傷を密かに癒してから去っており、このことから織姫は自らの意思で藍染に下ったと判断されてしまう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__14">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">連れ去られた織姫</span>
									<span class="story-detail-list__txt-tit_bottom">夜虚宮へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									虚圏の夜虚宮へと連れて来られた織姫は力を示すために、片腕を失ったグリムジョーの治療を命ぜられる。実はグリムジョーは全開の侵攻の際に、独断で侵攻したことを東仙に咎められ片腕を切られていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__15">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">埋まらぬ差</span>
									<span class="story-detail-list__txt-tit_bottom">ウルキオラの序列判明</span>
								</p>
								<p class="story-detail-list__txt-txt">
									織姫奪還のため虚圏へと侵入した一護たちは、夜虚宮へと侵入。途中ウルキオラと交戦し、新たに習得した虚化で迎え打つもまったく歯が立たず、喉元に穴を開けられ敗北する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__16">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">三度目の戦い</span>
									<span class="story-detail-list__txt-tit_bottom">付いた決着</span>
								</p>
								<p class="story-detail-list__txt-txt">
									現世で二回戦ったグリムジョーとは因縁のようなものができていた。
									グリムジョーは瀕死の一護を織姫に治療させ、三度目の決戦に臨む。虚化と刀剣解放が激しくぶつかり合い、実力は拮抗したが一護が勝利。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__17">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">尸魂界からの援軍その1</span>
									<span class="story-detail-list__txt-tit_bottom">白哉VSゾマリ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									グリムジョーに勝利した一護は突如現れたノイトラにより危機に陥る。その時尸魂界からの援軍として現れた更木剣八により救われた。他にも涅マユリ・朽木白哉・卯ノ花烈も来ているという。第7十刃と対峙した白哉はゾマリの卑怯な戦法に怒り卍解で勝利を飾る。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__18">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">尸魂界からの援軍その2</span>
									<span class="story-detail-list__txt-tit_bottom">マユリVSザエルアポロ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									第8十刃のザエルアポロと対峙した涅マユリは、卍解で攻撃したものの逆に卍解を乗っ取られてしまい、最終涅ネムの体内を経て復活したザエルアポロに超人薬を投薬し、感覚と実際の動きの差を利用して勝利。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__19">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">尸魂界からの援軍その3</span>
									<span class="story-detail-list__txt-tit_bottom">剣八VSノイトラ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									一護のもとへ現れたノイトラと剣八は壮絶な斬り合いを繰り広げる。刀剣解放したノイトラを、剣道の両手振りによる強烈な一閃にて撃破。一方そのころ空座町では藍染一派との決戦に向けて既に全隊長格を展開したところだという。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__20">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">百十年前の十三隊1</span>
									<span class="story-detail-list__txt-tit_bottom">新隊長浦原喜助</span>
								</p>
								<p class="story-detail-list__txt-txt">
									時は百十年前まで遡る。空席だった護廷十三隊十二番隊隊長に浦原喜助が就任した。
									戸惑う部下と上手くやっていこうとする裏原は十三隊に新しい組織「技術開発局」を創設を考えていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__21">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">百十年前の十三隊2</span>
									<span class="story-detail-list__txt-tit_bottom">朽木白哉</span>
								</p>
								<p class="story-detail-list__txt-txt">
									六番隊隊長朽木銀嶺の孫の白哉はこの時はまだ少年だった。白哉は銀嶺のような立派な死神になるべく稽古に励んでいた。
									瀞霊廷では平穏な時が過ぎていったが、一つだけ徐々に気になる事件が起こり始めていた。
									魂魄消失の事件である。流魂街の住人が着物だけを残して蒸発してしまっているという奇妙な事件だった。ついにその事件に初の死神の犠牲者が出ることになる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__22">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">魂魄消失事件を調査</span>
									<span class="story-detail-list__txt-tit_bottom">六車九番隊</span>
								</p>
								<p class="story-detail-list__txt-txt">
									調査に先んじて出ていた六車九番隊は死神の死覇装と足袋を発見。そこからこれはただの行方不明や蒸発の事件ではないと判断。野営して犯人を突き止めることにする。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__23">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">九番隊に緊急発生</span>
									<span class="story-detail-list__txt-tit_bottom">援軍に向かうが</span>
								</p>
								<p class="story-detail-list__txt-txt">
									平子たちが現場に向かうとそこには虚の仮面を付け、怪物と化していた拳西と白がいた。拳西の力がさらにアップしており苦戦するが、鬼道で無理やり抑えることにはなんとか成功する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__24">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">藍染の暗躍</span>
									<span class="story-detail-list__txt-tit_bottom">平子たちも虚化</span>
								</p>
								<p class="story-detail-list__txt-txt">
									拳西を抑えたとき、藍染が現れる。彼は平子の監視を潜って一ヶ月もの間独自に動き、虚化の実験に動いていた。虚化の影響を受けた平子たちも徐々に虚化。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__25">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">虚と死神の境界線を取り除く</span>
									<span class="story-detail-list__txt-tit_bottom">その名を崩玉</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染により斬られそうになった平子たちだったが、間一髪で裏原により救出される。藍染が去った後、裏原の隊舎で虚化の実験の痕跡が多数発見されることになるが、それは藍染の策略によるものだった。
									虚化した平子たちを治療するために開発した崩玉を使用する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__26">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">解決策を求め</span>
									<span class="story-detail-list__txt-tit_bottom">現世に身を隠す</span>
								</p>
								<p class="story-detail-list__txt-txt">
									崩玉による治療は失敗してしまった。裏原は犠牲になった8人を夜一・鉄斎と共に救出し、皆で現世へと身を隠すことを決意する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__27">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官1</span>
									<span class="story-detail-list__txt-tit_bottom">檜佐木VSフィンドール</span>
								</p>
								<p class="story-detail-list__txt-txt">
									空座町ではついに決戦が始まった。源流斎は破面との戦闘中に藍染たちが乱入干渉できないように流刃若火の城郭炎上にて閉じ込める。藍染に代わってバラガンが指揮を取り、彼の従属官が転回結中を破るために従属官たちに破壊を命じる。檜佐木のところへ向かったフィンドールは檜佐木の始解「風死」によって敗北する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__28">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官2</span>
									<span class="story-detail-list__txt-tit_bottom">吉良VSアビラマ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									吉良のところへ向かったアビラマは刀剣解放状態の飛行能力で立ち回るが、羽を侘助で重くされたことで身動きが取れなくなったところを斬られ敗北。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__29">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官3</span>
									<span class="story-detail-list__txt-tit_bottom">弓親VSクールホーン</span>
								</p>
								<p class="story-detail-list__txt-txt">
									弓親のところへ向かったクールホーンは虚閃や刀剣解放で苦戦させるが、弓親の真の始解「瑠璃色孔雀」の能力で霊力を吸収され敗北。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__30">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官4</span>
									<span class="story-detail-list__txt-tit_bottom">大前田VSニルゲ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									大前田と交戦するニルゲは解放状態のパワーで押し潰そうとするが、大前田の俊敏な動きと始解の五形頭の一撃を喰らい敗北。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__31">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官5</span>
									<span class="story-detail-list__txt-tit_bottom">砕蜂VSジオ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									砕蜂と交戦するジオはスピードと技で徐々に砕蜂を追い詰めるが、逆に実力を出され雀蜂の二撃決殺により敗北。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__32">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">バラガンの従属官6</span>
									<span class="story-detail-list__txt-tit_bottom">狛村VSポウ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ポウは一角と対峙していたが一角に勝利、ギリギリのところを射場と狛村に救わる。狛村の卍解で圧倒的に叩きのめされ敗北する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__33">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">老いの力</span>
									<span class="story-detail-list__txt-tit_bottom">砕蜂VSバラガン</span>
								</p>
								<p class="story-detail-list__txt-txt">
									バラガンの従属官を全て撃破した砕蜂はバラガンと交戦開始するも、老いの力により上手く攻撃が当てられず逆に腕を老いの力で折られてしまう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__34">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">続々と十刃戦</span>
									<span class="story-detail-list__txt-tit_bottom">日番谷VSハリベル</span>
								</p>
								<p class="story-detail-list__txt-txt">
									日番谷とハリベルも交戦開始する。始解で応戦する日番谷だがハリベルは余裕な態度でいなす。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__35">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">似た者同士</span>
									<span class="story-detail-list__txt-tit_bottom">享楽VSスターク</span>
								</p>
								<p class="story-detail-list__txt-txt">
									享楽はスタークと交戦。お互い似た者同士らしいが、享楽はいつもとは違い、やる気をみせていた。
									スタークも触発され激突する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__36">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">夜虚宮での戦い</span>
									<span class="story-detail-list__txt-tit_bottom">一護VSウルキオラ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									夜虚宮にて一護とウルキオラが戦闘開始。虚化によりウルキオラは刀剣解放する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__37">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">刀剣解放</span>
									<span class="story-detail-list__txt-tit_bottom">第二階層</span>
								</p>
								<p class="story-detail-list__txt-txt">
									解放したウルキオラは一護を圧倒、虚化状態もまるで歯が立たない。さらなる絶望を見せるべく十刃唯一の二段階解放を披露する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__38">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">絶望の黒虚閃</span>
									<span class="story-detail-list__txt-tit_bottom">一護完全虚化へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									二段階の解放後さらに力を上げたウルキオラは一護を虚閃で貫く。織姫の呼び声の中一護は虚の姿で復活する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__39">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">完全虚化一護</span>
									<span class="story-detail-list__txt-tit_bottom">ウルキオラに完勝</span>
								</p>
								<p class="story-detail-list__txt-txt">
									完全虚化した一護は今度は完膚なきまでにウルキオラを圧倒する。捨て身の攻撃で一護は虚化が溶けるがウルキオラもダメージにより消滅し始める。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__40">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">初めて知った</span>
									<span class="story-detail-list__txt-tit_bottom">心とは</span>
								</p>
								<p class="story-detail-list__txt-txt">
									消滅し始めるとき、織姫に手を伸ばし初めて心というものを知った。
									身体は完全に消え去った。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__41">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ヤミー解放</span>
									<span class="story-detail-list__txt-tit_bottom">最強の0番</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ウルキオラが消滅したことを察したヤミーは戦闘中のルキアたちの元へ現れ刀剣解放。彼は数字が10から0へと変わる唯一の十刃だった。救援に来た白夜と剣八が相手になり、一護は卯ノ花と共に現世へと向かう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__42">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ハリベル解放</span>
									<span class="story-detail-list__txt-tit_bottom">水と氷の戦い</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ハリベルは戦いを終わらせるために解放。日番谷と激しい戦いを繰り広げる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__43">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">砕蜂卍解</span>
									<span class="story-detail-list__txt-tit_bottom">雀蜂雷公鞭</span>
								</p>
								<p class="story-detail-list__txt-txt">
									バラガンの解放により片腕を失った砕蜂は卍解を解放。強力なミサイルの一撃を打ち込むが全く効いていなかった。ハリベルも日番谷の放った氷点百華葬を脱し、リリネットと交戦していた浮竹は突如現れたワンダーワイスにより重傷を負い、享楽もスタークの一撃でダメージを負う。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__44">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ギリアン大量発生</span>
									<span class="story-detail-list__txt-tit_bottom">絶望する隊士</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ワンダーワースが連れてきた怪物フーラーが大量のギリアンを量産。絶望を覚えた隊士たちだった。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__45">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">仮面の軍勢</span>
									<span class="story-detail-list__txt-tit_bottom">藍染と対する</span>
								</p>
								<p class="story-detail-list__txt-txt">
									仮面の軍勢が到着。虚化を使いこなし、圧倒的力でギリアンたちを破壊。平子は藍染と対峙する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__46">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">宿命の対決</span>
									<span class="story-detail-list__txt-tit_bottom">東仙VS狛村・檜佐木</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染に斬りかかる平子は東仙に阻まれる。平子をかばった狛村は檜佐木と共に東仙と対峙する。
									東仙は虚化と刀剣解放を可能にしており、以前より遥かに力を上げた東仙には狛村の卍解も通用しなかった。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__47">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">和解したものの</span>
									<span class="story-detail-list__txt-tit_bottom">処刑された東仙</span>
								</p>
								<p class="story-detail-list__txt-txt">
									背後からの一撃で東仙を貫いた檜佐木。東仙と和解した二人出会ったが藍染により処刑されてしまった。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__48">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">平子の始解</span>
									<span class="story-detail-list__txt-tit_bottom">逆撫の能力</span>
								</p>
								<p class="story-detail-list__txt-txt">
									平子は再び藍染に対峙。始解「逆撫」を解放。上下左右を含むありとあらゆることを反対にしてしまう強力な錯覚を生み出すが、藍染の鏡花水月により意味をなさなくなってしまう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__49">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">仮面の軍勢</span>
									<span class="story-detail-list__txt-tit_bottom">藍染と対する</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ハリベルが突如藍染に斬られる。スタークは享楽に敗北。
									一護も到着し、いよいよ藍染との総力戦が開始される。隊長格と仮面の軍勢との連携により藍染を貫くが…。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__50">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">非情な現実</span>
									<span class="story-detail-list__txt-tit_bottom">貫いたのは</span>
								</p>
								<p class="story-detail-list__txt-txt">
									貫いたと思った藍染は鏡花水月の力で入れ替わっていた雛森だった。激昂した日番谷と続く享楽・平子たちは一瞬にて斬り伏せられた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__51">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">完全無欠</span>
									<span class="story-detail-list__txt-tit_bottom">鏡花水月</span>
								</p>
								<p class="story-detail-list__txt-txt">
									いつから発動していたのかも錯覚していた一同。激昂した日番谷は藍染へ突撃する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__52">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">隊長・仮面の軍勢</span>
									<span class="story-detail-list__txt-tit_bottom">全員敗北</span>
								</p>
								<p class="story-detail-list__txt-txt">
									日番谷と、続く享楽・平子たちは一瞬にて斬り伏せられた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__53">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">総隊長出動</span>
									<span class="story-detail-list__txt-tit_bottom">炎熱地獄発動</span>
								</p>
								<p class="story-detail-list__txt-txt">
									源流斎は隊長たちが藍染と戦っている最中に炎熱地獄を仕掛ける。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__54">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">藍染の秘策</span>
									<span class="story-detail-list__txt-tit_bottom">ワンダーワイス</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染の腕を掴み斬りかかる源流斎。しかし、藍染には対源流斎用の対策を取っていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__55">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">流刃若火対策</span>
									<span class="story-detail-list__txt-tit_bottom">滅火皇子</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ワンダーワイスが現れ、炎熱地獄の炎が全て消えた。ワンダーワイスは源流斎の流刃若火を封じるために改造された破面だった。彼は理性も言語も全てその一点に特化するために捨てていた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__56">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ワンダーワイス撃破</span>
									<span class="story-detail-list__txt-tit_bottom">しかしまだ仕掛けが…</span>
								</p>
								<p class="story-detail-list__txt-txt">
									始解を封じられた源流斎であったが、拳だけでワンダーワイス撃破した。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__57">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">炎熱地獄の炎</span>
									<span class="story-detail-list__txt-tit_bottom">無差別炸裂</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ワンダーワイスの体内には先ほどの炎全てが封じ込められていた。全てが一瞬に無差別に炸裂するのを身を呈して防いだ源流斎出会ったが重傷を負ってしまう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__58">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">犠牲破九十六</span>
									<span class="story-detail-list__txt-tit_bottom">一刀火葬</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染によりトドメを刺されそうになった源流斎は犠牲破九十六「一刀」を放ち倒れる。藍染の隙をついて一護が攻撃を仕掛ける。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__59">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">一護の秘密を話す藍染</span>
									<span class="story-detail-list__txt-tit_bottom">一心登場</span>
								</p>
								<p class="story-detail-list__txt-txt">
									藍染により一護は人間と死神の子どもだと判明。そのとき二人の目の前に現れたのは死神の姿をした一心だった。一心は藍染と交戦、一護はギンと交戦。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__60">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">藍染強し</span>
									<span class="story-detail-list__txt-tit_bottom">崩玉の力により変貌</span>
								</p>
								<p class="story-detail-list__txt-txt">
									裏原と夜一も参戦し、藍染に攻撃を加える。途中藍染は崩玉の力により変貌し、さらなる力を手にする。
									三人の攻撃を受けても全くダメージを受けない。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__61">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">神殺槍</span>
									<span class="story-detail-list__txt-tit_bottom">ギンの裏切り</span>
								</p>
								<p class="story-detail-list__txt-txt">
									圧倒的力で三人を撃破した藍染は、殻の中からさらに変貌した。その絶望的な霊圧を感じた一護は一心と共に尸魂界の空座町へと向かい、途中の断界で修行を開始する。空座町へ到着した藍染は一護のクラスメイトを殺害するつもりだったが、突如ギンの卍解により心臓を貫かれる。
								</p>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<a href="/cob/story/" class="c-btn_detail story-list-back">To STORY</a>
		</div>

		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>