<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'ukitake',
    'tsukishima',
    'riruka',
    'kukaku'
  ];
%>
<body>
<div class="container second character ginjyo">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">死神に復讐心を持つ</span><br>
						<span class="character-detail-nickname_bottom">元初代死神代行</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">銀城空吾</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">187cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">90kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">11月15日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">XCUTION</dd>
							<dt class="character-profile__detail-head">『XCUTION』会員番号</dt>
							<dd class="character-profile__detail-txt">001番</dd>
							<dt class="character-profile__detail-head">完現術</dt>
							<dd class="character-profile__detail-txt">クロス・オブ・スキャッフォルド</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">BO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						死神の力を失った一護の前に現れた男性で、完現術者たちの集まりである「XCUTION」のリーダー格。基本的に「銀城（さん）」、ジャッキーと雪緒には「空吾」と呼ばれている。一護が引ったくりから自身のバッグを取り返したことが初対面だが、それ以前に一護や一心に関する情報を知っていた。常に余裕のある態度を崩さず、捕らえ所のない性格。一護の死神の力を取り戻すための修行では目を潰すなど手荒い方法を用いるが、一護に対しては仲間として協力的な姿勢を見せていた。だが本来の目的は一護の完現術を奪うことであり、石田に重傷を負わせた後に一護に感づかれないようにするために「自身の敵である月島」を挟みこまれた上で一護に接触していた。
					</p>
					<p class="c-text">
						その正体は代行証を貰いながら、死神代行の座を棄てて姿を消した初代死神代行だった。銀城の真の目的は自分を裏切った死神への復讐であり、そのために仲間を集め、同じ死神代行の一護に接触し、その力を利用しようとしていた。月島に再び斬られたことで本性を現し自らの目的を果たすものの、死神の力を取り戻した一護に圧倒された。その後、一護から奪った完現術を発動し、一護・石田と交戦した。戦闘の最中、一護に死神代行と代行証の秘密を明かした上で仲間になるように誘ったが、銀城の心情を理解しながらも『仲間を護る道を選ぶ』と断られ、壮絶な斬り合いの上に敗れ、絶命した。敗戦後、彼の遺体は罪人として尸魂界に運ばれていったが、一護が彼の遺体を現世に埋めたいと頼んだことから、現世に埋葬された模様。
					</p>
					<p class="c-text">
						千年血戦篇では、月島やギリコとともに死後に流魂街にいたところを空鶴に拾われ、岩鷲を鍛えるための修行に付き合わされ、ぼやいていた。
					</p>
					<p class="c-text">
						終盤では、一護の卍解がユーハバッハによって破壊された敗北後に登場した。月島に同行したのみで、特に戦う事はなかった。
					</p>
					<p class="c-text">
						本編の銀城は何らかの裏切りを受け復讐を企てたが、その裏切りが何なのかははっきりとしなかった。また、銀城に死神の力を分け与えたのが誰なのかも、死神代行になった経緯も最後まで判明しなかった。小説版『BLEACH Can't Fear Your Own World』では、その詳細が明かされ、かつて月島に挟ませた「仲間を殺された過去」は事実であり、その犯人が死神であった事が判明した。浮竹がどれだけ関わっていたのか問いただすつもりだったが、霊王の右腕を解き放った浮竹はすでに話せる状態ではなく、それは叶わなかった。しかし、涅マユリに実験素材として目をつけられたのを契機に、戦いに巻き込まれていく。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【完現術】『クロス・オブ・スキャッフォルド』</span>
						</dt>
						<dd class="ability__txt c-text">常に愛用して身に着けている十字架のネックレスを、刀身にも柄のある身の丈ほどの大剣に変換する。刀身にも柄があるため、持ち方を変えることで大剣の弱点になる近距離戦をカバーできる。刀身に霊圧のようなものを収束し、強力な斬撃を放つことができる。自分が持っていた代行証を合体させることで髑髏の意匠のある大剣へと変化している。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">一護の完現術</span>
						</dt>
						<dd class="ability__txt c-text">一護から奪った完現術を発動させることで、全身に骸骨を模した装甲をまとった姿に変貌する。同時にその力を月島・獅子河原以外の「XCUTION」メンバーに分け与え、彼らをパワーアップさせた。一護の霊圧を自身の技や霊圧と融合することで自らの力を向上させ、一護の能力も奪っているため月牙天衝を使用することが可能。月牙の色は一護のものと違い紫で、アニメ版では卍解時に紫で縁取られた黒い月牙天衝を放っていた。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『斬魄刀名称不明』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">卍解時は髪の毛が白くなり、瞳の色も白黒（アニメでは眼球は臙脂色）反転する。これは、母親が妊娠時に虚に襲われて虚の力が銀城自身に混ざっているためだった。クロス・オブ・スキャッフォルドも悪魔のような意匠の大剣へと変化する。その体も体毛に覆われた下半身、骸骨状の文様がある上半身、X字を描く背中から発せられた霊圧の翼、顔には紅いX字の仮面紋など、虚化や帰刃形態の破面を思わせる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「虚閃（セロ）」</span>
						</dt>
						<dd class="ability__txt c-text">卍解時に使用。色は赤紫で剣先から放つ。虚の力が混じっているために使用可能だったが、一護には片手で防がれた。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>