<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
  var charaArray = [
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'isshin',
    'masaki',
    'white_ichigo',
    'hirako',
    'byakuya',
    'zaraki',
    'rukia',
    'renji',
    'aizen',
    'ulquiorra',
    'grimmjow',
    'nelliel',
    'white',
    'ginjyo',
    'yhbh',
    'haschwalth',
    'meninas',
    'candice',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru',
    'kukaku',
    'hiyori'
  ];
%>
<body>
<div class="container second character ichigo">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">死神と滅却師を親に持つ</span><br>
						<span class="character-detail-nickname_bottom">超ハイスペック高校生</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">黒崎一護</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">174cm → 181cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">61kg → 66kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">15歳 → 17歳</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月15日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">空座第一高校</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">斬月</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">天鎖斬月</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">チョコレート、辛子明太子</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">ウィリアム・シェイクスピア</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">Bad religion “News From The Front”</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">AO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						オレンジ髪に茶色の瞳。名前は越後とイントネーションが同じ「い」にアクセントをおく。名前は、何か一つのものを護り通せるように、
						の意味に由来する。好物はチョコレートと辛子明太子。尊敬する人物はウィリアム・シェイクスピア。虚（ホロウ）に襲われた際、家族を
						救うために、死神・朽木ルキアから死神の力を譲り受け、以降彼女の代わりに死神の仕事をするようになってから、死神代行として活躍す
						る。初期の頃は主人公だけあって毎回登場していたが、連載が長期化するにあたって登場人物が増えているため出番が減っており、何週に
						も渡って登場しないことも昨今では珍しくなくなってきている。また、長期の回想シーンでは一護が生まれる前のことを描いているため、
						登場しない。
					</p>
					<p class="c-text">
						実家は町医者で、父親は黒崎一心。母親の黒崎真咲は一護が9歳のときに死去。黒崎遊子と黒崎夏梨は、双子の妹たち。ルキアとの出会い
						がきっかけで死神の力を得てからは、ぬいぐるみに入った改造魂魄のコンとも同居。
						有沢竜貴とは4歳からの幼馴染。チャドとは中学の時からの親友。石田雨竜、井上織姫、小島水色、浅野啓吾らは高校からのクラスメイト。
						雨竜の父・石田竜弦と真咲がいとこ同士であることから、雨竜とは又従兄弟関係でもある。また、一心が志波家の分家出身であるため、海
						燕達とは親戚である（海燕と容姿が似ているのはそのため）。
						いつも眉間に皺を寄せた表情をしており、フェオメラニンが破壊されたオレンジ色の地毛と一見ぶっきらぼうで無愛想に見える態度から、
						常に教師や上級生から色眼鏡で見られ不良扱いを受けることも多い。中学時代チャドと共に「馬芝中のチャドと黒崎」と呼ばれ、ヤンキー
						界ではかなり有名な存在となっていたが、実際は自分や仲間にかかってくる火の粉を払っていただけである。実際は義理堅く争いを好まな
						い心優しい性格で、親からその名に託された思いを背負って兄として妹を護るという強い意志を持つ。その使命感を持つ故に、自分以外で
						も兄である者が妹を虐げたり蔑ろにするのを絶対に許さない。幼い頃から強くなるために道場に通い空手を習っていた。今は道場通いをし
						ていないが、数々の戦いや修行で身につけた戦闘能力や反射神経により、並の相手なら複数で襲ってきても刃物を持っていても、あっさり
						撃退できるほどの腕前。
					</p>
					<p class="c-text">
						優しい反面、甘さが見受けられ、闘いに於けるそれを破面のドルドーニから聖女のようだと揶揄される。破面であろうと誰かを傷つけるか
						、攻撃してこない限り、無用な戦闘は好まないが、避けられない闘いは寧ろ自ら臨んでいく。自身の実力の向上を実感したときに浮ついた
						り、追い詰められたときは弱気になることもある。戦いにおいては相手を殺す事を好まず、あくまで相手に勝つことにこだわり、勝利後は
						傷ついた相手を治療したり気遣う素振りも見せている。
						容姿への偏見から来る教師の無用の干渉を避けるため、勉強はキチンとしているので学校の成績は優秀（1学期の中間は18位、期末テスト
						は一学年322名中23位だった（単行本第5巻））。本人曰く、得意科目は国語らしい。空白の17ヶ月の間は少し成績が落ちたらしい。店の
						人に髪の色のことを聞かれたくないためもあって、髪の毛は遊子に切ってもらっている。見かけによらず性的にはウブで、夜一から裸を見
						せられたり一緒に風呂に入ろうとしたときのリアクションをからかわれたりした。
						人の顔と名前を覚えることが苦手で、石田のことも織姫から教えてもらうまで知らなかったり、出会って間もない弓親やドンドチャッカの
						顔すらうろ覚えだったりした。また、闘っている相手のドルドーニの名前も「ドン・パニーニ」と間違えて覚えていたり、車谷善之介のこ
						とを「イモ山さん」と名前を間違えて覚えている。恋次のことは再会した時もフルネームできちんと覚えていた。護廷十三隊の隊長や副隊
						長に対しては自分と見た目が近い者や親しい相手には呼び捨て、親しくとも目上の者には「さん」付けで呼んでいる。総隊長の山本に対し
						ては「爺さん」と呼んでいる。
					</p>
					<p class="c-text">
						外見は二枚目の分類に入るらしく、毒ヶ峰リルカからは初対面で「格好良いじゃない」と評されており、ブレイドバトラーズ2のepisode2
						では、松本から「中々の男前」と評されている。井上織姫からは極端に格好良く見える視点が描かれた事がある。また、初期の頃はヤヤ垂
						れ目がちであったが、連載が続くにつれてそういった眼に描かれることはなくなっていった。
						前述のように誤解されやすかったり、目つきが鋭いため怖がられる描写が作中でも何度かあったが、一話目の冒頭で自分から暴力を振るっ
						ている（不良三人が死んだ霊に供えてあった花をスケボーで遊んでいてこかした事に腹を立てたのが原因）などかなり喧嘩っ早いことは事
						実であり、些細なことで喧嘩に少なくとも口論（特に恋次）になっていることが多い。また、相手に対しての言葉遣いも「手前」と言うこ
						とが多く多少言葉遣いは乱暴である。
					</p>
					<p class="c-text">
						作中では、その存在が志波海燕の面影に重なることが白哉や浮竹の感慨として描写されている。後に父・一心が志波家の分家出身であることが判明している。
					</p>
					<p class="c-text">
						物語の最終話にて井上織姫と結婚し、息子「一勇（かずい）」を授かった様子が描かれる。小説版の最後では、恋次の後押しから好意を抱き始めた織姫に告白を決意する様子が描かれている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『斬月』</span>
						</dt>
						<dd class="ability__txt c-text">数ある斬魄刀の中でも非常に珍しい常時解放型の斬魄刀で、初めて解放して以来常に始解の状態を保っている。解号は無く、浦原との特訓の際に精神世界で名を教えてもらい解放に成功した。</dd>
						<dd class="ability__txt c-text">鞘も柄も鍔もハバキも無い、出刃包丁のような形状の巨大な刀身のみの刀である。茎の後端（通常の刀剣なら柄頭に当たる部分）からは晒が伸びており、非戦闘時はこの晒を刀身に巻き付けて鞘の代わりとする。斬魄刀自体の攻撃力、耐久力が非常に高く、戦闘方法は刀自体の強力さを活かした白兵戦が主体。茎の晒はある程度自由に伸び縮みするため、それを活かした用法も可能。卍解の修行後は刀そのものの攻撃力・耐久力に更なる磨きが掛かり、斬魄刀100万本分の破壊力を持つ双殛の矛を受け止め、その双殛を受け止めるために作られた磔架を一撃で破壊した。</dd>
						<dd class="c-ability__txt c-text">死神代行消失篇において新たに死神の力を得た際は完現術の影響からか、より鋭角な形状の斬魄刀が現れている（完現術使用時の刀やユーハバッハの扱う剣と似た形状）。また、柄や卍解時のそれを思わせる鎖が追加されるなど洗練された外観になっている。さらに単純な剣圧だけでも以前の月牙と同等の威力を持つほど攻撃力も上昇している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『天鎖斬月』（てんさざんげつ）</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に卍型の鍔、柄頭に途切れた鎖がついている全てが漆黒に染まった少し長めの日本刀に変化し、一護本人は具象体斬月の黒いロングコートに似た独特の死覇装を身に纏う。卍解状態になると一護本人の霊圧は赤黒い色に変化する。また死覇装の変化までも【卍解】の内に入るため、霊圧の増減を視認しやすい様相となっている。</dd>
						<dd class="ability__txt c-text">通常の死神の卍解に比べ圧倒的に小型であり、解放された強大な霊力の全てをその小型な卍解に凝縮することで卍解としての強力な攻撃力を保ったまま超スピードの斬撃と移動を可能にする。また卍解を維持するには莫大な霊力が必要とされる中で、一護の卍解はかなりの長時間天鎖斬月の形態を保っていられる程の耐久力もあり、作中では一度ウルキオラに倒された以外のことで意思に反して卍解が消滅する描写はない。会得当初は青白い霊圧に包まれてから出現していたが、虚化体得後は最初から黒い霊圧が斬月と一護を包み込んで解放されるようになった。</dd>
						<dd class="c-ability__txt c-text">通常十年以上かかると云われる卍解習得の修行を一護は転神体を使用した修行により三日たらずで成し遂げた。その修行では具象化された斬月が出現させた無数の刀から一護が探し当てた本物の斬月で、具象化斬月を斬り伏せて屈服させる方法を取っている（ただし、修行を成し遂げた場面は描かれていない）。しかし、黒コートの斬月は死神の力の根源ではなかったため（後述）、不完全な卍解であるともいえる。</dd>
						<dd class="c-ability__txt c-text">死神代行消失篇では以前のロングコートの様な形状の死覇装（始解時と同じく装甲が首元にあり、胴にX字の装飾を三つ、X字をあしらった篭手が追加。ロングコートも裾が三又に変化）に変わる。刀は柄頭の鎖が伸びている《アニメ BLEACH 365参照》（コミックでは柄頭の鎖が伸びて縁（ふち）に付いている）、鍔の卍が鋭角に、刀身はより鋭利なやや西洋風のものとなっている。</dd>
						<dd class="c-ability__txt c-text">通常、卍解状態で破壊されると修復が効かないとされる斬魄刀だが、天鎖斬月は死覇装の変化も卍解のうちではあるものの、死覇装は一護自身の霊圧の上下とリンクしているためか、破損しても一護自身が回復すれば元に戻る。 ただし本体である刀身はそうはいかず、千年血戦篇にて、見えざる帝国の最初の侵攻の際にハッシュヴァルトに折られてしまった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「月牙天衝（げつがてんしょう）」</span>
						</dt>
						<dd class="ability__txt c-text">自らの霊力を刀に喰わせて、刃先から超高密度の霊圧を放出し斬撃を巨大化させて飛ばす斬月の能力であり唯一の技。威力、射程距離共に強力で、対象との距離が近ければ近いほど命中した時の威力は高くなる。浦原商店地下の勉強部屋での浦原との対戦時、始解を会得した直後に初めて放った（ギリアン級大虚にも似た攻撃を放って撃退している）。その後しばらくは一護自身の意思で撃つことはできず、卍解会得のための修行を通じて自在に使用できるに至った。</dd>
						<dd class="ability__txt c-text">卍解時に放たれる月牙天衝は色が黒く、卍解によって斬月自体の攻撃力も向上しているために桁外れの破壊力を発揮する。この黒い月牙は内なる虚が意識の表面に現れたときに最初に使用した技であり、虚化習得前は使えば内なる虚が出てくるのを早めたため、連続での使用は不可能だった。尚、黒い月牙は解放状態の十刃の虚閃・黒虚閃に似ているとウルキオラに指摘されている（本来の斬月が、破面に近い性質を持つ為だと思われる）。ウルキオラとの再戦においては、月牙を天鎖斬月に纏わせたまま直接斬りつける応用技も見せた。</dd>
						<dd class="ability__txt c-text">アニメ『斬魄刀異聞篇』では、斬月（本体）が斬魄刀から離れたため、内なる虚の力を借りた月牙天衝を使用していた。この月牙天衝の威力は、斬月の使用する天鎖斬月を上回る力を見せた。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">最後の月牙天衝</span>
						</dt>
						<dd class="ability__img img_04"></dd>
						<dd class="ability__txt c-text">藍染との最終決戦を前に手にした力。天鎖斬月と融合、自らを月牙天衝と化することにより、崩玉で完全覚醒した藍染を上回るほどの強大な力を身につける。これによ、り藍染は一護が自分よりも更に上の次元に至っていると悟った。しかし一度発動させたら死神としての能力、霊力全てを失う代償も伴っているため、「最後」には死神としての最後という意味が込められている。一時絶大な力を手にするも代償として霊力を失う点で、滅却師最終形態に酷似している。発動時の一護は黒髪のロングヘアー（一護の祖先でもある滅却師の始祖・ユーハバッハに似ている）となり、口から上半身にかけて青灰色の包帯を纏った姿に変貌し、瞳の色も真紅に変わる。</dd>
						<dd class="ability__txt c-text">最後の月牙天衝修得直後の一護は、断界での数ヶ月もの時間の経過のためか身長、髪の毛も若干伸びている。また天鎖斬月の鍔の形状が鋭角的になり、柄尻の鎖が伸びてむき出しになった右腕に巻きつき黒い包帯状のもので固定されて右腕と一体化している。その時には周りの者達には一護に霊圧を感じなくなり、一護自身のポテンシャルも以前とは比較にならないほど上昇しているが、当初藍染はこれを自らの霊圧を棄てて、それを身体能力を増強するための力に変換したと洞察していた（実際は一護の実力が藍染のそれとは別次元のレベルに至っていたため、感知できなかった）。</dd>
						<dd class="c-ability__txt c-text">短期間かつ突発的に手にした完全虚化までの力と異なり、長時間を掛けた修行を課せられており、藍染が断界内で「拘突」を破壊したことで断界内で2000時間ものタイムラグが生じたことによって断界での修行が実現した。修得の鍵を聞き出すために精神世界での天鎖斬月との長きに渡る戦いを展開し、自らが天鎖斬月の刃を受け入れたことによって、天鎖斬月から最後の月牙天衝の意味を聞き出し修得した。</dd>
						<dd class="c-ability__txt c-text">この技で一護が死神と持ち前の霊力を失う際は、断界で起きた時間が逆流して激痛と共に意識を失う第一段階（死神の力の消失）、残った霊圧で目覚めた後の第二段階（霊力消失）のプロセスを踏んでいる。アニメでは第一段階を迎えても死神の力はすぐには消失せず、完全消失の時期は不確定となっており、【卍解】の使用によって若干の変調を来たすようになる。</dd>
					</dl>
					<dl class="c-ability-text layer3">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「無月（むげつ）」</span>
						</dt>
						<dd class="ability__img img_02"></dd>
						<dd class="ability__txt c-text">上記の姿に変貌後、右手に刀状の霊圧を発生させ振り下ろすことで発動させる。周囲を闇に鎖す程の巨大な漆黒の斬撃を発生させる技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【真の斬月】</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">二枚屋王悦によって浅打から鍛え直され、黒コートの斬月（滅却師の力）が本来の斬月（内なる虚）と分離したことで誕生した真の斬月。長刀と短刀による二刀一対型。長刀は以前の始解に似た形状で、柄と刀身の中央に穴がある。短刀は柄が無く石包丁に似た形状で、刀身の端に空いた穴の縁が柄になっている。また、一護本来の死神の力が完全に解き放たれたためか、どちらの刀も以前の天鎖斬月のように全体が黒一色となっている。長刀に虚の力が、短刀に滅却師の力が宿っているらしい。なお、完現術修得後からあった体の紋様や装甲、黒い草履はなくなっており、零番隊から与えられた王鍵（Ｘ字の装甲と隊長羽織を組み合わせたような形状）に斬月を装着して携帯する。</dd>
						<dd class="c-ability__txt c-text">また、滅却師の力を長刀の方へ注ぎ込むことにより、内なる虚を起こしてその力を使うことが可能となる。そのとき長刀の色は白く変化し、一護は体の左半分が完全虚化状態のような姿となる。完全虚化した時とは違い自我はしっかり保たれている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「王虚の閃光（グラン・レイ・セロ）」</span>
						</dt>
						<dd class="ability__txt c-text">虚の力解放時に月牙と融合させる形で使用。ユーハバッハの半身を吹き飛ばす程の威力。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「月牙十字衝（げつがじゅうじしょう）」</span>
						</dt>
						<dd class="ability__txt c-text">左手の短刀を横に薙ぎ、続けて右の長刀を縦に振るうことで十字の月牙天衝を飛ばす。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【真の卍解】</span>
						</dt>
						<dd class="ability__txt c-text">2対の斬月を重なり合わせて解放する。 こちらも同じく名は『天鎖斬月』であるが、その様相は一変している。 形は以前の始解のような巨大な刀身であるが、サイズは少し小さく、色は白い刀身の中央辺りから柄にかけて黒の太いラインが引かれており、刃は柄の方まで伸び、柄頭と刃の先端近くを黒い鎖で繋がれている。滅却師の力の影響か弓を連想する形をしている。</dd>
						<dd class="c-ability__txt c-text">ま虚の力解放時にユーハバッハに対して使用したが、解放と同時に折られてしまう。その後、ユーハバッハに一方的に叩きのめされ、終いには滅却師の力と、その力と融合していた虚の力を奪われてしまい、絶望に打ちひしがれるが、現れた月島の完現術「ブック・オブ・ジ・エンド」の能力で天鎖斬月が折られてなかったことになり、再起する。 そして、尸魂界において藍染や恋次と共にユーハバッハに立ち向かうが、再び刀身にヒビを入れられる。しかし、藍染の鏡花水月による奇策で、ユーハバッハに刃を突き立て月牙天衝を放ち、倒したかのように思えたがまだ倒しきれておらず、真の力を解放させたユーハバッハに殺されそうになるが、現れた石田の放った「静止の銀」がユーハバッハに直撃し、全知全能の能力が一瞬無効になる。 その隙をついてユーハバッハに対して斬りかかるが、「静止の銀」の能力無効の効果が消えかけてしまい、斬撃が止められそうになる。しかし、その刹那、ひび割れた天鎖斬月の中から以前の始解の斬月が姿を現し、そのままユーハバッハを斬り伏せ、闘いに終止符を打った。 おそらくこの斬月は、虚と滅却師の力を失った一護本来の死神の力としての斬魄刀及び卍解であると思われる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__txt c-text">内なる虚の発生と共に一護に芽生えた力。恋次や剣八との戦いで仮面が一護の懐に入って一護の致命傷を防ぐ働きをするという端的な力を発揮し、朽木白哉との戦いで完全に発現した。</dd>
						<dd class="ability__txt c-text">初めは制御不可能な状態にあり、内なる虚による魂の侵食によって霊圧が不安定になったり、意識が乗っ取られる障害も発生していたが、仮面の軍勢のもとで内なる虚を抑えることに成功してからは自らの意志で自在に発動できるようになった。一護の仮面はシンプルな髑髏状のもの。左半分が血のような色の紋様に覆われており、虚化習得以前から、仮面の紋様は出現する度に数が増えていった。後述する完全虚化後は、眼窩部をはしる縦じま2本の模様に変化した。</dd>
						<dd class="c-ability__txt c-text">「仮面の軍勢」と同様、自らの意思で出現させた虚の仮面を着け、死神でありながら虚の力を混在させることで爆発的に戦闘能力を向上させることができる。この状態の一護は仮面をつけるだけでなく、眼球は黒、瞳は黄色に変わる。一護は基本、卍解の上に虚化を使用する戦闘スタイルをとる。虚化時は斬撃及び月牙天衝が霊圧で軌跡を描く圧倒的なものに強化される。修得当初はまだ修行不足で11秒という短時間しか保てず霊力の消耗も激しかったが、虚夜宮でグリムジョーと再戦する頃には保持時間は飛躍的に延び、さらに仮面にひびや欠損ができても自力で修復可能なまでに成長し、力そのものも上昇している。また完全虚化後は、仮面の模様が変り仮面に違和感を覚えたり仮面を出せなくなるなどの若干の異変が生じている。天鎖斬月によれば、これは一護が完全虚化して破壊衝動に支配されることを恐れたためであり、以前の虚化ほど力を引き出せていないとのこと。藍染との決戦後は、一護の死神の力と霊力消失に伴いこの力も消失した。銀城との戦いで霊力を取り戻して以降も、虚化した描写はない。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">完全虚化</span>
						</dt>
						<dd class="ability__img img_03"></dd>
						<dd class="ability__txt c-text">刀剣解放第二階層時のウルキオラに敗れ再起不能となった際、織姫の助けを求める声に呼応するように、内面も虚に近い状態に変貌した、破面における帰刃に相当する一護の姿。変貌後はウルキオラを打ちのめす程の大打撃を与えたが、ウルキオラの捨て身の攻撃がきっかけとなり元に戻った。その際、胸に空いた孔は超速再生により塞がっている。基本的に自分の意志で元に戻る事は出来ず、今まで角を切り落とされる事で元に戻っている（『劇場版BLEACH 地獄篇』では完全虚化になった際、僅かに一護の意思が残っている）。</dd>
						<dd class="ability__txt c-text">外見は2本の角と仮面紋のついた仮面、白い肌、胸の孔と虚により近くなっており、髪も長髪に変化。その姿は一護に取り込まれた改造虚・ホワイトに酷似している。内面は仲間を含む他者の言葉は通じない、自分が敵と判断した者には味方であろうと攻撃を開始する、深手を追った相手にも容赦はしないと一護の意識は残されておらず完全に獣同然と化している。戦闘力も通常の虚化を遥かに上回り、別次元の実力差があった刀剣開放第二階層のウルキオラを逆に圧倒するほどの異常な力を見せている。アニメ版ではスピードに優れている石田が目で追いきれないほどの超高速戦闘をウルキオラと繰り広げた。一護の死神の力はその誕生時から虚の力と融合したものであったため、この姿こそが一護の死神の力の本質ともいえる。</dd>
						<dd class="c-ability__txt c-text">地獄篇では、強大な力を発揮するこの完全虚化が物語のキーとなっている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「虚閃（セロ）」</span>
						</dt>
						<dd class="ability__txt c-text">角の先端から放つ。その威力は虚化形態での月牙天衝を遥かに上回っており、ウルキオラの黒虚閃を簡単に打ち消してしまうほどの威力を持っている。色は深紅。地獄篇においては絶対に断ち切れないとされる咎人の鎖を難なく破壊する程の力を見せた。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「響転（ソニード）」</span>
						</dt>
						<dd class="ability__txt c-text">破面の高速移動能力。ウルキオラが自身の探査回路（ペスキス）をすり抜けられたという事から、瞬歩ではなく響転と判断した。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「チェイン」</span>
						</dt>
						<dd class="ability__txt c-text">天鎖斬月の柄頭の鎖と一護が霊圧で繋がっており、離れた所にある場合でも引き寄せることができる。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>