<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy'
  ];
%>
<body>
<div class="container second character ulquiorra">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">第二階層解放が可能な</span><br>
						<span class="character-detail-nickname_bottom">第四十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ウルキオラ・シファー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">169cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">55kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月1日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">黒翼大魔</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">虚無</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">In Flames"Moonshield"(The Jester Race)</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第4十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						作中で最初に登場した成体の破面。角が生えた仮面の名残を左頭部に被った、痩身で真っ白な肌をした黒髪の男。左胸に「4」の刻印がある。孔が喉元に開いていて、緑の両眼の下に、垂直に伸びた緑色の線状の仮面紋があるのが特徴。コート状の破面死覇装を着ている。霊圧は薄緑色をしている。斬魄刀を解放していない状態でも浦原の「紅姫」の攻撃を素手で跳ね返す、卍解・虚化状態の一護の攻撃を受けてもほぼ無傷である等、登場初期より高い戦闘力を見せていた。全ての破面の中で唯一肉体の殆ど（脳と臓器以外）を超速再生する事が出来る能力を持つ。
					</p>
					<p class="c-text">
						表情及び感情の起伏が少なく、仲間であっても「塵（ゴミ）」、「屑（クズ）」、「下衆（ゲス）」と呼んで見下す傾向もある。ノイトラに対しては下衆と発言している。藍染から一護に関して全て任された事などから藍染からは信頼を得ているようで、ウルキオラ自身も藍染に恭順の姿勢を見せている為、一護は当初彼を第1十刃と見ていた。尚、戦いの中でも動きをまるで読めないことから一護に石像か機械と戦っているかのように思わせていた。またグリムジョーによれば、気に入った敵の体に獲物の印として自分と同じ場所（喉元）に穴を開ける癖を持っている。
					</p>
					<p class="c-text">
						一護の潜在能力に関しては藍染の脅威には至らず、殺す価値無しとし、その力の不安定さから自滅、もしくは自分達の仲間にできるとの判断を下しているが、実際は一護の力に注目している。織姫の能力の特異性もいち早く見抜いていた。一護や織姫の言動から人間の心と言うものに対し羨望のような感情を抱いている。また力の差を見せ付けても尚も挑んでくる一護に取り乱した様な感情を露にしたこともある。
					</p>
					<p class="c-text">
						アニメのミニコーナ、「アランカル大百科」では藍染にも見せていない刀剣解放第二階層を市丸に見せられるのを必死に阻止したりとコミカルな一面を覗かせている。
					</p>
					<p class="c-text">
						破面化の時期は定かではないが（アニメ版ではバラガンの回想からしてスターク、ハリベルの2名が十刃入り、バラガン自身とヤミーら不完全な崩玉で破面化した十刃組が十刃に在籍中以降に離反後の藍染によって破面化したと推測できる）。藍染の反乱から一カ月ほどのち、藍染の命によってヤミーを伴い、一護の現時点の実力が脅威にたるかどうかを調べるために現世に赴いた。一護を殺す価値なしと判断し虚圏に帰還した後は、織姫の能力に目をつけた藍染の命令で、ルピ達と戦っていた仲間の命を交換条件にし織姫を藍染の元へ連行する。
					</p>
					<p class="c-text">
						虚夜宮に乗り込んだ一護を迎え撃ち、虚化による攻撃に驚愕するものの結果的にはこれを一蹴するが、独断で織姫を連れ去ったグリムジョーとの対戦中に反膜の匪で閉次元へと一時幽閉された。藍染の現世侵攻の際に帰還後、虚夜宮の守護を任され、再度捕らわれた織姫を助けに向かった一護を「破壊すべき敵」として認め一護と一騎打ちを展開、一護の虚化に伴い斬魄刀を解放し一護を再起不能の状態に陥らせるが、完全虚化した一護に圧倒され、左腕・下半身・内臓を吹き飛ばされるほどの大打撃を受ける。
					</p>
					<p class="c-text">
						最期は理性を取り戻した一護と決着をつけようとするも、先のダメージで肉体の灰化が始まり、散り際の決着を一護に拒否された後、人間に関心を抱いたことを一護達に吐露し消滅した。
					</p>
					<p class="c-text">
						大虚時代は周りの仲間が真っ黒な体だった中で、歯牙にあたる部分はなく、腰部から生えている黒い翼と頭髪以外は真っ白な体で、頭部も完全に仮面に覆われた姿をしていた。光の差さない穴の底で目覚め、ひたすら歩き続けてたどり着いた、虚圏の石英状の木の森に身を沈め、自我さえ消えてゆくような感覚を「幸福」と感じていた（この時不完全ながら破面化していた）。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『黒翼大魔（ムルシエラゴ）』</span>
						</dt>
						<dd class="ability__txt c-text">薄緑色の拵えの刀。鍔が折り畳まれた蝙蝠の翼のような形状をしている。解放の際、黒い液体が舞い上がり、雨のように降り注ぐ（アニメ版では、黒い雲が空を覆い尽くし、霊圧の雨が降り注ぐ）。</dd>
						<dd class="ability__txt c-text">解放すると背中に巨大な漆黒の翼が形成され、仮面の名残が四本の角のついた兜のようになり、服も下部がコート状のものに変わる。仮面紋もより大きくなる。翼を使っての防御や、霊圧で形成した光の槍「フルゴール」を用いて戦う。解放後は卍解・虚化状態の一護を遥かに凌駕するスピードと戦闘力を得る。</dd>
						<dd class="ability__txt c-text">なお、「ムルシエラゴ」（murciélago）はスペイン語で蝙蝠の意。</dd>
						<dd class="c-ability__txt c-text">解号は「鎖せ『黒翼大魔』（とざせ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【刀剣解放第二階層（レスレクシオン・セグンダ・エターパ）】</span>
						</dt>
						<dd class="ability__txt c-text">十刃で唯一ウルキオラのみが可能としている、二段階目の刀剣解放。第二階層時は尻尾を生やし、長い二本角、鋭い四肢の爪、黒い体毛に覆われた両腕と下半身など、悪魔そのものを思わせる姿に変貌する。また、虚化時の一護の如く眼球が黒みがある深緑色、瞳が黄色になり、喉元の孔が大きくなって胸に移動している（そこから、さらに紋様が下に伸びている）。仮面紋は黒くなり、さらに複雑な形状に変化している。通常の刀剣解放時よりも強さは格段に上回り、霊圧も通常の霊圧とは異質だと思わせるほどの重く強力なものへと変化する（空の上に海があるかのような息苦しさや、対戦している一護が表情を凍らせ、恐怖を覚えるほど）。藍染にも、この第二階層時の姿は見せていない。黒い一対のシンボル、二本角の頭部、白い肌などは改造虚・ホワイトやそれが取り込まれた完全虚化時の一護に類似している。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「雷霆の槍（ランサ・デル・レランパーゴ）」</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">第二階層時に使用。両手で霊圧を集中させて作り出した槍を投げる技。着弾点に虚夜宮の数倍の高さの火柱を上げるほどの強力な破壊力を持つ故か、ウルキオラ曰くできるだけ至近距離から放ちたくはないとのこと。何度も放てるが、コントロールに難がある模様。通常の解放時の光の槍・フルゴールと同じく、接近戦でも斬撃武器として使用できる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">人差し指の先端から放つ。他の破面と違い、色は薄緑色。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「黒虚閃（セロ・オスキュラス）」</dt>
						<dd class="c-ability__txt c-text">薄緑色に縁取られた漆黒の虚閃を放つ。本人曰く一護の黒い月牙は、これに似ているとのこと。虚夜宮の天蓋の半分近くを削るほどの威力がある。一発目は一護の仮面を粉砕して虚化を解除し、二発目は至近距離から放って一護の胸に大穴を開けた。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚弾（バラ）」</dt>
						<dd class="c-ability__txt c-text">彼の場合、軽く手を出す程度の動作でも比較的威力のあるものを放てる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「共眼界（ソリタ・ヴィスタ）」</dt>
						<dd class="c-ability__txt c-text">超速再生できる眼球を取り出し砕くことで、その眼で見た映像を周囲の者に見せることができる。本人曰く「全てを見通す目」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「ルス・デ・ラ・ルナ」</dt>
						<dd class="c-ability__txt c-text">解放後に使用。フルゴールを敵に投げつけて攻撃する。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「ラティーゴ」</dt>
						<dd class="c-ability__txt c-text">第二階層時に使用。長く伸びた尾を操り、攻撃する技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>