<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'zaraki',
    'yhbh',
    'haschwalth',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character pernida">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">神経を介して攻撃する</span><br>
						<span class="character-detail-nickname_bottom">霊王の左腕</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ペルニダ・パルンカジャス</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">C(強制執行:THE Compulsory)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						親衛隊専用のフーデッドコートを着用し、顔を隠した滅却師。ユーハバッハの親衛隊の1人。唸り声のような声しか発さないが、リジェ・バロは意味を理解している。
					</p>
					<p class="c-text">
						普段は黒い膜のようなものに覆われているが、その正体は掌の中央に巨大な単眼（霊王の力を取り込んだユーハバッハと同様に重瞳）のついた霊王の左腕であり、指ごとに鎖がついている。片言で言葉を話せるが、どの器官を用いて声を発するのかは不明。どのような経緯で滅却師の能力を持ち、ユーハバッハの配下になったのは不明であるが、自分の名前や滅却師を穢す者を徹底的に許さない。また、ナックルヴァールの発言から、ユーハバッハから力を授かっていない滅却師であることが明らかとなっている。
					</p>
					<p class="c-text">
						ユーハバッハに連れられて霊王宮に侵攻するも、王悦に倒された。後に聖別で復活し、自身の能力で曳舟の檻を破壊した。その後、霊王救出のためにやってきた夜一を襲撃する。護廷十三隊の侵攻時には出遅れた剣八一行やマユリと交戦する。剣八を後述の能力で倒すと、マユリと戦闘。マユリの卍解を破壊し、神経凝固剤を打たれても進化することで無効化するなど、高い実力を見せつけ、マユリを追い詰める。しかし、ネムが参戦しネムの撃破には成功するものの、ネムの脳下垂体に埋め込まれていた強制細胞分裂加速器官を取り込んだことで、過剰成長を起こし自滅する形で敗北した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『強制執行（ザ・コンパルソリィ）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">聖文字“C”の能力。自身の神経を対象の内部に侵食させて、あたかも自分の身体の一部のように自在に変形させる（マユリの分析によれば、元より滅却師が備えている自身の体内の霊子制御能力を他者の身体にも干渉するよう応用したもの）。神経に侵食された相手の肉体は強制的に折り畳まれ続け、最終的に血一滴程度の肉塊へと圧縮されてしまうので、大事に至らないようにするにはその部位を切り落とす、または神経そのものを別の構造に再構築するなどの早急な対処が必要となる（ただし、神経を拡散できる射程範囲に限界があるのか、能力にかかった直後に霊王宮外部へ排除された夜一には以降は効力は現れていない）。また、神経は無機物にも侵食可能で、地盤に流した神経で巨大な掌を象って遠隔攻撃でき、これらに触れても連鎖的に神経に侵食されてしまう。さらに、神経を繋いだ対象から情報や能力を吸い上げて進化する能力を合わせ持ち、本体の語彙や口調にも影響が現れる。一方、自身の神経を剥き出しにしているためマユリの薬品など神経に作用する攻撃にはダイレクトにダメージを受けてしまう弱点があるが、切り離された指からまた新たに同じ性質を備えた左腕（ペルニダ自身）を生成する驚異的な回復力と増殖能力を持つ。</dd>
						<dd class="ability__txt c-text">この能力はユーハバッハから授かったものではなく、ペルニダ自身がもともと持っていた能力であり、聖文字もその能力になぞらえて命名されたものである。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">指の一本一本に弓を形成し、霊子を収束した矢を放つ。矢に神経をつなぐことで軌道を自由に変えることも可能な上、「強制執行」の効果も付加できる。単純な物理的威力も高く、マユリの改造卍解を体内から破壊した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>