<%- include('../../inc/_head', {page_flg:'story_detail', page: json['story_detail']}) %>
<body>
<div class="container second story story_detail story_05">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'story'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<div class="main-contents_second">
			<h2 class="c-tit-lv_2">STORY</h2>
			<div class="inner">
				<ul class="story-detail-list">
					<li class="story-detail-list__item story-detail-list__01">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">突然の知らせ</span>
									<span class="story-detail-list__txt-tit_bottom">雀部の戦死</span>
								</p>
								<p class="story-detail-list__txt-txt">
									XCUTIONとの闘いの後、平和な日々が戻った。死神代行として虚の退治を仲間たちとしていたところ、
									一護たちに一番隊副隊長雀部長次郎の戦死の知らせが届いた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__02">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">瀞霊廷に侵入した賊軍</span>
									<span class="story-detail-list__txt-tit_bottom">正体は滅却師だった</span>
								</p>
								<p class="story-detail-list__txt-txt">
									雀部の戦死の後、隊首会にて、十二番隊隊長涅マユリによると、賊軍の正体はかつて滅ぼしたはずの滅却師だった。隊首会後、涅は元柳斎に「私はかつて、石田雨竜なる滅却師が尸魂界に潜入してきたときに、すでに今回のことはある程度予見し、すでにあなたに進言していた。『あのとき』あなたが滅却師の首領を滅ぼさなかったからではないのか」と問う。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__03">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">二度目の侵攻</span>
									<span class="story-detail-list__txt-tit_bottom">闘いが始まる</span>
								</p>
								<p class="story-detail-list__txt-txt">
									滅却師の首領ユーハバッハ率いる<ruby><rb>星十字騎士団</rb><rt>シュテルンリッター</rt></ruby>は二度目の侵攻を開始した。各隊隊士は滅却師たちと交戦。隊長たちも星十字騎士団と交戦状態に突入。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__04">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">圧倒的な星十字騎士団に</span>
									<span class="story-detail-list__txt-tit_bottom">為すすべもなく</span>
								</p>
								<p class="story-detail-list__txt-txt">
									星十字騎士団の一人バズビーにより、三番隊副隊長吉良イヅルが戦死。同隊上位席官も四人死亡。
									星十字騎士団の圧倒的な力により、護廷十三隊は劣勢に立たされる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__05">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">僅かな動揺の隙を突かれ</span>
									<span class="story-detail-list__txt-tit_bottom">片目を失う享楽</span>
								</p>
								<p class="story-detail-list__txt-txt">
									隊長たちは星十字騎士団との戦闘に早期決着を付けるべく、卍解を解放。しかし、星章化という技術にて、卍解を略奪されてしまう。各隊隊長はこの知らせを聞き、動揺する。享楽もこの知らせを聞き、僅かに動揺したところを敵将ロバート・アキュトロンの銃撃を右目に受け、重傷を負う。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__06">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">自身の卍解にて</span>
									<span class="story-detail-list__txt-tit_bottom">散りゆく白哉</span>
								</p>
								<p class="story-detail-list__txt-txt">
									敵将エスノトにより卍解を奪われた白哉は、エスノトの能力である『The Fear』の影響でまともに戦えなくなっていた。奪われた卍解で再起不能なダメージを負わされた白哉は斬魄刀が砕け散ってしまう。それは所有者の命がなくなることを意味していた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__07">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">更木剣八</span>
									<span class="story-detail-list__txt-tit_bottom">敵将を三名撃破</span>
								</p>
								<p class="story-detail-list__txt-txt">
									各隊長が苦戦する中、更木剣八は三名の幹部を撃破。いち早く、ユーハバッハとハッシュヴァルトのもとへ現れ、交戦を開始するも敗北してしまう。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__08">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">本気の元柳斎</span>
									<span class="story-detail-list__txt-tit_bottom">千年振りの決戦へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									剣八に勝利したーハバッハのもとへ、雀部の仇であるドリスコール・ベルチを撃破した元柳斎が現れる。千年振りの決戦に決着を付けるべく、卍解『残火の太刀』を解放。『天地灰燼』にて、ユーハバッハを撃破した元柳斎。しかし倒れたユーハバッハは、自分が大将でありながら、誰かに謝るという意味深な行動を取る。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__09">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">卍解を奪われた元柳斎</span>
									<span class="story-detail-list__txt-tit_bottom">切り裂かれ消滅する</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ユーハバッハと思い、戦っていた相手はユーハバッハに化けた敵将『Rのロイド・ロイド』だった。本物のユーハバッハが現れた後、卍解を奪われ身体を切り裂かれ、消滅させられた。各隊長は元柳斎死亡をすぐに察知してさらに動揺する。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__10">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">冷静な享楽もさらに動揺</span>
									<span class="story-detail-list__txt-tit_bottom">隙を突かれ敗北</span>
								</p>
								<p class="story-detail-list__txt-txt">
									元柳斎卍解解放時は、敵将ロバート・アキュトロンに反撃を開始していつもの調子を取り戻していた享楽だが、元柳斎戦死を察知した享楽は動揺しロバート・アキュトロンの銃撃を受け敗北する。
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="/cob/story/" class="c-btn_detail story-list-back">To STORY</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>