<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'yoruichi',
    'genryusai',
    'soifon',
    'otoribashi',
    'unohana',
    'hirako',
    'komamura',
    'syunsui',
    'kensei',
    'hitsugaya',
    'zaraki',
    'ukitake',
    'isane',
    'renji',
    'nanao',
    'hisagi',
    'rangiku',
    'rukia',
    'zommari',
    'tsukishima',
    'asnodt',
    'hyosube',
    'tenjiro',
    'oetsu',
    'hikifune',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character byakuya">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">規律を遵守する</span><br>
						<span class="character-detail-nickname_bottom">六番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">朽木白哉</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">180cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">64kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">1月31日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊六番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">千本桜</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">千本桜厳景</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">辛い物</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">Giovanni Mirabassiの"Je Chante Le Temps"/「AVANTI!」収録</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						四大貴族「朽木家」の現当主及び六番隊隊長にして、朽木ルキアの義兄。<br>痩躯で、肩にかかる程度の長さの黒髪をもつ白皙の中性的な容姿の男性。羽裏色は青藍。羽織は袖のないタイプ。隊長にはルキアが入隊する少し前に就任したらしい。
					</p>
					<p class="c-text">
						最高位貴族や一隊長としてのプライドが高く、冷静沈着で滅多に感情を表に出さない。朽木家当主として死神の規範となるために掟に殉ずる考えを持つ。皮肉屋ではあるが饒舌では無い。そういった性格とは裏腹に、義妹（ルキア）を危険な目に遭わせたくないために、危険度の高い席官職に就かせないよう根回しをするといった至極不器用な心配りをする。夜一からは「白哉坊」、やちるからは「びゃっくん」と呼ばれ、一護からは「白哉」と呼び捨てされている。呼び捨てにされることを嫌がっており、アニメでは一護を屋敷で注意しようとするも、やちるに邪魔され有耶無耶になっている。
					</p>
					<p class="c-text">
						55年前、貴族以外の血を混ぜることが掟に反すると知りながらも、流魂街出身の緋真と結婚する。50年前に緋真が亡くなり、彼女の遺言通り緋真の実妹であるルキアを自身の義妹として迎え入れた。ルキアを迎えることでまた掟に反いたため、2度と掟を破らないと誓っていた。そのため、ルキアの処刑が決まった時には自身の気持ちに迷いが生じていた。 
					</p>
					<p class="c-text">
						家十軒にも相当する値打の銀白風花紗（ぎんぱくかざはなのうすぎぬ）を首に纏い、上流貴族にしか着用を許されない髪飾り牽星箝（けんせいかん）を頭の上部と右側につけている。戦闘においては、高位歩法『瞬歩』が得意。かつて、一護の鎖結（さけつ）と魄睡（はくすい）を一瞬にして破壊し死神能力を奪った。鬼道においても高い実力を持ち、死神として非常にバランスの取れた高い戦闘能力を有する。 
					</p>
					<p class="c-text">
						その厳格な性格から、他者との交流は少ないように見えるものの、義妹のルキアが十三番隊に所属していることもあって、十三番隊隊長である浮竹十四郎とは交流が深い。十一番隊隊長の更木剣八とは一触即発となる場面が数回あったものの、行動を共にする場面が多く、月島と交戦した際には「戦いの中で刹那の狂気に浸る愉しみを知った」と語るなど、互いに反目しながらも剣八の影響を少なからず受けている描写がある。夜一、やちるを中心に女性死神とも交流があり、本人の全く知らない所で、朽木邸は女性死神協会の宴会等に部屋の一部を使われ、屋敷に通じる秘密の地下道や隠し扉が作られている。池にある鯉を浮竹へのお見舞いとして、やちるに捕られたりもしている。 
					</p>
					<p class="c-text">
						美的感覚はルキアと同レベル。番外編では、砂浜にてワカメ大使なる砂像を創作した（ルキアはこの像を絶賛していた）。「ワカメ大使」は、本人のアイデアとして出店の販売品の菓子デザインに使用されている。辛いものが好きであり、甘いものは嫌い。小説版では、使用人に意図して自分には辛い物を、ルキアには甘いものを出すようにしていた事が判明した。趣味は夜中の散歩。<br>子供の頃（110年前～）は感情的で頭に血が上りやすい性格で、そこを夜一にからかわれ続けていた（この頃から既に、年上の夜一に対してタメ口で利いている）。志波海燕、京楽春水（アニメのみ）からは生意気だと評されていた。祖父の銀嶺には敬意を見せ、銀嶺が屋敷に帰るや否や、溌剌と会話をしていた。当時は、髪紐で長い黒髪を上に括っていた。 
					</p>
					<p class="c-text">
						破面編では、山本元柳斎重國から日番谷冬獅郎率いる先遣隊を連れ戻すという命令を受け、更木剣八と共に現世に下り、彼らを連れ戻すも、尸魂界に帰還後はルキアと恋次の2人が虚圏へ向うことを黙認した。その後、剣八・マユリ・卯ノ花と共に虚圏に侵入し、第7十刃ゾマリ・ルルーと交戦して勝利し、ルキアの窮地を救うが、通ってきた全ての黒腔が封鎖された為に虚圏に幽閉される。その後剣八らと共にヤミーと交戦中の一護に合流、一護を現世に送り出し剣八と共にヤミーと交戦し、勝利を収めた。ゾマリとの戦いで隊長羽織を無くした件で隊長羽織を「安物」と言い放ったために、京楽、剣八と共に元柳斎から説教されていた。
					</p>
					<p class="c-text">
						一護に死神の力を取り戻させるため、力を与える専用の刀に他の隊長格らと共に霊圧を与え、ルキアや恋次・剣八・一角・日番谷と共に完現術者たちとの決戦に参戦し、月島と対決。重傷を負うものの勝利した。 この戦いから、服装や牽星箝が変わっている。 
					</p>
					<p class="c-text">
						瀞霊廷に侵攻してきた『見えざる帝国 』のエス・ノトと交戦。卍解を奪われ、自身の卍解を使用したエス・ノトにより瀕死の重傷を負わされた。一護が救援に来た際には自らの非力さを恥じながらも一護に尸魂界の守護を託して倒れた。その後、一命は取り留めたものの意識がない危篤状態で、零番隊によって一護や同じく危篤状態のルキア・恋次と共に霊王宮に連れて行かれ、『麒麟殿』の白骨地獄と血の池地獄で治療を受ける。<br>その後、ルキアと恋次が兵主部一兵衛の零番離殿で修行している頃に回復し目を覚ました（直接の描写がないため不明だが、エス・ノトの表情から侵影薬により卍解を取り戻したと思われる。卍解を取り戻した後に、エス・ノトの滅却師完聖体に苦戦しているルキアの援護に現れ、真髄を極めた千本桜によりエス・ノトを圧倒し、ルキアを励ました。その後、ルキアと共に新たなる戦場に行く。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『千本桜（せんぼんざくら）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に刀身が目に見えないほど無数の刃に分裂し、対象を斬り刻む。この無数の刃は光が当たることで桜の花弁のように見える。解放中は刀身がなくなるため、通常の「刀」として使う事が出来なくなり、防御が手薄になるなどリスクも生じる。そのため力のある相手と接近戦を行う場合などには、あえて解放を行なわず「刀」のまま剣技で戦うことも多い。零番離殿での修行後は花弁の枚数が圧倒的に増加し、始解の段階でもエス・ノトが卍解を使用したと思い込む程で、かつての卍解時と比べても遜色がないほどの量となった。</dd>
						<dd class="ability__txt c-text">解号は「散れ『千本桜』（ちれ『～』）」。卍解時にも唱えることがある。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『千本桜景厳（せんぼんざくらかげよし）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">能力解放と共に斬魄刀を離し、地面に向かって落とす。刀は地面に吸い込まれるように消え、同時に足元から巨大な千本の刀身が現れる。直後それらが一斉に舞い散り、始解時を遙かに上回る数の刃と化す(刀身を真っ二つに折られた状態であっても、2つ共地面に落とすことで発動可能)。その総数は数億枚とも言われ、桜色の濁流とも捉えられるその無数の刃を縦横無尽に操る事で、攻防一体・死角皆無の完全なる全方位攻撃が可能となる。刃は白哉の念のみでも操る事ができるが、手掌の動きを加えることで精度・速力が倍化（2倍）する。ゲームでは発生した巨大な刀でも攻撃する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「殲景・千本桜景厳（せんけい・せんぼんざくらかげよし）」</span>
						</dt>
						<dd class="ability__txt c-text">散り散りになっていた数億枚の刃を、卍解状態のまま千本の刀の姿に圧し固める事で、爆発的に殺傷能力を高めた形態。変幻自在の包囲攻撃はせず、刀のひとつを手にして戦う、刀を矢の様に敵めがけて飛ばす（補助的に用いられる）ことが主な戦闘手段として用いられる。</dd>
						<dd class="ability__txt c-text">防御を捨てた超攻撃形態であり、白哉が自らの手で斬ると誓った者にしか見せない、千本桜の真の姿である。見せたのは一護で二人目。攻撃力のみを上げる技のため、白哉自身の速度は変わらない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「吭景・千本桜景厳（ごうけい・せんぼんざくらかげよし）」</span>
						</dt>
						<dd class="ability__txt c-text">数億枚の刃で敵の全方位を球形に囲み、斬砕する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「終景・白帝剣（しゅうけい・はくていけん）」</span>
						</dt>
						<dd class="ability__txt c-text">千本桜景巌の全ての刃を圧し固め、一振りの刀にした形態。アニメでは、霊圧が牙を剥く鳥獣に変化し凄まじさを物語った。原作では、一護以外には使ったことがない。</dd>
					</dl>
					<dl class="c-ability-text layer3">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「奥義 一咬千刃花（おうぎ　いっかせんじんか）」</span>
						</dt>
						<dd class="ability__txt c-text">殲景・千本桜景厳を展開後、全ての刀を敵に向けて飛ばす。能力を解放したジェラルドに対して使用。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>