<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'renji',
    'zaraki',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'aaroniero',
    'yammy'
  ];
%>
<body>
<div class="container second character szayelaporro">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">元は第0十刃の</span><br>
						<span class="character-detail-nickname_bottom">天才科学者</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ザエルアポロ・グランツ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">185cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">67kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">6月22日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">邪淫妃</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">狂気</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第8十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						仮面の名残である眼鏡を掛けたピンク色の髪の男性で、虚圏（ウェコムンド）内では、“最高の研究者”や、“あらゆる霊性兵器開発のスペシャリスト”として知られているマッドサイエンティスト。その技術力は非常に高く、後述する従属官（フラシオン）は彼の手によって改造された多数の実験体をベースとしている。『8』の刻印の箇所は不明で、虚の孔は亀頭にある。本人は自身の戦闘力はあまり高くないと評しており、戦闘では録霊蟲や敗死した相手から収集した情報を元に他人の能力を解析した上で、他人の能力を封じ込めたり、利用したりする戦法を取る。
					</p>
					<p class="c-text">
						ノイトラと同様、未完成の崩玉により破面になっていた。また、ネリエルが第3十刃だった当時は十刃落ちであり、ノイトラがネリエル達三名を虚夜宮の外へ放り出す際に自らの技術を使って協力していた。後述の数字持ちの破面・No.15（アランカル・クインセ）イールフォルト・グランツの弟だが、兄を「カス」呼ばわりし、『情報収集の為の録霊蟲（ろくれいちゅう）を運搬する箱』とまで言って蔑んでいる。また、戦いの最中に「着替える」と言って行方をくらますなど、気障な振る舞いをとるが、上官の藍染には卑屈なほど下手な一面もある。ちなみに彼の宮は自分の斬魄刀の鍔と似た形状をしている。
					</p>
					<p class="c-text">
						虚夜宮内に侵入した恋次･石田･ペッシェ･ドンドチャッカと戦い、斬魄刀解放と様々な戦法で恋次達を翻弄するが、救援に来た涅マユリとのマッドサイエンティスト同士の対決を展開。最期はネムに受胎告知を行った際にネムの体内から投与された超人薬で感覚のみが超人化し、肉体がついていけなくなったところを涅マユリに討たれ戦死した。その戦闘による死亡後、アーロニーロと共に地獄に堕とされ、突如現れた朱蓮とその部下達と交戦するが、彼らの圧倒的な力によって返り討ちに遭い敗北する。
					</p>
					<p class="c-text">
						破面篇から死神代行消失篇までの十七ヶ月の間の出来事を描いた小説「BLEACH Spirits Are Forever With You」では、かつてはヴァストローデ級の虚で元第0十刃であった設定が登場。全盛期の実力は帰刃形態のヤミーを超え、完全虚化した一護と比肩するまでとされていた。しかし完全な生命となることを目論んだ過程から自らをアジューカス級に退化させたことから戦士としての力を失い十刃から外されたものの、その後科学者としての力だけで現在の地位に返り咲いた。また、生前は残虐非道な人体実験を繰り返していた錬金術師だったことが明らかになっている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『邪淫妃（フォルニカラス）』</span>
						</dt>
						<dd class="ability__txt c-text">太刀のようにひも状のもので腰につりさげている。 解放する際は斬魄刀を口から飲み込む。
解放すると首から下が触手に覆われ、ドレスを着たような姿になり、背中には4本の細長い羽根が生える。仮面の名残である眼鏡は飾りのように変化し、左目の周りには、道化師のメイクのような仮面紋が現れる。解放後は下記のような4つの能力を得る。現在は直接相手を殺傷する攻撃力は持たないものの、第0十刃時代は無数の触手を武器として強力な殺傷力を持っていた。</dd>
						<dd class="c-ability__txt c-text">解号は「啜れ『邪淫妃』（すすれ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">対象のクローンを生み出す能力</span>
						</dt>
						<dd class="ability__txt c-text">身体から血のような液体を噴射し、触れた者の姿・能力をそっくりにコピーしたクローンを作り、操る。分身の目元には解放時のザエルアポロの目元の仮面紋に似た模様が浮かぶため区別することは可能。分身体の外見も自分好みに変えられる。ただし服装を変えることで撹乱の意味を成さなくなるため、その点に関し美的センスにそぐわないからという理由を含め恋次にツッコミを入れられている。分身体を消す際は指を鳴らすことによる命令で風船のように破裂させる。相手の霊圧が強大すぎる場合、同等の能力を誇るクローン体を作り出すことはできず、性能は本物よりも劣化する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">2体の人型巨人を従えさせる能力</span>
						</dt>
						<dd class="ability__txt c-text">ドレス状の被服に接続された巨人を従え、相手へ攻撃させたり対象の動きを奪う。この巨人は普段は服の内部に収納されており、ザエルアポロの意思で椅子に変化させることもできる。勝ち目が無いと判断し再度逃げようとする雨竜達の動きを封じるのに使われた。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「人形芝居（テアトロ・デ・ティテレ）」</span>
						</dt>
						<dd class="ability__txt c-text">対象を羽根で包み込み、対象を模した小さな人形（対象者の五感を支配するコントローラー）を作り出す。人形を傷付ければ対象者も同じ箇所に傷が付く。人形の中には内臓や腱等のパーツがあり、それを破壊すると、その内臓や神経も破壊される（胃に相当するパーツを破壊すると、その相手の胃が潰される等）。クローン同様、相手の霊圧が強い場合はパーツ自体の強度が増してしまい、破壊するのが困難になってしまう。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「受胎告知（ガブリエール）」</span>
						</dt>
						<dd class="ability__txt c-text">ザエルアポロ自身が最も自慢している能力であり、本人曰く「敵に自身を孕ませる能力」。肉体の大半が損失した時に、敵の臍から体内に侵入して内臓に卵を産み付け、体内から相手の全てを吸い尽くして死に至らしめ、自らの肉体を復活させる。なお、以前の自分の体は喰われると融けた後に神経に侵入して喰った対象をザエルアポロの意のままに操れるようになる。</dd>
						<dd class="ability__txt c-text">アニメ版では、「自身を甦らせる能力」となり、母体の口から放出された煙の中で細胞分裂のような物を起こし、母体の霊圧を吸い尽くし、生誕を迎えるという描写になっている。ザエルアポロの話によると毛穴から侵入しているらしい。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「球体幕（テロン・バロン）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。羽根で全身を覆う守りの技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「王虚の閃光（グラン・レイ・セロ）」</dt>
						<dd class="c-ability__txt c-text">両手から放つ。地獄において朱蓮との戦いで使用した。全盛期は両手や口、数十本の触手から同時に放つことを可能としていた。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>