<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'komamura',
    'kensei',
    'rangiku',
    'driscoll',
    'masculine'
  ];
%>
<body>
<div class="container second character hisagi">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">亡き隊長の教えを守る</span><br>
						<span class="character-detail-nickname_bottom">九番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">檜佐木修兵</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">181cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">67kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">8月14日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊九番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">風死</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">風死絞縄</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">ウインナー</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現副隊長<br>
						左頬に「69」の刺青を彫っており、ノースリーブの死覇装を着ている（アニメでは六車拳西への憧れ）。首と両上腕部にある黒い模様は刺青ではなく、首輪と腕輪（取り外して相手に投げることで目くらましの効果のある爆竹のようなもの）。顔の右側、額から顎にかけて三本筋の傷跡を持つ（学生時代に藍染により生み出された巨大虚（ヒュージ・ホロウ）につけられたもの）。真央霊術院の入試には2回落ちているが、在学中にはすでに護廷十三隊への入隊が内定、その当時から席官入り確実といわれた優等生だった。恋次・吉良・雛森・ルキアの5回先輩。<br>
						なお、今は学生時代より短髪で、鼻に灰色のテープのような物を貼っている。
					</p>
					<p class="c-text">
						上官の東仙のことを敬慕しており、戦士としての師として仰ぎ、「自分の剣に怯えぬ者に剣を握る資格はない」など東仙からの教えを戦士としての矜持として胸に秘めている。席官時代は、学生時代の巨大虚に襲われた経験から戦いへの恐怖を抱いていたが、当時の東仙の前述の言葉を胸に刻んだことにより、現在まで及ぶ。死後も尊敬しており、拳西が修行時に悪く言ったときは怒ったほど。
					</p>
					<p class="c-text">
						性格はクールでどっしりした硬派で誠実だが、『カラブリ+』や単行本のおまけページなどでは想い人である乱菊のことで卑猥な妄想を膨らませて鼻血を噴き出すなど、軟派でスケベな面もある。アニメオリジナルでは、メインにした単発の話が一度作られたことがあり、その際松本の入浴を覗こうとも考えており、スケベぶりが強調された。
					</p>
					<p class="c-text">
						雪合戦では想い人である乱菊との妄想を膨らませるも、現実では乱菊に盾にされるという残念な結末を迎えた。不幸な立ち位置に追いやられることも多い残念なイケメン。<br>
						アニメの乱菊曰く「美男で手だれ」と言えば彼しかいないらしい。
					</p>
					<p class="c-text">
						また給料日前に給料を使い果たしたり、乱菊・吉良と一緒に酒を飲み酔いつぶれた挙句、総合救護詰所で足つぼマッサージを受けて死ぬ思いをしたりするなど計画性がない一面もある。
					</p>
					<p class="c-text">
						大抵は誰かとともに行動している描写が多い。交友関係は広いが何かとかわいそうな扱いを受けることが多く、小説『The Death Save The Strawberry』では、ルキアが一護に死神の力を取り戻させるために副隊長たちに協力を求め電子書簡を送信していた際、連絡を受けた恋次、乱菊、一角、弓親はそれぞれが互いに転送していると思い檜佐木に転送しなかったため、拳西に伝えられるまで事の顛末を一切知らず、「友達がいない」と呟かれたことで涙を堪えていたがその状況だろうと察していた吉良が檜佐木に転送したことで人知れず涙を流していた。
					</p>
					<p class="c-text">
						101年前は流魂街に住んでおり、気弱で泣き虫な性格だった。友達（虎彦（とらひこ）・牛次（ぎゅうじ））と一緒にいるときに虚の襲撃を受けるが、偶然通りかかった当時の九番隊隊長である拳西に助けられた。「69」の刺青や普段の振る舞いは彼に対する憧れから表れている。
					</p>
					<p class="c-text">
						編集を引き継いでいるが、自らが執筆した「教えて! 修兵先生!!」は、本人がまったく知らないうちに3回で連載が打ち切られている。尸魂界の争乱後、チャドにギターを教授してもらい少しは上達した模様。バイクにも興味があるらしく、現世で買ったものを持ち帰って瀞霊廷中を乗り回し、かなり怒られた（アニメではこの台詞はカット）らしい。
					</p>
					<p class="c-text">
						空座町での藍染との決戦では転界結柱の守護を担当。破面フィンドールとの対決に斬魄刀を解放して勝利後、吉良とともに乱菊と雛森の救援に駆けつけるも、アヨンによって自らも負傷する。それでもけがを押して、狛村とともに東仙に戦いを挑み、虚化した東仙に敵わなかったが、刀剣解放し狛村にとどめを刺そうとする隙を突いて始解の斬魄刀で東仙を倒した。
					</p>
					<p class="c-text">
						「星十字騎士団」との一度目の戦いではドリスコールと対峙するも、圧倒的な実力差で殺される直前まで追い詰められ、すんでのところで元柳斎に助けられる。決戦後は拳西と白の協力で卍解習得に向けて特訓したようだが、二度目の侵攻では一角・弓親と合流したところをマスク・ド・マスキュリンに襲われ、あっさり敗北してしまった（とはいえ、ジェイムズがマスキュリンの強さの要だと拳西に忠告していたことから、一度は能力を使わせたと思われる）。その後、一護がユーハバッハのもとに向かうための時間を稼ぐためルキア、恋次、白哉、一角、弓親とともに滅却師と対峙する。ペペの能力により操られ白哉を襲撃するが、マユリのゾンビになった拳西により失神させられる。その後、浮竹や勇音、花太郎の治療によって完全ではないものの回復し、京楽らに追随して霊王宮に突入するが、霊王宮の霊子環境や自身の負傷具合によって隊列から徐々に遅れていった隙を突かれ、リジェに狙撃されて倒れた。十年後にはすでに回復した姿が描かれており、その間にあった出来事を描いた小説『BLEACH Can't Fear Your Own World』では主人公として、彼視点での物語が描かれる。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『風死（かぜしに）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放とともに、一対の鎖でつながった特殊な形をした二枚の互い違いの刃のついた鎌に変化する。鎖の部分を持ち武器本体を回転させ敵に投げることで、相手に動きが読まれにくい攻撃をすることが可能。相手に鎖を絡ませて引き寄せるといった用法もある。本人は風死の形が「命を刈り奪る形をしている」ため、風死を気に入っていない。上記の通り、卍解の習得に向けて特訓を行い、10年後には日番谷と六車の言動から卍解は習得したが、小説版での叫谷における彦禰との戦い以降は一度も披露しておらず、乱菊からは「卍解するする詐欺」と揶揄されてしまった。</dd>
						<dd class="c-ability__txt c-text">解号は「刈れ『風死』（かれ『 - 』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『風死絞縄（ふしのこうじょう）』</span>
						</dt>
						<dd class="ability__txt c-text">小説版で会得し、叫谷での戦いの終盤で産絹彦禰相手に使用した。発動すると檜佐木と対象者に鎖が巻きつき、その頭上に二人に巻きついた鎖が寄り集まった黒い太陽のような巨大な球体が生み出されて、さらに空と大地を数千本の鎖が繋ぎ止め、一際太い鎖の束が黒い巨木のように大地と黒球を一つにする。そして、檜佐木と対象者が互いに傷を負わせても卍解を発動させた時点の状態に修復され、そのたびに互いの霊圧を消費する。その状態は互いの霊圧が尽きるまで続き、また両者の体に巻きついた鎖から逃れることもできないが、檜佐木の意志で卍解を解除できる。京楽曰く「縛道系の卍解の極致」。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>