<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'byakuya',
    'zaraki',
    'renji',
    'rukia',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero'
  ];
%>
<body>
<div class="container second character yammy">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">憤怒でパワーアップする</span><br>
						<span class="character-detail-nickname_bottom">第0十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ヤミー・リヤルゴ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">230cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">303kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月3日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">憤獣</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">憤怒</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第10十刃→第0十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						ウルキオラとともに作中初めて登場した破面の成体で作者によればアーロニーロ同様第一期十刃の生き残り。下顎骨を象った仮面の名残を着けており、辮髪をしている色黒の巨漢で濁赤色の眉をしており、頭部には角のように突き出た部分がある。目元に眉と同じ色の仮面紋がある。左肩に『10』の刻印があり、胸部に虚の孔がある。<br>戦い方は、一撃で相手を戦闘不能にすることが出来るなど攻撃力は高いが反面力任せでやや雑であり、霊圧の探査能力も低い。また、巨体故に移動速度は優れておらず、特に解放後は形態の形状の関係もあってより顕著となる。アニメではルキアと恋次の瞬歩に動きが付いていけずに苛立つ様子が描かれた。反面、間合いに入った相手に対しては的確に素早く対応している。戦闘においてはチャドや織姫ら霊力のある人間を難なく倒すことは出来るが、（内なる虚に妨害される前の）卍解した一護、浦原、夜一などの戦闘センスに秀でた者に対しては劣勢を強いられており、二度目の現世侵攻の際には、浦原に歴然とした力の差を見せ付けられた。戦闘は素手の殴打と飛び道具系の技のみで、斬魄刀を武器として扱うことは一度も無かった。防御力はかなり高く、白打の達人である夜一が打撃した手足を逆に負傷する程の霊圧硬度の鋼皮を持ち、石田が渾身の力を込めた一矢も貫通するには至らなかった。また、巨大化後は虚化した一護の月牙天衝が首に直撃しても多少出血しただけで大してダメージを受けておらず、このことに一護は驚いており、当初は即座に倒せるつもりでいたが後に「すごく強いから三人（白哉と剣八を含めて）で戦った方が良い」と語ったほど。最初に現世に降り立った際に一護に右腕を斬り落とされるが、斬られた右腕は持ち帰っていたため後に修復された。
					</p>
					<p class="c-text">
						キャラブックによると鋼皮はノイトラに次ぐ硬さを誇る。粗野かつ粗暴な性格で、自分より下だと思う者を見下す言動を取り、同族であっても躊躇無く殺害する程に短気且つ暴力的だが、相手に翻弄された時には怒りを露にすることがある。運がいい場面に遭遇した場合「スエルテ（ラッキー）!!（Suerte…スペイン語で幸運）」と叫ぶ癖、相手の実力が自分より下だった場合に舌打ちする癖がある。ウルキオラ、グリムジョー、ノイトラをゴミと言い捨てている。力を蓄えた後、斬魄刀を解放することで数字が変化する唯一の特殊な破面でもあり、解放後は十刃内の順列も最低から最高に移り変わり、左肩の『10』の刻印もそれに伴い『0』に変わる。睡眠や暴食で霊圧が蓄積するほか、怒れば怒るほど巨大化する能力を持っている模様。元々の巨躯が怒りまくった影響で現世襲来時の2倍強程になっていた。また、この状態になると元々の暴力性がさらに増す。
					</p>
					<p class="c-text">
						一護達と十刃の激闘の最中、自身は虚夜宮内自分の宮で食事を貪り力を完全に回復させた後に参戦。一護とウルキオラの一騎打ちに乱入するも、涅マユリ特製の地雷を用いた石田の妨害により足場を崩され地上まで落下。その後、ウルキオラの敗北を悟ると斬魄刀を解放してルキア達を襲撃し、ルキアの助けに入った一護と交戦後、援護に来た白哉と剣八との死闘の末に敗北（戦闘描写はない）、その後自分に懐いていた従属官である子犬クッカプーロに寄り添われながら、息絶えた。
					</p>
					<p class="c-text">
						アニメの予告やおまけでは、解放後の序列が0番であるのが知られていなかった為か、道を度々迷ったり、技名や他の十刃のメンバーの番号を忘れるなど、低能さが強調されていた。また本編ではロリや石田との戦いが追加されており、百刺毒娼の毒が効かず、銀嶺弧雀・ゼーレシュナイダー・破芒陣を受けても立ち上がるタフさを見せている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『憤獣（イーラ）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">解放する際は一気に抜刀し、刀身が爆発を起こして爆風を噴き上げる。この爆風が肩にある数字を徐々に削ぎ落としていき『10』から『0』に変わる。</dd>
						<dd class="ability__txt c-text">解放すると巨大化し、腰には赤い前垂れが出現し、下半身が計16本の足を持つサソリのような姿になり、尻尾の部分がハンマーのような形状となる。頭部の角らしき隆起がより強く顕在化し、背骨に沿って柱に似た角が生え、下顎にあった仮面の名残が完全に定着している。また、両肘にはピストンのようなものが突き出ており、これを作動させることで拳を打ちつけたままさらに追撃を加える。圧倒的な破壊力を誇る反面、肉体が巨大化したことで小回りが苦手となる。媒体によって色彩が異なり、原作漫画は角と下半身の脚部が鈍い銀色なのに対して、アニメでは角が紫色で全身がほぼ肌色をしている。</dd>
						<dd class="ability__txt c-text">この形態でさらに怒ることで、前形態の二倍ほどに巨大化。背中に巨大な二本の角が生え、再び二本足になり、四本角の鬼のような顔を持つ尾が生えたゴリラのような第二形態に変化する。これよりさらに巨大化が可能で、その度に腕力や霊力が倍増し、それまでに受けたダメージ（肉体の欠損も含めて）が全快する。漫画版ではこの後さらに変形し黒い体毛に覆われた身の丈ほどの巨大な尾が生えた姿となった。</dd>
						<dd class="ability__img img_02"></dd>
						<dd class="c-ability__txt c-text">解号は「ブチ切れろ『憤獣』（ぶちぎれろ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「魂吸（ゴンズイ）」</dt>
						<dd class="c-ability__txt c-text">自分の周囲（広範囲）にいる魂魄を豪快に吸う術。これにより空座町の多数の人が一瞬で魂を吸われて死んだ模様。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">口から放つ。解放後は砲台のように放つ強大なものとなり、避けられはしたものの剣八をしてその破壊力を賞賛された。色は赤。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「黒虚閃（セロ・オスキュラス）」</dt>
						<dd class="c-ability__txt c-text">原作のみ使用。通常の虚閃同様口から放とうとしたが、一護の黒い月牙天衝により不発に終わる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚弾（バラ）」</dt>
						<dd class="c-ability__txt c-text">ウルキオラとは違いパンチを繰り出すかのように放つ。しかし何発も撃ったため、浦原に見切られてしまう。虚閃同様、解放後は巨体に比例した巨大なものとなっている。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>