<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_09">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">一千年前の護廷十三隊</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">山本元柳斎重國は尸魂界を守護する組織である護廷十三隊を約千年前に設立する。ユーハバッハの発言によれば、「殺伐とした殺し屋の集団だった」という現在の護廷十三隊からは想像がつかないようなイメージがある。その当時の画像を載せているが、ほとんどのメンバーの正体は明らかになっておらず（恐らく瀞霊廷内の書庫内にはメンバーの記録が残っているだろうが）、推測できるのは、一番隊の山本元柳斎重國、二番隊及び四番隊（予想だが）の麒麟寺天示郎、十一番隊の卯ノ花八千流の三名だけ。もしかしたら兵主部一兵衛や二枚屋王悦もいたかもしれないが、シルエットからは予想しづらい。もしかしたら今後過去のメンバーの情報が発表されるときが来るかもしれない。</p>
						<p class="detail-list-img"></p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>