<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'byakuya',
    'renji',
    'rukia',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character liltotto">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">敵を貪る</span><br>
						<span class="character-detail-nickname_bottom">小柄な星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">リルトット・ランパード</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">G(食いしんぼう:THE Gratin)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						小柄で少女のようなかわいらしい外見を持つ滅却師。通称は「リル」。容姿とは裏腹にかなりの毒舌家。一人称は「オレ」で口調も荒いが、情報にはきっちり目を通しているらしく、逆上するキャンディスを諌めたりバズビーに共闘を持ちかけたりとマイペースかつ冷静に立ち回り、5人の特記戦力や一護のことも把握していた。自身の能力ゆえか何かを食べていることが多い。霊子兵装はハート型のバックルを叩いて出現させる弓で、トラバサミのような形状をしている。完聖体ではギザギザとした形状の翼が生える。虚の毒性にある程度の耐性がある、数少ない聖文字持ちの一人。
					</p>
					<p class="c-text">
						二度目の侵攻ではバンビエッタと行動していたが、ミニーニャ、キャンディス、ジゼルとともに無断で離脱、高みの見物を決め込む。その後、グレミィとの戦いを終えて弱っている剣八を襲撃、十一番隊の隊士達を蹂躙する。その直後に剣八の救援に来た一護に上記の3人とともに立ち向かい、さらにその後援軍に来た隊長・副隊長たちと完聖体化して対峙し白哉と交戦を開始。そして彼によって仲間が次々と倒されていくなか、手柄を独り占めしようと来たペペにより、ともに残っていたミニーニャを操られ攻撃される。ミニーニャを抑えた後、ジゼルからマユリの支配下に置かれたゾンビの拳西に敗れたぺぺの前に立ちはだかり、自分たちを同士討ちさせ殺そうとした罰としてペペを食い殺した。その後にジゼルと合流し、ジゼルを連れて聖別の光から逃れるが力を奪われてしまう。「見えざる帝国」に加入して比較的日が浅いらしく、当初はユーハバッハの命令に対しても楽観視していた。その後、ユーハバッハを倒すという目的のために、バズビーとジゼルとともに死神たちの門作りに手を貸し、真世界城に到着する。到着後はハッシュヴァルトの始末をバズビーに譲り、自身はジゼルとともにユーハバッハと交戦するが、返り討ちに遭い倒された。
					</p>
					<p class="c-text">
						小説版『BLEACH Can't Fear Your Own World』ではハッシュヴァルトの側近に救われた後、狩猟部隊の残党を助けながら十二番隊の捕虜となっているミニーニャとキャンディスを奪還するべく、兵力を求めて虚圏を襲撃していた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『食いしんぼう（ザ・グラタン）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“G”の能力。口が変形して巨大化し、獲物を丸ごと貪り食らう。『BLEACH Can't Fear Your Own World』では詳細が明かされ、一部でも捕食した獲物の能力を本能的に理解し、体内で完全に消化するまでの間だけ行使することが可能で、ユーハバッハに挑んだときもペペの能力を所有していた。強力な胃酸で滅却師にとっては毒物にあたる虚も、その気になれば捕食できる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">霊子兵装の弓から先端がパックマンのような形状をした矢を放つ。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>