<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'byakuya',
    'ginjyo',
    'riruka',
    'kukaku'
  ];
%>
<body>
<div class="container second character tsukishima">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">過去を改変できる</span><br>
						<span class="character-detail-nickname_bottom">完現術者</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">月島秀九朗</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">198cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">73kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">2月4日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">XCUTION</dd>
							<dt class="character-profile__detail-head">『XCUTION』会員番号</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">完現術</dt>
							<dd class="character-profile__detail-txt">ブック・オブ・ジ・エンド</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">BB型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						かつて「XCUTION」のリーダーだった男性。スーツにサスペンダー姿の青年。基本的に「月島（さん）」と呼ばれている。飄々としながら気障に振る舞い、常に本を持ち歩いている。「XCUTION」を率いていた頃は、完現術を取り除く術（死神代行への力の譲渡）を発見し、死神代行を見つけて仲間の力を取り戻すことに尽力していたが、突如としてその仲間達や死神代行を殺害し姿を消す。当初は獅子河原を引き連れ、一護に対する陽動として石田に重傷を負わせた張本人ひいては一護の死神の力を取り戻すことを妨害する。
「XCUTION」達の敵として行動していたが、上記の過去の行動は銀城に挟んでいた偽の記憶であり、実際は一護から完現術を奪うために協力していた。
					</p>
					<p class="c-text">
						死神たちとの決戦では白哉と交戦し、自らの能力を白哉の千本桜や白哉自身に挟むことで千本桜の能力や技を解析し、圧倒するものの、白哉の千本桜の刃を手でつかんで放つ攻撃により身体に穴を開けられ敗れる。銀城の仇討ちとして一護に切りかかるものの、間に入ったリルカに「銀城を救ったのは一護なのよ」と言われ、その場を去る。その途中、獅子河原と会い、彼に担がれながら自分が独りではなかったことに気がついた。
その後の消息は不明だったが、「千年血戦篇」ではその後絶命したことが明らかとなった。
回想で少年時代に当時死神代行だった銀城と出会い、仲間となったことが示唆される。アニメ版では、原作より早い段階で登場しており、原作以上に一護達を緊迫させていた。また、エクスキューション事典では料理をするシーンが見られる。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【完現術】『ブック・オブ・ジ・エンド』</span>
						</dt>
						<dd class="ability__txt c-text">本の栞から変換した刀で斬りつけた対象の過去に自身の存在を挟み込み、相手の過去を改変させる能力を持つ。自身の存在は親戚や知り合い、恋人などさまざまな形で自在に挟み込めるために相手を抱き込むことも可能であり、その能力で遊子と夏梨、ケイゴ・たつき・水色、育美やXCUTIONメンバー、果ては織姫やチャドを取り込み、一護と銀城を孤立させた。また、それによって相手の過去や弱点をも把握できる。元の状態に戻すには、再度斬りつける必要がある。なお、能力を使わずに普通に斬りつけることももちろん可能。格上である相手にも通用し、白哉も月島によって記憶を改変された。ただし、今現在の相手の感情までは干渉できず、月島への感謝より一護への恩義を優先させた白哉には最終的に切り伏せられている。『BLEACH Can't Fear Your Own World』では、軽微なダメージとはいえグリムジョーの鋼皮を突破する切れ味を見せたが、情よりも本能を優先する動物的な気性の人物には過去を挟んでも効果が薄いことが判明した。</dd>
						<dd class="ability__txt c-text">また「挟む」対象は人間のみならず物質や場所、相手の経験（技）などにさえも及び、その挟み込んだ対象に「以前来て細工しておいた」「元からそれを知っていた」「ともに開発した」などの過去を捏造することで、その場所に罠を仕掛けたり、相手の技を見切ることを可能とする。ただ強引に過去を後から挟み込んだ場合、挟まれた人物の精神が矛盾に耐え切れずに崩壊する危険もある。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>