<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'yoruichi',
    'isshin',
    'masaki',
    'otoribashi',
    'hirako',
    'kensei',
    'rukia',
    'risa',
    'aizen',
    'grimmjow',
    'yammy',
    'nelliel',
    'white',
    'nakklevaar',
    'tenjiro',
    'hikifune',
    'kukaku',
    'hiyori'
  ];
%>
<body>
<div class="container second character urahara">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">藍染でさえ認めた</span><br>
						<span class="character-detail-nickname_bottom">未知数の頭脳の持ち主</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">浦原喜助</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">183cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">69kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月31日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">浦原商店</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">紅姫</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">観音開紅姫改メ</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						表向きは「浦原商店」なる古びた駄菓子屋（お菓子など普通の品も売っており、遊子が他の店より安いからと買いに来たことがある。）の店主だが、実態は現世にいる死神に対して霊的商品などを売る・虚ごとにランク分けされた換金システムで虚を浄化するごとに賞金を渡すなどの死神への援助を行う闇商人。ルキアの現世における行動を援助している（彼以外の死神相手の商人は作中では登場しておらず、尸魂界公式の職業かは不明である）。
					</p>
					<p class="c-text">
						一人称は「アタシ」。だが過去編や親しい人物に対しては「ボク」と言うため、本来の口調はこれであると思われる。語尾に「〜ッス」と付けることが多い。相手に対しては、敵味方関係なく基本的に「サン」付けする。自称「ちょっと影あるハンサムエロ店主」、また「しがない駄菓子屋の店長」と言った事もある。いつも下駄と帽子、甚平という格好（同じものを百個ほど持っているとのこと）で杖と扇子を携帯し、飄々としていて真面目なのかふざけているのか判別が難しい。初登場時からことあるごとに何かを隠しているような、あるいは仄めかすような言動を繰り返している為その真意は掴みにくい。また、若干Sの気がある。以上の性格・言動のために、周りからは「胡散臭い」「変態」と思われている。一方で地声で凄むと一護が凍りつくほどの迫力がある。
					</p>
					<p class="c-text">
						その正体は藍染惣右介の策略により尸魂界を追われた先代の護廷十三隊・十二番隊隊長であり、技術開発局創設者にして初代局長を兼任した死神である。
					</p>
					<p class="c-text">
						戦闘においては十刃（エスパーダ）の一人であるヤミーを赤子同然にあしらうなど、元・隊長としての実力を垣間見ることができる。また、鬼道を術名すら唱えず使用し、得意の義骸技術を活かした新発明“携帯用義骸”を使用することで変わり身の防御技を編み出している。作中では折に触れ、一護や死神らがピンチに陥った際に駆けつけている。夜一と共に事実上の一護の師として、彼の能力を伸ばすための助力を行う（しかしその手法が些か手荒い）。登場人物の中では珍しく、戦闘時にも負傷する場面が少ない人物でもある。藍染には自らのその類稀な頭脳から「自身の頭脳を超える唯一の存在」と一目置かれている。
					</p>
					<p class="c-text">
						西流魂街はかつての拠点であり、彼の作った穿界門はそこにしか行けない。また、虚圏（ウェコムンド）へ続く穴「黒腔（ガルガンタ）」を開くことができる。<br>追放された際に逃亡幇助し地位を失った四楓院夜一とは幼馴染で今も交流が深い。志波空鶴の言葉からすると志波家とも繋がりがあるようである。
					</p>
					<p class="c-text">
						110年前、二番隊第三席だったが、当時の護廷十三隊・十二番隊隊長であった曳舟桐生が王属特務「零番隊」に選ばれたのを機に、夜一の推薦・元柳斎含む3名の隊長の立会いで行われた隊首試験合格を経て、後任の十二番隊隊長になる（羽織は袖のあるタイプ）。この頃の一人称は「ボク」（ただし現代においても一人称が「ボク」になることがある）。十二番隊隊長に就任後は、副隊長のひよ里に反発を受けながらも、次第に周囲を自分のペースに巻き込み、その後、蛆虫の巣に収監されていた涅マユリを自分の死後に局長の座に就かせることを条件に部下に引き入れ「技術開発局」を創設。天才的な発想と技術により様々な独創的研究開発を行い、十二番隊を技術開発という独自路線へと導いた。

その飄々とした外見と振る舞いからあまり荒事に慣れていないかのような印象を抱かせるが、二番隊在籍時に蛆虫の巣の管理を任されていた事がある。ここの管理を務める必要条件「全ての収監者を素手で制圧できること」 からも分かる通り、実際は高い能力を有している。アニメでは飄々とした振る舞いから砕蜂に「怠惰で愚鈍」と形容されていたが、彼女の印象とは逆に諜報・制圧活動を遂行させ、部下からの信頼も厚い実力者としての片鱗も覗かせている。
					</p>
					<p class="c-text">
						101年前に虚と死神の境を越える物質「崩玉」を開発したが、その危険性を危惧し破棄を試みるが果たせなかった。後にその存在をくらませるため、ルキアの魂魄に密かに隠す事に成功した。
					</p>
					<p class="c-text">
						魂魄消失事件で霊圧反応が消失した拳西と白の元へ赴いた当時の部下であるひよ里を救うため、霊圧を遮断する外套を着て、当時大鬼道長だった鉄裁と共に現場へ急行、平子達が藍染によって虚化の被害に遭うのを目撃し、崩玉で彼らを救おうとしたが、中央四十六室に捕らえられ、藍染が行った虚化の実験の罪を擦り付けられ尸魂界を追放された。

そのため尸魂界にはいかなる（穿界門も同様）方法をもってしても入れない。しかし、破面篇の空座決戦では尸魂界へ転移させた空座町にいたことから、何らかの方法で尸魂界へ入ることは出来るものと考えられる。劇場版第3作目では尸魂界に入る手段が無い訳ではなく、本人は「遠慮していた」と言っている。
					</p>
					<p class="c-text">
						またその際、霊子を含まないため中に入った死神を捕捉不能にする上に霊力を分解してしまう特殊な義骸を作り、その義骸で現世に身を潜めると共に、崩玉の存在を完全にくらませようとしていた。尚、藍染は一護にはその義骸を作製したことで浦原が追放されたと述べている。また、現世にて虚化に伴う自壊作用である魂魄自殺を克服する手段を編み出し、仮面の軍勢と黒崎真咲を救っている。
					</p>
					<p class="c-text">
						ルキアが尸魂界に連れ戻された際、彼女及び崩玉を奪還するため、白哉との戦闘で奪われた一護の死神能力を呼び戻して特訓したり、一護たちを尸魂界へ送り出したりと協力する（この時点ではまだ一護たちに崩玉の存在などについて真相を話していない）。当初は一護から名前を覚えてもらっていないせいもあり「ゲタ帽子」と呼ばれていたが、特訓以降は名前を覚えられさらに敬意を表したのか「浦原さん」と呼ばれるようになる。尸魂界から帰還した一行を出迎え、真相を知った一護らに対して謝罪した。
					</p>
					<p class="c-text">
						井上織姫の能力が藍染惣右介に狙われることを危惧し、彼女に戦力外通告をして戦線から遠ざけようとしたが、彼女の虚圏への連行は防げなかった。後に織姫を救出しようとする一護達のため虚圏へ行かせるために黒腔を開き、一護達に協力した。またその傍ら、隊長格専用の黒腔開通や転界結柱の製作など元柳斎の命を受け藍染の現世侵攻の対応に尽力していた。一心が藍染との戦闘中に夜一と共に参戦した。その後、一護が無月を放った後も倒れなかった藍染に千手皎天汰炮を放った時に仕込んでおいた封印磔を発動させ、藍染を封じ込めた。
					</p>
					<p class="c-text">
						銀城達が行動を起こした頃から一心と共に裏で一護の死神の力を取り戻させる為に行動する。そして力を取り戻させる為に霊圧を込めて注ぐことのできる特殊な刀（殺傷力は無い）を作成し、現世に居た仮面の軍勢達の協力を始め、護廷十三隊も元柳斎の「仕来りに背こうと、ここで恩義を踏み躙れば、護廷十三隊永代の恥」の一声によって総隊長命令による全隊長・副隊長の協力を得ることに成功する。その後ルキアに皆の霊圧を込めてもらった刀で一護を貫いてもらうことによって、一護に死神の力を取り戻させた。<br>小説『The Death Save The Strawberry」』では、一護が死神の力を失った時から既に彼に死神の力を取り戻させる為の研究を始めており、それから一年と数ヶ月後に『斬月』と非常に近い性質を持つ一心の『剡月』をベースに「複数名の霊圧を込めることのできる刀」の作成に成功していたことが明らかとなる。また同小説では藍染になすりつけられた罪は、元柳斎の尽力もあって藍染の謀略が認められたことから鉄裁・夜一の罪状共々取り消しとなったこと、商店も尸魂界公認となった上、破面篇で喜助の存在が広く知れ渡った為、現世駐在任務の死神が多数訪れるようになって手が足りなくなりつつある程忙しくなっていることが語られている。
					</p>
					<p class="c-text">
						虚圏から現世に逃れてきたネルたちの頼みで虚圏へ向かおうと決意した一護たちの前に現れて、黒腔を開いて自らも一護たちと共に虚圏へ向かう。そして到着した虚圏でドントチャッカを救出した後、一護と交戦していた虚圏狩猟部隊隊長キルゲ・オピーを静血装から動血装に切り替えた一瞬に致命傷を与えて倒した。<br>そして、阿近からの連絡で尸魂界が滅却師たちの襲撃を受けていることを知り、穿界門を開いて一護を送り出した直後に乱装天傀で再び動き出したキルゲによって織姫たちと共に負傷し窮地に陥る。しかし、その直後にキルゲが「何者か」に両断されて（これに関しては、誰が何のためにしたのかは最後まで明かされなかったが、物語の流れからしてグリムジョーだったと考えられる）剣を突き付けられる。<br>「見えざる帝国」が一時撤退して一護たちが霊王宮へ向かう直前に、コンに仕込まれた通信装置で一護たちに連絡した時には織姫たちと共に負傷から回復した姿を見せ、一護が見知った「何者か」と良い契約が結べたことを伝えられ、後にそれがグリムジョーであり、敵を倒す所までが契約であるという事が明かされた。
					</p>
					<p class="c-text">
						瀞霊廷が「見えざる帝国」に侵食された後、技術開発局に到着し、虚圏での観察結果から滅却師が虚に対しての抗体を持たない種族だと言うことを発見し、卍解を虚化させる侵影薬を開発し、隊長達に送信し戦況に大きく貢献する。その後はマユリと共に戦いを見守っていた。マユリが戦場に出た後は、マユリが既に作っていた砲台を調節し、一護達を霊王宮へ打ち上げた。<br>その後は霊王宮を守るべく、生存している隊長格を集め霊王宮へ突入。しばらくは京楽らと行動をともにしていたが、夜一の不利を察知し救援に駆けアスキンと交戦。またアスキンの口から未知数の手段によって特記戦力に数えられていることが判明する。夜一を黒猫戦姫にするなどサポートするが、アスキンが完聖体を発動させたことで追い詰められる。卍解を発動させ、グリムジョーとの連携でアスキンを撃破するも、自身も限界を迎え倒れる。最終回では登場しなかった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『紅姫（べにひめ）』</span>
						</dt>
						<dd class="ability__txt c-text">封印時は常に持ち歩いている仕込み杖の形状で、悟魂手甲と同じ効果を有している。</dd>
						<dd class="ability__txt c-text">能力解放と共に鍔の無い短めの直刀に変形する。また、それとは別に「啼け『紅姫』（なけ『〜』）」の解号で刀身から血を流すと共に様々な技を繰り出す。一護の斬魄刀を（能力を手にする前とはいえ）いとも簡単に切り落とすなど、切れ味も抜群である。</dd>
						<dd class="c-ability__txt c-text">夜一の回想シーンでは杖ではなく通常の刀を持っていた。</dd>
						<dd class="c-ability__txt c-text">解号は「起きろ『紅姫』（おきろ『〜』）」</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『観音開紅姫改メ（かんのんびらきべにひめあらため）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">自身の開発した「転神体」という特殊霊具によって習得したと述べている。</dd>
						<dd class="ability__txt c-text">能力解放と同時に、髪の長い巨大な女性が浦原の背後に現れる。『触れた物を作り変える』能力を持ち、目などの部位を失った場合でも、その部位を『作り変える』ことで治療できる。また、閉鎖空間の出入り口を作るなど補助としても使え、応用性も高い。</dd>
						<dd class="c-ability__txt c-text">浦原は、この卍解は人を鍛えるのには向いていないと発言している。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「血霞の盾（ちがすみのたて）」</span>
						</dt>
						<dd class="ability__txt c-text">始解時に使用。鞘から血を出し、敵の攻撃を防ぐ防壁を張る技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「剃刀紅姫（かみそりべにひめ）」
</span>
						</dt>
						<dd class="ability__txt c-text">始解時に使用。一護の『斬月』の「月牙天衝」に似た、名のごとく剃刀の刃のような鋭い紅い斬撃を飛ばす技。ヤミーの虚閃を相殺し、帰刃形態のルピの触手を切り落とすほどの威力を持つ。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「突ッ撥紅姫（つっぱねべにひめ）」</span>
						</dt>
						<dd class="ability__txt c-text">始解時に使用。相手の攻撃にタイミングを合わせて斬魄刀の切っ先を当て、相殺させる技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「切り裂き紅姫（きりさきべにひめ）」</span>
						</dt>
						<dd class="ability__txt c-text">『劇場版BLEACH Fade to Black 君の名を呼ぶ』で使用。「血霞の盾」から無数の刃を連続で発射する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「縛り紅姫（しばりべにひめ）」</span>
						</dt>
						<dd class="ability__txt c-text">始解時に使用。剣先から出した黒紐の網で相手を拘束する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「火遊紅姫 数珠繋（ひあそびべにひめ じゅずつなぎ）」</span>
						</dt>
						<dd class="ability__txt c-text">始解時に使用。「縛り紅姫」の網の繋ぎ目から爆発を起こす。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「頬摺（ほおずり）」</span>
						</dt>
						<dd class="ability__txt c-text">相手の頬を撫でるように斬魄刀で斬りつける、威嚇を目的とした剣術。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「重撃白雷（じゅうげきびゃくらい）」</span>
						</dt>
						<dd class="ability__txt c-text">浦原が改造した鬼道で、斬魄刀の先端から鬼道の「白雷」に似た霊撃を放つ技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「褥返し（しとねがえし）」</dt>
						<dd class="c-ability__txt c-text">杖と威圧で相手を抑え込み、布団に貼りつけたような体勢を取らせる技術。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「しびれ指（ - ゆび）」</dt>
						<dd class="c-ability__txt c-text">指でわずかに触れ、相手の身体を麻痺させる技。ルキアはこれを縛道の一種だと述べている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「封殺火刑（ふうさつかけい）」</dt>
						<dd class="c-ability__txt c-text">浦原が独自に開発した鬼道。死神の両手首にある霊圧の排出口をふさぎ、放出できなくなった霊圧で相手を内部から焼き尽くす技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「九十六京火架封滅（きゅうじゅうろっけいかかふうめつ）」</dt>
						<dd class="c-ability__txt c-text">藍染を最終的に封印した技。別の鬼道に乗せて放つことで体内に潜ませ、藍染の力が弱まったことで発動し、「封印架」と呼ばれる物に藍染を閉じ込めた。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>