<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_02">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">一護と海燕</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">一護たちが初めて尸魂界に来て、白哉や浮竹と対峙した際、ある人物の面影が思い起こされた。
						その人物とは、若くして十三番隊副隊長に抜擢された志波海燕である。海燕は、卓越した才能を持ちながら、人望に厚く、入隊直後で周囲になかなか心を開けずにいたルキアの心の支えになっていた。彼はとある日の任務において妻をメタスタシア（藍染が破面の実験にて誕生した失敗作の虚）によって失い、自身もそのメタスタシアにより融合され身体を乗っ取られてしまう。その海燕をルキアが殺害したことでルキアは数十年にも渡り暗い影を落とすことにもなった。</p>
						<p class="detail-list-img"></p>
					</li>
					<li class="detail-list__item detail-list__02">
						<p class="c-txt detail-list-txt">その海燕が一護となぜ似ているのかの説明はその後一切なかったが、最終章にてその謎も明らかになる。一心が志波家の分家の出身者であったことだ。小説版にて海燕は一心の甥であることが判明。一護から見て海燕は従兄ということになる。</p>
						<p class="detail-list-img"></p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>