<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ukitake',
    'rukia',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'yammy'
  ];
%>
<body>
<div class="container second character aaroniero">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">無限に進化する</span><br>
						<span class="character-detail-nickname_bottom">下級大虚十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">アーロニーロ・アルルエリ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">205cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">91kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月23日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">喰虚</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">強欲</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第9十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						十刃の中では唯一のギリアン級でゾマリによれば第一期「刃（エスパーダ）」の生き残り。未完成の崩玉およびギリアン級出身のためか完全な人間形態ではなく、首から上が薄紅色の液体で満たされた透明なカプセル状でその中に虚を思わせるボール大の頭が2つ浮いており、上側の顔は右目付近、下側の顔は左頬の近くに『9』の刻印がある。また、左大腿部に虚の孔がある。この2つの頭はそれぞれ別の人格を宿しており、一人称も喋り方も異なるほか、会話の際は2つの頭が交互に喋る。上側の顔は志波海燕に化けることができる。日光が苦手なため、普段は8つの小さな穴が開いた縦長の仮面を着けている。また、左手に手袋をはめていて、虚を喰らうためのものと思われる触手や口を隠している（人間の手のようにも使用可能）。カプセルの中の液体は研究対象としてザエルアポロに興味を抱かれているが、本人はザエルアポロを快く思っていない。
					</p>
					<p class="c-text">
						海燕の姿でルキアの前に現れ、その容姿と斬魄刀を使用した海燕独特の槍術でルキアを惑わせるが、ルキアの策により日光を浴びた事でその正体を現す。その後斬魄刀を解放し、ルキアの体を貫くも、油断したために逆にルキアの『参の舞・白刀』で海燕の顔に擬態していた頭部のカプセルを破壊され、苦しみを藍染に訴えながら戦死した。
					</p>
					<p class="c-text">
						死後は地獄に堕ち、共に地獄に行き着いたザエルアポロと一触即発寸前となるが、直後に現れた朱蓮とその部下に倒される。<br>BLEACH 〜ヒート・ザ・ソウル〜では、初参戦以降「志波海燕」の姿でプレイヤーキャラとして登場している。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『喰虚（グロトネリア）』</span>
						</dt>
						<dd class="ability__txt c-text">藍染の手による改造虚・メタスタシアをかつて喰らったことで得た能力。虚の屍骸を喰らうことでその霊圧と能力を取り込み、自分の物にできる。この能力故にギリアンでありながら十刃に入れるほどの力を得た。喰らったメタスタシアが海燕と融合していたことで海燕の記憶・経験を手にしており、斬魄刀『捩花』を使うことができる。ただし、闇の中でなければその能力は使用できない。また、地獄に堕ちた際には破面のザエルアポロや咎人をも喰らえるかのような描写がなされた。</dd>
						<dd class="ability__txt c-text">解放すると下半身が人間の口が付いた巨大な蛸のような姿に変わり、今まで自分が喰らった33650体にも及ぶ虚の能力を全て同時に発現できるようになる。</dd>
						<dd class="c-ability__txt c-text">解号は「喰い尽くせ『喰虚』（くいつくせ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『捩花（ねじばな）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">アーロニーロが海燕の霊体を手に入れたため使用可能となった海燕の斬魄刀。</dd>
						<dd class="ability__txt c-text">解号は「水天逆巻け『捩花』（すいてんさかまけ『～』）」 。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「認識同期（にんしきどうき）」</span>
						</dt>
						<dd class="ability__txt c-text">第9十刃の役目である能力。戦った敵の情報を瞬時に全ての同胞に報せることが出来る。破面の同胞として迎えられていた織姫にも伝わった。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>