<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'hitsugaya',
    'rangiku',
    'rukia',
    'aizen',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy',
    'hiyori'
  ];
%>
<body>
<div class="container second character gin">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">本心が掴めない</span><br>
						<span class="character-detail-nickname_bottom">元護廷十三隊三番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">市丸ギン</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">185cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">69kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">9月10日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊三番隊→虚圏の夜虚宮</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">神槍</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">神殺槍</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">乾し柿</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長<br>
						流魂街出身。一人称は「ボク」。常に薄ら笑いを浮かべたような顔をしており、京都弁で喋る。瞳は淡い水色。趣味は人間観察。特技は針の糸通し。好きな食べ物は干し柿で、子供の頃からの大好物である。嫌いな食べ物は干し芋。休日の過ごし方は散歩。三番隊隊長だったときの羽裏色は藍白、羽織は袖のないタイプ。
極端に細めの目で描かれているため、一護からは「狐野郎｣と言われたことがある。吉良もそう思っていたのか、「カラブリ＋」ではギンを思い浮かべるものとしてキツネ型の饅頭を製作した。松本乱菊とは同期であり、幼馴染。
					</p>
					<p class="c-text">
						幼少時代に道端に倒れていた乱菊を助け、一時期は同居していた。乱菊曰く「行き先を告げずに消える悪い癖」があるらしい。藍染ほどではないものの、基本的な戦闘能力は他の隊長と一線を画し、斬魄刀を解放せずとも平子や日番谷を相手に優位に戦っていた。隊長には白哉と同時期になり、ルキアが入隊前になったらしい。見た目・言動共にいかなる時も飄々としており、近しい人間であっても本心が読めないが、乱菊を大切に思っている。ルキアからは初対面から怖れられ、尸魂界篇では処刑寸前の彼女の心を弄び貶しつけた。
三番隊の隊長になる前は五番隊の副隊長を務め、藍染の信頼を受けた部下だった。藍染との関係も悪化していると思われていたが、裏で藍染の信頼を受け暗躍していた。
					</p>
					<p class="c-text">
						110年前は真央霊術院を1年で卒業、入隊後即席官の座を用意されるほどの逸材として五番隊に入隊。当時の三席を瞬殺し、副隊長だった藍染に見込まれ後々の仲間となる。しかし彼の真意は、幼少時に乱菊の魂魄の一部を盗んだ藍染への復讐であり、死神を志した理由も乱菊のために世界を変えようと決意したことにある。藍染と共に本当の空座町へと侵攻した際、一瞬の隙を狙い『神殺鎗』の能力を以って藍染殺害を実行に移すが、藍染のさらなる覚醒を促し、彼の凶刃に倒れた。
					</p>
					<p class="c-text">
						藍染とは違う意味で一護の力に注目しており、一時は藍染に恐怖を抱く一護に失望し逃げるよう警告したが、「最後の月牙天衝」を修得した一護の成長を感じ取り、自身の今際の際は心中で一護に藍染を倒すことを託し息絶えた。瀞霊廷通信に「んなアホな」という題名で連載を持っていた。現在は所在不明のため休載中。不気味に描いているつもりなのに何故か女性人気が高い（作者談）。
					</p>
					<p class="c-text">
						アニメのおまけ「アランカル大百科」の司会を務めている。東仙やドンドチャッカにコーナーを取られたり、バワバワに食べられかけたりしている。たまに破面とは何の関係のない解説をする事もある（斬魄刀異聞編の刀獣など）。藍染のことは謀反後も「藍染隊長」と呼んでいるが、アニメでは一時的に「藍染様」と呼ぶこともあった。
					</p>
					<p class="c-text">
						小説版では、市丸の取っていた行動は結果善であり、その過程は紛れもない悪であったことから死後に瀞霊廷に墓を建設することが許されず、松本と出会った東流魂街62地区花枯（かがらし）に松本が私財を投じて建てたとのこと。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『神鎗（しんそう）』</span>
						</dt>
						<dd class="ability__txt c-text">封印時は脇差の形状をしている。能力解放とともに刀身が伸縮自在となり、敵めがけて刀身を伸ばすことによる強力な一撃で攻撃する。その長さは刀百本分とされる。羽織で隠して相手が油断しているところに攻撃したり、離れている相手を瞬時に仕留めたりなど奇襲に向いている。</dd>
						<dd class="c-ability__txt c-text">解号は「射殺せ『神鎗』（いころせ『〜』）」</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「槍紗雨（やりさざめ）」</span>
						</dt>
						<dd class="ability__txt c-text">ゲームオリジナル技。天に向けて刀身を伸ばし、雨のように大量の槍を降らす。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『神殺鎗（かみしにのやり）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放に伴う形状変化はないが、始解時よりも刀身が伸びる速度と距離が大幅に上昇する。当初市丸は「手を叩く音の500倍で13kmにまで伸びる」と語っていたが、実際にはそれほど早くも長くもなく、刀身が一瞬だけ塵状に変化して瞬時に長さを変えている。これを利用して刀身の一部のみを刀に戻さず、貫いた相手の体内に残すことが可能。刀身の内部には魂魄の細胞を溶かし崩す猛毒があり、「死せ『神殺鎗』（ころせ『〜』）」の解号で毒を回らせることで内部から破壊する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「神殺鎗“無踏”（かみしにのやり“ぶとう”）」</span>
						</dt>
						<dd class="ability__txt c-text">自らの胸の前に『神殺鎗』の切先を向けた構えから刀身を伸ばし攻撃を繰り出す。一撃目を回避されてもすぐに刀身を元の長さに戻し、再び刀身を伸ばすことによって強力な一撃による二撃目「神殺鎗“無踏連刃（ぶとうれんじん）”」を放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「千反白蛇（せんたんはくじゃ）」</dt>
						<dd class="c-ability__txt c-text">白布を自分と対象の周りで旋回させ、瞬時に遠くへ移動する技。市丸だけではなく、東仙も使用している。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>