<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'uryu',
    'syunsui',
    'yhbh',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character haschwalth">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">あらゆる事象に調和をもたらせる</span><br>
						<span class="character-detail-nickname_bottom">帝国皇帝補佐・星十字騎士団最高位</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ユーグラム・ハッシュヴァルト</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">B(世界調和:THE Balance)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						見えざる帝国皇帝補佐・星十字騎士団最高位（シュテルンリッター・グランドマスター）、星十字騎士団団長を務める金髪色白の男。常にユーハバッハの傍におり、後継者候補と目されていた。ユーハバッハから「支配者の仮面」を与えられており、ユーハバッハが眠りにつく夜には態度が一変して感情的になる（バズビー曰く、その間は眠りについたユーハバッハの力を代行できるとのこと）。
					</p>
					<p class="c-text">
						およそ1000年前には少年の姿をしており、叔父から虐待を受けていた形跡があった。ユーハバッハの侵攻で叔父を失い、バズビーの誘いでユーハバッハを倒すべく騎士団入りを志す。しかしバズビー以上の鍛錬を続けていたにもかかわらず、弓矢ひとつ作り出すことのできない不全の滅却師とされていた。実はユーハバッハと同じく「他者に力を分け与える」能力を持つが、滅却師の基本能力である「霊子の集束」が不可能な体質でもあり、その特異性を指してユーハバッハの半身、側近として選ばれた。前述の通り霊子兵装を作り出すことはできず、帯刀している両刃の大剣を使用する。剣の柄には幼いころバズビーにもらったボタンがつけられている。
					</p>
					<p class="c-text">
						一度目の侵攻時ではユーハバッハとともに十三番隊の持ち場に出現、部隊を率いていた可城丸を斬殺し、残った者たちの生殺与奪をユーハバッハに委ねられた。退却時に一護の天鎖斬月を両断し、二回目の侵攻では京楽と七緒の前に現れ対峙するが、七緒の鬼道により手が出せないまま帰投命令を受け銀架城に帰還、蒼都とBG9を処刑した。その後はユーハバッハや石田雨竜とともに霊王宮へ侵入する。真世界城ではバズビーと交戦し、Bの能力を使うまでもなく剣だけで勝利した。ユーハバッハが眠りにつくと、彼に全知全能の能力が与えられ、雨竜の策を崩し交戦する。
					</p>
					<p class="c-text">
						そして、雨竜を終始圧倒するもユーハバッハの聖別により瀕死の状態となるが、一切の悔恨は見せず、むしろ石田は選ばれず自身の力が取り込まれたことを光栄とすら思っていた。ユーハバッハへの忠誠心は本物であったが、その胸中ではかつてバズビーを見捨てたことに負い目を感じており、自分と異なり友達とともにあることを選んだ雨竜を後押しするかのようにダメージを全て引き受け、独白の後に力尽き死亡した。
					</p>
					<p class="c-text">
						小説版『BLEACH Can't Fear Your Own World』では、ユーハバッハから「全知全能」の能力を預けられていた後、側近の女性に反逆者を含めた生き残りの滅却師の回収と治療を命じていたことが判明した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『世界調和（ザ・バランス）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“B”の能力。範囲世界に起こる不運を幸運な者に分け与える。たとえばハッシュヴァルトの攻撃を防げばそれを幸運とし、次の攻撃は不運に見舞われ対処不可能になるなど、事象の反転とも言える現象が発生する。また、逆五芒星の意匠がある盾「身代わりの盾（フロイントシルト）」により、ハッシュヴァルト自身に降りかかった不運は強制的に他人に擦りつけることが出来る。この場合は先の能力と合わせて二乗の不運が相手に襲いかかることとなる。ハッシュヴァルト本人は「全知全能」よりも戦闘向きと評している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『全知全能（ジ・オールマイティ）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“A”の能力。眼球に瞳が3つ現れ、ユーハバッハが眠る夜の間だけ代行する。未来を見通すことができるが分岐した未来までは読めず、本来の持ち主であるユーハバッハに比べると十全に使いこなせているとは言えず、敵対した石田は「全知全能からはほど遠い」と評した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>