<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'aizen',
    'gin',
    'stark',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy'
  ];
%>
<body>
<div class="container second character baraggan">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">密かに反逆の機を窺う</span><br>
						<span class="character-detail-nickname_bottom">虚圏の大帝</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">バラガン・ルイゼンバーン</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">166cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">90kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">2月9日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">髑髏大帝</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">老い</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第2十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						王冠のような仮面の名残を着け、右目付近や左頬などに傷がある。大帝の二つ名を持つ豪胆な態度の老人。「虚圏の神」を自称し、さらに、かつての「虚圏の王」であるため、従属官達との間には絶対的な上下関係が存在し、陛下と呼ばれている。自分の能力の自信から他者を見下している。藍染の身に何か起きた場合、ハリベルら藍染に忠誠心の高い十刃の反対を押し切り自ら戦闘指揮を執るなど藍染に次ぐ権限の持ち主。従属官に骨状のパーツで組み立てられる自前の椅子を持たせている（作中では、ポウ、アビラマ、ジオの3人が椅子のパーツを所持）。『2』の刻印の箇所は不明で、胸の中央に虚の孔がある。また、砕蜂が反応しきれないほどの速さの響転も使用する。また、他の十刃は帰刃しても解放前の姿の面影を残しているのに対し、バラガンだけはまったく似ても似つかない姿に変わる。大虚時代は被っている王冠が違うことと、腹部の装飾品が無い以外は解放後と同じ姿をしていた。
					</p>
					<p class="c-text">
						過去に、屋根のない虚夜宮を拠点に「虚圏の王」として大勢の虚を従えていたが、離反前の藍染らに自分の部下を殺されたのを機に、藍染の力の前に屈服する形で破面化した。しかし、「虚圏の王」という自負は捨ててはおらず、藍染のことをボスと呼ぶものの忠誠心は皆無であり、いずれは藍染を殺そうと根に持っている。その為か、十刃の中では唯一“エスパーダ”を名乗らなかった。
					</p>
					<p class="c-text">
						6人の従属官を引き連れ藍染の現世空座町への侵攻に同行、藍染たちが身動きが取れなくなった時は自ら戦闘指揮を執る。従属官達が全て倒された後、砕蜂と大前田と交戦。老いの力や斬魄刀解放により2人を追い詰め、砕蜂の【卍解】『雀蜂雷公鞭』すらも回避し優位に立っていたが、救援に駆けつけたハッチと砕蜂の連携で『雀蜂雷公鞭』による至近距離からの攻撃によってダメージを負わされ、最後はハッチが老いの力で朽ちようとした右腕を『匣遺（はこおくり）』の能力により自らの体内に転送したことによって、自分自身が朽ちることとなり敗北。その後、藍染に滅亡の斧を投げつけ消滅した（アニメ版では最初はハッチに向けて投げたかのように見えている）。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『髑髏大帝（アロガンテ）』</span>
						</dt>
						<dd class="ability__txt c-text">解放前は自前の椅子を変形させた巨大な斧のような形状をしている。解放時には斧に埋め込まれている赤い宝玉状の目玉から発せられた黒い炎にバラガンが包まれる。</dd>
						<dd class="ability__txt c-text">解放すると頭には金色の王冠、手にはブレスレットを着け、ボロボロのコートを纏った西洋の死神を思わせる骸骨の姿になる。骨の各部は鎖で繋がれているようで、封印状態で潰れていた右目部分にも傷跡があり、腹部には金色の目玉のような装飾品を着けている。自らの老いの力に特化されており、直接触れずとも周辺の建物すらも朽ちさせる。その特性から彼に接近して攻撃することは非常に困難である。なお、この力は自分自身にも有効であるため、体表に自身の力を退ける結界が張られている。しかし結界内に老いの力が入ると、全く機能しなくなる弱点を孕んでいる。</dd>
						<dd class="c-ability__txt c-text">解号は「朽ちろ『髑髏大帝』（くちろ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「セネスセンシア」</span>
						</dt>
						<dd class="ability__txt c-text">解放前から使用。あらゆる事象や物体の劣化を促進させて自身に接近する動きをスロー化させ、意志を持って触れた物体を老化・崩壊させてダメージを与える。バラガンの老いの力全般の総称である。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「死の息吹（レスピラ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。触れたものを急速に朽ちさせる息。これに触れた場合、触れた箇所が一瞬で老朽化して朽ちてゆく。直接触れていない部分も、触れた個所から徐々に朽ち始めてしまう。技を食らった後回避するには、朽ち始めた部分を切り落とすしかない。護挺十三隊屈指のスピードを誇る砕蜂ですら回避しきれないほどの速さで、特性上攻撃のみならず防御にも転用できる。生物や物体に限らず、鬼道さえ朽ちさせることが可能。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「滅亡の斧（グラン・カイーダ）」</span>
						</dt>
						<dd class="ability__txt c-text">帰刃形態のバラガンの武器である巨大な黒い戦斧。右腕から鎖に繋がれて出現する。破面化前にも同様の武器を所持していた。アニメ版では戦斧を振るうと「死の息吹」のような老いの力を発生させて、距離の離れた標的を切り裂いた。破面となる前も老いの力を宿していたが、前述のように飛ばすことはできず直接斬りつけて効果を発揮した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>