<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'soifon',
    'aizen',
    'kukaku'
  ];
%>
<body>
<div class="container second character yoruichi">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">元隠密機動総司令官</span><br>
						<span class="character-detail-nickname_bottom">華麗なる瞬神</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">四楓院夜一</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">156cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">42kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">1月1日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">浦原商店</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						褐色の肌をした女。普段は黒猫姿へと擬態させている。一人称は「ワシ」。巨乳で体には自分でも自信がある発言をしている。少ない食料を多く食べられて自由で居られる、服を着ないで居られるなどの理由で猫の姿はかなり気に入っている模様。破面篇からは一度もネコになっていない（原作での描写。アニメやゲームではなっている）が、今も変身は出来るとのこと。老人のような厳格な口調と声質とは裏腹に奔放な性格で、一護がいるそばで服を脱ぎだし風呂に入ろうとするなどして、一護をからかったりしている。酒がほとんど飲めず、ミルクが好き。<br>長い間、猫の姿のままだったためか服を着忘れたり、着ても窮屈に感じるらしく、浦原商店では、ほぼ下着に近い格好でいることもある。
					</p>
					<p class="c-text">
						喜助・空鶴とは昔馴染。幼い喜助と双殛の丘の地下に広大な「秘密の遊び場」を作っていた。<br>四大貴族「天賜兵装番」四楓院家の22代目にして、初めての女当主。隠密機動総司令官及び同第一分隊「刑軍」総括軍団長で、護廷十三隊二番隊隊長（羽織は袖のあるタイプ）だった。当時（110年前）自分の部下であった二番隊第三席・浦原喜助を曳舟桐生の後任として十二番隊長に推薦。
					</p>
					<p class="c-text">
						101年前藍染の陰謀により、追放されかかった浦原喜助の逃走幇助の罪によりその地位を失っていた（小説『The Death Save The Strawberry』にて、罪状は元柳斎の尽力もあって藍染の謀略が認められたことから、喜助・鉄裁の罪状共々取り消されたことが明らかとなった）。昔は、ショートヘアだった。
					</p>
					<p class="c-text">
						歩法の達人であり、異名は瞬神・夜一。101年間長らく戦線に出ていなかったが、白哉を上回る瞬歩を見せ、砕蜂の瞬閧を瞬時に相殺するなど、そのブランクを物ともしない実力が見られる。幼い頃の白哉に鬼ごっこで一度も捕まらなかった。
戦闘は基本的に白打で闘い、斬魄刀を所持している様子はない。しかし、双殛の丘の地下修行場での回想シーンでは斬魄刀を持っている。小説版では、所持はしているが素手で戦った方が強いと発言している。
					</p>
					<p class="c-text">
						囚われのルキアを救うため、織姫とチャドの霊能力を鍛えた上、一護たちを率いる形で尸魂界へ同行。一護に【卍解】の修行をさせ、一護の【卍解】修得後はかつての部下だった砕蜂と対決し、和解した。その後は浦原のところに身を寄せる。
					</p>
					<p class="c-text">
						現世に侵攻してきたヤミーとウルキオラと戦い、劣勢を強いられた一護たちを助けに来る形で浦原と共に登場、ヤミーと交戦・圧倒する。しかしながらその後、ヤミーとの交戦により手と足にダメージを負ったことが明らかにされる。その後、過去篇を除いて長らく登場しなかったが、空座町決戦では、浦原喜助の作った「対鋼皮用の特製手甲」を両手足に装着して浦原や一心と共闘して藍染と闘うが、崩玉の力で変貌した藍染に敗れる。
					</p>
					<p class="c-text">
						101年前に虚と死神の境を越える物質「崩玉」を開発したが、その危険性を危惧し破棄を試みるが果たせなかった。後にその存在をくらませるため、ルキアの魂魄に密かに隠す事に成功した。
					</p>
					<p class="c-text">
						空座町決戦以降長らく登場しなかったが、65巻で久々に登場した。また、この章で弟・四楓院夕四朗の存在が明らかになる。
霊王宮に侵入したユーハバッハたちを追う為に、一護たちが十二番隊隊舎に制作された打ち上げ台の前に到着した直後に現れた。浦原に頼まれ、猿柿ひよ里たちが行っていた現世の歪みを修復する作業に同行して、二つの世界を繋ぐ歪みのエネルギーを集めて、瀞霊廷から霊王宮へ向かう一護たちの手助けとする為だったことが明かされた。その後、一護達と共に霊王宮へ向かうが、ペルニダの能力で負傷し、井上によって回復した。次はペルニダの能力を警戒して遠方から攻撃しようと考えていたが、マユリが倒したため再戦することはなかった。
					</p>
					<p class="c-text">
						またその際、霊子を含まないため中に入った死神を捕捉不能にする上に霊力を分解してしまう特殊な義骸を作り、その義骸で現世に身を潜めると共に、崩玉の存在を完全にくらませようとしていた。尚、藍染は一護にはその義骸を作製したことで浦原が追放されたと述べている。また、現世にて虚化に伴う自壊作用である魂魄自殺を克服する手段を編み出し、仮面の軍勢と黒崎真咲を救っている。
					</p>
					<p class="c-text">
						その後、アスキン・ナックルヴァールと戦う一護たちのもとに駆け付け、一護たちを先に行かせ、自身は弟と共にナックルヴァールと戦うも苦戦を強いられてしまう。しかし、夜一の危機を察知し駆け付けた浦原によって回復、新しい技を披露するが通用せず敗北した。以降は出番はなく、最終回にも登場しなかった。小説版では、八番隊隊長の任命を断って月に1回の霊術院の講師になっている。その後の小説版にも登場している。
					</p>
					<p class="c-text">
						アニメでは、護廷十三隊侵軍篇にも一護たちを助けるために登場し、最終回には黒猫の姿で登場した。<br>
登場初期の頃は元隊長の設定はなく、「カラブリ＋」に護廷十三隊に所属したことがない人物と明確に表記されていたが、36巻の過去編から追加された。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「竹蜻蛉（たけとんぼ）」</dt>
						<dd class="c-ability__txt c-text">相手を投げ、回転させて頭から落下させる投げ技。砕蜂も使用する。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">隠密歩法“四楓”の参「空蝉（うつせみ）」</dt>
						<dd class="c-ability__txt c-text">相手に自身を倒したと思い込ませるほどの残像を見せる瞬歩を繰り出す。白哉も夜一からこの技を教わっているため、使用可能</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「反鬼相殺（はんきそうさい）」</dt>
						<dd class="c-ability__txt c-text">相手の鬼道に同じ質と量を持った逆回転の鬼道をぶつけることで相殺させる高度な技術。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「雷王拳（らいおうけん）」</dt>
						<dd class="c-ability__txt c-text">対鋼皮用の特製手甲を装備した腕で超高速のラッシュを放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「瞬閧（しゅんこう）」</span>
						</dt>
						<dd class="ability__txt c-text">高濃度に圧縮した鬼道を両肩と背に纏い、それを炸裂させることで鬼道を己の手足へと叩き込んで戦う白打の最高術。なお、この技を使用する際には両肩と背の布が弾けてなくなってしまうため、夜一や砕蜂の装束（刑戦装束）には両肩および背の布が付いておらず、剥き出しである。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">雷神戦形（らいじんせんけい）</span>
						</dt>
						<dd class="ability__txt c-text">背中に雷神の太鼓が浮かび上がり、それを手刀に纏わせて敵に打ち下ろす。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">雷獣戦形　瞬霳黒猫戦姫（らいじゅうせんけい　しゅんりゅうこくびょうせんき）</span>
						</dt>
						<dd class="ability__txt c-text">喜助によって発動したが、明確な発動条件は不明。また、夜一自身の意思で発動できるかも不明。</dd>
						<dd class="ability__txt c-text">尻尾が生え、言葉が通じなくなり、理性を失い、完全に猫と化す。ほぼ全裸に雷を纏ったような姿になる。これにより、夜一の霊圧は1秒間に48回変化する。</dd>
						<dd class="ability__txt c-text">浦原喜助にしか制御することが不可能であり、また「気分」でしか元に戻ることが出来ない。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>