<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character quilge">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">確実に任務を遂行する</span><br>
						<span class="character-detail-nickname_bottom">虚圏狩猟部隊統括狩猟隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">キルゲ・オピー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">J(監獄:THE Jail)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">神の正義</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						虚圏狩猟部隊（ヤークトアルメー）統括狩猟隊長。<br>
						撤退を進言した部下をも殺し、ハリベルや藍染を見下している。霊子兵装はサーベルで、刀身を基点として弓を形成する。手袋の下に滅却十字を持つ。
					</p>
					<p class="c-text">
						ハリベルを救うために襲撃してきた彼女の従属官達を一蹴し、その後にネルたちの要請で虚圏に救援に訪れた一護と対峙。滅却師完聖体に変貌して優勢に立ちながらも、復帰したアパッチたちが召喚したアヨンに一度は叩きのめされるが、聖隷を発動させてアヨンを撃破し、アパッチたちをも吸収しようとするが一護の卍解『天鎖斬月』の速度に翻弄され、卍解を奪えないという焦りもあって隙を狙われ浦原の鬼道で敗北する。しかし、乱装天傀によって強制的に復帰し、穿界門を強制的に封鎖、さらに一護を檻の中に閉じ込め、その後に浦原たちを抹殺しようとするが、突如現れたグリムジョーの斬撃により真っ二つにされて死亡した。<br>
						騎士団のほとんどの者が敵視・疑問視するなか、一護と対決したときに、自分の矢よりも石田の矢の方が弱いわけがないと石田の力を高く評価するような発言をしており、何らかの事情を知っている謎めいた発言を残した。また、ユーハバッハからの評価も高く特記戦力たる一護の足止めが可能だと言われていた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『監獄（ザ・ジェイル）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“J”の能力。敵を脱出不可能な霊子の檻に閉じ込めることができるが、同胞たる滅却師を封じ込めることはできない。一護の『天鎖斬月』が刃こぼれするほどに酷使されても破れなかった。また、キルゲが死んでも消滅せず効果は続く。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『神の正義（ピスキエル）』</span>
						</dt>
						<dd class="ability__txt c-text">背中に一対の翼が生え、頭上に天使の輪を思わせる円盤が出現、剣・手袋・靴の周りが光状の該当部位で覆われ、両目が鉄格子を思わせる縦線の入った模様に変化する。周囲の霊子で構成された物質や術を分解、サーベルの先端に収束させることで巨大な光の刀剣を形作ることが出来る。</dd>
						<dd class="ability__txt c-text">アヨンを吸収したことで左上半身の筋肉が隆起、体格に比して異常に巨大化した左腕を始め蛇の頭を持つ尾に加え、口周りが仮面のような歯に覆われて完聖体の両翼に眼球が出現するなど、その特徴を色濃く受け継いだ姿へと変貌した。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">サーベルから弓を展開し、最大6発の矢を放つ。攻撃用と監獄の効果を持つ矢を撃ち分けられる模様。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「乱装天傀（らんそうてんがい）」</dt>
						<dd class="c-ability__txt c-text">負傷や加齢によって戦闘不可能となった体を強制的に動かす滅却師の超高等霊術。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>