<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'hirako',
    'komamura',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character bambietta">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">爆撃で薙ぎ払う</span><br>
						<span class="character-detail-nickname_bottom">バンビーズリーダー</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">バンビエッタ・バスターバイン</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">E(爆撃:THE Explode)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						軍服のような服を着た小柄な少女。瀞霊廷に侵攻し、狛村の卍解を奪取する。かなりの短気かつ癇癪持ちで、欲求不満があるたびに好みの男性を選んでは殺害するという悪癖を持つ。女滅却師グループのリーダーを気取っていたが、実際は軽んじられていた。ユーハバッハの後継者に石田がなったことを不満に思っていた一人。一度目の侵攻では剣を使用していた。
					</p>
					<p class="c-text">
						二回目の侵攻では完聖体となって平子を一撃で戦闘不能にし、飛梅が通用しなかった雛森を絶望させるも、卍解を取り戻し秘術を手にした狛村に完敗した。狛村から奪った卍解を使うことはなく、卍解が狛村の元に戻ったときも本人は特に未練は見せなかった。滅却師完聖体時は頭上に聖隷の円盤と背中に一対の翼が出現する以外に外見上の変化はない。
					</p>
					<p class="c-text">
						狛村に完敗し瀕死の状態で倒れていたところをリルトットたちに発見され、このときジゼルに殺害されたうえにゾンビ化された。生前の強気な態度は見る影もなく卑屈なまでに謙り、ジゼルに従順な奴隷と化している[18]。ゾンビ化の影響で弱体化しながらも従来の爆撃能力とゾンビの特性で一角と弓親を倒すが、マユリによって改造・復活を遂げたクールホーンに圧倒され、虚閃の直撃を受けて倒された。のちに追い詰められたジゼルに血液を奪われ、活動を停止した。
					</p>
					<p class="c-text">
						小説版『BLEACH Can't Fear Your Own World』では再び活動を再開するもさらに言動が曖昧になっており、ジゼルの手駒としてルドボーンと交戦。帰刃後の能力を磨き上げたルドボーンが繰り出す「髑髏兵団」の捨て身の戦術にかつての狛村戦の恐怖を思い出し、戦慄していた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『爆撃（ジ・エクスプロード）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“E”の能力。小規模なものから周囲を巻き込む大規模までの爆発を自在に起こす。この爆撃はバンビエッタから発せられた霊子に触れた物体そのものを爆弾に変えて爆破するため、防御自体できない。「滅却師完聖体」になると翼から無数の霊子の羽を撃ち出すことで弾幕を形成し、「爆撃」の能力をさらに強化した攻撃が可能となる。ただし、触れた物体が大きく密着して爆発したときは自身もダメージを受ける。弾速そのものは全てほぼ同程度で、マユリが用意していた「霊子固定装置」には相性の悪さもあって自爆する結果となっている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">頭上に聖隷の円盤と背中に一対の翼が出現する</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>