<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'urahara',
    'hirako',
    'kensei',
    'risa',
    'stark',
    'masculine',
    'giselle',
    'hiyori'
  ];
%>
<body>
<div class="container second character otoribashi">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">闘いを音楽で彩る</span><br>
						<span class="character-detail-nickname_bottom">護廷十三隊三番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">鳳橋楼十郎</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">187cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">73kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">3月17日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">仮面の軍勢→護廷十三隊三番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">金沙羅</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">金沙羅舞踏団</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長・現隊長<br>ナルシスト風な伊達男。通称ローズ。髪型はウェーブのかかった長い金髪、服装は70年代ハードロック風でギターを持っている。羅武と共にいることが多い。羅武がジャンプを読ませなかったり自分のジャンプコミックスを先に読むことに不平を言っている。口調や態度は仮面の軍勢の中ではハッチと共に穏やかな方だが、自身の言動にやや陶酔する傾向にあり、羅武にツッコまれる。虚化すると鳥の頭のような仮面が現れる。110年前は、当時の一昨年から護廷十三隊の三番隊隊長を務めていた。羽織は袖のないタイプ。
					</p>
					<p class="c-text">
						101年前に魂魄消失案件の始末特務部隊の一人に選ばれ、虚化した拳西達と戦うが、藍染達の策略に嵌り虚化した。藍染との決戦後は三番隊隊長に復帰している（羽織は110年前と同一）。
					</p>
					<p class="c-text">
						星十字騎士団との戦いではナナナ・ナジャークープと交戦し勝敗は不明だが卍解は奪われずに済んだ。二回目の侵攻では拳西と共にマスキュリンと対峙し。拳西の作った隙でジェイムズを倒し卍解を発動させマスキュリンを追い詰めるが、能力を喋ってしまったためマスキュリンに弱点を見破られてしまいスター・フラッシュで倒される。その後ルキアにより勇音の所へ運ばれ治療を受ける。しかし、グレミィの能力により拳西と共に心停止してしまう。勇音に保護されてはいたが、どういう経緯かは不明だが、拳西・乱菊と共にジゼルの能力によりゾンビにされてしまっていた。マユリがゾンビの日番谷を倒して新薬の実験をしている最中に拳西・乱菊と共にマユリの前に現われ、ドルドーニたちと交戦する。ドルドーニたちの血液に仕込んだ薬により、拳西と共に過去旅行の症状を起こされ、さらに新薬により、マユリ配下のゾンビになる。拳西がジゼルを倒した後、白哉・檜佐木の元へ向かう。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『金沙羅（きんしゃら）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に、薔薇の花が先端についた鉄製の鞭に変化する。従来の鞭と違い、先端部分でのみ攻撃している。</dd>
						<dd class="c-ability__txt c-text">解号は「奏でろ『金沙羅』（かなでろ『〜』）」</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「金沙羅奏曲第十一番“十六夜薔薇”（きんしゃらそうきょくだいじゅういちばん“いざよいばら”）」</span>
						</dt>
						<dd class="ability__txt c-text">先端の薔薇を対象に刺し、鞭を指で演奏するように奏でる事で、その薔薇から楕円形の爆発を連続で起こす。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「アルペジオ」</span>
						</dt>
						<dd class="ability__txt c-text">虚化後に使用。鞘と斬魄刀で十字架を描き、旋律のようなものを奏でて相手を操る技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『金沙羅舞踏団（きんしゃらぶとうだん）』</span>
						</dt>
						<dd class="ability__txt c-text">空中に指揮棒を持つ右手と空の左手、12人以上の顔に「金沙羅」の先端部分がついた人形を召喚する。能力は音楽を操り、敵にまやかしの旋律を聴かせる（まやかしとはいえ心を奪われると実際にダメージを受ける）。音楽を聴かせることで能力を発動させるため、鼓膜を破られると効果を発揮しなくなるという弱点がある。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「海流（シー・ドリフト）」</span>
						</dt>
						<dd class="ability__txt c-text">人形が回転し水流で相手を閉じ込める。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「火山の使者（プロメテウス）」</span>
						</dt>
						<dd class="ability__txt c-text">人形の作った火を相手にぶつける。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「英雄の生涯（アイン・ヘルデンベーレン）」</span>
						</dt>
						<dd class="ability__txt c-text">とどめを刺す技だが、発動前にマスキュリンが鼓膜を破ったため、効果は不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__txt c-text">鳥の頭のような仮面が現れる。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>