<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'urahara',
	'hirako',
	'byakuya',
	'renji',
	'rukia',
    'yhbh',
    'pernida',
    'nakklevaar',
    'gerard',
    'nianzol',
    'hyosube',
    'tenjiro',
    'oetsu',
    'senjyumaru',
    'hiyori'
  ];
%>
<body>
<div class="container second character hikifune">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">「義魂」の概念を創り出した</span><br>
						<span class="character-detail-nickname_bottom">南方神将の穀王</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">曳舟桐生</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">王族特務零番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						零番隊 第二官 南方神将<br>
						本編開始から110年前に、浦原の前に十二番隊隊長を務めていた女。異名は「穀王（こくおう）」。零番離殿は臥豚殿。猿柿からは母親のように慕われていた。<br>のちに「義魂丸」のもととなる「仮の魂」である「義魂」の概念と、それを「体内に取り込む」技術を創り出した人物。
					</p>
					<p class="c-text">
						零番隊就任以前より肥えているらしく、平子は名前を聞くまで彼女を曳舟だと気づかなかった。肥っている理由は、彼女が「義魂」の神髄を込めたフルコース料理を全部作ると全霊圧を使い切って激ヤセしてしまうことから、普段から肥っていないと体が持たないためである。痩せた状態では巨乳美人に変貌する。<br>ユーハバッハらが攻めてきた時には産褥をこしらえ、命の檻を張りめぐらせた。その後の描写はなかったが、聖別で復活した親衛隊に倒された。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">しゃもじのような形状をしている。能力と名称は不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため、詳細不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「命の檻（いのちのおり）」</dt>
						<dd class="c-ability__txt c-text">周囲に樹木を張りめぐらせ、敵を内部に閉じ込める檻を形作る。霊子に反応して吸収する性質があり、隙間を狙っても枝が伸びて獲物を捉え、同じ箇所を攻撃しても瞬時に再生して破壊された箇所を塞ぐ。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>