<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'urahara',
	'soifon',
	'unohana',
	'byakuya',
	'renji',
	'rukia',
    'yhbh',
    'pernida',
    'nakklevaar',
    'gerard',
    'nianzol',
    'hyosube',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character tenjiro">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">「雷迅」の異名を持つ</span><br>
						<span class="character-detail-nickname_bottom">東方神将の泉湯鬼</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">麒麟寺天示郎</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">王族特務零番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">金毘迦</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						零番隊 第一官 東方神将<br>
						リーゼントで煙管を加えたチンピラのような男。異名は「泉湯鬼（せんとうき）」。零番離殿は麒麟殿。<br>
						かつては「雷迅の天示郎」と呼ばれ、動いたことすら気づかれずに砕蜂の背後をとれるほどのスピードを持つ。また、卯ノ花に治療の鬼道「回道」を教えたのも彼であるが、初代「剣八」である卯ノ花のことを嫌っているのか、彼女によく突っかかっている。
					</p>
					<p class="c-text">
						浦原が修行部屋に作っていた『浸かるだけで回復する温泉』は、実は彼の技術を真似て作ったものである。
					</p>
					<p class="c-text">
						ユーハバッハとハッシュヴァルトと雨竜が霊王宮に侵攻してきた際は自ら出陣し、自慢の湯で兵士を一掃する。のちに斬魄刀を解放してユーハバッハと対峙するが、ニャンゾルの能力で攻撃を当てられず、苦戦する。その後、ナックルヴァールの能力に苦戦する王悦を助けたが、聖別で復活した親衛隊に倒された。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『金毘迦（きんぴか）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">湯かき棒のような形状で、鞘に当たる部分に「きりんじ」と書かれている。解放後は刀身が眩く光り輝く。描写が少ないことから詳細な能力は不明。</dd>
						<dd class="c-ability__txt c-text">一護の斬魄刀『斬月』と性質が近く、この斬魄刀をベースに一護が死神の力を取り戻すために浦原が開発し使用された「隊長格ら全死神の霊圧が込められた刀」が制作された（小説『The Death Save The Strawberry』より）。</dd>
						<dd class="c-ability__txt c-text">解号は「天照一閃『金毘迦』（てんしょういっせん『〜』）」。雑誌掲載時では、「煌（きらめ）け」だったが、単行本65巻では修正された。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため、詳細不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「白骨地獄（はっこつじごく）」</dt>
						<dd class="c-ability__txt c-text">体内から血と霊圧を抜く白い湯の温泉を操る。後述の「血の池地獄」と交互に浸かれば卯ノ花にも治療できない重傷者を完治させることが可能な反面、その強すぎる回復力は一定の力量に満たない者には害となり、「過回復」によって逆に肉体を破壊してしまう。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「血の池地獄（ちのいけじごく）」</dt>
						<dd class="c-ability__txt c-text">体内に血と霊圧を補充する赤い湯の温泉を操る。こちらは単体で使用しても傷んだ血を新鮮な血液と入れ替え、同時に傷の回復を行い王悦を癒している。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>