<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'urahara',
    'isshin',
    'masaki',
    'hirako',
    'otoribashi',
    'kensei',
    'risa',
    'aizen',
    'ulquiorra',
    'grimmjow',
    'hiyori'
  ];
%>
<body>
<div class="container second character white_ichigo">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">特殊な生い立ちのある</span><br>
						<span class="character-detail-nickname_bottom">一護の内なる虚</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">白一護</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">174cm → 181cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">61kg → 66kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">15歳 → 17歳</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月15日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">空座第一高校</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">斬月</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">天鎖斬月</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">戦闘</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">AO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						精神世界に存在する虚（声 - 森田成一）。朽木白哉の前に現れた時は、「誰でもない」と語った。内なる虚もまた一護の霊力であるため、同じ一護の霊力である斬月とは本来一体である存在である。そのため斬月と意識を共有しており、片方の力が増大すると支配権が移る。容姿は一護本体と瓜二つだが、白目が黒く舌が青、死覇装や斬月の色など白黒「反転」している。なお、単純に色相が「反転」していないカラーリングの箇所もいくつか存在する（肌と歯と髪は色が「反転」せず殆ど純白になっている。また、瞳は白か黄色、もしくは金色）卍解時の月牙も赤に縁取られた白いものになっており、また一護のそれとは比較にならないほど巨大。対して始解時の月牙は一護の卍解と同じく赤黒い。
					</p>
					<p class="c-text">
						性格も一護とは鏡写しのように正反対で非道・好戦的な上、常に挑発的な笑みを浮かべている。作中の扉絵イラストでは「黒崎一護」の名前が逆さの鏡文字で、アニメでのエンディングクレジットでは『白一護』と表記されている。始解状態の斬月の晒しをつかんで振り回し、飛び道具のように扱う技「デッドリー・ダーツ」を使うといった一護には考え及ばなかった戦い方を見せるなど高い戦闘テクニックを有しており、卍解した一護の月牙を片手だけでなぎ払い、つばぜり合いの状態から月牙をゼロ距離で放つなど、計り知れぬ潜在能力を秘めている。アニメでは「一護は俺の足元にも及ばない」と言っている。もっとも、本人の言によれば本質的な能力そのものは（彼と会う時点での）一護本人と全く同等であり、戦闘能力の差は「本能に委ねて戦うか否かの点」であると語っている。
					</p>
					<p class="c-text">
						一護が一度剣八に敗れた後、斬月によって送られた自らの精神世界において初登場。斬月が一護を自分の持ち主にふさわしいか試す試練に協力していた。この時から一護の体と力を乗っ取ろうと画策しており、白哉との戦闘で一護の意識の表層に姿を現したのを決起に徐々に一護の精神と魂を侵食し始め、一護の戦闘にまで影響を及ぼすようにまでなる。仮面の軍勢の手助けによって再び精神世界にやってきた一護と交戦。終始一護を翻弄するも、「戦いを求める本能」を自覚した一護の刃に貫かれ、警告を与えて消滅する。しかしその後、一護が「最後の月牙天衝」を訊き出すために精神世界に向かった際に完全虚化した姿で登場。天鎖斬月と一つになり、一護に再び襲いかかる。
					</p>
					<p class="c-text">
						その正体は、前述の滅却師の力によって抑えられていた、一護の真の斬魄刀「斬月」の化身。母・真咲を通じて一護の体に入った改造虚・ホワイトが一護本来の死神の力と溶け合って誕生した虚の力を持った斬魄刀。一護が斬魄刀の力を引き出す度（卍解習得など）、それに比例して虚の影響力が増大していったのもそのため。「見えざる帝国」のイーバーンやキルゲが卍解を奪えなかったのはこの理由からである。千年血戦篇までの一護は黒コートの斬月に抑え込まれていたこの存在から死神の力（虚の力）を引き出しており、それまでの力は本来の力の一部に過ぎなかった。一護が斬魄刀そのものの力を引き出すには彼の協力が不可欠だったため、刀そのものを得てからの修行には常に虚の姿があった。 自身の出生の秘密を知った一護により、黒コートの斬月と共に「どちらも斬月」だと認められた。 アニメ『斬魄刀異聞篇』では一護の精神世界に入り込んだ村正によって再び姿を現す。自身を従わせようと目論む村正の意に反し、一護の体を奪う野望に準じて村正と敵対する。村正の能力で捕らえられた際に一護に助けられて以降は、斬月と対峙する一護に力を貸した。尚、『斬魄刀異聞編』における一護は「お前は俺の身体の一部」と内なる虚を受け入れる姿勢を見せている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『斬月』</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀の色以外は一護と同等同質の能力。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">デッドリー・ダーツ</span>
						</dt>
						<dd class="ability__txt c-text">始解状態の斬月の晒しをつかんで振り回し、飛び道具のように扱う。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『天鎖斬月』（てんさざんげつ）</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀の色以外は一護と同等同質の能力。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「月牙天衝（げつがてんしょう）」</span>
						</dt>
						<dd class="ability__txt c-text">斬撃の色以外は一護と同等同質の能力だが本能に任せて戦っているかどうかの差で威力は大幅に変わるらしい。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>