<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'sado',
    'zaraki',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy',
    'nelliel'
  ];
%>
<body>
<div class="container second character nnoitra">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">歴代十刃最高硬度の</span><br>
						<span class="character-detail-nickname_bottom">鋼皮を誇る第5十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ノイトラ・ジルガ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">215cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">93kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">11月11日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">聖哭螳蜋</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">絶望</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第5十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						襟の後ろが大きく丸く伸びている長身で長い黒髪の男。左目の眼帯の下に仮面の名残を残し、そこに虚の孔が開いているために隻眼。舌に『5』の刻印がある。他人を見下したような話し方をするほか、自身を十刃最強と自負し、己の力に絶対的な自信を持っている。長身痩躯だが、消耗していたとはいえ卍解状態の一護を驚愕させるほどの腕力の持ち主。鋼皮の硬度に関しても歴代全十刃中最高であり、実際に斬撃を受けても傷一つ付かず、チャドの「魔人の一撃」を受けても平然としているなど凄まじい霊圧硬度を誇る。未完成の崩玉により誕生した破面である。
					</p>
					<p class="c-text">
						戦いの中で死ぬことを目的とし、常に強さを求め、戦いを渇望している。認識として『敵』を作った瞬間から呼吸ひとつまでを『戦い』と捉えており、どんな卑怯・非道も厭わず、殺す価値無しと判断した以外は相手に情けをかけることはない。また自身が情けをかけられることも強く嫌う。以前は第8十刃（オクターバ・エスパーダ）で、当時の服装は丸い襟の部分が無く、また髪も現在より短かった。性格も現在の飄々とした冷笑的なものではなく、直情的だった。破面の存在に関して「救われない存在」と諦観的に捉えており、藍染の事は力を与えてくれた存在として感謝している。
					</p>
					<p class="c-text">
						ネルが女破面で有りながら第3十刃の座にいたことを快く思っておらず、決闘を申し込み勝負するも敗北した上、戦士として認められず相手にされなかった。その後ザエルアポロと結託してネルの頭を背後から割り、虚夜宮の外へ放り出した。
					</p>
					<p class="c-text">
						チャドを倒した後、グリムジョーとの戦いで満身創痍の一護に戦闘を仕掛けて圧倒し、元の姿に戻ったネリエル（ネル）との戦いでネルが幼女の姿に戻ったため優勢に立つが、救援に来た剣八との死闘の末、剣八の剣道（斬魄刀の両手持ち）による一撃で深手を負う。止めを刺さずに自分を見逃そうとする剣八になおも戦いを挑み、その末に剣八に切り伏せられ、戦死した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『聖哭螳蜋（サンタテレサ）』</span>
						</dt>
						<dd class="ability__txt c-text">解放前は三日月状の刃を8の字型に二つくっつけた形の鎌に、「8」の字に垂直に柄を取り付けたような形状をしている。第8十刃の時は、三日月の形をしていた。柄の部分からは長い鎖が伸び、鎖を持って斬魂刀を遠くの敵に向けて飛ばしてまた引き寄せる攻撃もできる。解放の際、鎌の先端にある三日月状の刃の中心に風を呼び起こす。</dd>
						<dd class="ability__txt c-text">解放すると頭に左右非対称の三日月のような角が生え、腕が節足動物のような装甲状の外骨格に覆われた形で4本に増え、その4本の腕に大鎌を持つ姿に変わり、腹部を囲むように角のようなものがいくつも形成される。また仮面の名残の口の歯が牙のようになり、顔には黄色い仮面紋が現れる。腕や鎌は失っても再生でき、腕は6本まで増やすことができる。また大鎌は手首に収納されている。解放後は眼帯を外して全力となった剣八を一時は圧し、また応戦できる戦闘力を得る。</dd>
						<dd class="c-ability__txt c-text">解号は「祈れ『聖哭螳蜋』（いのれ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">舌の先から放つ。色は黄色。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「捜指法（インディセ・ラダール）」</dt>
						<dd class="c-ability__txt c-text">霊圧を地面に電流のように流し、相手の力量を測る技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>