<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'unohana',
    'byakuya',
    'nnoitra',
    'yammy',
    'yhbh',
    'liltotto',
    'meninas',
    'candice',
    'gremmy',
    'giselle'
  ];
%>
<body>
<div class="container second character zaraki">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">先代剣八を一騎打ちで打倒した</span><br>
						<span class="character-detail-nickname_bottom">更木出身の剣八</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">更木剣八</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">202cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">90kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">一千歳以上</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">11月19日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊十一番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">野晒</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">八千流</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現隊長<br>流魂街で最も治安が悪い北流魂街80地区「更木」出身。その地名を姓とし、代々最強の死神に与えられる称号「剣八（幾度切り殺されても絶対に倒れないという意味）」を自ら名乗った。右目に眼帯、顔の左側には大きな傷があり、髪の毛は11本に束ねてあり1つ1つのまとまりに1個ずつ鈴が編み込まれている。死覇装はいつもボロボロで羽裏色は滅紫（けしむらさき）、羽織は袖のないタイプ。なお、更木は代々数えて十一代目の剣八である。
					</p>
					<p class="c-text">
						入隊試験を受けず、前十一番隊隊長を決闘で殺害（この下りはアニメのバウント編で少し説明されており、この事に恨みを持つ隊士が登場した）して、いきなり隊長の地位に就いた実力者。なお決闘で倒すこと自体は隊規にも定められた正式な隊長選出方法である。風貌・言動共に荒々しく、圧倒的な威圧感を持って十三隊最強の戦闘部隊を率いている。しかし一方で部下思いな面もあり、涅マユリが斑目一角を手に掛けようとしたとき、それを庇ったりしている。部下たちには慕われている。大義や正義とはかけ離れた位置にいる性格のため、東仙からは忌み嫌われている。元柳斎を「じじい」と呼ぶなど、目上の者への敬意は無い他、朽木白哉とは仲が良くなく、反発する描写がある。尚、白哉とはアニメオリジナルで少し戦っている。マユリとも仲が良くなく、アニメではマユリから「野蛮人」呼ばわりされ口論になったこともある。 
					</p>
					<p class="c-text">
						髪は自分でセットしており、髪は石鹸で洗っている（『カラブリ+』より）。そのためいつもパリパリの状態である。弓親がやりたいと言っても気持ち悪いのでやらせない。アニメ版の「死神図鑑ゴールデン」では、この髪の鈴をつけるのに3時間以上掛かるという。雀部から勧められたトリートメントで髪がサラサラになり、いくらセットしてもトゲがシナシナになって苦悩した経験がある。それから雀部のことが少し嫌いになった。<br>嫌いな食べ物は納豆（糸が切れず、いつまで経っても食べられないから）。また、尸魂界での争乱後を描いた小説『BLEACH THE HONEY DISH RHAPSODY』ではカレーライスの匂いについて「鼻が馬鹿になりそうだぜ」と言って食べなかった。
					</p>
					<p class="c-text">
						強い相手と戦うことをなによりも愉しむ戦闘狂。視界を狭めた上自身の霊圧を無尽蔵に削減する眼帯も音で自分の居場所が伝わる鈴も、「あえてハンデを背負うことで戦いを楽しむ」ために着けている。<br>これらハンデを自らに課しても「敵が脆すぎて戦いを楽しむ暇がない」ため、常に加減して斬る癖までつけてしまっている。戦いで自身が負傷する事への恐怖心や躊躇が全くなく、敵の攻撃を受けたり予想外の事態に陥っても怯むこともない。いくら斬られて血を流しながらも倒れず反撃する姿には、交戦した相手が恐怖を感じるほど。死すらも戦いを楽しむための代償とまで言い放つが、「死んだら何も斬れなくなってつまらない」とも思っており、ノイトラと戦い死を予感したときは「嫌だなァ…死ぬのは」と言っている。また、戦いとは対照的に職務には重きを置かない。戦いに関しても自分が楽しむ事が目的であるため、戦えなくなった相手に止めを刺すことにはこだわらない。この考え方が過去に対戦した一角に影響を与えている。ただ、虐殺を望んではおらず、常に相手とのギリギリの戦いを望んでいる。
					</p>
					<p class="c-text">
						実は少年時代に、発足したばかりの護廷十三隊十一番隊長であった初代剣八・卯ノ花八千流と交戦し圧倒したが、「ここで倒してしまうともう二度と戦いを悦しむことが出来なくなる」と考え、自身の能力を封じてしまい敗北する。それ以来、自身でも無意識の内にギリギリの状態でしか力を発揮できなくなってしまっていた。その際の八千流の圧倒的な強さに憧れを抱くようになり、後に草鹿やちるにその名前を授けた。<br>視界を遮る眼帯は技術開発局の作で着用者の霊力を無尽蔵に削減する効果を持つ（並みの霊力の持ち主では戦闘どころか生命維持すら危うい代物）。眼帯を外せば霊力の抑制が解ける為、眼帯を外したときが全力となる。ただ霊圧の上限は未知数であり、最初の一撃で相手の霊圧を確かめて相手とギリギリの殺し合いをするための霊圧へと本能的に調整する[2]。解放状態のヤミーを上回る戦闘能力をもったシエン・グランツとも渡り合った際は、石田に両者共に霊圧を完全虚化時の一護並と評されている。また、藍染からは自身の脅威となり得る存在と考えられていた。
					</p>
					<p class="c-text">
						全隊長の中で唯一【卍解】を修得しておらず、なおかつ自身の斬魄刀の名前すら知らない程の異例の存在。故に戦いでは斬魄刀の能力による戦闘を行うことはないが、それでも他の隊長を圧倒するほどの実力を持ち、手負いの状態、更に眼帯で霊力を抑制された状態でも隊長2名を相手に引けをとらない戦闘を繰り広げている。さらに歴代全十刃中で最高の硬度を持つノイトラの鋼皮を「慣れ」だけで斬ってみせた。<br>戦闘には極めて高い実力を持つ一方、霊圧の探査能力は低く、方向音痴であることも手伝って索敵能力は極めて低い。OVAではやちるのせいで敵の方角を間違え新幹線を追いかけていったことがあり、その際新幹線に匹敵するスピードを見せた。単純な肉弾戦や斬り合いを好むが、反面戦闘では鬼道を使用せず、その能力自体も現隊長中最低（鬼道を使用できるかどうかも不明）で、自身の隊では直接攻撃系の斬魄刀でないといけないという暗黙の了解がある。アニメオリジナルのバウント編では、鬼道系の能力を使う一之瀬に対して姑息と言っていた。<br>護廷十三隊入隊当時、騙されて元柳斎から剣道を習ったことがあるが、自分との相性の悪さから戦闘で実践していない。だが「剣は片手で振るより両手で振ったほうが強い」という考えには剣道の中で唯一納得しており、その考えに基づいた斬魄刀の両手持ちは十刃・ノイトラ（開放状態）にたった一撃で致命傷を負わせるほどの威力を有する。
					</p>
					<p class="c-text">
						後述の通り卍解が使えない上に鬼道も使用できないため作中のキャラの中では一護を除いて唯一、特別な能力などに頼ることなく純粋に自身の剣の腕と体術、霊圧の高さだけで戦い続けているキャラクターでもある。<br>千年血戦編では、卯ノ花八千流(又は卯ノ花烈)と死闘をくり広げた後、斬魄刀の声を聞けるようになった。<br>当初、剣八という名は歴代の死神の中で『何度斬られても倒れない』という強い死神に与えられる称号のようなものであり、現在の更木剣八は数えて十一代目となる。唯一の例外は九代目剣八であり、これは先代の八代目剣八である『痣城剣八』が反逆し『無間』に投獄された為、その称号が空席となった時に、十一番隊副隊長だった彼が例外的に引き継ぐ形をとった。
					</p>
					<p class="c-text">
						剣八の名はある意味で特権階級のようなものであり、歴代の剣八は違いはあれど誰もが通常の死神を超えた強さを誇っている。そして、『剣八は新しい剣八によって倒される』と言うある意味で呪いのような名でもある。 小説も含めて作中で登場したのは、初代隊長だった卯ノ花を含めて5人。<br>一角を倒した一護に興味を持ち交戦。結果は引き分けになり（剣八本人は負けたと思っている）、直後自身の斬魂刀のことを知ろうとするなど更なる高みを目指す。一護に再び会うべく、部下達と共に織姫に協力。反逆者として東仙、狛村と対峙する。事態収拾後、何かと一護と戦いたがり、彼を認めており気に入っている。しかし一護本人からは戦いをしようとする度に敬遠されている。
					</p>
					<p class="c-text">
						元柳斎の命を受け、白哉と共に日番谷先遣隊を連れ戻す。その後、白哉、マユリ、卯ノ花らと共に虚圏へ侵入した後、窮地の一護を救出。ノイトラとの死闘を演じ、最終的に剣道で勝利を収める。その後一護に織姫と共に現世に戻るよう忠告する。通ってきた全ての黒腔が封鎖され、虚圏に幽閉された際は、一護に代わってヤミーとの対決を引き受け、白哉と反目しあいながらも共闘する。ヤミーが怒りで力を解放して再び二本足になってからは具体的描写はないが、深手を負わされながらも胸躍る戦いではなかったらしく隊員たちにどうだったかと聞かれると、「つまんねえ戦いだった」と言い捨てた。単行本のおまけでは眠っている（ふりをしている）ネルをひっぱたいて起こそうとし、気付いたネルに怖がられてしまう。ノイトラとの戦いで隊長羽織を無くした件で隊長羽織を「邪魔」と言い放ったために、白哉、京楽と共に元柳斎から説教されていた。<br>尚、剣八本人ではないが、内なる虚と戦う一護の精神世界にも登場。一護に戦闘本能を自覚させたことにより、内なる虚を抑える起因となっている。
					</p>
					<p class="c-text">
						死神代行消失編から髪形が変わっており、破面編までのようにセットしていない。また、眼帯も違うものになっている。銀城空吾が一護と接触し、一護が銀城側に付いた場合に抹殺する命令を受けた隊長格の一人として登場。沓澤ギリコと対決するが一太刀の下に完勝する。一護が尸魂界を脅かす事は無いと判断した後、他の隊長格達と共に帰還した。
					</p>
					<p class="c-text">
						見えざる帝国の尸魂界襲撃を受け、ジェローム、ベレニケ、"L"のロイドの星十字騎士団3名と交戦して勝利。その戦闘能力の高さから、一護や藍染と同じく5人の特記戦力の1人に数えられていた。首領ユーハバッハ（実際は影武者の"R"のロイド・ロイド）の元に一足早く辿り着き勝負を挑むも敗北（眼帯を外していたにも関わらず）を喫する。
					</p>
					<p class="c-text">
						その後、新総隊長となった京楽春水の指示で『無間』に赴き、初代剣八・卯ノ花八千流こと卯ノ花烈との死闘を演じ、自身の斬魄刀の声を聞けるようになった。<br>2度目の侵攻の際にグレミィと交戦し、自身の斬魄刀『野晒』を開放し勝利。しかし、直後にリルトット、ミニーニャ、キャンディス、ジゼルの4名に急襲され負傷する。万事休すかと思われたが、霊王宮から駆け付けた一護に救出された。その後、十二番隊の解剖室で浮竹らに医療を施され復活。霊王宮への門完成後は、トイレに花太郎や一角らと行っていた為に取り残されるも、涅が再度門を開けたことで事なきを得た。
					</p>
					<p class="c-text">
						霊王宮突入後は、マユリと嫌味や独り言を言い合いつつ行動を共にし、ペルニダと遭遇する。真っ先に斬りかかり傷を負わせるもペルニダの能力で右腕を折り畳まれ、斬魄刀を右腕から引き剥がした後で残った左腕で斬りかかるが今度は下半身を折り畳まれ、上半身へ行き渡る寸前にマユリの疋殺地蔵の麻酔を打ち込まれて侵食を食い止め、そのまま戦線を離脱し、マユリから指示を受けた一角や弓親の手で肉体保護瓶に入れられた。そして、いち早く回復して、一角達より先に戦場に到着。先にジェラルド・ヴァルキリーと交戦していた白哉と日番谷の元に乱入して、自身も参戦する。始解で応戦するもジェラルドの能力との相性から徐々に押されていくが、その最中にやちると再会し伝えられた「卍解」を使って一時はジェラルドを圧倒するが、力が解放されすぎた影響で体が自壊して倒れてしまう。しかし、すぐ意識を取り戻し、ジェラルドの足を止めて隙を作った。
					</p>
					<p class="c-text">
						一連の戦いが収束した10年後も隊長は続けており、やちるの代わりに隊長補佐になった一角や弓親と共に瀞霊廷を右往左往していた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『野晒（のざらし）』</span>
						</dt>
						<dd class="ability__txt c-text">解放前は柄と鞘にサラシを巻いており、剣八自身の霊圧で刃が常時削れている為、刃部分がボロボロに欠けた長刀。当初は剣八の台詞から常時始解状態の「常時解放型」の斬魄刀とよく思われていた。<br>剣八が己の力のみを信じ斬魄刀を理解する意思が無かったためにその名を知る気もなく、斬月からもその様子が示唆されていた。</dd>
						<dd class="ability__txt c-text">千年血戦篇にて『無間』での卯ノ花との死闘の果てに遂に声が聞こえるようになり、星十字騎士団のグレミィとの戦いにて初めて解放した。</dd>
						<dd class="ability__txt c-text">解放後は剣八の身長以上に巨大な斧のような形状の剣に変形。グレミィが夢想家の能力で生み出した巨大な隕石ですら、一刀の元に粉砕するほどの破壊力を誇る。</dd>
						<dd class="c-ability__txt c-text">解号は「呑め『野晒』（のめ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀に戻ったやちるに卍解を伝えられた瞬間に、肌が赤く変色する。また、言語による意思疎通が出来ず獣同然になる模様。 ただし、余りにも強力過ぎる為、異常な強度を誇る剣八自身の肉体でも耐えられず、振るった腕が内側から弾けてしまった。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>