<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'komamura',
    'syunsui',
    'ukitake',
    'aizen',
    'yhbh',
    'asnodt',
    'bazz-b',
    'driscoll'
  ];
%>
<body>
<div class="container second character genryusai">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">一千年以上最強の位置に君臨する</span><br>
						<span class="character-detail-nickname_bottom">護廷十三隊総隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">山本元柳斎重國</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">168cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">52kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">二千歳以上</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">1月21日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊一番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">流刃若火</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">残火の太刀</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">和食全般</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長・元総隊長<br>
						禿頭から額にかけて大きな十文字の傷を持ち、膝まで垂れる長い髭（自分で結っており、月に一度毛先を揃えている）をたくわえた老爺。肉体は老人とは思えぬほど鍛え抜かれており、歴戦の老将の証拠として数多くの傷が刻まれている。かなりの老齢だが、自分より強い死神がいないために千年以上も総隊長を務めてきた猛者であり、死神としての実力は未だ衰えず副隊長達が束になって戦っても歯が立たなかった敵を倒す等規格外の強さを見せる。羽裏色はきょうむらさき、羽織は袖のあるタイプ。
					</p>
					<p class="c-text">
						約二千年前、死神等の教育機関「死神統学院（現在の真央霊術院）」を創設。「山本重國」と名乗っていた頃は「元流」と呼ばれる流派の開祖で、それを教える「元字塾」の総師範を務めていた。額に「ノ」の字の傷がついていた事に由来し「ノ字斎（えいじさい）」と呼ばれていたが、傷が十字になってから「十字斎」と呼ばれるようになり、自分で「元柳斎」を名乗るようになった。ため口をきくのは京楽くらい。「真央霊術院」の生徒だろうと自分と道を違えた時には容赦無く断罪し、世界の正義のために非情な決断をする強固な意志を持つ。
						一護の出現以降変化が見られ、銀城空吾を迎え撃つという事情もあるものの、尸魂界を救った一護に恩を返すため、死神の力を失った一護に再び力を取り戻させるという従来なら掟に反する決断も下している。藍染が中央四十六室のメンバーを殺害したため、一時期、一人で中央四十六室と同等の決定権を持っていた。
						空座町での藍染との決戦では、アヨン、ワンダーワイスを撃破し、藍染と対峙するもワンダーワイスに封じられた流刃若火の爆発を抑え込むために重傷を負い、その際藍染の隙を作るために犠牲破道の一刀火葬を放ち、左腕を失った。
					</p>
					<p class="c-text">
						千年前の宿敵であるユーハバッハ率いる「見えざる帝国」の尸魂界襲撃を受け、自らも出陣。雀部長次郎の仇であるドリスコールを一瞬で焼き尽くした後、ユーハバッハと対峙、奇襲を仕掛けた星十字騎士団3名を一蹴して卍解を解放、ユーハバッハを圧倒して撃破する。しかしそれは星十字騎士団の"R"のロイド・ロイドが化けていた偽物で、本物のユーハバッハが現れた後、彼によって卍解を奪われた上で胴体を斬り裂かれて殺された。さらに遺体はユーハバッハによって完全に消滅させられた。
					</p>
					<p class="c-text">
						新隊長天貝繍助篇では天貝繍助の父で彼の部下である如月秦戌が雲井尭覚により獏爻刀に手を染めた事を知りやむを得ず殺害する羽目になったため、如月の息子の天貝に恨まれ、命を狙われることになる。テレビアニメの「死神図鑑ゴールデン」では、年のためか、人を呼び出しておきながら自分はうっかり寝る所もあり、本編よりかなり御茶目に設定されている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『流刃若火（りゅうじんじゃっか）』</span>
						</dt>
						<dd class="ability__txt c-text">普段は封印状態の斬魄刀をさらに杖の形状に封印して携帯している。解放とともに斬魄刀全体から巨大な炎を発する。焱熱系最強最古の斬魄刀。その熱は雲を消し、天をも焦がす。浮竹、京楽との戦いにおいては始解状態にもかかわらず、自分たちの周りが炎に包まれるほどの力を見せ、「鏡花水月」を有する藍染をして最強の斬魄刀と言わしめ対策を講じさせていたほど。元柳斎が卍解をユーハバッハに奪われて敗れた後に、元柳斎の遺体もろとも徹底的な破壊を受け、回収できたのは残骸だけであった。</dd>
						<dd class="c-ability__txt c-text">解号は「万象一切灰燼と為せ『流刃若火』（ばんしょういっさいかいじんとなせ『 - 』）」</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">松明（たいまつ）</span>
						</dt>
						<dd class="ability__txt c-text">流刃若火を振ることで発生する炎。近くにあるものを一瞬で火で包み焼きつくす。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">城郭炎上（じょうかくえんじょう）</span>
						</dt>
						<dd class="ability__txt c-text">炎の壁を発生させ、対象を囲む。藍染たちの現世侵攻の際、護廷十三隊の死神と破面との戦闘に藍染・市丸・東仙がその戦闘に介入できないようにした。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">鬼火（おにび）</span>
						</dt>
						<dd class="ability__txt c-text">遠く離れた相手に熱を放ち、身体に空洞を開ける技。杖の封印状態で使用した。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">撫斬（なでぎり）</span>
						</dt>
						<dd class="ability__txt c-text">流刃若火、一つ目の技。炎を刀に纏わせ相手を一刀両断する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">焱熱地獄（えんねつじごく）</span>
						</dt>
						<dd class="ability__txt c-text">「流刃若火」による大技。時間をかけて施した仕掛けを発動させて火柱を広範囲に発生させ、最後は敵のみならず自身や仲間すらも燃やし尽くす。藍染との直接対決で使用して戦いに終止符を打とうとするが、ワンダーワイスの「滅火皇子」で封じられ不発に終わる結果となった。アニメオリジナルの護廷十三隊侵軍篇では霊骸の京楽・浮竹・卯ノ花たちに発動させ、破面篇に比べるとかなり小規模ながら彼らを退けている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『残火の太刀（ざんかのたち）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と同時に始解時に発していた炎が消え、刀身が焼け焦げた刀に変化。解放後に発動する天候を支配する能力天相従臨は凄まじく、尸魂界中から水分が失われて異常乾燥を起こし、発動を続けると自身と尸魂界も滅ぼしてしまう危険性も持っている。1000年前のユーハバッハとの戦いでは、攻撃と同時に爆炎が発生して相手を焼き尽くしていたが、現在では刀に込められた炎の熱の力で触れるものすべてを消失させる攻撃を見せている。</dd>
						<dd class="ability__txt c-text">東・西・南・北の計4つの攻防形態を持ち、卍解後はその身と刃に太陽をまとっているがごとき状態となる。その絶大な力ゆえ、見えざる帝国の滅却師全体でもユーハバッハのみしか制御できない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">残火の太刀"東" "旭日刃（きょくじつじん）"</span>
						</dt>
						<dd class="ability__txt c-text">炎の全ての熱を刀の帽子と刃に集中させ、触れたものを消し飛ばす。滅却師の防御術「静血装」すらも意味をなさない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">残火の太刀"西" "残日獄衣（ざんじつごくい）"</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">元柳斎自身が1500万度と太陽の中心に相当する熱をまとい、相手の攻撃を消失させる。ただその場に存在するだけで膨大な熱量を放つため、対峙する相手はその放熱だけで焼き焦がされる。元柳斎自身の霊圧により、炎の衣をまとっているように見せることも出来る。発動時の様子が絵に描かれた。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">残火の太刀"南" "火火十万億死大葬陣（かかじゅうまんおくしだいそうじん）"</span>
						</dt>
						<dd class="ability__txt c-text">元柳斎が今まで斬り捨てた者たちの灰に熱を与えて亡者として一時的に蘇らせ、敵を塵となるまで追い詰める骸骨の大軍団を出現させる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">残火の太刀"北" "天地灰尽（てんちかいじん）"</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀を一閃させ、遠距離の敵を消滅させる技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">威眠（いねむり）</dt>
						<dd class="c-ability__txt c-text">相手の顔に手をかざし、意識を飛ばす技。狼狽した雛森に使用した。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">双骨（そうこつ）</dt>
						<dd class="c-ability__txt c-text">両拳による強烈な打撃を繰り出す。戦闘では解放状態のワンダーワイスを破壊するほどの威力を見せ付けた。また片腕の拳から強烈な打撃を繰り出す際は、一骨（いっこつ）と称される。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>