<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'uryu',
    'urahara',
    'masaki',
    'white_ichigo',
    'aizen',
    'white',
    'yhbh',
    'kukaku'
  ];
%>
<body>
<div class="container second character isshin">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">元十番隊隊長の</span><br>
						<span class="character-detail-nickname_bottom">一護の父親</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">黒崎一心</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">186cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">80kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月10日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">黒崎医院</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">剡月</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">AB型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長<br>
						一護の父親で、黒崎家の大黒柱。大きな手術以外のことは大抵こなすクロサキ医院の開業医。通称・ヒゲ。娘を溺愛したり亡き妻・真咲の巨大なポスタースタイルの遺影をリビングの壁に貼るほど家族が大好きな愛妻家であり、年中ハイテンションかつボケも非常に多い。普段は一護にいらぬちょっかいを出して喧嘩をしたり、夏梨に鬱陶しがられたりしている。私服も派手で、ドン・観音寺とは意気投合している。夏梨・遊子への過保護な扱いとは対照的に、一護に対しては放任主義的傾向が強いが、ちゃんと息子のことを陰ながら見守り、何かあったときにはそっと手を差し伸べる、快い父親である。昔は喫煙家であったが、現在は6月17日の真咲の命日にしか吸わない。
					</p>
					<p class="c-text">
						初期は霊感はまるで無いような言動をしているが、その正体はかつて護廷十三隊十番隊隊長を務めていた死神・志波 一心。志波家の分家の出だが、20年程前（当時は松本と日番谷は部下であり、一心の外見は今より若かった）に隊を抜け、現世に身を置いている。現在においては護廷十三隊隊長が身につける羽織（形状は剣八のと類似）の一部を左腕に縛り付けている。一護の身代わりを務めたコンの存在を一目で気づき、コンを守るために母親の形見と偽って自分が作った特殊なお守りを一護に渡している。
					</p>
					<p class="c-text">
						石田竜弦とは真咲と出会った頃から互いの正体を知る旧知の仲で、交通事故での怪我人の対応に追われていた時には、病室を貸すよう竜弦に要求していた。浦原ともその頃からの旧知で、彼女が命の危機に陥った際に救ってもらったことがある。そのため藍染や崩玉の詳細を知っている。
					</p>
					<p class="c-text">
						真咲とは当時彼女が高校生だった頃に出会い、隊長だった時に現世で藍染達が生み出した改造虚・ホワイトと交戦した際に窮地に陥ったところを助けてもらったのが初めての出会いだった。後日そのお礼を言う為に現世に出向いたところ、彼女はホワイトとの戦いで負った傷が原因で虚化しかけて命の危機に瀕していた。事情を知った浦原の手を借り、真咲を救うため、特殊な義骸を用いて自分と真咲及び彼女の中の虚を繋ぐことにより虚化を抑えることになった。結果、真咲と虚との繋がりが切れる時まで（実質彼女が死ぬまで）義骸から出られず死神に戻れないデメリットがあったが、一心は死神をやめて彼女を守り続けることを即断した。
					</p>
					<p class="c-text">
						その後霊術院で学んだ中で唯一使えそうだった医学を活かして小さな診療所「黒崎診療所」を開き、浦原の手も借りて勉強しながら現世での生活を始めた。元気になった真咲はよく診療所に顔を出し、一心は彼女に振り回されながらも幸せな生活を送り、後に結ばれて一護達3人の子供を授かった。<br>
						真咲の死後も一護の中の虚とは繋がっていたが、尸魂界篇でその虚が呼び起こされたことにより繋がりが完全に途切れた結果死神の力を20年ぶりに取り戻す。藍染が破面を率いて活動を始めたのに伴い死神に復帰、最愛の妻を虚から守れなかった後悔を胸に秘め、グランドフィッシャーの2度目の襲来時に20年ぶりに死神の力を使って仇を討った。
					</p>
					<p class="c-text">
						その後空座町の決戦に加わり、藍染とも互角に渡り合うが崩玉の力で変貌した藍染に敗れ、その後に一護とともに藍染を追う途中、一護に「最後の月牙天衝」を修得して藍染を倒すように助言し、習得のための時間を稼ぐため、拘流を止める役目を引き受けた。
					</p>
					<p class="c-text">
						完現術者達の出現の際には浦原と暗躍し、一護に死神の力を取り戻すための協力をしていた。小説『The Death Save The Strawberry』では再び戦場に駆け出されることから一護に死神の力を取り戻させることを躊躇していたが、無力感に苛まれる一護を見て、真咲を救えなかった自分を重ねて浦原に協力を申し出た事情が語られた。<br>
						娘を筆頭に女性に甘く、ルキアが作り話で黒崎家に居候することになった時「母さん、娘が三人になったよ」と遺影に報告していた。アニメオリジナルの護廷十三隊侵軍篇では望実が一時的に居座ることになった時、真咲の遺影に報告して「娘が四人に増えてハーレムだよ」とはしゃいでいた。
					</p>
					<p class="c-text">
						アニメのおまけコーナーでは「クインシー大全」にも出演、竜弦と絡んでいた。竜弦に余計なことを言っては、手痛い制裁をしばしば受けた。アニメの番外編では、竜弦と手を組んで一護たちと対決しており、一護と少しだけだが直接戦ったことがある。
					</p>
					<p class="c-text">
						平子が霊圧を知らないことや浦原の顔を20年前に知ったことから、101年前は護廷十三隊に所属していなかった。隊長時代の性格は今と特に変わらず、普段はマイペースではしゃいで楽天的な素振りを見せていた。また、ルキアや恋次（40年以上前に死神になっているにもかかわらず）とは会ったことがなかったようだ。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「顎割（あぎとわり）」</dt>
						<dd class="c-ability__txt c-text">斬魄刀で一刀両断する技。巨大な敵であっても問題はなく、一撃でグランドフィッシャーを倒した。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「鬼デコピン（おにデコピン）」</dt>
						<dd class="c-ability__txt c-text">指先に霊圧を収束し、強力なデコピンを放つ技。藍染ですら吹き飛ばし、複数のビルをなぎ倒すほどの威力を持つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『剡月（えんげつ）』</span>
						</dt>
						<dd class="ability__txt c-text">柄に緒がつき、やや刃の広い斬魄刀。刀は腰に差さず、下げ緒を帯に結びつける形でぶら下げている。能力開放とともに柄の紐と刀身に炎を纏う焱熱系の斬魄刀で、口に含んだ自分の血を吹きかけることで刀身の炎を巨大化させる。卍解も修得済みだが、肉体に負担の大きいものらしく、重傷を負った状態では使用できない。ただし作中で卍解はしなかったため、能力は不明。また、かつて自分も一度「最後の月牙天衝」を使ったことがあるような発言をしたが、詳しいことは最後まで明かされなかった。</dd>
						<dd class="c-ability__txt c-text">一護の斬魄刀『斬月』と性質が近く、この斬魄刀をベースに一護が死神の力を取り戻すために浦原が開発し使用された「隊長格ら全死神の霊圧が込められた刀」が制作された（小説『The Death Save The Strawberry』より）。</dd>
						<dd class="c-ability__txt c-text">解号は「燃えろ『剡月』（もえろ『〜』）」</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「月牙天衝（げつがてんしょう）」</span>
						</dt>
						<dd class="ability__txt c-text">『斬月』によるものと同様の技。一心はおとに至近距離で放っている。個々によって能力が異なる斬魄刀で、一護と同じ技を撃てる理由は定かではない。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>