<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'byakuya',
    'ukitake',
    'renji',
    'aizen',
    'aaroniero',
    'asnodt',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character rukia">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">一護の世界を変えた</span><br>
						<span class="character-detail-nickname_bottom">心優しき十三番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">朽木ルキア</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">172cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">69kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月31日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">浦原商店</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">袖白雪</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">白霞罸</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">キュウリ・白玉あんみつ</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">アシュリー・マクアイザック（Ashley MacIsaac） "Wing-Stock" （『Hi™ How Are You Today?』収録）</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現副隊長<br>
						護廷十三隊の十三番隊に所属し、物語開始時に初めての現世駐在任務として、本来は一ヶ月程の短期予定で空座町を担当していた死神。口癖は「馬鹿者」「たわけ」。黒髪のセミロングで後髪がはね、真ん中辺りの前髪が鼻の付け根を通って左斜め下に向かって伸びている。外見は小柄で、初期の頃は小学生だった一護の妹の遊子のパジャマがちょうど合うほど。恋次曰く「どこか気品が漂っている」。基本的にやや古風な固い言葉遣いで話し、男勝りで気が強いが、常に自分より相手を気遣う優しい性格。過去のトラウマや現在の複雑な境遇もあって、かなり繊細。<br>一話目で一護の10倍近く生きていると言っているため、年齢は少なくとも150歳弱。空座町駐在任務中に黒崎一護と出会う。虚に襲われた一護とその家族を庇って重傷を負い戦闘不能状態となるが、一か八かの方法で一護を死神化させて窮地を脱し、自らは引き換えに死神能力を殆ど失う。しばらくは義骸に入り、能力回復するまでのつもりで一護に死神代行を任せ、その活動をサポートする。その間は一護の部屋の押入れに潜んで住み、現世で高校生活を送っていた。
					</p>
					<p class="c-text">
						昔は、剣術の才が乏しく、鬼道は得意で真央霊術院でも好成績を残しているものの入隊時には護廷隊員としては並程度だった。一般隊員の時から席官クラスの実力を秘めているが、義兄の根回しもあり、危険度の高い任務に参加する機会は海燕殉職事件以外では殆ど無かった模様。
					</p>
					<p class="c-text">
						基本的に冷静で生真面目な性格だが、意外とお茶目で愛嬌がある。ウサギグッズには目がなく、特にソウルキャンディーのうさぎのチャッピーを好む。何かを説明する時には必ずウサギのイラスト（狸、劇場版ではカブト虫だったこともある）を描いて説明するが、意外と絵は下手（※ファンブックによればヘタウマ系）で、何時も一護につっこまれている。義兄と同じ方向に美的感覚がズレている。現世で高校生活を送っていた際はクラスメイトの前では猫を被って妙な淑女キャラで通す。死神代行篇では、一護以外の黒崎家に気付かれないよう潜んでいたが、破面篇では泣き落としの嘘をついて、彼らの了承を得て同居している。趣味は高いところに登ること。好きな食べ物はキュウリ・白玉あんみつ。グラビアカレンダー「White Allegory」が発売されている模様。<br>真央霊術院に入った後に大貴族の朽木家に養子として迎えられ、以降朽木白哉の義妹となる。白哉から養子に望まれたにも関わらず冷遇される事に戸惑いと寂しさを覚えていた。藍染謀反発覚後、養子の件が姉（緋真）の願いであったことを打ち明けられ、以後歩み寄る。
					</p>
					<p class="c-text">
						小説『THE HONEY DISH RHAPSODY』では、ルキアが療養中の白哉のために料理に奮闘したりと義兄妹の間にあった溝を埋めるエピソードが描かれている。以前の彼女の料理は恋次曰く「寿命が縮みそうなほどひどい味」だったらしいが、作中での料理の出来は悪くなかったようだ。
					</p>
					<p class="c-text">
						朽木家に入った後、十三番隊に入隊。志波海燕を敬愛していたが、ある現場で、虚と同化した彼を殺害する。海燕が虚に操られていた状況とはいえ、その行動の動機の主体が自分の感情であったこともあり、この事件が心に暗い影を落とし、海燕の死に対し自責の念を抱え続けた。このことは彼の弟妹との確執をもたらし、しかもアーロニーロ・アルルエリとの戦いにまで影響する。
					</p>
					<p class="c-text">
						一護にとっては自身と家族を救うために、死神の力を与えてくれた恩人であり、織姫はルキアを「一護の世界を変えた人」だと評している。ルキアにとっての一護は、初めて会った時から何故か信じることが出来る、特別な絆を感じさせる存在と感じていた。また互いに雨の日に起ったトラウマを持ち、両者が関わり合う過程の中で、その暗い過去から脱却、一歩前へ進む力を得ている様に良い影響を与え合う相手である。処刑から助けられ己の居場所を自ら尸魂界と定めた後は、護り護られるような関係ではなく戦士として対等な立場で一護と共に戦おうとしている。
					</p>
					<p class="c-text">
						同じ「戌吊」出身の阿散井恋次とは幼馴染で、そこで出会った時から当時の仲間と一緒に生活していた。共に霊術院に入学したが霊力の違いによりクラスが分かれ、さらに朽木家との養子縁組の話により、気遣う心が裏目となって一時期疎遠になった。捕縛時は白哉と共に敵のごとく現れたが、処刑の際には恋次と和解した。その後、現世派遣や虚圏突入では、行動を共にする。
					</p>
					<p class="c-text">
						任務中に一護と出会い、虚によって負傷したため一護に力を渡して義骸に入り、回復を待つこととする。一護の家にも居候し、高校にも通っていた。戦いの中、一護に死神や虚のことを教え、他の現世組とも関わっていくことになる。
					</p>
					<p class="c-text">
						止むを得ない事態だったとはいえ、死神能力の人間への譲渡という重罪を犯したことを咎められ、尸魂界に連れ戻され処罰を受ける。処刑が迫る中、かつて自らが犯した罪を思い、犠牲を強いてまで助けられることより処刑による死を受け入れる心境に陥っていた。後に、藍染がかつて行った虚の死神化の実験という経緯が海燕の死の裏にあった事を知る。一時は藍染惣右介の謀略により死刑囚となったが、一護や恋次、白哉らに助けられ、無事解放される。処刑中止後に海燕の妹・空鶴に海燕を殺したことを謝罪、志波家との間のわだかまりが解ける。その後自らの意志で尸魂界に残ることを決意する。
					</p>
					<p class="c-text">
						尸魂界で徐々に死神の力を取り戻していき、破面の現世襲来を受け恋次らと共に現世へと派遣され、一護たちと再会、黒崎家の居候として先遣隊の活動をする。藍染及び破面との決戦に備え、浦原に戦線離脱を通告された織姫と二人で尸魂界で修行を始める。
					</p>
					<p class="c-text">
						三度目の破面襲来時に虚圏に連れ去られた織姫を救出するため、一度は山本元柳斎重國の厳命により他の先遣隊メンバーと共に尸魂界に連れ戻され阻まれるも、白哉に後押しされる形で恋次と共に一護たちの後を追う形で虚圏に潜入する。アーロニーロ・アルルエリとの交戦で相討って重症、ゾマリに止めを刺されそうになったところを救援に来た白哉、花太郎に救われる。虚圏に幽閉された後は、花太郎に傷の治療を受け回復し、スタークに再び連れ去られた織姫の救出に向かう一護を恋次・チャドと共に援護、葬討部隊そして葬討部隊隊長のルドボーンと交戦。ルドボーン戦勝利後は恋次・チャドと共にヤミーと交戦し、刀剣解放したヤミーに圧倒されるも、ウルキオラを倒して戻って来た一護に窮地を救われる。空座町決戦終結後は一護の力の消失に伴い、一護と別れる。<br>そして一護と再会するまでの間に十三番隊副隊長へと昇進し、髪も以前より短く切っている。一護の窮地に浦原・一心と共に現れ、隊長格ら死神の霊圧が込められた剣を突き刺すことで一護に死神としての能力を取り戻させ、後に恋次・白哉・剣八・一角・日番谷と共に完現術者との決戦に参戦する。
					</p>
					<p class="c-text">
						小説『The Death Save The Strawberry』では織姫と語らったことをきっかけに一護に死神の力を取り戻させようと決意し、浦原がそのために開発した「複数の死神の霊圧を込められる剣」に霊圧を込めさせようと行動していたことが明らかとなる。当初は人間への死神能力の譲渡は重罪であるため、問題事に巻き込ませない配慮から日番谷以外の日番谷先遣隊メンバーと花太郎に極秘に呼びかけたが、その動きが護廷十三隊内で広まわり、一護に感謝する一般隊士の霊圧までも集うようになった。最終的に銀城出現の一報に伴い、この事を元柳斎にも知られるが、原作にあるように一護に死神の力を取り戻すことが護廷十三隊全体の総意となったため、これまでの活動の問責は不問となった。
					</p>
					<p class="c-text">
						尸魂界に攻め込んできた星十字騎士団（口調からして女性）の一人と交戦している最中、白哉の危機を感知して向かおうとした隙を付かれて重傷を負う。その後、零番隊によって一護・白哉・恋次と共に霊王宮へ連れて行かれ、『麒麟殿』の白骨地獄と血の池地獄で治療を受ける。回復した後は、零番隊の兵主部一兵衛の零番離殿で恋次と修行していた。そして修行を完了し、恋次と共に瀞霊廷へ到着する。 帰還後は義兄・白哉の卍解を奪ったエス・ノトと対峙。修行により身に付けた袖白雪の真の力と卍解、そして復活を果たして後から駆け付けた白哉の助けも受けてエス・ノトを撃破した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『袖白雪』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放とともに、刀身も鍔も柄もすべて純白の形状に変化し、柄頭に先の長い帯がつく。冷気を用いた技を繰り出す氷雪系の斬魄刀。現在、尸魂界でもっとも美しい斬魄刀。袖白雪から繰り出される技「初の舞・月白」「次の舞・白漣」はともに志波海燕との修行のもと編み出した技である。斬魄刀票では2位を獲得している。</dd>
						<dd class="ability__txt c-text">この斬魄刀の真の力は「所有者自身の体温を氷点以下にする」こと。自らの体温を下げて自身に触れた者を凍てつかせることがこの斬魄刀の真価で、刀は氷結範囲を広げるための腕に過ぎない。この力を発動させて自らの霊子を制御することにより一時的に肉体を死亡させることが可能で、その肉体の中ではすべての分子運動が停止する。</dd>
						<dd class="c-ability__txt c-text">解号は「舞え『袖白雪』（まえ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「初の舞・月白（そめのまい・つきしろ）」</span>
						</dt>
						<dd class="ability__txt c-text">刀で円を描いた場所の天地すべてを凍らせる。志波海燕との修業で開発。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「次の舞・白漣（つぎのまい・はくれん）」</span>
						</dt>
						<dd class="ability__txt c-text">刀で地面を四か所突き、そこから強大な凍気を一斉に雪崩のように放出して、敵を凍らせる。志波海燕との修業で開発。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「参の舞・白刀（さんのまい・しらふね）」</span>
						</dt>
						<dd class="ability__txt c-text">刀身の延長上に大気中の水分から形成した氷の刃で攻撃する。自在に刀身の長さを変えることもできる。アーロニーロ（破面篇）、群青（『地獄篇』）戦では刀身が折れた状態で使った。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「樹白（じゅはく）」</span>
						</dt>
						<dd class="ability__txt c-text">刀で地面を刺した場所から地面を伝い敵を凍らせる。アニメ272話でルドボーンを倒すときに使われた。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『白霞罸（はっかのとがめ）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">発動には体を力に馴染ませるための時間が必要で、温度は絶対零度まで下げることも可能。しかし温度を下げれば下げるほどに活動限界時間が短くなり、絶対零度下では4秒しか動くことができない。さらに力を解除して体温を元に戻す際には時間をかけて徐々に温度を上げなければならず、一気に解こうとすると体組織が崩壊する危険性を持つ。能力解放とともに髪飾りをつけて着物をまとった美しい氷像のような姿となる。解放と同時に凄まじい冷気を周囲に放ち、影響下にあるものを一瞬で凍てつかせる。完全に凍てついた敵は氷の塵となって砕け散り、欠片すら残らないほどの威力を持つ。同時に前述の体組織崩壊の危険性の度合いも上がり、半歩でも卍解の解除を誤れば命を落とすほどになる。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>