<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_01">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">真血とは</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">21巻にて、一心と対峙したグランド・フィッシャーが言った「真血」という言葉の意味であるが、この時点では詳しい解説は出ていなかったが、空座町決戦での、藍染により一護は死神と人間との子どもだと判明する。</p>
						<p class="detail-list-img"></p>
					</li>
					<li class="detail-list__item detail-list__02">
						<p class="c-txt detail-list-txt">しかし、最終章にて、一心から語られたことにより、一護の母真咲は、純血統の滅却師であることが判明。真咲は普通の人間ではなかった。</p>
						<p class="detail-list-img"></p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>