<%- include('../../inc/_head', {page_flg:'story_detail', page: json['story_detail']}) %>
<body>
<div class="container second story story_detail story_01">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'story'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<div class="main-contents_second">
			<h2 class="c-tit-lv_2">STORY</h2>
			<div class="inner">
				<ul class="story-detail-list">
					<li class="story-detail-list__item story-detail-list__01">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">ある日突然</span>
									<span class="story-detail-list__txt-tit_bottom">死神の少女と出会う</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ある日、謎の少女に出会う。彼女は自分が死神だという。<br>
									突如虚が一護たちを襲撃し始め、家族を守るために、立ち向かう一護であったが、
									一護を庇った少女は重傷を負ってしまう。家族を助けるために、
									少女から死神の能力を吸収し、虚を撃破した一護であった。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__02">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">新たな種族だが</span>
									<span class="story-detail-list__txt-tit_bottom">希少種の滅却師</span>
								</p>
								<p class="story-detail-list__txt-txt">
									死神の業務に少しずつ慣れた一護の前にクラスメイトの石田雨竜が現れた。<br>
									彼は絶滅したはずの種族「滅却師」であるという。死神と滅却師のどちらが優れ
									ているかをかけて、勝負を挑んできた。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__03">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">個々の斬魄刀には</span>
									<span class="story-detail-list__txt-tit_bottom">名前があるらしい</span>
								</p>
								<p class="story-detail-list__txt-txt">
									尸魂界からの刺客がルキアに襲いかかって来た。<br>
									名前は阿散井恋次といい、斬魄刀の能力を駆使して一護を追い詰めるが、
									突如一護の霊圧が跳ね上がり、劣勢になってしまう恋次。しかし朽木白哉の介入で
									事なきを得た。白哉に死神の力を砕かれた一護は、連れ去られたルキアを助けるた
									めに、浦原喜助の所で修業をすることに。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__04">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">門が閉ざされたので</span>
									<span class="story-detail-list__txt-tit_bottom">強行突破で突入する</span>
								</p>
								<p class="story-detail-list__txt-txt">
									夜一の先導のもと、尸魂界に潜入する。途中色々な障害が起こるが何とか、尸魂
									界に潜入することに成功する。出てきた先は、西流魂街というところで、夜一に
									よると、西流魂街にいる志波空鶴に協力してもらわないと瀞霊廷には侵入できな
									いという。志波空鶴に会いに行く一同、一護たちの予想に反して空鶴は女であっ
									た。彼女は、西流魂街一の花火師であるという…。
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="/cob/story/" class="c-btn_detail story-list-back">To STORY</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>