<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'urahara',
    'otoribashi',
    'hirako',
    'risa',
    'aizen',
    'masculine',
    'hiyori'
  ];
%>
<body>
<div class="container second character kensei">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">肉弾戦を得意とする</span><br>
						<span class="character-detail-nickname_bottom">護廷十三隊九番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">六車拳西</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">179cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">75kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月30日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">仮面の軍勢→護廷十三隊九番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">断地風</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">鉄拳断風</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長・現隊長<br>銀色の短髪で筋肉質の目つきが悪い男。冬でもタンクトップ。左耳に三つ、左眉に一つピアスをしている。短気で気性が荒く、冗談が通じない性格で、些細な事でも青筋を立てながらキレる。特に織姫の天然っぷりにはかなり苛々していた。こうした一面に反して料理は上手。虚化すると、ホッケーマスクに似た仮面が現れる。110年前は護廷十三隊の九番隊隊長で、「六車九番隊」と暴走族のようだった。羽織は袖のないタイプ（というよりノースリーブ）。既に短気な性格で（アニメ次回予告での平子によれば、その煩さで総隊長が不眠症になったとのこと）。
					</p>
					<p class="c-text">
						101年前に当時隊の五席だった東仙を含む部下４人を率いて魂魄消失案件を調査し、幼少の頃の檜佐木を助けていた。その後突然の急襲を受けた後、虚化し平子達を襲撃した。<br>空座町での藍染一派との決戦では、戦闘不能になった白に代わってワンダーワイスに卍解して戦いを挑む。以降の描写はなく、勝敗は不明だが、ワンダーワイスは藍染と元柳斎の元に現れている為、敗北して戦闘不能になったと思われる。
					</p>
					<p class="c-text">
						その後はしばらく登場しなかったが、藍染との決戦後、九番隊隊長に復帰している（羽織は110年前と同一だが、帯の代わりにベルトを装着している）。尚、代々九番隊隊長が兼任するはずの瀞霊廷通信編集長業務に関しては、隊長職を空けていた時期が長いため「現状に慣れるまで」という名目上編集長は檜佐木が引き続き代行しているが、拳西本人はこの役職に就く意思は全くない。代わりに檜佐木が受け持つべき副隊長業務を自身が請け負うことでバランスを取っているようである。
					</p>
					<p class="c-text">
						星十字騎士団との戦いでは、対戦相手は不明だが卍解を奪われずに済んだ。敵の撤退後は、戦力増強のために白と二人で檜佐木の卍解習得に協力する。二回目の侵攻では、戦闘不能となった修兵の代わりにマスク・ド・マスキュリンと対峙し、卍解を以って交戦する。一度は追い詰めるが聖文字の能力でパワーアップしたマスキュリンの前に敗れる。その後ルキアによってローズと共に勇音の所へ運ばれ治療を受ける。
					</p>
					<p class="c-text">
						勇音の所で治療を受けていたが、グレミィの能力によりローズと共に心停止してしまう。その後、マユリがゾンビの日番谷を撃破した直後にローズ・乱菊と共にゾンビの状態でマユリたちと相対し、マユリの引き連れた破面たちと交戦する。破面の血液に仕込んだ薬の効果で、日番谷と同じ過去旅行の効果の症状が現れ、さらに別の新薬により、マユリの言うことを聞くゾンビになりジゼルを刺す。マユリ・ローズと共に白哉の所へ加勢に赴き、ペペに操られた檜佐木を倒す。ペペが拳西を操ろうと能力を使うが、ゾンビの状態（マユリのゾンビの状態）では操ることができず、ペペをタコ殴りにして吹っ飛ばす。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『断風（たちかぜ）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に風を纏い、コンバットナイフのような形状に変化する。振るうと風を糸状にして飛ばし、斬った太刀筋を炸裂させる能力を持つ。現世に身を置くことになってから隊長に復帰するまでは始解の状態を保って携帯していた。</dd>
						<dd class="c-ability__txt c-text">解号は「吹っ飛ばせ『断風』（ふっとばせ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『鐵拳断風（てっけんたちかぜ）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に握り懐剣状に変化し、両腕が風神の羽衣を思わせる装甲の様なもので覆われる。始解による炸裂の威力が拳に込められており、拳が触れてる間は炸裂能力が無限に叩き込まれ続ける。攻撃時はメリケンサックのような形状に変化し、卍解そのものの耐久力も高い。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__txt c-text">ホッケーマスクに似た仮面が現れる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「爆弾突き（ばくだんつき）」</dt>
						<dd class="c-ability__txt c-text">両手で霊圧を溜めて球状にし、相手を突くのと同時に爆発させる技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「サンドバッグ・ビート」</dt>
						<dd class="c-ability__txt c-text">虚化後に使用。正拳突きで何度も連打する技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>