<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'genryusai',
    'syunsui',
    'risa'
  ];
%>
<body>
<div class="container second character nanao">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">享楽を上手く扱う</span><br>
						<span class="character-detail-nickname_bottom">頼れる八番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">伊勢七緒</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">164cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">48kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月7日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊八番隊→一番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">羊羹</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						副隊長・八番隊副隊長代行・元八番隊副隊長。<br>
						眼鏡をかけた生真面目な女性。一人称は「私」。フラフラしている八番隊からの付き合いである京楽に憤りを感じていることも多く（あまりにも仕事をしない京楽を椅子に縛りつけていたりもしている）、そっけない態度が目立つが敬慕している。110年前から護廷十三隊に所属しており、当時は最年少で草鹿やちると同程度の体格だった。当時の八番隊副隊長であったリサとともに、月に1回読書をしていた。京楽にリサの所在を確認するために毎月会いにいっており、この頃から女好きな京楽には覚えがよかった模様。
					</p>
					<p class="c-text">
						神官の家系である伊勢家の出身で、両親はすでに故人。父親が京楽の兄であったため、京楽から見て姪にあたる。霊術院の在籍中に支給された浅打を自らのものにできなかったため、後述の一件まで斬魄刀は所持しておらず、代わりに鬼道の才覚に秀でていたため入隊試験を受けることができたという経歴がある。自身の適性を判断して鬼道衆に配属希望を出していたが、実際に配属されたのは当時京楽が隊長を務めていた八番隊であった。本人曰く、鬼道の才のみで副隊長（当時は八番隊）に任命されたらしい。戦闘においては京楽に似て冷徹。千年血戦篇まで、本編での戦闘シーンがなかった（破面との戦いでも待機）にもかかわらず、ゲーム『ヒート・ザ・ソウル3』に登場しており、瞬歩と鬼道を組み合わせた戦闘スタイルを持っている。瞬歩による移動スピードは速く、茶渡がほかの死神たちを倒して京楽が戦うことになったとき「私一人でも十分」と言っていることから、強さにそれなりの自信はある様子。
					</p>
					<p class="c-text">
						女性死神協会での活動では会員たちを仕切っているが、彼女らの行動に悩まされることも。女性死神協会を取り仕切っているため女性の権利にはうるさく、女性蔑視の発言をされたときに（アニメで）怒ったことがある。
					</p>
					<p class="c-text">
						千年血戦篇でも前線に出ていないが、元柳斎の死後に京楽が一番隊隊長に就任した際、「自分の扱いを熟知している」との理由から一番隊副隊長に任命された。二度目の侵攻では京楽とともにハッシュヴァルトと対峙し結界を張って京楽を援護し、初めて能力を披露した。アニメオリジナルでは、何度か鬼道を使ったことがある。後に京楽らに追随して、霊王宮に突入する。その後、リジェの狙撃を阻止するために一人残った京楽の命で平子たちと一旦は先に進むも、自身は再度京楽のもとへ戻り、そのまま京楽とリジェの戦いに参戦する。そして、ついに京楽から自身の斬魄刀を返され、それを手にリジェに立ち向かう。そして、京楽の助けを借りて、リジェを真っ二つにする。戦いが終息した後の小説版では、副官に沖牙がいるという理由でリサに引き抜かれそうになるが京楽が却下した為、正式に決まるまでの間は八番隊副隊長代行として京楽・リサ両名の副官となった。
					</p>
					<p class="c-text">
						『カラブリ+』では、バレンタインチョコを期待する京楽に素っ気ない態度をとりつつも、実はチョコを作っていた。休日は図書館通いかショッピングで過ごしている。自身の連載である読者の悩みやぼやきを一喝する瀞霊廷通信内のコーナー「大概にしてください」はトップ3を誇る人気を持つ。
					</p>
					<p class="c-text">
						胸があまりないことを気にしており、アニメで海に行ったときは水着にパットを入れていた。小説版でも、松本に貧乳と言われて気にする描写がある。
					</p>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>