<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_04">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">更木剣八の強さ</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">最終章にて、更木剣八は首領ユーハバッハ（実際にはに化けたRのロイド・ロイドだが）に惨敗。更木は最初一護に僅差で敗北し（実際は引き分けのようなものだが）、後に十刃のノイトラ・ジルガに僅差で勝利する。星十字騎士団の襲来後、享楽の命にて、卯ノ花八千流と戦うことになった際、卯ノ花には「更木剣八は、昔自分と戦った際に、ぎりぎりで戦いを楽しむことに興味を持ってしまい、さらに卯ノ花自身を倒してしまった場合、これから楽しめなくなるのではと思い、無意識の内に、制限してしまうようになったのでは」と推測されている。ただ、少し引っかかるのは、幼少期の更木は既に初代護廷十三隊の剣八であった卯ノ花に勝てる力を持ちながら、大人になって十一番隊隊長になり、身体的にかなり強くなっていそうなのにも関わらず、卯ノ花に最初はまるで歯が立たなかったのはなぜなのかと思う。それほどにまで力を制限してしまっていたということなのだろうか。</p>
						<p class="detail-list-img"></p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>