<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'byakuya',
    'renji',
    'rukia',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character asnodt">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">根源的な恐怖を与え</span><br>
						<span class="character-detail-nickname_bottom">精神を焼き切る滅却師</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">エス・ノト</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">F(恐怖:THE Fear)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">神の怯え</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						棘の着いた黒いマスクをした黒い長髪で痩身の男。服のボタンが霊子兵装となっており、マスクの下には唇の周囲が削ぎ落とされたかのような痛々しい傷跡があり、歯が剥き出しになっている。眼球に滅却十字を隠し持つ。
					</p>
					<p class="c-text">
						瀞霊廷に侵攻し、後述の能力とともに白哉から奪取した卍解を使用し圧勝する。その後、バズビーやナジャークープとともに元柳斎を奇襲するも返り討ちにされるが、バズビーが炎を相殺したことで火傷を負ったにとどまった。
					</p>
					<p class="c-text">
						二度目の侵攻では浦原の侵影薬により白哉に卍解を取り戻されたが、卍解に対して未練たらたらだった。その後、単独で行動していたルキアと遭遇、白哉をおびき寄せるために交戦する。零番離殿の修行により『袖白雪』の真の能力に開花したルキアに一度は氷漬けにされるも、ユーハバッハへの恐れから自力で氷結を打ち破り完聖体へと変貌。逆襲に転じるも助太刀に現れた白哉の励ましを受け、心を強く持ち直したルキアの卍解の前に粉々となって散った。
					</p>
					<p class="c-text">
						もともとは「聖別」から生き残った滅却師の1人であったが、呼吸器を必要とする虫の息の状態であり、死後の恐怖に怯える日常を過ごしていたところをユーハバッハに力を与えられた。このときは至って普通の顔であり、口調も片言ではなかった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『恐怖（ザ・フィアー）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“F”の能力。標的を周囲に浮かぶ棘のような「矢」で射ることで、理屈ではない理由なき「本能からの恐怖」を強力に呼び起こす。矢に触れると黒い液体のような「恐怖」が滲み出し、並大抵の相手は射られた瞬間に発狂し、強い精神力を持つ者も著しく動きに精細さを欠く状態となる。矢の動きを物理的に止めたとしても滲み出す恐怖は止められない。ただし、生命活動を行っていない細胞に対しては効力を発揮しない弱点がある。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『神の怯え（タタルフォラス）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">背に茨のような羽と頭上に茨の冠を思わせる輪に囲まれた五芒星が出現、白目を剥いた眼からは血涙のような模様が現れ、両腕が黒く変色、体の皮膚がロングスカートのように伸び、足元から喉元までを縫合痕が刻まれた姿となる。</dd>
						<dd class="ability__txt c-text">「恐怖」の能力が強化され、自身の姿を見た者の視神経から脳内に恐怖を捻じ込み脳を焼き切る。一度でも目視すれば眼を閉じても逃れることはできず、本体以外にも同様の効果を与える無数の眼が生えた肉壁を形成でき、自在に移動させて標的を囲むことも可能。さらに胴体の縫合を解くことで腐敗したゾンビのような巨大な姿となる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">自分の周囲に円錐状の矢を出現・滞空させ、「恐怖」の能力と併せて使用された。初回の白哉との戦闘では10本ほど、ルキアとの戦いでは20本以上の矢を用いた。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>