<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'byakuya',
    'rukia',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'szayelaporro',
    'aaroniero',
    'yammy'
  ];
%>
<body>
<div class="container second character zommari">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">十刃最速の響転を持つ</span><br>
						<span class="character-detail-nickname_bottom">第7十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ゾマリ・ルルー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">196cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">100kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">10月13日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">呪眼僧伽</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">陶酔</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第7十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						坊主で頭部には棘のような仮面の名残があり、首には首飾り、耳には仮面が変化した髑髏のピアスをしている黒人風の男。下顎に黒色の仮面紋がある。厳かな雰囲気を漂わせている。言葉遣いは丁寧だが、戦闘では卑劣な戦法を取るのも厭わない。また、首を落とさない限りは死を確認するすべはないという厳しい考えを持つ。『7』の刻印の箇所は不明で、右乳首部分に虚の孔がある。 また、破面化した時期も不明。
					</p>
					<p class="c-text">
						アーロニーロとの戦いで重傷を負ったルキアに止めを刺そうとするが、救援に来た白哉と交戦。斬魄刀を解放し、愛の力でルキアを操り彼女の命を盾に取るが、その戦い方が白哉の怒りを買い、結果白哉の一刀のもとに切り伏せられ、「藍染様万歳」を叫びながら消滅した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『呪眼僧伽（ブルヘリア）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">解放する前には胸の前へ刀を浮かべ、手のひらを胸の前で合わせ、さながらヨガを思わせる構えをとる。その際に首が横に90度倒れ、刀がひし形にへし曲がる。その状態の刀から噴き出した白い液体に体が包まれることで帰刃が完了する。</dd>
						<dd class="ability__txt c-text">解放すると全身が白いスーツに包まれ、頭部が顔の正面以外髑髏の仮面で覆われる。目元にも仮面紋が浮かび上がり、下半身がいくつもの人面を持つ巨大な南瓜のように変化。同時に、頭部にあるものも含め50以上の目が全身に出現する。</dd>
						<dd class="c-ability__txt c-text">解号は「鎮まれ『呪眼僧伽』（しずまれ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「愛（アモール）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。その目で見つめたものの支配権を奪う能力。支配権を奪われた対象は支配された箇所に模様が浮かび上がり、自分の意思とは関係なく、ゾマリの意思に操られる。範囲は、脚などごく一部の部位だが、相手の頭を支配すれば支配は全身に及ぶ。支配できる箇所は目一つにつき一箇所。全身に50以上の目があるため、全ての目を使えば50箇所以上を一度に支配できる模様だが、白哉の卍解・千本桜景厳の数億の刃に囲まれた時には、一つの目につき刃一枚にしか効果を及ぼせないという相性の悪さから、無力に等しかった。また、白哉の分析によると鬼道に近い能力らしく、縛道の八十一『断空』などで防ぐことが可能。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「守胚姿勢（エル・エンブリオン）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。上半身を下半身に埋没させ、四方からの攻撃から身を守る。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「双児響転（ヘメロス・ソニード）」</dt>
						<dd class="c-ability__txt c-text">十刃最速を誇る響転に独自のステップを加えることで、最大で5体まで擬似的な自身の分身を作り出す。彼曰く「手品の類のお遊び」。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>