<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_06">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">歴代十刃</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">作中に登場した十刃は10人いた。しかし、アーロニーロを撃破した後に現れたゾマリによれば、「初期の十刃の生き残り」と言われており、さらに前から十刃というのは存在していたようだ。
							初期は「刃」と表記されており、「七つの大罪」を司っていたという。人数が10人に増えたことで「十刃」という表記になったらしい。
							初期メンバーは、バラガン、ザエルアポロ、アーロニーロ、ヤミーの4人が判明している。詳細な時期は不明だが、ザエルアポロに関しては元第0刃だという。
						</p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>