<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'hitsugaya',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy',
    'hiyori'
  ];
%>
<body>
<div class="container second character harribel">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">部下想いで思慮深い</span><br>
						<span class="character-detail-nickname_bottom">紅一点の第3十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ティア・ハリベル</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">175cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">61kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月25日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">皇鮫后</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">犠牲</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第3十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現十刃の紅一点。金髪・褐色肌の女で睫毛が特徴的。かなりのナイスバディであり、解放後はさらに強調する格好になっている。顔の下半分は服で隠れているが、ファスナーを外すとマスク状の仮面の名残があり、それが、胸上部まで伸びている[9]が、口元の仮面の下は特に変わった口などはなく、至って普通である。ファスナーを外した時の右乳房の内側に『3』の刻印があり、下腹部（子宮が位置する部位）に虚の孔がある。従属官は皆女性。アニメでは露出度が控え目になっているが、DVDカバーでは原作通りの服装となっている。
					</p>
					<p class="c-text">
						比較的冷静で思慮深く、戦闘面でも慎重な戦い方を取る。スタークとウルキオラ同様、藍染への忠誠心は他の十刃と比べ、比較的高いと思われる。自身の従属官達に対しては戦士の気構えを諭したりと気さくに接しているためとても慕われており、自身も戦いに敗れた部下達を称え、その部下の仇を取ろうとするといった部下思いの一面を覗かせている。その性格ゆえに、従属官を蔑ろにする傾向にあるザエルアポロを始めとする他の十刃との仲は芳しくなかった（スタークは例外）。また、虚化した一護の霊圧を十刃級と評するなど、探査神経にも長けている。
					</p>
					<p class="c-text">
						アパッチら従属官達と共に藍染の現世空座町への侵攻に同行し、日番谷と交戦。部下が元柳斎に倒されたことを機に斬魄刀を解放して戦うも、日番谷の「氷天百華葬」で氷漬けにされ一旦は敗北。ワンダーワイスの介入でその状態から脱し、仮面の軍勢介入後はひよ里・リサ・日番谷と3対1の戦いを展開するが、バラガン、スタークが敗北したことで十刃の力を見限った藍染に切り捨てられた。その際藍染に反旗を翻すも、逆に返り討ちにされて瀕死の重傷を負う。
その後、小説で一護と藍染の対決に決着がついた後、アパッチに助けを求められた織姫の治療で一命を取り留め、自身の従属官達と共に虚圏に帰還。消息不明のグリムジョーを除き現十刃唯一の生き残りとなった。バラガン亡き後の虚圏の王座に立ってほしいとアパッチらに薦められるも拒否し、虚圏の終わることのない争いの中に戻るために旅立ったことが明かされた。
					</p>
					<p class="c-text">
						千年血戦篇ではバラガンとスターク亡き後の虚圏を実質的に統治していたが、虚圏が"見えざる帝国"からの襲撃を受けた際にユーハバッハに敗れ去り、囚われの身となる。以降は登場せず、最終回でもどうなったかは明かされなかった。
小説『BLEACH Can't Fear Your Own World』では、その後にネリエル達に救出されたのが判明した。そして、霊王の実態を目の当たりにし、藍染が代わりに天に立とうとした感情に少なからず理解を示した。和尚に見逃され虚圏に帰還した後は、虚を兵隊にしようと襲撃してきたリルトットやジゼルやゾンビとなったバンビエッタと敵対するが、「王様」になるべく乱入した彦禰と交戦する事となる。
					</p>
					<p class="c-text">
						アニメ版では、ヴァストローデ級だった大虚時代の過去が描かれている。ヴァストローデ級当時は眼以外は全て仮面で覆われている以外は解放後とよく似た姿をしているため、厳密に言えば未完成の破面に近いヴァストローデ級の大虚である。アパッチ達とはその頃から共に行動し助け合ってきたが、藍染に出会う前のバラガンに目をつけられており、配下になるよう強要されていたが、バラガンに迎合することはなかった。他の大虚を喰らう犠牲を強いて自身が強化することを望まずにいたが、ある時のいざこざからバラガンの部下だった破面に恨みを抱かれ、殺されそうになったところを藍染に助けられ、「力を得れば犠牲を生むことはない」と語る藍染の下についた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『皇鮫后（ティブロン）』</span>
						</dt>
						<dd class="ability__txt c-text">解放前は真ん中が空洞になっている巨大な段平のような形状で、背中に添えている。空洞に霊圧を集め、斬撃を強化することができる。解放する際は二枚貝状の波がハリベル自身を包み、さらに巻貝状に回転した水を大剣で切り裂いて現れる。</dd>
						<dd class="ability__txt c-text">解放すると口元の仮面が消えて首から胸までの仮面の名残の形状が変わり、肩にショルダーガードを着け、両腕（手首）部にはグローブの付いたガントレットを装着、下半身にはミニスカートを纏い、背中に鮫のヒレを模したパーツを2つ着けた姿となり、足には鋭角な形状のボレイン（膝当）やグリーブ（臑当）、サバトン（鉄靴）を装着、持ち替え可能な鮫の頭部のような形状の大剣を装備し、両頬に藍色の仮面紋が現れる。水を自在に操る能力を持ち、水圧や水温を変化させた水を多用した戦法をとる。また戦場に満ちた水を使っての更なる大技を持っていたと日番谷に推察されるが、詳細は不明。アニメ版ではルピを破った「千年氷牢」を逆用し、水分量を増した更に強力な「断瀑」を使用した。</dd>
						<dd class="c-ability__txt c-text">解号は「討て『皇鮫后』（うて『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「波蒼砲（オーラ・アズール）」</span>
						</dt>
						<dd class="ability__txt c-text">解放前に使用。皇鮫后の空洞に霊圧を溜め、相手に撃ち放つ技。技名に反して色は黄色。</dd>
						<dd class="ability__txt c-text">誌上掲載時は「蒼剣砲（プロジェクティル・アズール）」と表記されていた。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「トライデント」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。大剣から高圧の霧状の斬撃を3連続で放つ技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「灼海流（イルビエンド）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。大剣から放つ熱気で氷を溶かす技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「断瀑（カスケーダ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。高圧力の激流で相手を押し潰す技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「戦雫（ラ・ゴータ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。大剣の刀身から水の塊を放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">解放後に使用。大剣を振って広範囲に放つ。色は黄色。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>