<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'sado',
    'urahara',
    'renji',
    'rukia',
    'aizen',
    'ulquiorra',
    'yammy',
    'ginjyo',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'bg9',
    'gerard',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'giselle',
    'kukaku'
  ];
%>
<body>
<div class="container second character uryu">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">死神を憎む</span><br>
						<span class="character-detail-nickname_bottom">滅却師の生き残り</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">石田雨竜</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">171cm（１年時）→177cm（３年時）</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">55kg（１年時）→57kg（３年時）</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">15歳 → 17歳</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">11月6日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">空座第一高校</dd>
							<dt class="character-profile__detail-head">武器</dt>
							<dd class="character-profile__detail-txt">弓矢</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">A(完全反立:THE Antithesis)</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">鯖の味噌煮（自作）</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">石田宗弦</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">Idioteque"/Radiohead(「Kid A」)</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">AB型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						黒崎一護のクラスメイトにして、公の記録では200年前（後述の涅マユリ個人の記録では十数年前）に尸魂界によって絶滅させられたはずの対虚退魔眷族「滅却師（クインシー）」の生き残りのひとり。現在、雨竜以外の同族が尸魂界側から確認されないため（父・石田竜弦は滅却師として活動していないため未確認）護廷十三隊の涅マユリに「希少種」と呼ばれる。
					</p>
					<p class="c-text">
						生き残った滅却師達が監視を受け続ける最中、（監視対象として）最後の滅却師だった祖父・石田宗弦の生き方や信念に憧れ、幼少から志願し滅却師としての手ほどきを受ける。しかしとある事件によって師匠である祖父を失い[1]、これが原因で尸魂界関係者を異常に嫌っていた。なお、尸魂界へ行くまで認識されていなかったため、監視対象からは外れていた。
					</p>
					<p class="c-text">
						死神代行である一護もその例外ではなく、彼との勝負で虚を呼び寄せる撒き餌を使うという、周囲を脅威に晒す様な非常に危険な行為を用いてでも、滅却師の力を証明しようとしたが、一護と接触するうちに考え方が変わってゆき、文句を言いつつも一護たちの傍にいるようになる。一護とはいわゆる腐れ縁となっている。 力押しの戦いやキャラが多い本作においては、珍しく頭脳を駆使して戦う人物（特にアニメオリジナル）でもある。祖父・宗弦を尊敬しているが、金にならないという理由で滅却師を否定する父・竜弦とは考え方の違いから反発しており、折り合いが悪い。また、竜弦のことを呼び捨てにしており、このことに対して竜弦は快く思っていない。アニメの番外編では竜弦と直接対決し、竜弦の方が矢の数が多いことが明かされた。
					</p>
					<p class="c-text">
						実家は総合病院を経営してそれなりの経済基盤を持っているが、母・片桐叶絵を早くに亡くし、父・竜弦と不仲であったこともあってか、空座第一高校に通っている頃には親元を離れアパートで一人暮らしをしている。そのためか暮らしぶりは貧乏であり、携帯電話をもっていない。
					</p>
					<p class="c-text">
						常に自分は滅却師であることを主張することを忘れず、様々な処でそれがうかがえる。普段は冷静沈着で芝居がかった口調が特徴。一学期の中間考査、期末考査は連続で学年トップになるほど頭も良く、教養も高く、破面たちが主に使うスペイン語の用語の意味を理解しており、皮肉として自ら使ったこともある。反面、やや天然の気があり、嘘が病的に下手。また女性に対して強く出られない所があり、嫌悪している死神でも女性に対しては紳士的。
					</p>
					<p class="c-text">
						勉学と滅却師以外では裁縫が特技で、手芸部員1年生にして部長を勤め、投げ上げた布を空中で縫う荒業を持つ。その腕にイヤミと敬意をこめて「メガネミシン」と影で呼ばれる。その腕は、ルキアの為に一から縫製し、破れた現世組面々の服をアレンジを加えた上で普段着として再び使えるまで修繕したり、破けたコンのぬいぐるみの修復（アレンジ込み）などに重宝されている[2]。チャド曰く、女物の服を作る才能がある。しかし自身が「かっこいい」と考えている感性に関しては一部のキャラ（主にコン）から批判されている。
					</p>
					<p class="c-text">
						滅却師を示す十字模様を好み、茶渡の服やコンの後頭部に勝手に付け加えたりしている。カラクライザーの衣装も手掛けた。得意料理はサバの味噌煮（単行本では筑前煮も得意と言っている）。第一印象が「弱い」と思われる事が多く、ペッシェには虚圏侵入組の中で一番弱いと思われていた。しかし、実際には隊長格を戦闘不能に追い込んだり、1回目のザエルアポロ戦で追い詰めるなど戦闘力は高い。一護や涅など一部キャラを除いては、大体は「さん」や「君」をつけることが多く、苗字で呼ぶことの方が多い。
					</p>
					<p class="c-text">
						ルキアを尸魂界へ連れて行こうとする恋次との対決に敗れてから、散霊手套を使いこなすための修行を行い尸魂界へ一護達と同行。瀞霊廷侵入後は織姫と行動を共にし、七番隊第四席の一貫坂慈楼坊を瞬殺し、涅マユリとの戦闘において祖父の死の真実を知り、滅却師最終形態で戦って卍解状態のマユリを一撃で倒す。その代償に滅却師としての能力を失う。
					</p>
					<p class="c-text">
						現世に戻った後、力を失った状態で虚に襲われるが竜弦に助けられ「死神とその仲間に今後一切関わらない」という条件の元、竜弦との修行により力を取り戻す。その後、父に下された条件のこじ付けで導き出した穴を突き、織姫救出のため、一護・チャドと共に虚圏に侵入。虚夜宮（ラス・ノーチェス）侵入後はチルッチ交戦時からペッシェ・ガティーシェと同行する羽目になる。ザエルアポロと交戦中の恋次の助っ人として参戦、ザエルアポロの能力に押されピンチに陥るが、虚圏にやってきたマユリに恋次と共に窮地を救われた。全ての黒腔封鎖による虚圏幽閉後は、ウルキオラと戦う一護の救援に駆けつける。一護に織姫の安全を任せられたが、織姫の気持ちを汲んで一護の元に駆けつけ、敗北した一護を織姫が治療する時間を稼ぐためにウルキオラと対峙するも敗北する。その際、左手首を失ってしまうがウルキオラの死後に織姫の治療によって元通りになった。
					</p>
					<p class="c-text">
						空座町決戦後の17ヶ月後は空座第一高校の生徒会長を務めており、死神の力を失った一護に変わり、浦原商店の要請時に限って虚退治に動いている（一護には尸魂界に目を付けられているんじゃないかと気にかけられている）。力を失った一護に霊圧がある事に気づき、一護の家の前までに行った時に謎の男（月島）が瞬歩を使っているかの様に空中を歩行しているのを目撃するが、追跡中に背後から銀城に斬られ重傷を負ってしまう。織姫に治療を施された後に病院を抜け出し、銀城と月島が仲間だということを一護に伝えようとしたが、既に手遅れで一護の完現術は奪われ、雨竜も月島によって再び重傷を負ってしまう。その後尸魂界から来たルキア達、死神の力によって一護は力を取り戻し、雨竜はルキアの応急処置によって戦線に復帰し、一護と共に銀城との戦闘に入る。しかし、その後は一護が一対一で銀城と戦うことになったため、途中からは戦線からは外れた。
					</p>
					<p class="c-text">
						アニメ版では病院から抜け出した後、独自に自分を斬った月島のことを調査するというエピソードが追加されており、一護の関係者に月島の霊圧の痕跡が残っていることに気づき、一護の元へと駆け付けた。虚圏が「見えざる帝国」に襲撃されたことをネルたちから聞かされた一護らは、救援のために虚圏へと向かおうとするが、虚の敵である滅却師としての立場を重んじ、独り同行を拒否した。その後の動向は不明であったが、ハッシュヴァルトに連れられて「見えざる帝国」に合流しており、ユーハバッハの後継者に任命される。この待遇には、星十字騎士団に彼に対する不信感を抱かせ、行動を監視させる意味も込められている。その後、力を覚醒させる為の刻印の儀式を終えてユーハバッハと同じ“A”の聖文字（シュリフト）を与えられる。「見えざる帝国」が瀞霊廷を侵食した後、ユーハバッハが眠りに就いている時にハッシュヴァルトからユーハバッハが戦い続ける理由を聞かされる。一護が瀞霊廷に到着し、ユーハバッハが雨竜・ハッシュヴァルトと共に霊王宮へと侵攻した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">弧雀（こじゃく）</dt>
						<dd class="c-ability__txt c-text">大気中に偏在する霊子を押し固めて形成される弓矢。放たれる矢の破壊力は集められる霊子の量に比例し、それに合わせて形態も変化する。石田はこの弧雀を発生させる際に、媒介として「滅却師十字（クインシークロス）」を用いているが、石田の父・竜弦の弓は、五角形の滅却師十字を核とするものではない。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">銀嶺弧雀（ぎんれいこじゃく）</dt>
						<dd class="c-ability__txt c-text">五角形の滅却十字を媒介に形成される特殊な形状の弓。霊力を取り戻した石田の新たな霊子兵装。弓を引きっぱなしにしていると無数の矢が次々と放たれ、最大で1200発の連射が可能。アニメでは虚の大群を一掃するために用いられている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">飛廉脚（ひれんきゃく）</dt>
						<dd class="c-ability__txt c-text">滅却師の高等歩法。足元に作った霊子の流れに乗ることで高速移動が可能となる。石田は死神の瞬歩よりも上だと思っている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">乱装天傀（らんそうてんがい）</dt>
						<dd class="c-ability__txt c-text">無数の糸状に縒り合せた霊子の束を動かない箇所に接続し、自分の霊力で自分の身体を操り人形のように強制的に動かす超高等技術。この術を発動すれば、手足が麻痺しても骨が砕けても霊力の続く限り、動き続けることができる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">緑杯（ヴォルコール）</dt>
						<dd class="c-ability__txt c-text">「盃よ西方に傾け（イ・シェンク・ツァイヒ）」の口上で発動。銀筒を二本使用。衝撃波を起こし、落下などの衝撃から自分の身を守ることができる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">五架縛（グリッツ）</dt>
						<dd class="c-ability__txt c-text">「銀鞭下りて五手石床に堕つ（ツィエルトクリーク・フォン・キーツ・ハルト・フィエルト）」の口上で発動。銀筒を一本使用。五つの帯で相手を縛り付ける。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">散霊手套（さんれいしゅとう）</span>
						</dt>
						<dd class="ability__txt c-text">霊子を高レベルで拡散させる力を持つ手袋。これをつけた状態で七日七夜弓を成す事が出来れば、散霊手套の霊子拡散能力を上回る霊子集束能力と、それを長時間持続させる力を身に付けた事となり、滅却師の高みに限りなく近づくことが出来る。ただし、そうなると、その霊子集束能力は散霊手套の拡散能力無しには自身でも制御し切れないものとなり、散霊手套を外すと霊子集束レベルが爆発的に向上し人間が使用できるレベルではなくなってしまうため、余程の才のある者で無い限り滅却師の力を失ってしまう。ハッシュヴァルトの言葉から正式名称は「苦難の手袋（ライデンハント）」と言い、かつて宗弦が帝国から持ち出した事が明らかとなった。その機構は真世界城を落とすべく、作られたチップに用いられている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">滅却師最終形態（クインシー・レットシュティール）</span>
						</dt>
						<dd class="ability__txt c-text">散霊手套をはずしたときの形態。霊子集束レベルが爆発的に向上し、大気中に偏在する霊子のみならず、霊子で構成された尸魂界の物質をも分解して自身の武器として再構築する事ができ、涅マユリはその様を「霊子の隷属」と評していた。戦闘能力は通常時より桁違いに高く、卍解したマユリを一撃で倒している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">銀筒（ぎんとう）</span>
						</dt>
						<dd class="ability__txt c-text">無数の糸状に縒り合せた霊子の束を動かない箇所に接続し、自分の霊力で自分の身体を操り人形のように強制的に動かす超高等技術。この術を発動すれば、手足が麻痺しても骨が砕けても霊力の続く限り、動き続けることができる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">聖噬（ハイゼン）</span>
						</dt>
						<dd class="ability__txt c-text">「大気の戦陣を杯に受けよ（レンゼ・フォルメル・ヴェント・イ・グラール）」の口上で発動。銀筒を複数使用。柱上の結界で相手を攻撃する。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>