<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_05">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">八千流とやちる</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">尸魂界編では、更木の副官として登場していた草鹿やちる。彼女は常に剣八と行動を共にしており、その後の破面編や死神代行消失編でも行動を共にしていた。最終章にて、「八千流」の正体が卯ノ花だと判明し、更木剣八は卯ノ花八千流との戦いを経て本来の力を取り戻す。星十字騎士団との戦いにて、途中から姿を消していたやちるはジェラルドとの戦闘の最中に姿を見せ、更木の卍解を発動させることになる。草鹿やちるは、更木の斬魄刀「野晒」の具象化の姿であったのだ。しかし、具象化のやちる自身も自分の斬魄刀を所持していたのはどういうことなのだろうかとは思ったが。八千流という名前に憧れを持った更木は出会って間もなかった草鹿やちるに何かを感じ取っていたのだろうか。</p>
						<p class="detail-list-img"></p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>