<div class="btn-pageTop">
	<a class="btn-pageTop__btn" href="#"></a>
</div>
<footer class="g-footer">
	<div class="g-footer__inner">
		<nav class="g-footer-nav">
			<ul class="g-footer-list">
				<li class="g-footer-list__item top">
					<a href="/cob/" class="g-footer-list__link">
						<span class="g-footer-list__txt">HOME</span>
					</a>
				</li>
				<li class="g-footer-list__item story">
					<a href="/cob/story/" class="g-footer-list__link">
						<span class="g-footer-list__txt">STORY</span>
					</a>
				</li>
				<li class="g-footer-list__item character">
					<a href="/cob/character/" class="g-footer-list__link">
						<span class="g-footer-list__txt">CHARACTER</span>
					</a>
				</li>
				<li class="g-footer-list__item consideration">
					<a href="/cob/consideration/" class="g-footer-list__link">
						<span class="g-footer-list__txt">CONSIDERATION</span>
					</a>
				</li>
			</ul>
		</nav>
		<p class="copyright">COPYRIGHT COB ALL RIGHTS RESERVED.</p>
	</div>
</footer>