<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= page['title'] %></title>
<meta name="robots" content="noindex">
<meta name="description" content="<%= page['description'] %>">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/cob/assets/img/common/favicon.ico">
<link rel="apple-touch-icon" href="/cob/assets/img/common/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/cob/assets/img/common/android-chrome-256x256.png">
<link rel="stylesheet" href="/cob/assets/css/default.css">
<link rel="stylesheet" href="/cob/assets/css/common.css">
<link rel="stylesheet" href="/cob/assets/css/parts.css">
<link rel="stylesheet" href="/cob/assets/css/animation.css">
<% if (page_flg === 'index') { %>
<link rel="stylesheet" href="/cob/assets/css/top.css">
<% } else if (page_flg === 'story_index') { %>
<link rel="stylesheet" href="/cob/assets/css/story.css">
<% } else if (page_flg === 'story_detail') { %>
<link rel="stylesheet" href="/cob/assets/css/story.css">
<% } else if (page_flg === 'character_index') { %>
<link rel="stylesheet" href="/cob/assets/css/slick-theme.css">
<link rel="stylesheet" href="/cob/assets/css/slick.css">
<link rel="stylesheet" href="/cob/assets/css/character.css">
<% } else if (page_flg === 'character_detail') { %>
<link rel="stylesheet" href="/cob/assets/css/character.css">
<% } else if (page_flg === 'consideration_index') { %>
<link rel="stylesheet" href="/cob/assets/css/consideration.css">
<% } else if (page_flg === 'consideration_detail') { %>
<link rel="stylesheet" href="/cob/assets/css/consideration.css">
<% } %>
<script src="/cob/assets/js/jquery-1.11.0.min.js"></script>
<script src="/cob/assets/js/jquery.easing.1.3.js"></script>
<script src="/cob/assets/js/vue.js"></script>
<script src="/cob/assets/js/device.js"></script>
<script src="/cob/assets/js/ua.js"></script>
<script src="/cob/assets/js/common.js"></script>
<script src="/cob/assets/js/component.js"></script>
<% if (page_flg === 'index') { %>
<script src="/cob/assets/js/top.js"></script>
<% } else if (page_flg === 'character_index') { %>
<script src="/cob/assets/js/slick.min.js"></script>
<script src="/cob/assets/js/character.js"></script>
<% } else if (page_flg === 'character_detail') { %>
<script src="/cob/assets/js/character_detail.js"></script>
<% } else if (page_flg === 'consideration_detail') { %>
<script src="/cob/assets/js/consideration_detail.js"></script>
<% } %>
</head>