<% var currentClass = 'is-current'; -%>
<header class="g-header">
	<div class="g-header__inner">
		<p class="logo">
			<a href="/cob/">
				<img src="/cob/assets/img/common/logo.png" alt="COB CONSIDERATION OF BLEACH">
			</a>
		</p>
		<!-- <div class="audio_wrap">
			<div class="audio_button"></div>
			<audio id="audio" src="/cob/assets/mp3/character.mp3" loop volume="0.3">
				あなたのブラウザーは <code>audio</code> 要素をサポートしていません。
			</audio>
		</div> -->
		<nav class="g-nav">
			<ul class="g-nav-list">
				<li class="g-nav-list__item home">
					<a href="/cob/" class="g-nav-list__link <%- current == 'index' ? currentClass : '' %>">HOME</a>
				</li>
				<li class="g-nav-list__item story">
					<a href="/cob/story/" class="g-nav-list__link <%- current == 'story' ? currentClass : '' %>">STORY</a>
				</li>
				<li class="g-nav-list__item character">
					<a href="/cob/character/" class="g-nav-list__link <%- current == 'character' ? currentClass : '' %>">CHARACTER</a>
				</li>
				<li class="g-nav-list__item consideration">
					<a href="/cob/consideration/" class="g-nav-list__link <%- current == 'consideration' ? currentClass : '' %>">CONSIDERATION</a>
				</li>
			</ul>
		</nav>
		<div class="menu-trigger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<nav class="sp-g-nav">
		<ul class="sp-g-nav-list">
			<li class="sp-g-nav-list__item home">
				<a href="/cob/" class="sp-g-nav-list__link <%- current == 'index' ? currentClass : '' %>">
					<span class="sp-g-nav-list__txt">HOME</span>
				</a>
			</li>
			<li class="sp-g-nav-list__item story">
				<a href="/cob/story/" class="sp-g-nav-list__link <%- current == 'story' ? currentClass : '' %>">
					<span class="sp-g-nav-list__txt">STORY</span>
				</a>
			</li>
			<li class="sp-g-nav-list__item character">
				<a href="/cob/character/" class="sp-g-nav-list__link <%- current == 'character' ? currentClass : '' %>">
					<span class="sp-g-nav-list__txt">CHARACTER</span>
				</a>
			</li>
			<li class="sp-g-nav-list__item consideration">
				<a href="/cob/consideration/" class="sp-g-nav-list__link <%- current == 'consideration' ? currentClass : '' %>">
					<span class="sp-g-nav-list__txt">CONSIDERATION</span>
				</a>
			</li>
		</ul>
	</nav>
</header>
<div class="overlay"></div>