<% for (var i = 0; i < data.length; i++) { %>
	<% if (data[i] === 'ichigo') { %>
	<li class="related-character-list__item ichigo">
		<a href="/cob/character/ichigo/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">黒崎一護</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'orihime') { %>
	<li class="related-character-list__item orihime">
		<a href="/cob/character/orihime/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">井上織姫</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'uryu') { %>
	<li class="related-character-list__item uryu">
		<a href="/cob/character/uryu/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">石田雨竜</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'sado') { %>
	<li class="related-character-list__item sado">
		<a href="/cob/character/sado/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">茶渡泰虎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'urahara') { %>
	<li class="related-character-list__item urahara">
		<a href="/cob/character/urahara/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">浦原喜助</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'yoruichi') { %>
	<li class="related-character-list__item yoruichi">
		<a href="/cob/character/yoruichi/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">四楓院夜一</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'isshin') { %>
	<li class="related-character-list__item isshin">
		<a href="/cob/character/isshin/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">黒崎一心</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'masaki') { %>
	<li class="related-character-list__item masaki">
		<a href="/cob/character/masaki/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">黒崎真咲</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'white_ichigo') { %>
	<li class="related-character-list__item white_ichigo">
		<a href="/cob/character/white_ichigo/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">白一護</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'genryusai') { %>
	<li class="related-character-list__item genryusai">
		<a href="/cob/character/genryusai/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">山本元柳斎重國</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'soifon') { %>
	<li class="related-character-list__item soifon">
		<a href="/cob/character/soifon/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">砕蜂</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'otoribashi') { %>
	<li class="related-character-list__item otoribashi">
		<a href="/cob/character/otoribashi/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">鳳橋楼十郎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'unohana') { %>
	<li class="related-character-list__item unohana">
		<a href="/cob/character/unohana/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">卯ノ花列</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hirako') { %>
	<li class="related-character-list__item hirako">
		<a href="/cob/character/hirako/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">平子真子</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'byakuya') { %>
	<li class="related-character-list__item byakuya">
		<a href="/cob/character/byakuya/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">朽木白哉</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'komamura') { %>
	<li class="related-character-list__item komamura">
		<a href="/cob/character/komamura/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">狛村左陣</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'syunsui') { %>
	<li class="related-character-list__item syunsui">
		<a href="/cob/character/syunsui/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">享楽春水</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'kensei') { %>
	<li class="related-character-list__item kensei">
		<a href="/cob/character/kensei/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">六車拳西</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hitsugaya') { %>
	<li class="related-character-list__item hitsugaya">
		<a href="/cob/character/hitsugaya/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">日番谷冬獅郎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'zaraki') { %>
	<li class="related-character-list__item zaraki">
		<a href="/cob/character/zaraki/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">更木剣八</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'ukitake') { %>
	<li class="related-character-list__item ukitake">
		<a href="/cob/character/ukitake/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">浮竹十四郎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'isane') { %>
	<li class="related-character-list__item isane">
		<a href="/cob/character/isane/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">虎徹勇音</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'renji') { %>
	<li class="related-character-list__item renji">
		<a href="/cob/character/renji/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">阿散井恋次</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'nanao') { %>
	<li class="related-character-list__item nanao">
		<a href="/cob/character/nanao/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">伊勢七緒</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hisagi') { %>
	<li class="related-character-list__item hisagi">
		<a href="/cob/character/hisagi/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">檜佐木修兵</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'rangiku') { %>
	<li class="related-character-list__item rangiku">
		<a href="/cob/character/rangiku/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">松本乱菊</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'rukia') { %>
	<li class="related-character-list__item rukia">
		<a href="/cob/character/rukia/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">朽木ルキア</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'risa') { %>
	<li class="related-character-list__item risa">
		<a href="/cob/character/risa/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">矢胴丸リサ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'aizen') { %>
	<li class="related-character-list__item aizen">
		<a href="/cob/character/aizen/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">藍染惣右介</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'gin') { %>
	<li class="related-character-list__item gin">
		<a href="/cob/character/gin/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">市丸ギン</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'stark') { %>
	<li class="related-character-list__item stark">
		<a href="/cob/character/stark/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">スターク</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'baraggan') { %>
	<li class="related-character-list__item baraggan">
		<a href="/cob/character/baraggan/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">バラガン</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'harribel') { %>
	<li class="related-character-list__item harribel">
		<a href="/cob/character/harribel/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ハリベル</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'ulquiorra') { %>
	<li class="related-character-list__item ulquiorra">
		<a href="/cob/character/ulquiorra/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ウルキオラ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'nnoitra') { %>
	<li class="related-character-list__item nnoitra">
		<a href="/cob/character/nnoitra/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ノイトラ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'grimmjow') { %>
	<li class="related-character-list__item grimmjow">
		<a href="/cob/character/grimmjow/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">グリムジョー</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'zommari') { %>
	<li class="related-character-list__item zommari">
		<a href="/cob/character/zommari/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ゾマリ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'szayelaporro') { %>
	<li class="related-character-list__item szayelaporro">
		<a href="/cob/character/szayelaporro/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ザエルアポロ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'aaroniero') { %>
	<li class="related-character-list__item aaroniero">
		<a href="/cob/character/aaroniero/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">アーロニーロ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'yammy') { %>
	<li class="related-character-list__item yammy">
		<a href="/cob/character/yammy/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ヤミー</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'nelliel') { %>
	<li class="related-character-list__item nelliel">
		<a href="/cob/character/nelliel/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ネリエル</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'white') { %>
	<li class="related-character-list__item white">
		<a href="/cob/character/white/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ホワイト</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'ginjyo') { %>
	<li class="related-character-list__item ginjyo">
		<a href="/cob/character/ginjyo/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">銀城空吾</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'tsukishima') { %>
	<li class="related-character-list__item tsukishima">
		<a href="/cob/character/tsukishima/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">月島秀九郎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'riruka') { %>
	<li class="related-character-list__item riruka">
		<a href="/cob/character/riruka/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">毒ヶ峰リルカ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'yhbh') { %>
	<li class="related-character-list__item yhbh">
		<a href="/cob/character/yhbh/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ユーハバッハ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'haschwalth') { %>
	<li class="related-character-list__item haschwalth">
		<a href="/cob/character/haschwalth/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ハッシュヴァルト</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'pernida') { %>
		<li class="related-character-list__item pernida">
		<a href="/cob/character/pernida/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ペルニダ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'nakklevaar') { %>
	<li class="related-character-list__item nakklevaar">
		<a href="/cob/character/nakklevaar/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ナックルヴァール</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'bambietta') { %>
	<li class="related-character-list__item bambietta">
		<a href="/cob/character/bambietta/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">バンビエッタ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'asnodt') { %>
	<li class="related-character-list__item asnodt">
		<a href="/cob/character/asnodt/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">エス・ノト</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'liltotto') { %>
	<li class="related-character-list__item liltotto">
		<a href="/cob/character/liltotto/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">リルトット</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'bazz-b') { %>
	<li class="related-character-list__item bazz-b">
		<a href="/cob/character/bazz-b/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">バズビー</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'cangdu') { %>
	<li class="related-character-list__item cangdu">
		<a href="/cob/character/cangdu/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">蒼都</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'quilge') { %>
	<li class="related-character-list__item quilge">
		<a href="/cob/character/quilge/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">キルゲ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'bg9') { %>
	<li class="related-character-list__item bg9">
		<a href="/cob/character/bg9/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">BG9</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'gerard') { %>
	<li class="related-character-list__item gerard">
		<a href="/cob/character/gerard/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ジェラルド</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'accutrone') { %>
	<li class="related-character-list__item accutrone">
		<a href="/cob/character/accutrone/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">アキュトロン</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'driscoll') { %>
	<li class="related-character-list__item driscoll">
		<a href="/cob/character/driscoll/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ドリスコール</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'meninas') { %>
	<li class="related-character-list__item meninas">
		<a href="/cob/character/meninas/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ミニーニャ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'masculine') { %>
	<li class="related-character-list__item masculine">
		<a href="/cob/character/masculine/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">マスキュリン</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'candice') { %>
	<li class="related-character-list__item candice">
		<a href="/cob/character/candice/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">キャンディス</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'gremmy') { %>
	<li class="related-character-list__item gremmy">
		<a href="/cob/character/gremmy/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">グレミィ</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'nianzol') { %>
	<li class="related-character-list__item nianzol">
		<a href="/cob/character/nianzol/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ニャンゾル</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'giselle') { %>
	<li class="related-character-list__item giselle">
		<a href="/cob/character/giselle/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">ジゼル</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hyosube') { %>
	<li class="related-character-list__item hyosube">
		<a href="/cob/character/hyosube/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">兵主部一兵衛</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'tenjiro') { %>
	<li class="related-character-list__item tenjiro">
		<a href="/cob/character/tenjiro/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">麒麟寺天示郎</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hikifune') { %>
	<li class="related-character-list__item hikifune">
		<a href="/cob/character/hikifune/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">曳舟桐生</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'oetsu') { %>
	<li class="related-character-list__item oetsu">
		<a href="/cob/character/oetsu/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">二枚屋王悦</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'senjyumaru') { %>
	<li class="related-character-list__item senjyumaru">
		<a href="/cob/character/senjyumaru/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">修多羅千手丸</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'kukaku') { %>
	<li class="related-character-list__item kukaku">
		<a href="/cob/character/kukaku/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">志波空鶴</p>
				</div>	
			</div>
		</a>
	</li>
	<% } else if (data[i] === 'hiyori') { %>
	<li class="related-character-list__item hiyori">
		<a href="/cob/character/hiyori/" class="related-character-list__link">
			<div class="related-character-list__contents">
				<div class="related-character-list__img">
					<div class="related-character-list__img-img"></div>
				</div>
				<div class="related-character-list__name">
					<p class="related-character-list__name-name">猿柿ひより</p>
				</div>	
			</div>
		</a>
	</li>
	<% } %>
<% } %>