<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'urahara',
    'otoribashi',
    'kensei',
    'risa',
    'aizen',
    'bazz-b',
    'bambietta',
    'hikifune',
    'hiyori'
  ];
%>
<body>
<div class="container second character hirako">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">藍染の元上官の</span><br>
						<span class="character-detail-nickname_bottom">五番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">平子真子</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">176cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">60kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">5月10日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">仮面の軍勢→護廷十三隊五番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">逆撫</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">逆様邪八宝塞</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長・現隊長<br>
						二学期、空座高校に転校してきたオカッパ頭の男。関西弁を喋り、飄々とした態度で振る舞う。逆さま書きが得意のほか、初登場時は上下を逆転して空中に浮遊して飲食していた。舌の上にリング状のタンピアスをしている。
					</p>
					<p class="c-text">
						過去の経緯から浦原とも面識があり、藍染や崩玉などの事情にも詳しく、また一護の死神の力を取り戻したことや、斬魄刀解放および卍解習得の経緯までも把握していたが、一護の父一心とは面識がないためか、一心が霊力を解放しても誰の霊圧なのかは分からなかった模様。<br>仮面の軍勢の中でも三枚目な役どころが多く、ひよ里にはよく殴られているが死神を嫌って哀しんでいる彼女を慰めるなど、仲間として大切にしている。根が嘘つきで、容姿端麗な女は自分の初恋の人だと嘘をつく。<br>虚化するとツタンカーメンを思わせるような仮面が現れる。戦闘においても斬魄刀を解放することなく、虚化だけでグリムジョー（無解放で片腕の状態）を凌駕する戦闘力を持つ。110年前は五番隊隊長を務めており、現在よりも長髪（ストレート）だった。羽織は袖のあるタイプ。当時副隊長だった藍染の上官で、当時から藍染を警戒し、自分の部下にすることで監視しようと目論んでいた。
					</p>
					<p class="c-text">
						101年前に魂魄消失案件の始末特務部隊の一人に選ばれ、虚化した拳西達と戦うが、藍染達の策略で逆に虚化する。決戦後は五番隊隊長に復帰する（羽織は110年前と同一）。
					</p>
					<p class="c-text">
						星十字騎士団との戦いでは、対戦相手は不明だがローズ・拳西と共に卍解を奪われずに済んだ。二回目の侵攻では、狛村と共にバンビエッタと対峙し、逆撫の能力で錯乱させるが、完聖体となったバンビエッタの反撃に遭い、戦闘不能となった。更木剣八が戦闘不能になった時に雛森と共に加勢に向かおうとする。途中砕蜂と希代を背負った大前田を発見し、砕蜂の手当てを雛森に任せも、バズビーと交戦することに。バズビーの"バーナーフィンガー3"により溶岩で攻撃されるもその後の描写がないため生存不明（ただ、バズビー自身はその後、キャンディたちと交戦する一護の元へ向かい交戦している）。
					</p>
					<p class="c-text">
						連載第1話の見開きのカラー扉絵に載っており、平子の登場が初期から既に企画されていた。ただし、作者曰く役割までは決まっていなかったため、この時点では元隊長の設定はなかったとのこと。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『逆撫（さかなで）』</span>
						</dt>
						<dd class="ability__txt c-text">解放する際、刀を逆手に持って落としつつ解放する。能力解放と共に柄尻にリングがつき、刀身に規則正しい間隔で複数の穴が開いた形状の剣に変化する。鏡花水月と同様に他人の神経を100%支配する能力で、相手が認識する上下前後左右及び、見えている方向と斬られる方向の感覚を逆にする事ができる。刀を振り回すことで相手の周囲に特殊な匂いを振り撒き、その匂いを嗅がせる事が発動条件となる。視覚情報を逆転させられていると頭で理解できても、反射的に行動する事を止めるのは難しいため、視覚を駆使した戦いに慣れているものほど、この斬魄刀の能力は強みを増す。藍染には五感を支配する鏡花水月には程遠いと断じられている。</dd>
						<dd class="ability__txt c-text">具象化した姿は明らかになっていないが、小説『The Death Save The Strawberry』では、嘘ばかりつく性悪な性格の斬魄刀であり、そこから真実を見出すことで屈服（卍解の習得）に成功したという設定が明らかになっている。逆撫は初めて藍染と接した時には異常に興味を示しており、この逆撫の反応から、平子は藍染の本性を察し警戒を強めていた。卍解は小説『Can't Fear Your Own World』にて使用しており、効果については京楽等の卍解と同じ様に周りを巻き込むタイプであると言われている。</dd>
						<dd class="ability__txt c-text">解号は「倒れろ『逆撫』（たおれろ『〜』）」</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『逆様邪八宝塞（さかしまよこしまはっぽうふさがり）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">小説『Can't Fear Your Own World』で、叫谷での戦いで使用される。「敵と味方の認識を倒（さかさま）に逆転させる」という能力を有している。解放すると、撫子の花のような巨大な花型の台座が現れる。斬魄刀の刀身も、剣先がリング状の錫杖のような形に変化する。小説内では、膨大な数の敵に一人で立ち向かい、その敵を同士討ちさせることで一網打尽にした。卍解するにあたって、「味方がいたら駄目、サシの勝負でも駄目、大勢の敵と自分一人でないといけない」と説明しており、1対多数でないと効果を発揮しない。空座町決戦において使用されなかったのも、死神や仮面の軍勢等の味方が多数いたためである。また、千年血戦編においても、前述の理由もあり披露されなかったが、これについて平子は「滅却師が瀞霊廷の中に現れず、外で陣取ってくれたら大半は片付けられた」と話している。</dd>
						<dd class="ability__txt c-text">かなり不便な卍解であると本人も自覚しており、「始解が強者向きで、卍解が雑魚向き」と評している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__txt c-text">ツタンカーメンを思わせるような仮面が現れる。戦闘においても斬魄刀を解放することなく、虚化だけでグリムジョー（無解放で片腕の状態）を凌駕する戦闘力を持つ。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「虚閃（セロ）」</span>
						</dt>
						<dd class="ability__txt c-text">虚化後に使用。斬魄刀を地面と平行に構えたまま、拳から放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「タンマ落とし」</dt>
						<dd class="c-ability__txt c-text">一護の虚化修業の際に使用。相手の顔に手をかざし、意識を飛ばす技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「暖簾捲り（のれんめくり）」</dt>
						<dd class="c-ability__txt c-text">過去編で使用。空間を引き裂き、鬼道などで隠れた相手を暴く技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>