@charset "utf-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*!* ---------------------------------------------------------------------------------------------
    画像設定
--------------------------------------------------------------------------------------------- *!*/

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/*!* ---------------------------------------------------------------------------------------------
    hover
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

    .no_touch_device a img {    
        transition: .3s ease-in-out;
        backface-visibility: hidden;
    }

    .no_touch_device a:hover img {
        opacity: .8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }

}

/*!* ---------------------------------------------------------------------------------------------
    pc sp表示分け
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

    .pc_only {
        display: block;
    }

    .sp_only {
        display: none !important;
    }

}

@media all and (max-width:767px) {

    .pc_only {
        display: none !important;
    }

    .sp_only {
        display: block;
    }

}


/*!* ---------------------------------------------------------------------------------------------
    テキスト非表示
--------------------------------------------------------------------------------------------- *!*/

.hide-txt {
    display: none;
}

/*!* ---------------------------------------------------------------------------------------------
    clearfix
--------------------------------------------------------------------------------------------- *!*/

.cf::after {
    content: "";
    display: block;
    clear: both;
}


/*!* ---------------------------------------------------------------------------------------------
    .btn
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {


}

@media all and (max-width:767px) {

}

/*!* ---------------------------------------------------------------------------------------------
    .page_top
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {



}

@media all and (max-width:767px) {


}

/*!* ---------------------------------------------------------------------------------------------
    .container
--------------------------------------------------------------------------------------------- *!*/

.container {
    position: relative;
}


/*!* ---------------------------------------------------------------------------------------------
    .inner
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.inner {
    position: relative;
    width: 52.769%;
    min-width: 720px;
    max-width: 1000px;
    margin: 0 auto;
}

}

/*!* ---------------------------------------------------------------------------------------------
    .g-header
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.g-header::after,
.g-header__inner::after
{
    content: "";
    display: block;
    clear: both;
}

.g-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 30px auto 0;
    background-color: #fff;

    .g-header__inner {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 146px;
        height: 54px;
        float: left;
        margin: auto 0;
        background-color: #fff;
    }
    
}

}


@media all and (max-width:767px) {

.g-header::after,
.g-header__inner::after
{
    content: "";
    display: block;
    clear: both;
}

.g-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0 auto;
    background-color: #fff;

    .g-header__inner {
        position: relative;
        margin: 0 auto;
    }

    .logo {
        width: 146px;
        height: 54px;
        float: left;
        margin: auto 0;
        background-color: #fff;
    }
    
}

}


/*!* ---------------------------------------------------------------------------------------------
    .g-nav
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.g-nav::after,
.g-nav-list::after
{
    content: "";
    display: block;
    clear: both;
}

.g-nav {
    width: 473px;
    float: right;

    .g-nav-list {}

    .g-nav-list__item {
        float: left;
    }

    .g-nav-list__item:first-child,
    .g-nav-list__item:first-child .g-nav-list__link
    {
        margin-left: 0;
    }

    .g-nav-list__item:last-child .g-nav-list__link {
        border-right: 1px solid #000;
    }

    .g-nav-list__link {
        display: block;
        padding: 10px;
        color: #000;
        font-size: 18px;
        font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
        text-decoration: none;
        border-left: 1px solid #000;
        transition: .3s;
    }

    .g-nav-list__link:hover {
        color: #fff;
        border-color: #8c002f;
        background-color: #000;
    }

    .g-nav-list__link.is-current {
        color: #fff;
        border-color: #8c002f;
        background-color: #000;
    }

}

}


@media all and (max-width:767px) {

.g-nav::after,
.g-nav-list::after
{
    content: "";
    display: block;
    clear: both;
}

.g-nav {
    display: none;
    width: 473px;
    float: right;

    .g-nav-list {}

    .g-nav-list__item {
        float: left;
    }

    .g-nav-list__item:first-child,
    .g-nav-list__item:first-child .g-nav-list__link
    {
        margin-left: 0;
    }

    .g-nav-list__item:last-child .g-nav-list__link {
        border-right: 1px solid #000;
    }

    .g-nav-list__link {
        display: block;
        padding: 10px;
        color: #000;
        font-size: 18px;
        font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
        text-decoration: none;
        border-left: 1px solid #000;
        transition: .3s;
    }

    .g-nav-list__link:hover {
        color: #fff;
        border-color: #8c002f;
        background-color: #000;
    }

    .g-nav-list__link.is-current {
        color: #fff;
        border-color: #8c002f;
        background-color: #000;
    }

}

}

/*!* ---------------------------------------------------------------------------------------------
    .menu-trigger
--------------------------------------------------------------------------------------------- *!*/
@media all and (min-width:768px) {

.menu-trigger {
    display: none;
}

.sp-g-nav {
    display: none;
}

}

@media all and (max-width:767px) {

.menu-trigger {
    display: block;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 50px;
  height: 24px;
  margin: auto 0;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 10px;
}
.menu-trigger span:nth-of-type(3) {
  top: 20px;
}

.menu-trigger.active span {
    background-color: #fff;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.sp-g-nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
.sp-g-nav.open {
  transform: translateZ(0);
}
.sp-g-nav li {
  color: #fff;
  text-align: center;
}

.sp-g-nav-list__link {
    display: block;
    padding: 16px 0;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid #fff;
}
.sp-g-nav li:last-child .sp-g-nav-list__link {
    border-bottom: 1px solid #fff;
}

.sp-g-nav-list__link.is-current {
    background-color: rgba(140, 0, 47, 0.6);
}

.sp-g-nav-list__txt {
    position: relative;
}

.sp-g-nav-list__txt::before {
    position: absolute;
    top: 0;
    left: -23px;
    bottom: 0;
    z-index: 1;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: auto 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sp-g-nav-list__item {

    &.home {
        .sp-g-nav-list__txt::before {
            background-image: url(../img/common/icon/icon_home.svg);
        }
    }
    &.story {
        .sp-g-nav-list__txt::before {
            background-image: url(../img/common/icon/icon_story.svg);
        }
    }
    &.character {
        .sp-g-nav-list__txt::before {
            background-image: url(../img/common/icon/icon_character.svg);
        }
    }
    &.consideration {
        .sp-g-nav-list__txt::before {
            background-image: url(../img/common/icon/icon_consideration.svg);
        }
    }

}


}

/*!* ---------------------------------------------------------------------------------------------
    .g-footer
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.g-footer {
    padding: 40px 0 31px;
    border-top: 1px solid #fff;
    background-color: #000;

    .g-footer-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 52.769%;
        min-width: 720px;
        margin: 0 auto;
        max-width: 1000px;
        text-align: center;
    }

    .g-footer-list__item {
        position: relative;
        display: block;
        width: 25%;
        vertical-align: top;

        &.top {
            width: 24%;
        }
        &.consideration {
            width: 26%;
        }

        .g-footer-list__txt {
            position: relative;
        }

        .g-footer-list__txt::before {
            position: absolute;
            top: 0;
            left: -23px;
            bottom: 0;
            z-index: 1;
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin: auto 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.top {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_home.svg);
            }
        }
        &.story {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_story.svg);
            }
        }
        &.character {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_character.svg);
            }
        }
        &.consideration {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_consideration.svg);
            }
        }
    }

    .g-footer-list__item:first-child .g-footer-list__link {
        margin-left: 0;
        border-left: 1px solid #fff;
    }
    .g-footer-list__item:last-child .g-footer-list__link {
        border-right: 1px solid #fff;
    }

    .g-footer-list__link {
        display: block;
        padding: 14px 0;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transition: .3s;

        &:hover {
            background-color: rgba(140, 0, 47, 0.6);
        }
    }

    .copyright {
        margin-top: 35px;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}

}


@media all and (max-width:767px) {

.g-footer {
    padding: 10% 0 8%;
    border-top: 1px solid #fff;
    background-color: #000;

    .g-footer-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .g-footer-list__item {
        position: relative;
        display: block;
        width: 50%;
        vertical-align: top;

        .g-footer-list__txt {
            position: relative;
        }

        .g-footer-list__txt::before {
            position: absolute;
            top: 0;
            left: -23px;
            bottom: 0;
            z-index: 1;
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin: auto 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.top {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_home.svg);
            }
        }
        &.story {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_story.svg);
            }
        }
        &.character {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_character.svg);
            }
        }
        &.consideration {
            .g-footer-list__txt::before {
                background-image: url(../img/common/icon/icon_consideration.svg);
            }
        }

    }

    .g-footer-list__item:first-child {
        margin-left: 0;
    }

    .g-footer-list__link {
        display: block;
        padding: 10px 0;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .g-footer-list__item:first-child .g-footer-list__link {
        border-bottom: 0;
    }
    .g-footer-list__item:nth-child(2) .g-footer-list__link {
        border-bottom: 0;
    }

    .g-footer-list__item:nth-child(2n) .g-footer-list__link {
        border-left: 1px solid #fff;
    }

    .copyright {
        margin-top: 35px;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}

}


/*!* ---------------------------------------------------------------------------------------------
    .main-visual_second
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.container {

    &.second {
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }

    &.story {
        background-image: url(../img/story/main-visual_second/bg.jpg);
        background-position: center 0;
    }
    &.character {
        background-image: url(../img/character/main-visual_second/bg.jpg);
        background-position: center -60px;
    }
    &.consideration {
        background-image: url(../img/consideration/main-visual_second/bg.jpg);
    }

    .main-visual_second {
        width: 100%;
        height: 60vh;
        

        .main-visual_second__inner {
            position: relative;
            max-width: 1000px;
            height: 100%;
            margin: 0 auto;
        }

    }

}



}

@media all and (max-width:767px) {

.container {
    position: relative;

    &.top::before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: 90% center;
        background-size: cover;
        background-image: url(../img/top/main-visual/bg_sp.jpg);
      }

    &.second::before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
      }

    &.story::before {
        background-image: url(../img/story/main-visual_second/bg_sp.jpg);
    }
    &.character::before {
        background-image: url(../img/character/main-visual_second/bg_sp.jpg);
    }
    &.consideration::before {
        background-image: url(../img/consideration/main-visual_second/bg_sp.jpg);
    }

    .main-visual_second {
        width: 100%;
        height: 60vh;
        
        .main-visual_second__inner {
            position: relative;
            height: 100%;
            margin: 0 auto;
        }

    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    .main-contents_second
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-contents_second {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 150px;
    background-color: rgba(0, 0, 0, .8);
}

}

@media all and (max-width:767px) {

.main-contents_second {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, .8);
}

}


/*!* ---------------------------------------------------------------------------------------------
    .audio_wrap
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.audio_wrap {

    width: 38px;
    float: right;

    .audio_button {
        width: 38px;
        height: 38px;
        background-color: #000;
    }

}

}