@charset "utf-8";

/*!* ---------------------------------------------------------------------------------------------
    .main-contents_second
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-contents_second {

    .c-txt {
        text-align: center;
    }

}

}


@media all and (max-width: 767px) {

.main-contents_second {

    .c-txt {
        text-align: center;
    }

}

}

/*!* ---------------------------------------------------------------------------------------------
    .consideration-list
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration-list {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    list-style: none;

    .consideration-list__item {
        position: relative;
        width: 31.3%;
        margin-left: 3%;
        background-color: #fff;

        &:nth-child(3n + 1) {
            margin-left: 0;
        }
        &:nth-child(n + 4) {
            margin-top: 3%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .consideration-list__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .consideration-list__img {
        position: relative;
        width: 100%;
        height: 156px;
        background-color: #5F9EA0;
        transition: .3s;

        &:hover {
            opacity: .7;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 125px;
            height: 133px;
            margin: auto;
            background: url(../img/consideration/consideration-list/icon.png) no-repeat center;
            background-size: contain;
        }
    }

    .consideration-list__txt {
        padding: 16px 0;
        background-color: #000;
    }

    .consideration-list__txt-txt {
        color: #fff;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }

}

}


@media all and (max-width: 767px) {

.consideration-list {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    padding: 0 4% 0;
    list-style: none;

    .consideration-list__item {
        position: relative;
        width: 48%;
        margin: 4% auto 0;
        background-color: #fff;

        &:nth-child(2n) {
            margin-left: 2%;
        }

    }

    .consideration-list__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .consideration-list__img {
        position: relative;
        width: 100%;
        padding-top: 40%;
        background-color: #5F9EA0;
        transition: .3s;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 24.637%;
            padding-top: 26.086%;
            margin: auto;
            background: url(../img/consideration/consideration-list/icon.png) no-repeat center;
            background-size: contain;
        }
    }

    .consideration-list__txt {
        padding: 16px 0;
        background-color: #000;
    }

    .consideration-list__txt-txt {
        color: #fff;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }

}

}



/*!* ---------------------------------------------------------------------------------------------
    consideration_detail共通
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-contents_second {
    padding-bottom: 100px;
}

.consideration-list-back {
    width: 290px;
}

.detail-tit {
    min-height: 92px;
    margin-top: 40px;
    text-align: center;
}

.detail-list {
    margin-top: 38px;
    margin-bottom: 60px;
}

.detail-tit-tit {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 38px;
    font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
    line-height: 2;

    &::before,
    &::after
    {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 28px;
        height: 1px;
        margin: auto;
        background-color: #fff;
    }
    &::before {
        left: -40px;
    }
    &::after {
        right: -40px;
    }
}

.detail-list__item {
    margin-top: 6%;

    &:first-child {
        margin-top: 0;
    }

    .detail-list-txt {
        text-align: left;
    }

    .detail-list-img {
        width: 100%;
        margin: 3% auto 0;
        padding-top: 30%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

}


@media all and (max-width: 767px) {

.main-contents_second {
    padding-bottom: 12%;
}

.detail-tit {
    min-height: 60px;
    margin-top: 10%;
    text-align: center;
}

.detail-list {
    width: 92%;
    margin: 0 auto 10%;
}

.detail-tit-tit {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
    line-height: 2;

    &::before,
    &::after
    {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 28px;
        height: 1px;
        margin: auto;
        background-color: #fff;
    }
    &::before {
        left: -40px;
    }
    &::after {
        right: -40px;
    }
}

.detail-list__item {
    margin-top: 8%;

    &:first-child {
        margin-top: 0;
    }

    .detail-list-txt {
        text-align: left;
    }

    .detail-list-img {
        width: 100%;
        margin: 3% auto 0;
        padding-top: 30%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

}


/*!* ---------------------------------------------------------------------------------------------
    consideration_01
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration_01 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/01/img_01.jpg);
    }
    .detail-list__02 .detail-list-img {
        background-image: url(../img/consideration/01/img_02.jpg);
    }

}

}

@media all and (max-width: 767px) {

.consideration_01 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/01/img_01.jpg);
    }
    .detail-list__02 .detail-list-img {
        background-image: url(../img/consideration/01/img_02.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    consideration_02
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration_02 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/02/img_01.jpg);
    }
    .detail-list__02 .detail-list-img {
        background-image: url(../img/consideration/02/img_02.jpg);
    }

}

}

@media all and (max-width: 767px) {

.consideration_02 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/02/img_01.jpg);
    }
    .detail-list__02 .detail-list-img {
        background-image: url(../img/consideration/02/img_02.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    consideration_04
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration_04 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/04/img_01.jpg);
    }

}

}

@media all and (max-width: 767px) {

.consideration_04 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/04/img_01.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    consideration_05
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration_05 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/05/img_01.jpg);
    }

}

}

@media all and (max-width: 767px) {

.consideration_05 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/05/img_01.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    consideration_09
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.consideration_09 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/09/img_01.jpg);
    }

}

}

@media all and (max-width: 767px) {

.consideration_09 {

    .detail-list__01 .detail-list-img {
        background-image: url(../img/consideration/09/img_01.jpg);
    }

}

}