@charset "utf-8";

/*!* ---------------------------------------------------------------------------------------------
    .c-contents-band
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-contents-band {
    width: 100%;  
    padding-bottom: 60px;
    background: rgba(0, 0, 0, .8);
}

}

@media all and (max-width:767px) {

.c-contents-band {
    width: 100%;  
    padding-bottom: 60px;
    background: rgba(0, 0, 0, .8);
}

}

/*!* ---------------------------------------------------------------------------------------------
    .c-tit-lv_2
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-tit-lv_2 {
    position: relative;
    z-index: 0;
    padding: 18px 0;
    color: #fff;
    font-size: 64px;
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #000;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 0;
        height: 0;
        margin: auto;
        border-top: 10px solid #8c002f;
    }

}

}

@media all and (max-width:767px) {

.c-tit-lv_2 {
    position: relative;
    z-index: 0;
    padding: 18px 4%;
    color: #fff;
    font-size: 32px;
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #000;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 0;
        height: 0;
        margin: auto;
        border-top: 10px solid #8c002f;
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    .c-tit-lv_3
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-tit-lv_3 {
    color: #fff;
    font-size: 20px;
    font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
    text-align: center;
}

}

@media all and (max-width:767px) {

.c-tit-lv_3 {
    color: #fff;
    font-size: 16px;
    font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
    text-align: center;
}

}

/*!* ---------------------------------------------------------------------------------------------
    .c-txt
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-txt {
    color: #fff;
    font-size: 16px;
    line-height: 2;

    &.c-second-txt {
        margin-top: 60px;
    }

}

}

@media all and (max-width:767px) {

.c-txt {
    color: #fff;
    font-size: 14px;
    line-height: 2;

    &.c-second-txt {
        margin-top: 10%;
    }

}

}

/*!* ---------------------------------------------------------------------------------------------
    .c-btn_top
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-btn_top {
    position: relative;
    display: block;
    width: 220px;
    margin: 60px auto 0;
    padding: 14px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #000;
    transition: .3s;

    &:hover {
        color: #fff;
        border-color: #fff;
        background-color: #8c002f;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        z-index: 1;
        width: 20px;
        height: 16px;
        margin: auto 0;
        background: url(../img/common/icon/btn_arrow_left.svg) no-repeat center;
        background-size: contain;
    }

}

}

@media all and (max-width:767px) {

.c-btn_top {
    position: relative;
    display: block;
    width: 140px;
    margin: 60px auto 0;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #000;
    transition: .3s;

    &.character-list-back {
        width: 180px;
    }
    &.consideration-list-back {
        width: 185px;
    }

    &:hover {
        color: #fff;
        border-color: #fff;
        background-color: #8c002f;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        z-index: 1;
        width: 12px;
        height: 10px;
        margin: auto 0;
        background: url(../img/common/icon/btn_arrow_left.svg) no-repeat center;
        background-size: contain;
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    .c-btn_detail
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.c-btn_detail {
    position: relative;
    display: block;
    width: 240px;
    margin: 0 auto;
    padding: 14px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #000;
    transition: .3s;

    &.story-list-back {
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }

    &.character-list-back {
        width: 260px;
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }

    &.consideration-list-back {
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }

    &:hover {
        color: #fff;
        border-color: #fff;
        background-color: #8c002f;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        z-index: 1;
        width: 20px;
        height: 16px;
        margin: auto 0;
        background: url(../img/common/icon/btn_arrow_right.svg) no-repeat center;
        background-size: contain;
    }

}

}

@media all and (max-width:767px) {

.c-btn_detail {
    position: relative;
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #000;
    transition: .3s;

    &.story-list-back {
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }

    &.character-list-back {
        width: 180px;
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }
    &.consideration-list-back {
        width: 185px;
        &::before {
            left: 10px;
            right: auto;
            background-image: url(../img/common/icon/btn_arrow_left.svg);
        }
    }

    &:hover {
        color: #fff;
        border-color: #fff;
        background-color: #8c002f;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        z-index: 1;
        width: 12px;
        height: 10px;
        margin: auto 0;
        background: url(../img/common/icon/btn_arrow_right.svg) no-repeat center;
        background-size: contain;
    }

}

}



/*!* ---------------------------------------------------------------------------------------------
    .bg-band_diagonal
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.second {

    .bg-band_diagonal.bg-band_01 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 30%;
        height: 300%;
        margin: auto;
        background-color: rgba(140, 0, 47, 0.4);
        transform: skewX(-46deg);
    }

}

.bg-band_diagonal.bg-band_main-contents {
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 0;
    margin: 0px -2720px 0 0;
    background-color: rgba(140, 0, 47, 1);
    transform: skewX(-67.6deg);
}

}

@media all and (max-width:767px) {

.second {

    .bg-band_diagonal.bg-band_01 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 30%;
        height: 300%;
        margin: auto;
        background-color: rgba(140, 0, 47, 0.4);
        transform: skewX(-46deg);
    }

}

.bg-band_diagonal.bg-band_main-contents {
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 106%;
    height: 0;
    margin: 0 -77% 0 0;
    background-color: #8c002f;
    transform: skewX(-35deg);
}

}


/*!* ---------------------------------------------------------------------------------------------
    .btn-pageTop
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.btn-pageTop {
    position: fixed;
    right: -100px;
    z-index: 1000;
    bottom: 40px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../img/common/icon/btn_arrow_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    transition: .3s;
    &:hover {
        background-color: rgba(140, 0, 47, 0.6);
    }

    &.visible {
        right: 20px;
    }
}

.btn-pageTop__btn {
    display: block;
    width: 100%;
    padding: 30px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 0;
}

}


@media all and (max-width:767px) {


.btn-pageTop {
    position: fixed;
    right: -100px;
    z-index: 1000;
    bottom: 40px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../img/common/icon/btn_arrow_top.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    transition: .3s;

    &.visible {
        right: 20px;
    }
}

.btn-pageTop__btn {
    display: block;
    width: 100%;
    padding: 30px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 0;
}

}