@charset "utf-8";

/*!* ---------------------------------------------------------------------------------------------
    .main-contents_second
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-contents_second {

    .c-txt {
        text-align: center;
    }

}

}

@media all and (max-width: 767px) {

.main-contents_second {

    .c-txt {
        text-align: center;
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    .story-list
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story-list {
    position: relative;
    z-index: 10;
    margin-top: 60px;

    .c-tit-lv_3 {
        text-align: center;
    }

    .c-txt {
        position: relative;
        z-index: 1000;
        padding-top: 50px;
        text-align: center;
    }

    .story-list__item {

        margin-top: 60px;

        .story-list__item-inner {
            background-color: rgba(0, 0, 0, .6);
        }
        
        &:first-child {
            margin-top: 0;
        }

        &.story-list_01 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_01.jpg);
            }
        }
        &.story-list_02 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_02.jpg);
            }
        }
        &.story-list_03 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_03.jpg);
            }
        }
        &.story-list_04 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_04.jpg);
            }
        }
        &.story-list_05 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_05.jpg);
            }
        }

        .c-tit-lv_3 {
            margin-bottom: 30px;
        }
        
        .story-list__contents {
            position: relative;
            width: 52.769%;
            min-width: 720px;
            max-width: 1000px;
            height: 260px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: .3s;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
                transition: .3s;
            }

        }

        .c-btn_detail {
            margin-top: 30px;
            z-index: 100;
        }
        
    }

}

}

@media all and (max-width: 767px) {

.story-list {
    position: relative;
    z-index: 10;
    margin-top: 8%;

    .c-tit-lv_3 {
        text-align: center;
    }

    .c-txt {
        display: none;
        position: relative;
        z-index: 1000;
        padding-top: 20px;
        text-align: center;
    }

    .story-list__item {

        margin-top: 8%;

        .story-list__item-inner {
            background-color: rgba(0, 0, 0, .6);
        }
        
        &:first-child {
            margin-top: 0;
        }

        &.story-list_01 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_01_sp.jpg);
            }
        }
        &.story-list_02 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_02_sp.jpg);
            }
        }
        &.story-list_03 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_03_sp.jpg);
            }
        }
        &.story-list_04 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_04_sp.jpg);
            }
        }
        &.story-list_05 {
            .story-list__contents {
                background-image: url(../img/story/story-list/img_05_sp.jpg);
            }
        }

        .c-tit-lv_3 {
            margin-bottom: 3%;
        }
        
        .story-list__contents {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 11.2% 4%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: .3s;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                transition: .3s;
            }

        }

        .c-btn_detail {
            z-index: 100;
        }
        
    }

}

}



/*!* ---------------------------------------------------------------------------------------------
    story_detail共通
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story_detail .main-contents_second {
    padding-bottom: 100px;
}

.story-detail-list {

    margin-bottom: 6%;

    .story-detail-list__item { 
        margin-top: 10%;

        &:first-child {
            margin-top: 6%;
        }
    }

    .story-detail-list__contents {

        display: flex;
        flex-wrap: wrap;

        .story-detail-list__txt {
            width: 57.6%;
        }

        .story-detail-list__txt-tit {
            color: #fff;
            font-size: 28px;
            font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
        }

        .story-detail-list__txt-tit_top,
        .story-detail-list__txt-tit_bottom
        {
            display: block;
            line-height: 1.8;
        }

        .story-detail-list__txt-tit_bottom {
            padding-left: 2em;
        }

        .story-detail-list__txt-txt {
            margin-top: 1.7%;
            color: #fff;
            font-size: 16px;
            line-height: 2;
        }

        .story-detail-list__img {
            width: 36%;
            margin-right: 3%;
            padding-top: 30%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

}

.story-detail-list__item:nth-child(odd) .story-detail-list__contents {
    flex-direction: row-reverse;

    .story-detail-list__img {
        margin-left: 3%;
    }
}

}


@media all and (max-width: 767px) {

.story_detail .main-contents_second {
    padding-bottom: 10%;
}

.story-detail-list {

    padding-bottom: 10%;

    .story-detail-list__item { 
        margin-top: 8%;

        &:first-child {
            margin-top: 6%;
        }
    }

    .story-detail-list__contents {

        display: flex;
        flex-wrap: wrap;

        .story-detail-list__txt {
            width: 92%;
            margin: 2% auto 0;
        }

        .story-detail-list__txt-tit {
            color: #fff;
            font-size: 18px;
            font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
        }

        .story-detail-list__txt-tit_top,
        .story-detail-list__txt-tit_bottom
        {
            display: block;
            line-height: 1.8;
        }

        .story-detail-list__txt-tit_bottom {
            padding-left: 2em;
        }

        .story-detail-list__txt-txt {
            margin-top: 1.7%;
            color: #fff;
            font-size: 14px;
            line-height: 2;
        }

        .story-detail-list__img {
            width: 92%;
            margin: 0 auto;
            padding-top: 80%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    story_detail02
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story_01 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/01/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/01/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/01/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/01/img_04.jpg);
    }

}

}


@media all and (max-width: 767px) {

.story_01 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/01/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/01/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/01/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/01/img_04.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    story_detail02
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story_02 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/02/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/02/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/02/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/02/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/02/img_05.jpg);
    }

}

}

@media all and (max-width: 767px) {

.story_02 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/02/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/02/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/02/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/02/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/02/img_05.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    story_detail03
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story_03 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/03/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/03/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/03/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/03/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/03/img_05.jpg);
    }
    .story-detail-list__06 .story-detail-list__img {
        background-image: url(../img/story/03/img_06.jpg);
    }
    .story-detail-list__07 .story-detail-list__img {
        background-image: url(../img/story/03/img_07.jpg);
    }
    .story-detail-list__08 .story-detail-list__img {
        background-image: url(../img/story/03/img_08.jpg);
    }
    .story-detail-list__09 .story-detail-list__img {
        background-image: url(../img/story/03/img_09.jpg);
    }
    .story-detail-list__10 .story-detail-list__img {
        background-image: url(../img/story/03/img_10.jpg);
    }
    .story-detail-list__11 .story-detail-list__img {
        background-image: url(../img/story/03/img_11.jpg);
    }
    .story-detail-list__12 .story-detail-list__img {
        background-image: url(../img/story/03/img_12.jpg);
    }
    .story-detail-list__13 .story-detail-list__img {
        background-image: url(../img/story/03/img_13.jpg);
    }
    .story-detail-list__14 .story-detail-list__img {
        background-image: url(../img/story/03/img_14.jpg);
    }
    .story-detail-list__15 .story-detail-list__img {
        background-image: url(../img/story/03/img_15.jpg);
    }
    .story-detail-list__16 .story-detail-list__img {
        background-image: url(../img/story/03/img_16.jpg);
    }
    .story-detail-list__17 .story-detail-list__img {
        background-image: url(../img/story/03/img_17.jpg);
    }
    .story-detail-list__18 .story-detail-list__img {
        background-image: url(../img/story/03/img_18.jpg);
    }
    .story-detail-list__19 .story-detail-list__img {
        background-image: url(../img/story/03/img_19.jpg);
    }
    .story-detail-list__20 .story-detail-list__img {
        background-image: url(../img/story/03/img_20.jpg);
    }
    .story-detail-list__21 .story-detail-list__img {
        background-image: url(../img/story/03/img_21.jpg);
    }
    .story-detail-list__22 .story-detail-list__img {
        background-image: url(../img/story/03/img_22.jpg);
    }
    .story-detail-list__23 .story-detail-list__img {
        background-image: url(../img/story/03/img_23.jpg);
    }
    .story-detail-list__24 .story-detail-list__img {
        background-image: url(../img/story/03/img_24.jpg);
    }
    .story-detail-list__25 .story-detail-list__img {
        background-image: url(../img/story/03/img_25.jpg);
    }
    .story-detail-list__26 .story-detail-list__img {
        background-image: url(../img/story/03/img_26.jpg);
    }
    .story-detail-list__27 .story-detail-list__img {
        background-image: url(../img/story/03/img_27.jpg);
    }
    .story-detail-list__28 .story-detail-list__img {
        background-image: url(../img/story/03/img_28.jpg);
    }
    .story-detail-list__29 .story-detail-list__img {
        background-image: url(../img/story/03/img_29.jpg);
    }
    .story-detail-list__30 .story-detail-list__img {
        background-image: url(../img/story/03/img_30.jpg);
    }
    .story-detail-list__31 .story-detail-list__img {
        background-image: url(../img/story/03/img_31.jpg);
    }
    .story-detail-list__32 .story-detail-list__img {
        background-image: url(../img/story/03/img_32.jpg);
    }
    .story-detail-list__33 .story-detail-list__img {
        background-image: url(../img/story/03/img_33.jpg);
    }
    .story-detail-list__34 .story-detail-list__img {
        background-image: url(../img/story/03/img_34.jpg);
    }
    .story-detail-list__35 .story-detail-list__img {
        background-image: url(../img/story/03/img_35.jpg);
    }
    .story-detail-list__36 .story-detail-list__img {
        background-image: url(../img/story/03/img_36.jpg);
    }
    .story-detail-list__37 .story-detail-list__img {
        background-image: url(../img/story/03/img_37.jpg);
    }
    .story-detail-list__38 .story-detail-list__img {
        background-image: url(../img/story/03/img_38.jpg);
    }
    .story-detail-list__39 .story-detail-list__img {
        background-image: url(../img/story/03/img_39.jpg);
    }
    .story-detail-list__40 .story-detail-list__img {
        background-image: url(../img/story/03/img_40.jpg);
    }
    .story-detail-list__41 .story-detail-list__img {
        background-image: url(../img/story/03/img_41.jpg);
    }
    .story-detail-list__42 .story-detail-list__img {
        background-image: url(../img/story/03/img_42.jpg);
    }
    .story-detail-list__43 .story-detail-list__img {
        background-image: url(../img/story/03/img_43.jpg);
    }
    .story-detail-list__44 .story-detail-list__img {
        background-image: url(../img/story/03/img_44.jpg);
    }
    .story-detail-list__45 .story-detail-list__img {
        background-image: url(../img/story/03/img_45.jpg);
    }
    .story-detail-list__46 .story-detail-list__img {
        background-image: url(../img/story/03/img_46.jpg);
    }
    .story-detail-list__47 .story-detail-list__img {
        background-image: url(../img/story/03/img_47.jpg);
    }
    .story-detail-list__48 .story-detail-list__img {
        background-image: url(../img/story/03/img_48.jpg);
    }
    .story-detail-list__49 .story-detail-list__img {
        background-image: url(../img/story/03/img_49.jpg);
    }
    .story-detail-list__50 .story-detail-list__img {
        background-image: url(../img/story/03/img_50.jpg);
    }
    .story-detail-list__51 .story-detail-list__img {
        background-image: url(../img/story/03/img_51.jpg);
    }
    .story-detail-list__52 .story-detail-list__img {
        background-image: url(../img/story/03/img_52.jpg);
    }
    .story-detail-list__53 .story-detail-list__img {
        background-image: url(../img/story/03/img_53.jpg);
    }
    .story-detail-list__54 .story-detail-list__img {
        background-image: url(../img/story/03/img_54.jpg);
    }
    .story-detail-list__55 .story-detail-list__img {
        background-image: url(../img/story/03/img_55.jpg);
    }
    .story-detail-list__56 .story-detail-list__img {
        background-image: url(../img/story/03/img_56.jpg);
    }
    .story-detail-list__57 .story-detail-list__img {
        background-image: url(../img/story/03/img_57.jpg);
    }
    .story-detail-list__58 .story-detail-list__img {
        background-image: url(../img/story/03/img_58.jpg);
    }
    .story-detail-list__59 .story-detail-list__img {
        background-image: url(../img/story/03/img_59.jpg);
    }
    .story-detail-list__60 .story-detail-list__img {
        background-image: url(../img/story/03/img_60.jpg);
    }
    .story-detail-list__61 .story-detail-list__img {
        background-image: url(../img/story/03/img_61.jpg);
    }

}

}


@media all and (max-width: 767px) {

.story_03 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/03/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/03/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/03/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/03/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/03/img_05.jpg);
    }
    .story-detail-list__06 .story-detail-list__img {
        background-image: url(../img/story/03/img_06.jpg);
    }
    .story-detail-list__07 .story-detail-list__img {
        background-image: url(../img/story/03/img_07.jpg);
    }
    .story-detail-list__08 .story-detail-list__img {
        background-image: url(../img/story/03/img_08.jpg);
    }
    .story-detail-list__09 .story-detail-list__img {
        background-image: url(../img/story/03/img_09.jpg);
    }
    .story-detail-list__10 .story-detail-list__img {
        background-image: url(../img/story/03/img_10.jpg);
    }
    .story-detail-list__11 .story-detail-list__img {
        background-image: url(../img/story/03/img_11.jpg);
    }
    .story-detail-list__12 .story-detail-list__img {
        background-image: url(../img/story/03/img_12.jpg);
    }
    .story-detail-list__13 .story-detail-list__img {
        background-image: url(../img/story/03/img_13.jpg);
    }
    .story-detail-list__14 .story-detail-list__img {
        background-image: url(../img/story/03/img_14.jpg);
    }
    .story-detail-list__15 .story-detail-list__img {
        background-image: url(../img/story/03/img_15.jpg);
    }
    .story-detail-list__16 .story-detail-list__img {
        background-image: url(../img/story/03/img_16.jpg);
    }
    .story-detail-list__17 .story-detail-list__img {
        background-image: url(../img/story/03/img_17.jpg);
    }
    .story-detail-list__18 .story-detail-list__img {
        background-image: url(../img/story/03/img_18.jpg);
    }
    .story-detail-list__19 .story-detail-list__img {
        background-image: url(../img/story/03/img_19.jpg);
    }
    .story-detail-list__20 .story-detail-list__img {
        background-image: url(../img/story/03/img_20.jpg);
    }
    .story-detail-list__21 .story-detail-list__img {
        background-image: url(../img/story/03/img_21.jpg);
    }
    .story-detail-list__22 .story-detail-list__img {
        background-image: url(../img/story/03/img_22.jpg);
    }
    .story-detail-list__23 .story-detail-list__img {
        background-image: url(../img/story/03/img_23.jpg);
    }
    .story-detail-list__24 .story-detail-list__img {
        background-image: url(../img/story/03/img_24.jpg);
    }
    .story-detail-list__25 .story-detail-list__img {
        background-image: url(../img/story/03/img_25.jpg);
    }
    .story-detail-list__26 .story-detail-list__img {
        background-image: url(../img/story/03/img_26.jpg);
    }
    .story-detail-list__27 .story-detail-list__img {
        background-image: url(../img/story/03/img_27.jpg);
    }
    .story-detail-list__28 .story-detail-list__img {
        background-image: url(../img/story/03/img_28.jpg);
    }
    .story-detail-list__29 .story-detail-list__img {
        background-image: url(../img/story/03/img_29.jpg);
    }
    .story-detail-list__30 .story-detail-list__img {
        background-image: url(../img/story/03/img_30.jpg);
    }
    .story-detail-list__31 .story-detail-list__img {
        background-image: url(../img/story/03/img_31.jpg);
    }
    .story-detail-list__32 .story-detail-list__img {
        background-image: url(../img/story/03/img_32.jpg);
    }
    .story-detail-list__33 .story-detail-list__img {
        background-image: url(../img/story/03/img_33.jpg);
    }
    .story-detail-list__34 .story-detail-list__img {
        background-image: url(../img/story/03/img_34.jpg);
    }
    .story-detail-list__35 .story-detail-list__img {
        background-image: url(../img/story/03/img_35.jpg);
    }
    .story-detail-list__36 .story-detail-list__img {
        background-image: url(../img/story/03/img_36.jpg);
    }
    .story-detail-list__37 .story-detail-list__img {
        background-image: url(../img/story/03/img_37.jpg);
    }
    .story-detail-list__38 .story-detail-list__img {
        background-image: url(../img/story/03/img_38.jpg);
    }
    .story-detail-list__39 .story-detail-list__img {
        background-image: url(../img/story/03/img_39.jpg);
    }
    .story-detail-list__40 .story-detail-list__img {
        background-image: url(../img/story/03/img_40.jpg);
    }
    .story-detail-list__41 .story-detail-list__img {
        background-image: url(../img/story/03/img_41.jpg);
    }
    .story-detail-list__42 .story-detail-list__img {
        background-image: url(../img/story/03/img_42.jpg);
    }
    .story-detail-list__43 .story-detail-list__img {
        background-image: url(../img/story/03/img_43.jpg);
    }
    .story-detail-list__44 .story-detail-list__img {
        background-image: url(../img/story/03/img_44.jpg);
    }
    .story-detail-list__45 .story-detail-list__img {
        background-image: url(../img/story/03/img_45.jpg);
    }
    .story-detail-list__46 .story-detail-list__img {
        background-image: url(../img/story/03/img_46.jpg);
    }
    .story-detail-list__47 .story-detail-list__img {
        background-image: url(../img/story/03/img_47.jpg);
    }
    .story-detail-list__48 .story-detail-list__img {
        background-image: url(../img/story/03/img_48.jpg);
    }
    .story-detail-list__49 .story-detail-list__img {
        background-image: url(../img/story/03/img_49.jpg);
    }
    .story-detail-list__50 .story-detail-list__img {
        background-image: url(../img/story/03/img_50.jpg);
    }
    .story-detail-list__51 .story-detail-list__img {
        background-image: url(../img/story/03/img_51.jpg);
    }
    .story-detail-list__52 .story-detail-list__img {
        background-image: url(../img/story/03/img_52.jpg);
    }
    .story-detail-list__53 .story-detail-list__img {
        background-image: url(../img/story/03/img_53.jpg);
    }
    .story-detail-list__54 .story-detail-list__img {
        background-image: url(../img/story/03/img_54.jpg);
    }
    .story-detail-list__55 .story-detail-list__img {
        background-image: url(../img/story/03/img_55.jpg);
    }
    .story-detail-list__56 .story-detail-list__img {
        background-image: url(../img/story/03/img_56.jpg);
    }
    .story-detail-list__57 .story-detail-list__img {
        background-image: url(../img/story/03/img_57.jpg);
    }
    .story-detail-list__58 .story-detail-list__img {
        background-image: url(../img/story/03/img_58.jpg);
    }
    .story-detail-list__59 .story-detail-list__img {
        background-image: url(../img/story/03/img_59.jpg);
    }
    .story-detail-list__60 .story-detail-list__img {
        background-image: url(../img/story/03/img_60.jpg);
    }
    .story-detail-list__61 .story-detail-list__img {
        background-image: url(../img/story/03/img_61.jpg);
    }

}

}


/*!* ---------------------------------------------------------------------------------------------
    story_detail05
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.story_05 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/05/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/05/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/05/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/05/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/05/img_05.jpg);
    }
    .story-detail-list__06 .story-detail-list__img {
        background-image: url(../img/story/05/img_06.jpg);
    }
    .story-detail-list__07 .story-detail-list__img {
        background-image: url(../img/story/05/img_07.jpg);
    }
    .story-detail-list__08 .story-detail-list__img {
        background-image: url(../img/story/05/img_08.jpg);
    }
    .story-detail-list__09 .story-detail-list__img {
        background-image: url(../img/story/05/img_09.jpg);
    }
    .story-detail-list__10 .story-detail-list__img {
        background-image: url(../img/story/05/img_10.jpg);
    }
    .story-detail-list__11 .story-detail-list__img {
        background-image: url(../img/story/05/img_11.jpg);
    }
    .story-detail-list__12 .story-detail-list__img {
        background-image: url(../img/story/05/img_12.jpg);
    }
    .story-detail-list__13 .story-detail-list__img {
        background-image: url(../img/story/05/img_13.jpg);
    }
    .story-detail-list__14 .story-detail-list__img {
        background-image: url(../img/story/05/img_14.jpg);
    }
    .story-detail-list__15 .story-detail-list__img {
        background-image: url(../img/story/05/img_15.jpg);
    }
    .story-detail-list__16 .story-detail-list__img {
        background-image: url(../img/story/05/img_16.jpg);
    }
    .story-detail-list__17 .story-detail-list__img {
        background-image: url(../img/story/05/img_17.jpg);
    }
    .story-detail-list__18 .story-detail-list__img {
        background-image: url(../img/story/05/img_18.jpg);
    }
    .story-detail-list__19 .story-detail-list__img {
        background-image: url(../img/story/05/img_19.jpg);
    }

}

}


@media all and (max-width: 767px) {

.story_05 {

    .story-detail-list__01 .story-detail-list__img {
        background-image: url(../img/story/05/img_01.jpg);
    }
    .story-detail-list__02 .story-detail-list__img {
        background-image: url(../img/story/05/img_02.jpg);
    }
    .story-detail-list__03 .story-detail-list__img {
        background-image: url(../img/story/05/img_03.jpg);
    }
    .story-detail-list__04 .story-detail-list__img {
        background-image: url(../img/story/05/img_04.jpg);
    }
    .story-detail-list__05 .story-detail-list__img {
        background-image: url(../img/story/05/img_05.jpg);
    }
    .story-detail-list__06 .story-detail-list__img {
        background-image: url(../img/story/05/img_06.jpg);
    }
    .story-detail-list__07 .story-detail-list__img {
        background-image: url(../img/story/05/img_07.jpg);
    }
    .story-detail-list__08 .story-detail-list__img {
        background-image: url(../img/story/05/img_08.jpg);
    }
    .story-detail-list__09 .story-detail-list__img {
        background-image: url(../img/story/05/img_09.jpg);
    }
    .story-detail-list__10 .story-detail-list__img {
        background-image: url(../img/story/05/img_10.jpg);
    }
    .story-detail-list__11 .story-detail-list__img {
        background-image: url(../img/story/05/img_11.jpg);
    }
    .story-detail-list__12 .story-detail-list__img {
        background-image: url(../img/story/05/img_12.jpg);
    }
    .story-detail-list__13 .story-detail-list__img {
        background-image: url(../img/story/05/img_13.jpg);
    }
    .story-detail-list__14 .story-detail-list__img {
        background-image: url(../img/story/05/img_14.jpg);
    }
    .story-detail-list__15 .story-detail-list__img {
        background-image: url(../img/story/05/img_15.jpg);
    }
    .story-detail-list__16 .story-detail-list__img {
        background-image: url(../img/story/05/img_16.jpg);
    }
    .story-detail-list__17 .story-detail-list__img {
        background-image: url(../img/story/05/img_17.jpg);
    }
    .story-detail-list__18 .story-detail-list__img {
        background-image: url(../img/story/05/img_18.jpg);
    }
    .story-detail-list__19 .story-detail-list__img {
        background-image: url(../img/story/05/img_19.jpg);
    }

}

}