@charset "utf-8";


/*!* ---------------------------------------------------------------------------------------------
    .main-visual
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-visual {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: url(../img/top/main-visual/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;

    .main-visual__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 58.083%;
        max-width: 1094px;
        margin: auto;
        padding-top: 56.25%;
    }

    .main-visual-txt {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 0;
        max-width: 1094px;
        margin: auto;
        padding: 30px 0;
        text-align: center;
        background: rgba(0, 0, 0, .7);
    }

    .main-visual-txt__txt {
        opacity: 0;
        display: block;
        color: #fff;
        font-size: 52px;
        font-size: 2.708vw;
        font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
    }


}

}

@media all and (min-width:1921px) {

.main-visual {
    .main-visual-txt__txt {
        font-size: 52px;
    }
}

}

@media all and (max-width: 767px) {

.main-visual {
    position: relative;
    width: 100%;
    padding-top: 140%;

    .main-visual__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 92%;
        margin: auto;
        padding-top: 56.25%;
    }

    .main-visual-txt {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 0;
        margin: auto;
        padding: 30px 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
    }

    .main-visual-txt__txt {
        opacity: 0;
        display: block;
        color: #fff;
        font-size: 26px;
        font-family: "リュウミン R-KL","Ryumin Regular KL", "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho";
        line-height: 1.85;
    }


}

}


/*!* ---------------------------------------------------------------------------------------------
    .main-contents
--------------------------------------------------------------------------------------------- *!*/

@media all and (min-width:768px) {

.main-contents {

    background-color: #000;

    .main-contents-block__bg {
        opacity: 1 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(140, 0, 47, 0.8);
    }

    .main-contents-block {
        position: relative;
        z-index: 10;
        overflow: hidden;
    }

    .main-contents-list {
        position: relative;
        z-index: 11;
    }

    .main-contents-list__item {
        border-top: 1px solid #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-contents-list__contents {
        position: relative;
        z-index: 1;
        width: 52.548%;
        min-width: 720px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .main-contents-list__item:nth-child(even) .main-contents-list__contents {
    }

    .main-contents-list__contents-txt {
        padding: 30px 0;
    }

    .main-contents-list__contents .c-txt {
        margin: 30px 0 0;
        text-align: center;
    }

    .main-contents-list__contents .c-btn_detail {
        margin-top: 60px;
    }

    .main-contents-list__item.story {
        background-image: url(../img/top/main-contents/bg_story.png);
    }
    .main-contents-list__item.character {
        background-image: url(../img/top/main-contents/bg_character.png);
    }
    .main-contents-list__item.consideration {
        background-image: url(../img/top/main-contents/bg_consideration.png);
    }

}


}


@media all and (max-width:767px) {

.main-contents {

    background-color: #000;

    .main-contents-block__bg {
        opacity: 1 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(140, 0, 47, 0.8);
    }

    .main-contents-block {
        position: relative;
        z-index: 10;
        overflow: hidden;
    }

    .main-contents-list {
        position: relative;
        z-index: 11;
    }

    .main-contents-list__item {
        border-top: 1px solid #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-contents-list__contents {
        position: relative;
        z-index: 1;
        width: 92%;
        margin: 0 auto;
    }

    .main-contents-list__contents-txt {
        padding: 8% 0;
    }

    .main-contents-list__contents .c-txt {
        margin: 3% 0 0;
        text-align: center;
    }

    .main-contents-list__contents .c-btn_detail {
        margin-top: 6%;
    }

    .main-contents-list__item.story {
        background-image: url(../img/top/main-contents/bg_story_sp.png);
    }
    .main-contents-list__item.character {
        background-image: url(../img/top/main-contents/bg_character_sp.png);
    }
    .main-contents-list__item.consideration {
        background-image: url(../img/top/main-contents/bg_consideration_sp.png);
    }

}

}