<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'hitsugaya',
    'rangiku',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character cangdu">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">汎神論に否定的な</span><br>
						<span class="character-detail-nickname_bottom">足技主体の星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">蒼都</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">I(鋼鉄:THE Iron)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						口元に傷のある、東洋人のような風貌の滅却師。鉤爪のような武器を備え、共に生きたものとは共に死すべしの流儀を持つ。汎神論に否定的で斬魄刀に心があることを認めていない。滅却師では珍しくフラットシューズを愛用しており、足技を主体とした体術を使う。
					</p>
					<p class="c-text">
						日番谷の卍解『大紅蓮氷輪丸』を奪い、美しい卍解と評している。二回目の侵攻では松本を倒し、バズビーに代わってユーハバッハの言いつけ通りに倒れた日番谷に卍解でとどめを刺そうとするが、すんでのところで卍解を虚化され体に異常をきたす。かろうじて再起した日番谷に独自に鍛錬した『大紅蓮氷輪丸』で応戦するも完全に卍解を奪い返され、巨大な氷の十字架に閉じ込められて敗れる。
					</p>
					<p class="c-text">
						後に滅却師完聖体となって脱出するが、ユーハバッハに一度敗北した事実を咎められ、抵抗を試みるがBG9とともにハッシュヴァルトに処刑された。許しを請うBG9とは異なり、ユーハバッハから下された処罰そのものは受け入れていたようである。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『鋼鉄（ジ・アイアン）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“I”の能力。自分の肉体を鋼鉄に変える。『天鎖斬月』を一瞬で切り落としたハッシュヴァルトの斬撃を防ぐ防御力を持つが、能力を発動させたハッシュヴァルトの2撃目は防げなかった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「蛇勁爪（シェジンツァオ）」</span>
						</dt>
						<dd class="ability__txt c-text">両手の鉤爪のような武器を重ねて前に突き出し、蛇を模した霊圧を放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">日番谷に巨大な氷の十字架に閉じ込められた際の脱出のため発動。描写がないため詳細不明</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>