<%- include('../inc/_head', {page_flg:'consideration_index', page: json['consideration_index']}) %>
<body>
<div class="container second consideration">
	<div class="container__inner">
		<%- include('../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="c-txt c-second-txt">見たいコンテンツを選択してください。</p>
				<ul class="consideration-list">
					<li class="consideration-list__item">
						<a href="/cob/consideration/01/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">真血とは</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/02/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">一護と海燕</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/03/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">十一番隊隊長「剣八」</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/04/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">更木剣八の強さ</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/05/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">八千流とやちる</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/06/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">歴代剣八の例外</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/07/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">百十年前の十番隊隊長</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/08/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">歴代十刃</p>
							</div>
						</a>
					</li>
					<li class="consideration-list__item">
						<a href="/cob/consideration/09/" class="consideration-list__link">
							<div class="consideration-list__img"></div>
							<div class="consideration-list__txt">
								<p class="consideration-list__txt-txt">一千年前の護廷十三隊</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<%- include('../inc/_back_to_top') %>
			<div class="bg-band_diagonal bg-band_01"></div>
		</div>
		<%- include('../inc/_footer') %>
	</div>
</div>
</body>
</html>