<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'unohana'
  ];
%>
<body>
<div class="container second character isane">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">負傷者を的確に治癒する</span><br>
						<span class="character-detail-nickname_bottom">四番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">虎徹勇音</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">187cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">70kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">8月2日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊四番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">凍雲</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">おかゆ</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">卯ノ花烈</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現副隊長<br>戦線には出ない。虎徹清音の姉。長身で優男風だが、優柔不断な性格でかなりの怖がり。鬼道で各死神達に藍染達の叛逆を即刻伝えている。
					</p>
					<p class="c-text">
						破面篇では卯ノ花に同行して茶渡やガンテンバインを治療した後、単身で白哉の元へ現れてルキアと花太郎を治療したが卯ノ花の命で現世には同行せず、白哉やマユリ達の補佐として残った。
					</p>
					<p class="c-text">
						「見えざる帝国」の一回目の侵攻時は卯ノ花と共に総隊長命令で前線には出ず隊舎で待機していた。二回目の侵攻はやちると行動を共にしており負傷したローズと拳西を治療していたところにグエナエルと遭遇し戦闘となる。やちるがグエナエルを、剣八がグレミィと交戦し倒したため難を逃れた。その後は拳西とローズを保護してはいたと思われるが、拳西・ローズは乱菊と共にジゼルの能力によりゾンビになってしまったため、勇音の消息は不明である。
					</p>
					<p class="c-text">
						ドラマCDより清音曰く「隠れ巨乳」（マンガオンラインでのBLEACH特集で配信の、オリジナル壁紙では確かに巨乳）。休日は妹に会いに行って過ごしている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『凍雲（いてぐも）』</span>
						</dt>
						<dd class="ability__txt c-text">封印時から雪の結晶のような形をした鍔を持ち、能力解放とともに刀身が3本に分かれた形状に変化する。作中では一護との交戦時に解放したのみで描写が少なく、能力は不明。ただし、血戦後に隊長に就任しているため、卍解は習得していると思われる。</dd>
						<dd class="c-ability__txt c-text">解号は「奔れ『凍雲』（はしれ『 - 』）」。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>