<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_06">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">百十年前の十番隊隊長</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">過去編（本編開始から百十年前）において、享楽が語った十番隊隊長の死去については最終回までとうとう明らかになることはなかった。当初は「一心がその百十年前の隊長で、何かの事件に巻き込まれ、現世に逃げ延びた結果仲間たちには死んだと認識されていた」のかと考察していた。が一心は最終章にて、二十年前の十番隊隊長だったことが明らかになったので、この考察は外れてしまった。殉職したその隊長の死の原因については、享楽の口ぶりからすると、戦死したような感じに思える（どちらにしても自然死ではない）。藍染が関わっていたのだろうか。にしても過去編にてそのような描写も見られなかった。単純に虚との戦いで戦死したのだろうか。
						</p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>