<%- include('../inc/_head', {page_flg:'story_index', page: json['story_index']}) %>
<body>
<div class="container second story">
	<div class="container__inner">
		<%- include('../inc/_header', {current:'story'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">STORY</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="c-txt c-second-txt">見たいSTORYを選択してください。</p>
			</div>
			<ul class="story-list">
				<li class="story-list__item story-list_01">
					<div class="inner">
						<h2 class="c-tit-lv_3">～死神代行編～</h2>
					</div>
					<div class="story-list__item-inner">
						<div class="story-list__contents">
							<p class="c-txt">高校生の黒崎一護はある日朽木ルキアという死神と出会い、死神の力を手に入れた。<br>
								虚を退治しながら死神としての能力を高めつつ人々を守る一護。<br>
								そんな中、突然尸魂界からの刺客が送られてくる。
							</p>
							<a href="/cob/story/01/" class="c-btn_detail">To DETAIL</a>
						</div>
					</div>
				</li>
				<li class="story-list__item story-list_02">
					<div class="inner">
						<h2 class="c-tit-lv_3">～尸魂界編～</h2>
					</div>
					<div class="story-list__item-inner">
						<div class="story-list__contents">
							<p class="c-txt">尸魂界に連れ戻されたルキアを助けるため、仲間とともに潜入を図る一護たち。<br>
								ルキアの処刑の情報を聞いた一護たちは、瀞霊廷へ強行突破し、護廷十三隊を相手に奮戦。<br>
								そんな最中ある事件が起きる。様々の謀略が渦巻く中、無事にルキアを救うことはできるのか。
							</p>
							<a href="/cob/story/02/" class="c-btn_detail">To DETAIL</a>
						</div>
					</div>
				</li>
				<li class="story-list__item story-list_03">
					<div class="inner">
						<h2 class="c-tit-lv_3">～破面編～</h2>
					</div>
					<div class="story-list__item-inner">
						<div class="story-list__contents">
							<p class="c-txt">藍染は崩玉を手に入れ、虚圏へと去って行ったが、収まったが程なくして、新たな脅威が発生。<br>
								虚には違いないが、仮面が割れ、斬魄刀を所持した連中、「破面」が来襲。<br>
								再び混乱が起きる中、織姫が拉致されてしまう。織姫奪還のため、一護たちは虚圏へと潜入する。
							</p>
							<a href="/cob/story/03/" class="c-btn_detail">To DETAIL</a>
						</div>
					</div>
				</li>
				<li class="story-list__item story-list_04">
					<div class="inner">
						<h2 class="c-tit-lv_3">～死神代行消失編～</h2>
					</div>
					<div class="story-list__item-inner">	
						<div class="story-list__contents">
							<p class="c-txt">藍染討伐後、死神の力を完全に失った一護は普通の高校生へと戻る。<br>
								平和な日々が続くが、ある日、一護に銀城空吾という謎の男が接近。<br>
								完現術という特殊能力を所持し、この能力を消し去りたいから協力してほしいというが…。
							</p>
							<a href="/cob/story/04/" class="c-btn_detail">To DETAIL</a>
						</div>
					</div>
				</li>
				<li class="story-list__item story-list_05">
					<div class="inner">
						<h2 class="c-tit-lv_3">～千年血戦編～</h2>
					</div>
					<div class="story-list__item-inner">
						<div class="story-list__contents">
							<p class="c-txt">現世の虚が大量に消失。不審に思った護廷十三隊は調査隊を派遣。<br>
								調査開始後間もなく、謎の軍団の襲撃を受け、隊長格含む大勢の犠牲が出てしまう。<br>
								犯人は千年前に滅亡したはずの滅却師だと判明。千年越しの血戦が始まろうとしていた…。
							</p>
							<a href="/cob/story/05/" class="c-btn_detail">To DETAIL</a>
						</div>
					</div>
				</li>
			</ul>
			<%- include('../inc/_back_to_top') %>
			<div class="bg-band_diagonal bg-band_01"></div>
		</div>
		<%- include('../inc/_footer') %>
	</div>
</div>
</body>
</html>