<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'aizen',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy',
    'nelliel'
  ];
%>
<body>
<div class="container second character grimmjow">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">破壊を司る</span><br>
						<span class="character-detail-nickname_bottom">第六十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">グリムジョー・ジャガージャック</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">186cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">80kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月31日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">豹王</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">破壊</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">Bomb LA（A Bombs）"Step Inside"（And Just Constantly Rotating）</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第6十</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						右顎を象った仮面の名残を着けた、端正な顔立ちに水色のリーゼント風の髪をした不良風の男（ナックルヴァールからはワイルドリーゼント野郎と呼ばれていた）。一人称は「俺」。目元に髪と同じ色の仮面紋がある。腹部に孔があり、右腰背面に『6』の刻印がある。ショートジャケット風の破面死覇装を着ている。千年血戦篇ではジャケットの下にも服を着用し、ズボンも細身の物で腰にベルトを付けており靴も破面篇とは変わっている。卍解状態の一護と渡り合うスピードと、黒い月牙天衝の直撃にも耐える鋼皮を持つ。なお、最初の一護との対戦で一護に【卍解】時の月牙天衝でつけられた傷跡が胸にあるが、あえて残している。
					</p>
					<p class="c-text">
						非常に好戦的で、障害となる（もしくはその可能性のある）者は、強弱を問わず抹殺すべきとの考えの持ち主。その好戦的な性格であるが故に、他の破面と意見が衝突したり、先走った行動に出ることも多い。規律を重んじる東仙とは反りが合わず、藍染にも完全に忠誠を誓っているわけではないようだが、実力差を悟っているのか表立って反目することはない。自分を馬鹿にしたルピを殺した一方で、藍染に強要されたとはいえ東仙に斬られた左腕を治してくれた織姫をロリとメノリから救うなど、恨みも恩も忘れない性格。
					</p>
					<p class="c-text">
						破面になる前（アジューカス級当時）は、豹に近い外見をしていた。シャウロン達とはその頃からの同志であり、シャウロン達に実力を認められて以降、彼らの頭となっている。

シャウロンたちと共に藍染の下に入った時点の階級はNo.12で、同志の中では唯一十刃入りを果たした。
					</p>
					<p class="c-text">
						一護を殺さなかったウルキオラに不服を唱え、藍染の指示を仰がずにシャウロンら5体の従属官を率いて現世を襲撃。ルキアや一護を相手に圧倒的な実力を見せ付けるも、単独行動に気付いた東仙に虚圏へ連れ戻された後、単独行動の処罰として左腕を斬り落とされ一時十刃から外された。後に織姫に失った左腕を修復された後、自らの後任であるルピを殺しNo.6の地位に復帰する。なお死神の虚化のことは一護や平子の虚化を見るまでは知らなかった模様。
					</p>
					<p class="c-text">
						初めて対戦して以来、一護を自身の獲物（好敵手）として認識し一護を自分の手で倒すことに執着している。現世で一護と2回戦い、2回とも決着を付けられずにいた。虚圏に侵入した一護と決着を着けるべく、織姫を連れ出してウルキオラとの戦いで傷を負った一護を治療させ、対等の条件での戦いに臨む。一護の虚化を促した後、斬魄刀を解放して圧倒するが、死闘の末に敗北。未だ闘わんとするも、突如現れたノイトラに斬られ戦闘不能状態となる。そして止めを刺そうとするノイトラの攻撃から一護に庇われた。<br>破面篇ではこの時を最後に本編に登場しなかった。
					</p>
					<p class="c-text">
						単行本33巻を最後にその後の動向は不明の状態となっていたが、69巻で霊王宮の一護たち一行に合流する。ユーハバッハたちには恨みはないが、ユーハバッハを倒さないと世界が滅んで一護とも再戦できないため、一護たちに一時的に協力して滅却師たちと戦うことを明かした。また帰刃せずとも四肢を獣のような形態に変化させ、霊圧の爪で攻撃する能力を獲得している。
					</p>
					<p class="c-text">
						合流後は単独行動を取ろうと一護一行から離れようとする寸前にアスキン・ナックルヴァールと遭遇、真っ先に突撃したが一度は逃げられ、再度発見して飛び掛かるもナックルヴァールの放った「毒入りボール」に不用意に触れてしまい、帰刃をする間もなく戦闘不能になった。その後浦原によって治療され、浦原の卍解で作った侵入経路を利用して帰刃状態でナックルヴァールに奇襲をかけて心臓を握り潰して致命傷を与えるが、彼の最後の能力によって倒れ、ネリエルが救出する場面が描かれた。また、浦原と契約を交わしたのはグリムジョーであることが明かされた。
					</p>
					<p class="c-text">
						決戦後を描く小説版『Can't Fear Your Own World』では、虚圏に帰還した後、ハリベルらと共に、虚を兵隊にしようと襲撃してきたリルトット、ジゼル、ゾンビとなったバンビエッタと敵対するが、「王様」になるべく乱入した彦禰と交戦する。その後、彦禰を追って単身尸魂界に乗り込み、成り行きで強化改造されたルピと互角の攻防を演じた末に京楽率いる混成部隊に同行、藍染に服従していた頃から久しく忘れていた自身が「王」という矜持を取り戻し、現在は斬魄刀『已己巳己巴』と呼ばれているバラガンをも上回る大虚との戦いに臨む。人情よりも本能を優先する気質から月島の「ブック・オブ・ジ・エンド」の効果が薄く、ナックルヴァールの毒を喰らっている事から他の毒物に対して免疫を獲得している。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『豹王』</span>
						</dt>
						<dd class="ability__txt c-text">普段の形状は鉤状の鍔のある刀。解放の際、指先に霊圧を溜め刀の刃を引っ掻く（隻腕の時は刀を抜きながら解号を唱えていた）動作を取る。唱えた後、解放された霊圧が旋風を巻き起こす。</dd>
						<dd class="ability__txt c-text">解放すると右頬の仮面が消え、額に仮面が形成される。顔つきも鋭い牙、猛獣の鬣を思わせる長髪、獣のように尖った耳など、獣人のように変化する。さらに服がアジューカス級大虚時と酷似している鎧のようなものに変化し、脚も豹のそれを思わせる形状に変化する。また、長い尻尾が形成され、両肘・両脚には刃が付くのが特徴。加えて、雄叫びだけで一護を怯ませる程の凄まじい音圧を発生させることが可能。解放後は虚化した一護と対等に渡り合えるほどの戦闘力を発揮する。斬魄刀票では9位を獲得している。</dd>
						<dd class="ability__txt c-text">なお劇中では現世で2回ほど刀剣解放を試みたが1回目は東仙、2回目はウルキオラにそれぞれ阻止されてしまったことがあり、アニメ版の特設コーナー『アランカル大百科』ではそのことに対して愚痴を零していた。</dd>
						<dd class="c-ability__txt c-text">解号は「軋れ『豹王』（きしれ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「豹鉤（ガラ・デ・ラ・パンテラ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放時に使用。肘の装甲の隙間からトゲ状の弾を同時に最大5本発射する技。破壊力は弾一つで虚夜宮内の巨大な柱を破壊するほどである。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「豹王の爪（デスガロン）」</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀解放時のグリムジョー最強の技にして最大の攻撃手段。両手を前方にかざし、両の爪から霊圧で十本の青色の巨大な刃を両手に創り、敵を切り裂く。卍解・虚化状態の一護を一旦は後退させるほどの威力がある。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">掌底から放つ。後述の「掴み虚閃（アガラール・セロ）」のように、至近距離で放つ場面が多い。卍解状態（一護との3度目の戦い当時）の月牙天衝を破るほどの威力がある。色は赤色だがゲームでは青色となっている。小説版『Can't Fear Your Own World』では、咄嗟に少量の血を混ぜることで「王虚の閃光」ほどではないが威力を強化する戦法を用いた。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「掴み虚閃（アガラール・セロ）」</dt>
						<dd class="c-ability__txt c-text">『BLEACH Wii 白刃きらめく輪舞曲』及び『BLEACH DS The 3rd Phantom』で初登場した技。相手の顔面等、体の一部を鷲掴みにした状態で、零距離で虚閃を放つという荒業。原作ではルキアに使用しようとした。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「王虚の閃光（グラン・レイ・セロ）」</dt>
						<dd class="c-ability__txt c-text">解放前に使用。作中で使用した際は、斬魄刀を地面に突き刺し、刃に指を沿わせて出た血を虚閃に混ぜて放った。通常の虚閃とは違い、色は青色になっている。ゲームでは解放後も使用している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚弾（バラ）」</dt>
						<dd class="c-ability__txt c-text">現時点では『BLEACH Wii 白刃きらめく輪舞曲』でのみ使用している。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>