<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_06">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">歴代剣八の例外</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">作中の更木は第十一代目剣八である。前代（第十代目）の剣八である鬼厳城を決闘にて屠り就任した。
						その鬼厳城は九代目を打倒して就任したわけだが、今回はその九代目のさらに前の八代目の剣八まで遡ることになる。八代目の剣八の名前は痣城双也（あざしろそうや）と言い、貴族の出の青年である。彼は七代目の刳屋敷剣八（くるやしきけんぱち）を決闘にて倒し剣八に就任した。無駄を嫌う性格だったため、人間の魂魄が虚になり得る要因を取り除く「魂魄改造計画」を四十六室の裁定を振りきって押し通そうとしたことで、現在は藍染惣右介も投獄されている「無間」の獄に繋がれている。その影響にて、当時の副隊長が繰り上がったのが九代目であり、これは正式な就任ではなかった。</p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>