<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'uryu',
	'otoribashi',
	'kensei',
	'zaraki',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol'
  ];
%>
<body>
<div class="container second character giselle">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">相手をゾンビに変える</span><br>
						<span class="character-detail-nickname_bottom">危険な星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ジゼル・ジュエル</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">Z(死者:THE Zombies)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						小さな軍帽を被り、長髪の黒髪を結わえて触覚を作っている滅却師。霊子兵装はハート型のバックルを叩いて出現させる弓で、骨が連なったような形状をしている。完聖体では骨で形成された翼が生える。天然を装っているがその実、嗜虐的な性格をしており、興奮すると涎を垂らすことが多い。一人称は「ボク」で、通称「ジジ」。女性の外見をしているが、実は女装した少年。男であることを指摘されると途端に敵意を剥き出しにする。実力はリルトットと同格らしく完聖体にもなれるが、「疲れるから」と極力出し渋っている。後述の能力から、自身が戦うよりもゾンビを使役して戦うことが多い。
					</p>
					<p class="c-text">
						二度目の侵攻では、バズビーや蒼都との戦いで力尽きた日番谷と松本を回収後、狛村との敗戦で戦闘不能になったバンビエッタを殺害し、彼女の死に際の顔を見て性的興奮を得てゾンビに変えた後、リルトットやミニーニャやキャンディスとともに消耗した剣八の前に出現。十一番隊隊士を虐殺し、多数の一般隊士をゾンビ化させた。一角・弓親と対峙したときは当初は弱者の振る舞いを見せていたが、弓親に性別を見抜かれたことでバンビエッタを召喚して二人を撃破。次に現れたマユリが率いる再生した破面にバンビエッタや多数の一般隊士を倒され、ゾンビ化した日番谷や拳西やローズや松本の4人を差し向けるが、マユリが新薬で彼らの支配権を奪ったことで形勢が逆転し、拳西の刀に胸を貫かれて敗北した。その後は何とか逃げ延び、バンビエッタから血液を啜って回復するも、直後に聖別により力を奪われる。リルトットと同じく、「見えざる帝国」には比較的新参だった。その後、リルトットやバズビーとともに門作りに手を貸し、真世界城に到着する。到着後はリルトットとともにユーハバッハと交戦するが、返り討ちに遭い倒された。
					</p>
					<p class="c-text">
						小説版『BLEACH Can't Fear Your Own World』では生存が判明し、リルトットと行動をともにしている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『死者（ザ・ゾンビ）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">聖文字“Z”の能力。自分の血を浴びせた者をゾンビに変え、意のままに操れる。ゾンビとなった者は致命傷を受けても活動を止めず、その肉を生者が受けた傷の修復に利用することも可能。その性質から、星十字騎士団の中でも一際残虐性の高い能力である。</dd>
						<dd class="ability__txt c-text">対象が生存している状態でのゾンビ化では細胞が新鮮に保たれているため戦闘力はほとんど低下せず、もともとの本人の意識も消えて精密な操作ができる反面、死亡後にゾンビ化させた場合は自我が残る代わりに生前よりも力が落ちる。死神に対しては自分の血を浴びせるだけでゾンビに変えることができる一方、「見えざる帝国」の滅却師に対しては一度死亡した状態でなければゾンビに変えることができない。よって滅却師をゾンビ化させる場合は必然的に弱体化してしまう。霊圧の弱い者ならわずかな血液でゾンビにできるが、隊長格並みの霊圧を持っている者に対しては多量の血液を必要とし、心臓で血液を増量させたうえで全身に循環させる必要があるため、肌が赤黒く変色する特徴がある。『BLEACH Can't Fear Your Own World』において、虚に対しては一時的にしか効果が続かないことが判明した。</dd>
						<dd class="ability__txt c-text">また、体を切り裂かれても平然としているなど高い不死性を持つが、回復力に直結しているわけではなく、体内の血液量が不足していると再生に支障が出る。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">骨で形成された翼が生える。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">霊子兵装の弓から先端が髑髏マークの形をした矢を放つ。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>