<%- include('./inc/_head', {page_flg:'index', page: json['index']}) %>
<body>
<div class="container top">
	<div class="container__inner">
		<%- include('./inc/_header', {current:'index'}) %>
		<div class="main-visual">
			<div class="main-visual__inner">
				<h1 class="main-visual-txt">
					<span class="main-visual-txt__txt">Open the truth and<br class="sp_only"> solve the mystery</span>
				</h1>
			</div>
		</div>

		<div class="main-contents">
			<h2 class="c-tit-lv_2">MainContents</h2>
			<div class="main-contents-block">
				<ul class="main-contents-list">
					<li class="main-contents-list__item story _an _lr">
						<div class="main-contents-list__contents">
							<div class="main-contents-list__contents-txt">
								<h4 class="c-tit-lv_3">～STORY～</h4>
								<p class="c-txt">各章のストーリーを紹介。</p>
								<a href="/cob/story/" class="c-btn_detail">To STORY</a>
							</div>
						</div>	
					</li>
					<li class="main-contents-list__item character _an">
						<div class="main-contents-list__contents">
							<div class="main-contents-list__contents-txt">
								<h4 class="c-tit-lv_3">～CHARACTER～</h4>
								<p class="c-txt">登場人物の詳細な情報を紹介。</p>
								<a href="/cob/character/" class="c-btn_detail">To CHARACTER</a>
							</div>
						</div>	
					</li>
					<li class="main-contents-list__item consideration _an">
						<div class="main-contents-list__contents">
							<div class="main-contents-list__contents-txt">
								<h4 class="c-tit-lv_3">～CONSIDERATION～</h4>
								<p class="c-txt">原作を普通に読むだけでは解けない謎もあるので、気になる謎を解く。</p>
								<a href="/cob/consideration/" class="c-btn_detail">To CONSIDERATION</a>
							</div>
						</div>	
					</li>
				</ul>
				<div class="bg-band_diagonal bg-band_main-contents _an"></div>
			</div>
		</div>
		<%- include('./inc/_footer') %>
	</div>
</div>
</body>
</html>