<%- include('../../inc/_head', {page_flg:'consideration_detail', page: json['consideration_detail']}) %>
<body>
<div class="container second consideration consideration_detail consideration_03">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'consideration'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CONSIDERATION</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="detail-tit">
					<span class="detail-tit-tit">十一番隊隊長「剣八」</span>
				</p>

				<ul class="detail-list">
					<li class="detail-list__item detail-list__01">
						<p class="c-txt detail-list-txt">護廷十三隊の隊長になる条件の一つとして、「隊員200名以上立ち合いのもと、現隊長を一騎打ちで打ち倒す」が認められている。実際にこの条件で隊長になったのは作中では十一番隊だけのようである。別に他の隊でも認められてはいるが挑戦者が単にいないだけなのだろうか。この十一番隊だけは代々その決闘の方式で代替えを行ってきたようである。もともと最強の死神のあだ名として「剣八」というのがあり、さらにその剣八を次代の挑戦者が斬り、剣八を襲名する。ということは現在の剣八は最強であるということになる。しかし、歴代には必ずしも一騎打ち以外での襲名もあったようである。それは更木から数えて三代前まで遡ることになる。</p>
					</li>
				</ul>
			</div>
			<a href="/cob/consideration/" class="c-btn_detail consideration-list-back">To CONSIDERATION</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>