<%- include('../inc/_head', {page_flg:'character_index', page: json['character_index']}) %>
<body>
<div class="container second character">
	<div class="container__inner">
		<%- include('../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
		<div class="main-contents_second">
			<div class="inner">
				<p class="c-txt c-second-txt">見たいCHARACTERを選択してください。</p>
			</div>
			<div id="data">
				<div v-for="category in categorys" :class="'character-list-block character-list-block_' + [category.categorys_number]">
					<h3 class="c-tit-lv_3">～{{ category.categorys_name }}～</h3>
					<ul :class="'character-list character-list_' + [category.categorys_number]">
						<li v-for="caracters in category.caracter" :class="'character-list__item ' + [caracters.charaNameClass] + ' _an'">
							<a :href="'/cob/character/' + [caracters.charaNameClass] + '/'" class="character-list__link">
								<div class="character-list__contents">
									<div class="character-list__txt">
										<p class="character-list__txt-txt" v-html="caracters.description"></p>
										<p class="character-list__txt-name">{{ caracters.name }}</p>
									</div>
									<div class="character-list__img"></div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<%- include('../inc/_back_to_top') %>
			<div class="bg-band_diagonal bg-band_01"></div>
		</div>
		<%- include('../inc/_footer') %>
	</div>
</div>
</body>
</html>