<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'byakuya',
    'renji',
    'rukia',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character bazz-b">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">炎の能力を持つ</span><br>
						<span class="character-detail-nickname_bottom">星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">バズビー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">H(灼熱:THE Heat)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						赤毛のモヒカン頭の男。右耳にボルトと左耳にナットを着けている。本名は「バザード・ブラック」。ハッシュヴァルトこそユーハバッハの後継者にふさわしいと考えており、雨竜に敵愾心を燃やしている。性格は直情的で自慢のモヒカンを馬鹿にされると激怒するが、恋次の眉毛のセンスを認めた数少ない一人。吉良を一撃で殺害したのを皮切りに、三番隊の席官たちを襲撃する。のちにユーハバッハのもとへ来た元柳斎をエス・ノト、ナジャークープとともに奇襲するも一蹴される。自身の能力で炎を相殺したため全身に大火傷を負いながらも生存しており、救助を求める隊士を踏み躙った。
					</p>
					<p class="c-text">
						撤退後、ユーハバッハが自分の後継者に石田雨竜を選んだことに不服を持ち、直接抗議しようとするもそれを止めようとしたハッシュヴァルトと一触即発となった。
					</p>
					<p class="c-text">
						二回目の侵攻では日番谷・松本と遭遇。二人の連携に倒されたかに見えたが効いておらず日番谷を追い詰めるも、ユーハバッハの「卍解の元の持ち主は奪取した者が倒す」という命令に従い蒼都に譲り、彼が卍解を取り戻した日番谷に敗れたのを見て撤退する。その後、剣八のもとへ向かう平子や雛森や大前田を襲撃したあと、一護と交戦していたリルトットやキャンディス、ミニーニャ、ジゼルを妨害し、援護に来たルキア、恋次と完聖体で対峙する。おもに聖文字の能力を使用しているが、クロスボウのような霊子兵装も使い、完聖体では棒状の翼が生える。その後、聖別の光を受けて力を奪われてしまう。ジゼル、リルトット、ナジャークープとともに死神たちのもとに向かいナジャークープを戦闘不能にしたあと、自分たちを見限ったユーハバッハへの報復として死神たちに共闘戦線を申し出て、門作りに手を貸して真世界城にてハッシュヴァルトと交戦し、すべてのバーナーフィンガーを使用するも右腕を飛ばされ、一太刀の下に敗れた。そして、ハッシュヴァルトに「お前に敗れたらもっと悔しいもんだと思ってた」と呟いたこととは裏腹に顔は笑みを浮かべており、その後に死亡した。
					</p>
					<p class="c-text">
						ハッシュヴァルトとは少年期に出会っており、当時はソフトモヒカンのような髪型だった。そのころにユーハバッハによって住んでいた城を燃やされ、復讐を誓い騎士団入りを決意した。そのため、実際はユーハバッハへの忠誠心は持っていない。同年代よりも才能に溢れており、ハッシュヴァルトの兄貴分として接していたが、その才能はハッシュヴァルトの能力の賜物だったとユーハバッハに暴露され、以降ハッシュヴァルトに強い対抗意識を持つこととなった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『灼熱（ザ・ヒート）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">聖文字“H”の能力。元柳斎の始解『流刃若火』を相殺できる火力を持つ炎を自在に操る。日番谷との小手調べでは不定形の炎を無造作にぶつけていたが、技を使う際には何らかの形状を伴った炎となる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーニング・ストンプ」</span>
						</dt>
						<dd class="ability__txt c-text">踏み付けと同時に熱波を放出する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーナーフィンガー1（ワン）」</span>
						</dt>
						<dd class="ability__img img_02"></dd>
						<dd class="ability__txt c-text">人差し指から弾丸のように飛ぶ炎を発して相手を射抜く。完聖体時は連射ができるようになる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーナーフィンガー2（ツー）」</span>
						</dt>
						<dd class="ability__txt c-text">人差し指と中指から鉤爪のような形状の炎を放ち、相手を焼き切る。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーナーフィンガー3（スリー）」</span>
						</dt>
						<dd class="ability__txt c-text">人差し指・中指・薬指の間から旗のようにひらめく炎を放ち、着弾地点にマグマを発生させる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーナーフィンガー4（フォー）」</span>
						</dt>
						<dd class="ability__txt c-text">親指以外の4本を揃え、剣のような形の炎で相手を焼き切る。完聖体時には巨大な爆炎が発生する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「バーニング・フル・フィンガーズ」</span>
						</dt>
						<dd class="ability__txt c-text">バズビー最大の技で、5本の指先から螺旋状に渦巻く巨大な炎を放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">棒状の翼が生える。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">霊子兵装のクロスボウから矢を放つ。少年期から使用していた。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>