<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'uryu',
    'otoribashi',
    'kensei',
    'renji',
    'hisagi',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'candice',
    'gremmy',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character masculine">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">声援の力でパワーアップする</span><br>
						<span class="character-detail-nickname_bottom">自称正義の英雄</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">マスクド・マスキュリン</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">S(英雄:THE Super Star)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						額に星マークの入ったマスクを被った覆面レスラーのような格好の男。見ての通りプロレス技が得意。一人称は「ワガハイ」で、目立つことを好む。己を「正義」、敵対する者を「悪党」と定義しているが、その言動はお世辞にもヒーローとは言いがたく、頭に血が上ると善悪云々をかなぐり捨てる激情的な一面もある。倒した「悪党」は記憶しない主義で、一度倒した恋次と再戦してからもしばらくの間は気づかなかった。ベルトに滅却十字を仕込んでいる。
					</p>
					<p class="c-text">
						エス・ノトと交戦中の恋次を襲撃するも、白哉に足元を崩され一時的に戦線を離脱。その後に再度出現し、白哉を援護しようとした恋次をドロップキックで倒す。この際情報の読み込みが足りず、恋次が卍解を使えることを知らなかった。
					</p>
					<p class="c-text">
						二回目の侵攻では夜になってから檜佐木・一角・弓親を不意打ちで倒し、続いて拳西とローズと対峙する。当初は拳西の卍解に圧倒されるが、ジェイムズの声援を浴び形勢逆転。拳西を圧倒して勝利し、卍解を発動させたローズも彼が能力を喋ってしまったため特性を見抜き、撃破する。直後に増援に駆けつけた恋次と交戦するが、零番離殿の修行で実力を大幅に上げた恋次には歯が立たず、頭部に星が現れ翼を思わせるマントを纏う滅却師完聖体を発動させるが、恋次の真の卍解で倒され死亡した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『英雄（ザ・スーパースター）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“S”の能力。付き人であるジェイムズの声援を浴びることで傷の回復やパワーアップが可能。鼓膜が破れた状態でも効力を発揮していたことから、ジェイムズの声援が聞こえなくとも受けるだけで効力を発揮すると考えられる。増殖したジェイムズたちの声援を浴びると「スター・パワーアップ」を完了し、マスクの模様が変化してチャンピオンベルトが巻かれたプロレスパンツ一丁の姿となり、攻撃を行うことで1マイル（約1609.344メートル）先にも届く衝撃波を発生させる「ワン・マイル・アーツ」の使用が可能となる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">頭部に星が現れ翼を思わせるマントを纏う。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「スター・フラッシュ・スーパー・ノヴァ」</span>
						</dt>
						<dd class="ability__txt c-text">完聖体となって使用する、マスキュリン最大の必殺技。空中に描いた五芒星から、巨大な「スター・フラッシュ」を放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「スター・殺人パンチ」</dt>
						<dd class="c-ability__txt c-text">「スター・パワーアップ」前に使用。マスキュリンの怒りに応じて星の紋章が現れた拳で繰り出す殴打。破壊力はそれまでの10倍にも及ぶとされる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「スター・ドロップキック」</dt>
						<dd class="c-ability__txt c-text">修行前の恋次を不意打ちとはいえ一撃で倒したドロップキック。卍解した拳西にはまったく通用しなかった。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「スター・イーグルキック」</dt>
						<dd class="c-ability__txt c-text">拳西に対して繰り出した飛び膝蹴り。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「スター・ヘッドバット」</dt>
						<dd class="c-ability__txt c-text">拳西に対して繰り出した頭突き。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「スター・ロケット・ヘッドバット」</dt>
						<dd class="c-ability__txt c-text">恋次との再戦時に使用。ロケットの如き勢いで繰り出す頭突き。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">
							<span class="c-ability__tit-txt">「スター・ラリアット」</span>
						</dt>
						<dd class="ability__txt c-text">「スター・パワーアップ」後に使用。恋次に対して繰り出したラリアット。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">
							<span class="c-ability__tit-txt">「スター・フラッシュ」</span>
						</dt>
						<dd class="c-ability__txt c-text">マスクから星型のビームを放つ必殺技。隊長のローズを一撃で倒す威力を誇る。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>