<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'uryu',
    'isshin',
    'masaki',
    'genryusai',
    'aizen',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character yhbh">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">全ての未来に干渉可能な</span><br>
						<span class="character-detail-nickname_bottom">全知全能の滅却師の始祖</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ユーハバッハ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">A(全知全能:THE Almighty)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						「千年血戦篇」から登場した、配下からは「陛下」と呼ばれる滅却師の始祖。呼称の由来は旧約聖書における唯一神にして世界の創造主とされる「YHVH（ヤハウェ）」。自分の不興を買う者は、部下であろうと容赦なく殺害する冷酷な男。武器は胸の滅却十字に収納した、鍔の部分が鷹の意匠となっている大剣。死神の力を一度失い、完現術の力と合わせて復活したころの一護の始解『斬月』と酷似している。この剣にも正式な名前と何らかの能力があることが示唆されていたが、兵主部に名前を奪われ明かされることはなかった。霊王にとどめを刺すのに使われた以降は霊子で象った光の大剣を使用している。
					</p>
					<p class="c-text">
						一護の『斬月（死神ではなく滅却師の力の側面）』の具象化した姿は、千年前の彼の姿である。そのため、少年期のころの姿は天鎖斬月と瓜二つだった。千年前、若き日の山本元柳斎および結成当初の護廷十三隊と交戦している。その際に敗れはしたが、何らかの理由があってとどめは刺されないで逃げることに成功したらしいが、詳しいことは最後まで明かさなかった。マユリはこのことを知っているらしく、この度の滅却師たちの侵攻は、千年前にユーハバッハにとどめを刺しきれなかったことや、石田が初めて尸魂界に旅禍として乗り込んできたときに危険分子として忠告していたのに聞く耳を持たなかった元柳斎に非があるのではと苦言を呈している。
					</p>
					<p class="c-text">
						滅却師が周囲の霊子を集めて力とするのに対し、彼のみは、血液を飲ませるなどして自身の身体の一部を他者に取り込ませることで霊子を分け与え強化する能力と、能力を与えた者が死ぬとその者の魂と能力を吸収してパワーアップする能力を持つ。「戦いを好まない」と嘯きながらも上記のように部下をも処刑し続けるのは、このようにして力の分与と吸収を続けていないと、いずれは力を完全に失ってしまうためである。「3重苦」を持って生まれたが、この2種の能力により障害を克服し、千年以上も強くなりながら生きながらえており、9年前の「聖別」によって純血統以外の滅却師の力をすべて奪って力を取り戻し、配下の軍勢を率いて尸魂界への侵攻を実行する。元柳斎と対峙し、彼が千年前と比べ平和に甘んじて弱体化したことを嘆きながら、卍解を奪った（しかし、最後まで使用することはなかった）上で殺害した。尸魂界に駆けつけた一護と交戦、圧倒するも「影の領域」外での活動限界が訪れて撤退。去り際に、一護に意味深な言葉を残して去る。
					</p>
					<p class="c-text">
						その後、旗下に加わった石田雨竜を自らの後継者に指名することを、他の部下たちの前で宣言する。一連の侵略は死神の根絶と、最終的には霊王の殺害が目的であるようで、瀞霊廷を蹂躙することで零番隊を出動させ、一護が霊王宮から瀞霊廷に帰還した際に開けられた霊王宮への障壁の穴を通って、石田雨竜やハッシュヴァルトを伴い霊王宮へ侵攻、零番隊に対して自らの親衛隊を呼び出して戦わせる。倒された親衛隊を聖別で蘇らせたあと、自ら兵主部一兵衛と対峙する。兵主部に能力で追い詰められるも真の能力を解放し、兵主部を粉々に粉砕したあとに霊王を殺害した[14]。当初は霊王亡き後の世界崩壊を見届けるつもりだったが、霊王の右腕『ミミハギ様』を取り込んだ後は霊王のすべてを奪い尽くすことを宣言。霊王の亡骸を全て取り込んだことで顔の上半分が黒く染まり、無数の眼を持った奇怪な姿に変貌。瀞霊廷を覆っていた見えざる帝国を霊王宮へと移し、真世界城を創り上げた。
					</p>
					<p class="c-text">
						護廷十三隊が真世界城に侵攻した際は、襲撃してきたリルトットやジゼルを返り討ちにしたあとに眠りにつく。その後、一護に斬り捨てられる悪夢を見た直後に現れた一護と交戦。あらゆる力を統合して戦う一護に対し自身も「全知全能」の真髄を発動させ、一護が修得した真の卍解すら破壊して完勝した後、彼の力を奪う。そして巨大な黒い天蓋を出現させ、まだ交戦していたハッシュヴァルトとジェラルドに聖別を仕掛けて彼らを抹殺。門を作り出して瀞霊廷に向かい、その場に拘束されていた藍染と後を追いかけてきた一護や恋次と交戦する。そして、終始彼らを圧倒していたかのように見えたが、藍染の鏡花水月に幻惑されて予知を読み違い、一護の背後からの一撃で一度は致命傷を負うも、なおも復活し尸魂界を滅ぼそうとする。しかし、雨竜の撃った「静止の銀」の作用により一瞬だけ全ての力を失い、一護の破壊された卍解から現れた『斬月』に斬られて、遂に倒された。消滅する間際、その目的は現世・尸魂界・虚圏の境界を破壊して生死の境を消し、人々を死の恐怖から解放することにあったことを、無念の涙を流しながら語った。
					</p>
					<p class="c-text">
						存在の強力さゆえにユーハバッハの死後もその力の残滓は尸魂界に残り、十年の時を経てもなお力が噴出するも、一勇の介入により呆気なく消滅してしまった。<br>
						小説版では、霊王が死んだ後に零番隊がユーハバッハの亡骸に結界を張って霊王の代わりにし、世界の崩壊を防いだことが判明した。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『全知全能（ジ・オールマイティ）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“A”の能力。眼球に瞳が2つ、3つと出現し、未来のすべてを見通し知ることができる。この能力で知った力はすべて無効化でき、兵主部の能力を打ち破った。「力を取り戻す9年」を終える前での使用は制御不可能に陥る危険があった。見通す未来は枝分かれした無数の未来にも及び、さらに選択した未来の事柄を自在に改変することが出来る。ただし、霊王と同質の存在の未来を見ることはできず、霊王の右腕が自身の関知していない場所にあったことや、右腕を内包していた浮竹が世界の崩壊を防ぐために右腕を解き放つことも読めなかった。霊王を吸収したあとは、能力発動時に体にまとった黒い影にいくつもの眼が見開かれるようになった。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「聖別（アウスヴェーレン）」</dt>
						<dd class="c-ability__txt c-text">不要な滅却師の命と力を徴収し、必要な者に分け与える『力の再分配』を行う。千年血戦篇の9年前、ユーハバッハが自身の復活のために使用した際は一護や石田の母の死の遠因にもなった。 霊子の干渉ではない為、曳舟の「命の樹」も素通りした。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「大聖弓（ザンクト・ボーゲン）」</dt>
						<dd class="c-ability__txt c-text">巨大な霊弓を出現させ、大型の矢を放つ。自分に向かって撃ち、千里通天掌の反動から帰還した。同様の方法で作り出した光の剣で、元柳斎を斬っている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「外殻静血装（ブルート・ヴェーネ・アンハーベン）」</dt>
						<dd class="c-ability__txt c-text">通常の滅却師では体表にしか発動させられない「静血装」を、体外に発動させるユーハバッハのみの技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「簒奪聖壇（ザンクト・アルタール）」</dt>
						<dd class="c-ability__txt c-text">頭上にメダリオンを思わせる紋章を出現させ、対象の力を奪う。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>