<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'urahara',
    'isshin',
    'masaki',
    'aizen',
    'gin'
  ];
%>
<body>
<div class="container second character white">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">奇しくも一護の力の源になった</span><br>
						<span class="character-detail-nickname_bottom">死神ベースの改造虚</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ホワイト</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						一護の父・一心の回想に登場した、藍染一派が作り出した試作虚の一体。ヴァストローデ級のごとく人間程度の大きさで、刀状の両腕、肉塊状の物質で塞がった孔、ほぼ仮面部以外の全身を覆う真っ黒な鎧が特徴。二本角の仮面は完全虚化時の一護を思わせる。数多くの死神の魂魄を重ねて作られており、当時の十番隊隊長だった一心とも渡りあうほどの高い実力を持つ。黒い鎧をまとっているが、その下の皮膚の白さゆえ「ホワイト」と東仙要に命名された。空座町の隣町・鳴木市でひと月に一度出現し、死神を襲っていたが一心と交戦。加勢に入った黒崎真咲を襲い噛みつくも、ゼロ距離からの神聖滅矢を受けて倒される。しかしその咬み傷から自らを真咲の体内に転移させており、これにより真咲は虚化に苦しむことになる。浦原の協力を得た一心が真咲の虚化を食い止めたことで症状は抑えられ、その力は二人の息子である一護に受け継がれた。
					</p>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>