<%- include('../../inc/_head', {page_flg:'story_detail', page: json['story_detail']}) %>
<body>
<div class="container second story story_detail story_02">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'story'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<div class="main-contents_second">
			<h2 class="c-tit-lv_2">STORY</h2>
			<div class="inner">
				<ul class="story-detail-list">
					<li class="story-detail-list__item story-detail-list__01">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">隊長殺害の事件発生</span>
									<span class="story-detail-list__txt-tit_bottom">瀞霊廷では混乱の予感</span>
								</p>
								<p class="story-detail-list__txt-txt">
									瀞霊廷に侵入した一護たちは、それぞれ別れて進む。
									途中隊長格との激しい戦闘を繰り広げ、茶渡と雨竜は捕縛される。
									織姫は十一番隊長の剣八一行と行動を共にする。
									そんな中、五番隊隊長の藍染惣右介が何者かに殺害される事件が発生する。
									瀞霊廷に暗雲の兆しが見え始める。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__02">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">一護は卍解の修行</span>
									<span class="story-detail-list__txt-tit_bottom">恋次は白哉との戦闘へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									一護は、自身の斬魄刀が始解状態であり、もう一段階の解放である卍解が可能
									だと、夜一に教えられる。ルキアを救出するには、この卍解の力が必要になる
									ので、一護は修行を始める。
									一方、恋次は一護に敗北した後、独断にてルキア救出に向かい、白哉に阻まれ
									戦闘になる。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__03">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">一護、ルキア救出へ</span>
									<span class="story-detail-list__txt-tit_bottom">再び白哉との決戦へ</span>
								</p>
								<p class="story-detail-list__txt-txt">
									恋次に勝利した白哉はルキアの処刑を見届けるべく双極の丘げ向かう。
									処刑実行の瞬間、一護はルキアを救出する。卍解習得の修行を終え、
									劇的に実力をアップさせていた。
									白哉との決戦に臨む。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__04">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">会得した卍解で追い込むが</span>
									<span class="story-detail-list__txt-tit_bottom">徐々に追いつめられる</span>
								</p>
								<p class="story-detail-list__txt-txt">
									白哉の卍解を受けて、一護も卍解にて応戦。<br>
									超速戦闘の卍解にて白哉と渡り合うが今までのダメージや疲労により、
									動けなくなってしまう一護。止めを刺される直前に内なる虚が現れ、白哉
									を圧倒する。自分で虚の仮面を剥がし、素の自分で決着を望む。
									最後の一撃にて、辛くも勝利した一護だが、まだ終わっていなかった。
								</p>
							</div>
						</div>
					</li>
					<li class="story-detail-list__item story-detail-list__05">
						<div class="story-detail-list__contents">
							<div class="story-detail-list__img"></div>
							<div class="story-detail-list__txt">
								<p class="story-detail-list__txt-tit">
									<span class="story-detail-list__txt-tit_top">事件の黒幕と目的判明</span>
									<span class="story-detail-list__txt-tit_bottom">虚圏へと消える藍染</span>
								</p>
								<p class="story-detail-list__txt-txt">
									ルキアの処刑を裏で操っていたのは殺害されたと思われていた、
									五番隊隊長藍染惣右介だった。彼は自らの研究のため、浦原によって
									ルキアの体内に埋没させていた「崩玉」を取り出す。
									崩玉を手に入れた藍染は、部下の市丸ギンと東仙要と共に虚圏へと
									消えて行った。
									護廷十三隊は戦後の対応と藍染の動向調査に追われることになる。
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<a href="/cob/story/" class="c-btn_detail story-list-back">To STORY</a>
		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>