<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'genryusai',
    'soifon',
    'otoribashi',
    'hirako',
    'byakuya',
    'komamura',
    'syunsui',
    'kensei',
    'hitsugaya',
    'zaraki',
    'ukitake',
    'isane',
    'renji',
    'nanao',
    'hisagi',
    'rangiku',
    'rukia',
    'tenjiro',
    'hiyori'
  ];
%>
<body>
<div class="container second character unohana">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">初代十三隊から所属している</span><br>
						<span class="character-detail-nickname_bottom">初代剣八</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">卯ノ花列</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">159cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">45kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">一千歳以上</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月21日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊四番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">肉雫唼</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">皆尽</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">濃い味</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						隊長・元十一番隊隊長 (初代)<br>落ち着いた容姿で言動共に静かで穏やかな女性。髪が長く量も多く巨乳。戦線に余り出ないが、『カラブリ+』による戦闘データでは攻撃力、鬼道・霊圧、知力が最高(100)でそれ以外のデータも高水準の数値を有する（総合値では隊長の中でもトップクラス）。<br>零番隊の麒麟寺天示郎から回復・治療用の鬼道「回道」を教わっている。羽裏色ははいざくら、羽織は袖のあるタイプ。月に一度生け花教室を開いていた。基本的に温厚な人格者だが、言うことを聞かない患者や自分の意見に素直に従わない者には笑顔で威圧する。アニメで山田花太郎からコンビニ開設の案を出された時に、化粧品も置くように言うようなほのぼのした一面もある。休日には薬草探しのために登山しているが自分の足ではなく斬魄刀の『肉雫唼』を使って登っている節がある。
					</p>
					<p class="c-text">
						尸魂界での騒動においては、藍染の「死体」のもつ微かな不自然さをただ一人感じ取り、日番谷と同様に藍染の謀略に気づいたため、死神側が迅速な行動を取ることができた。<br>破面篇では白哉・剣八・マユリと共に虚圏へ侵入し、茶渡とガンテンバインに救護を施した後、現世に駆けつけようとする一護に同行する。現世までの道中で虚圏の戦闘で傷ついた一護を回復させ、現世に辿り着いた後は、傷ついたひよ里らの治療に当たる。
					</p>
					<p class="c-text">
						千年血戦篇で「卯ノ花 八千流（うのはな やちる）」という本名、初代「剣八」（ミュージカルから逆輸入された設定)であると判明。本名の「八千流」は数多くの剣術流派を取得したと自負して自ら名付け、大罪人であったが元柳斎に力を買われて十一番隊隊長になり、現在に至る十一番隊の基礎を作り上げた人物でもある。<br>京楽の「更木剣八に斬術を教える」という指示で更木剣八と死闘を繰り広げ、その能力を開花させた事に満足し、その刃の前に倒れた。
					</p>
					<p class="c-text">
						『カラブリ+』の「瀞霊廷通信」の単行本紹介欄（ジャンプコミックスのそれのパロディ）を見ると、山本総隊長を除いて唯一千を超える巻数の単行本を出している。山本と卯ノ花についで長いのは京楽春水の146巻。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『肉雫唼（みなづき）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放とともに巨大なエイに似た生物に変化し、呑みこんだ者に対し治癒能力を発揮する。封印状態のときは普通の刀よりもかなり曲がった刀身をしており、肩かけ用の紐がついている。封印時にはよほどのことがない限り勇音に携帯させている。解号は不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『皆尽（みなづき）』</span>
						</dt>
						<dd class="ability__txt c-text">始解と同じ名をもつ卍解。能力開放とともに血のような液体が周囲に滴り、それらを刀身に収束したような刀となる。詳細な能力は不明。ゲーム『Brave Souls』では、斬撃を仕掛けたあとに味方全員の体力を回復し、当たった敵全員にダメージを与える効果である。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>