<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'genryusai',
    'syunsui',
    'rukia',
    'stark'
  ];
%>
<body>
<div class="container second character ukitake">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">死神代行制度を考案した</span><br>
						<span class="character-detail-nickname_bottom">心優しき十三番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">浮竹十四郎</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">187cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">72kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">一千歳以上</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月21日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊十三番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">双魚理</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">おはぎ</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現隊長<br>下級貴族の出身。ルキアの直属の上官で父親のような眼差しで見守る心優しき男。生まれついて病弱で、幼少の頃より肺病を患う。それが原因で髪の色が白く、時折血を吐くため寝込むこともあり、隊集会を休むこともしばしばだが、驚異的な実力と明るく温和で義理堅い性格を持ち、自身の部下のみならず広く慕われている。親友である京楽春水と共に「真央霊術院」を出た初めての隊長、元柳斎と卯ノ花に次ぐ、京楽と並ぶ少なくとも250年来からの古参の隊長でもある。「真央霊術院」時代はショートヘアであったが110年前は長髪を後でひとつに結んでいた。師弟関係から、元柳斎を今でも「先生」と呼んでいる。白哉とはルキアの上官であるために交流が多く、彼の幼少期を知っている人物でもある。
					</p>
					<p class="c-text">
						戦いには“命を守るための戦い”と“誇りを守るための戦い”の2種類があるという持論を持ち、戦いに身を置く者はそれを見極め続けなければならないと考えている。その考えは海燕の危機を前にしても変説することはなく、その考えを説かれたルキアにも影響を与えていた。「じゅうしろう」と「とうしろう」で名前の響きが似ており、同じ「シロちゃん」であるため、日番谷を一方的に気に入り、見かけると食べ物（お菓子）をやりたがる。アニメの「死神図鑑」では、2回ほどお菓子をあげている。また、『カラブリ+』では誕生日プレゼントに等身大フィギュアを贈っている。甘めのお茶が好きなので最高級の玉露「羽衣」を飲んでいる。羽裏色はうるみしゅ、羽織は袖のあるタイプ。瞳の色は原作では緑色、アニメ・ゲームでは茶色。
					</p>
					<p class="c-text">
						部下であるルキアを助けるために京楽と協力し双極の破壊に成功、ルキアを助けることができたものの、師である山本元柳斎との戦いを余儀なくされた。一護が正式に死神代行に任命された際に、その証を一護に渡していた。だが彼こそが死神代行の制度を考案した張本人であり、その制度は死神代行を監視するためにあったが、一護はわざとその事を自分に気付かせて選択の道を取らせたと悟っていた。死神代行消失篇で代行証に関わる全ての事実を知った一護が、隊長達を信じて今後も代行証を所持すると決めたことを京楽から聞かされた際には一護の精神的成長を京楽と共に感じ取った。
					</p>
					<p class="c-text">
						破面篇では他隊の隊長格と共に、空座町での藍染との決戦に出陣する。京楽とスタークの交戦を共に見守っていたリリネットをあしらい鍛えている最中、戦況の一変でスタークとリリネットが融合解放し京楽に加勢するが、急に現世に来たワンダーワイスによって重傷を負ってしまった。空座町決戦後は完治した状態が描かれていた。<br>星十字騎士団との戦いでは、滅却師（姿、名前共に不明）と対峙していた。二回目の侵攻時には、仙太郎・清音と共に瀞霊廷の外に居て背を向けており、何らかの動作をしていた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『双魚理（そうぎょのことわり）』</span>
						</dt>
						<dd class="ability__txt c-text">二刀の斬魄刀だが、解放前は一振りであり、開放と同時に二振りになる。能力解放とともに刀身が逆十手状になり、柄しが縄で繋がれた二刀一対の刀に変化する。片方の刃で受けた技を、もう片方の刃から放出（たとえば相手の虚閃を吸収して撃ち出すなど）して攻撃できる能力をもつ。スターク曰く、「随分と性悪な能力」であり、アニメオリジナルで霊骸が使ったときは、天鎖斬月の「月牙天衝」はおろか流刃若火の炎をも跳ね返したほどである。二つの刀の間の縄にある五枚の札の力で相手の技のスピード・軌道などをわずかに変え、相手の避けるタイミングをずらすことができる。</dd>
						<dd class="ability__txt c-text">GC版ゲーム『黄昏にまみえる死神』では雷の技を、DS版ゲーム『蒼天に駆ける運命』・『黒衣ひらめく鎮魂歌』・『The 3rd Phantom』とWii版ゲーム『白刃きらめく輪舞曲』では水の技を、SCEI全般のゲームでは両方を組み合わせた技を使う。</dd>
						<dd class="ability__txt c-text">卍解は作中で未登場のため不明。</dd>
						<dd class="c-ability__txt c-text">解号は「波悉く我が盾となれ 雷悉く我が刃となれ『双魚理』（なみことごとくわがたてとなれ いかずちことごとくわがやいばとなれ『 - 』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため詳細不明。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>