<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'sado',
    'rukia',
    'urahara',
    'ginjyo',
    'tsukishima'
  ];
%>
<body>
<div class="container second character riruka">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">気に入った対象を</span><br>
						<span class="character-detail-nickname_bottom">自身の領域に閉じ込める完現術者</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">毒ヶ峰リルカ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">156cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">43kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月14日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">XCUTION</dd>
							<dt class="character-profile__detail-head">『XCUTION』会員番号</dt>
							<dd class="character-profile__detail-txt">003番</dd>
							<dt class="character-profile__detail-head">完現術</dt>
							<dd class="character-profile__detail-txt">ドールハウス</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">甘いもの</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">BO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						ツインテールでゴスロリ風の服を着た少女。基本的に「リルカ」、織姫からは「リルカちゃん」、沓澤からは「リルカさん」と呼ばれている。勝気な性格で、終始相手に突っかかったりしている言動が目立つ。銀城や雪緒に反感を剥き出しにしている。初対面以来一護に好意を寄せているが、素直にはなれず憎まれ口を叩いている。幼少期より完現術を持ち、その力で欲しい物を隠して自分の物にしていた。7歳の頃に近所に越してきた「言葉は荒いが声は優しく、自分から進んで人を助けていた男性」に好意を持ち、自分の力で箱に隠し自分を好きになってもらおうとしたが、かえって男性から恐怖の眼差しを向けられるようになり、その視線に耐えかね男性を外に出してから、孤独な境遇を送るようになった。
					</p>
					<p class="c-text">
						死神達との決戦ではルキアと交戦し、自らの能力でルキアの中に隠れ、勝負を終わらせる。その後は一護に切りかかる月島から一護をかばうためにルキアの中から現れ、月島の刀を受け止め、月島を説得していた。敗戦後、浦原商店に保護されるが、別れを告げずに商店から姿を消し、銀城・チャド・織姫・一護に感謝しながら何処かへ去った。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【完現術】『ドールハウス』</span>
						</dt>
						<dd class="ability__txt c-text">リルカが「許可」を与えた人やものを、リルカが大好き・かわいいと思ったものの中に自在に出し入れする。許可を与えるときは小さいハートの形をした通行証を対象に貼りつける。またリルカにクシャミをかけられるか、入れ物となったものを破壊することにより中に入れられたものから出ることが可能。一護の死神の力を取り戻す修行の際には、自身の持つファンシーなおもちゃの家や水槽を修行の場として一護を小さくして入れている。また、霊力を放出する一護の能力を得たためか、対象に自らを隠す能力もある模様。</dd>
						<dd class="ability__txt c-text">銀城に一護の完現術を分け与えられたことで、ウサギの帽子を被り両腕に籠手を着けた姿となる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">『ラブ・ガン』</span>
						</dt>
						<dd class="ability__txt c-text">月島に作ってもらったというアンコウに似た鳥の姿をした玩具の銃。『ドールハウス』と併用して使われ、装填されたリルカの所有物を放ち攻撃する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">『アディクション・ショット』</span>
						</dt>
						<dd class="ability__txt c-text">籠手からハート型の通行証を高速で射出し、命中した相手を強制的にぬいぐるみなどの物体に閉じ込める。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>