<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'orihime',
    'isshin',
    'hitsugaya',
    'renji',
    'nanao',
    'hisagi',
    'cangdu',
    'giselle'
  ];
%>
<body>
<div class="container second character rangiku">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">頼れる姉御肌の</span><br>
						<span class="character-detail-nickname_bottom">十番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">松本乱菊</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">172cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">59kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">9月29日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊十番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">灰猫</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">干し柿</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現副隊長<br>いつも死覇装の胸元が大きく開き首にアクセサリーをしており、マイペースでサバけてお洒落な性格の美女。髪の色はメディアにより異なる。酒豪であり、京楽と檜佐木とは呑み友達。日番谷に絶大な信頼を寄せていて日番谷との連携にも優れているが、デスクワークに関してはサボりがち。仕事をサボる度に日番谷からいつも叱られても、本人はどこ吹く風。幼い日番谷と出会い、霊力に気づき死神という道を勧めた。休日は暇人と呑みに行くか呉服屋に行って過ごしている。酒代が馬鹿にならず常に金欠気味で、大抵は人を誘って奢らせている。平時と非常時の緩急が激しく気分屋な言動が目立つ一方、姉御肌な一面も持ち合わせている。彼女に好意を寄せる男性も多いのか、単行本のオマケマンガや『カラブリ+』などでは檜佐木や射場が彼女に好意を寄せていることをうかがわせる描写がある。作中で数度披露された豊満な制服姿は浅野啓吾・コン曰く「刃」「凶器」。よく現世で買い物を楽しんでいる。
					</p>
					<p class="c-text">
						市丸ギンとは幼馴染で同期でもある。藍染の作った崩玉の実験のために当時の配下達が彼女の魂を削り奪ったため幼少時に行き倒れていたところを助けられ、その後は同居していた。上記の誕生日は、市丸が自分と出会った日を誕生日としてつけたものである。破面襲来の報を受け日番谷らと共に現世へと派遣される。現世滞在中は織姫を頼り、彼女の家に居候していた。
					</p>
					<p class="c-text">
						他隊の隊長格と共に、空座町での藍染との決戦に出陣。日番谷をハリベルと戦わせるためアパッチたち従属官3人と戦うが、三人の生み出したペット「アヨン」に重傷を負わされる。満身創痍の中で、市丸の真意を確かめるため尸魂界に急行、藍染に襲われそうになったたつきとドン・観音寺を救出した後、市丸に真意を問い質すも、戦いに巻きこまれぬよう「白伏」で気絶させられた。自分のために反旗を翻し倒れた市丸の死に目に遭遇し、死後も彼への想いを忘れなかった。
					</p>
					<p class="c-text">
						星十字騎士団との戦いでは、日番谷と共に蒼都（ツァン・トゥ）と対峙する。劣勢に陥るが山本元柳斎が放った全力の霊圧を察知し、日番谷と共に奮い立つ。二回目の侵攻で、バスビー相手に日番谷と連携し多重真空氷層を繰り出すが、途中から現れた蒼都によって重傷を負う。その後、ジゼルの能力によりゾンビにされてしまう。<br>マユリが日番谷を撃破して、新薬の効果の観察をしている最中に、拳西・ローズと共にゾンビの状態で登場する。マユリの引き連れたチルッチと交戦する。
					</p>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>