<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'urahara',
    'isshin',
    'otoribashi',
    'hirako',
    'kensei',
    'hitsugaya',
    'rukia',
    'risa',
    'gin',
    'stark',
    'baraggan',
    'harribel',
    'ulquiorra',
    'grimmjow',
    'yhbh'
  ];
%>
<body>
<div class="container second character aizen">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">圧倒的カリスマ性を持つ</span><br>
						<span class="character-detail-nickname_bottom">元護廷十三隊五番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">藍染惣右介</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">186cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">74kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">5月29日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊五番隊→虚圏の夜虚宮</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">鏡花水月</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">豆腐</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元隊長<br>
						柔和な風貌をしており、常に笑みを絶やさない穏やかな性格から隊外問わず皆に慕われていた。ルキアの処刑を巡る一連の騒動の最中、ルキアの幼馴染の恋次に対し処刑に対する疑問を呈していながら、その後何者かによって殺害されたと思われたが、これは自身の斬魄刀「鏡花水月」の能力による偽装によるもの。ルキアを殺そうとした張本人である。
					</p>
					<p class="c-text">
						羽裏色は白緑（びゃくろく）。羽織は袖のあるタイプ。好物は豆腐で苦手な食べ物はゆで卵。趣味は読書で特技は書道。書道の腕は名人級で藍染の授業はいつも満員御礼で、選択科目に関わらず、廊下で講義を受ける生徒が出る程の人気だった。消息不明になった現在でも復帰を待ち望む声が多い。110年前は五番隊副隊長であり、当時五番隊隊長だった平子真子の部下だった。ゲーム「The 3rd Phantom」の過去編では朱司波征源の下で五番隊副隊長を務めていた。
					</p>
					<p class="c-text">
						本性は残虐な性格を秘めた野心家である。また自分の部下は全て目的を果たすための捨て駒としか見ておらず、用済みと判断したらいとも簡単に雛森桃を始めとした部下を手に掛けている。ただ市丸に対しては『彼以外を副隊長だと思ったことは無い』との発言を残している。その本性を曝した後も、一見柔和な言動を保ちながらの教唆や詐術・韜晦が習性のようになっており、端からは本意がつかみ難い。
					</p>
					<p class="c-text">
						その目的は、101年前に浦原が発明した「崩玉」を手に入れることで、死神の限界を超えた力を求めて「死神の虚化」（仮面の軍勢がこれに該当）並びに「虚の死神化」（破面がこれに該当）を狙っていた。目的の為市丸ギンと東仙要に指示を与え暗躍していた。詳しい活動開始時期は不明だが、五番隊の副隊長だった頃から当時の隊長の知らないところですでに暗躍を始めていた。101年前に虚化の実験のために流魂街で魂魄消失事件を引き起こし、結果として平子たち当時の隊長格8人を仮面の軍勢にするきっかけを作り、それを浦原喜助になすりつけ彼を追放に追いやった。さらに、市丸を部下にする以前に自らも崩玉を生み出しており、死神の魂を与えたが、それでも満足できなかった。浦原が作った崩玉を狙っていたのもそのためである。
					</p>
					<p class="c-text">
						浦原の崩玉を手に入れる前は、自らが作り出した虚を実験目的で、死神たちの下へ送り込んでいた。志波海燕を死に至らしめルキアの心に闇を持たせるに至ったメタスタシア（アニメ版では、テンタクルス）や、檜佐木の右目に傷を付け最終的に自らギンと始末した巨大虚（ヒュージ・ホロウ）の大群も、実は彼が作り出した失敗作であった。また、破面達の回想から崩玉不使用の破面化、破面・大虚の自勢力へのスカウトも行っていた様子。護廷十三隊時代は眼鏡をかけていたが、本性を現してからは、伊達だった眼鏡を外し、髪をオールバックにして、一人称も「僕」から「私」になっている他、目も細くなった。虚圏潜伏後は黒い死覇装に白いコート姿、後に破面のような白い死覇装を纏う。自身の脅威となり得るのは護廷十三隊一番隊隊長山本 元柳斎 重國と十一番隊隊長更木剣八だけと考えていた。
					</p>
					<p class="c-text">
						なお、立場や性格上、原作ではコミカルなシーンは皆無に等しいが、アニメのボケをかますなどで次回予告にも参加していたり、死神図鑑ゴールデンでもギャグシーンを見せている。後述する斬魄刀『鏡花水月』の力に加え、ハンデがあったとはいえ一護の『天鎖斬月』を指一本で受け止め、同じ隊長格の死神や上級十刃（ハリベル）を容易く倒すなど他の隊長格の死神達を超越した戦闘能力を有し、その実力たるや計り知れない。霊圧は並みの隊長格の2倍はあるらしく、霊圧を発するだけでグリムジョーを圧倒し、織姫も目が合っただけで、体中の力が吸い出されるような感覚に陥り、浦原でさえも戦慄を覚えるほどである。また、戦闘能力だけでなく話術にも長けており、教唆や挑発によって相手の精神に揺さぶりをかけることも多い。市丸は藍染の脅威は『鏡花水月』ではなく、出鱈目な戦闘力を持つ十刃達を従わせる程の強さだと評しており、隊長達が『鏡花水月』の能力を警戒する事を『普通に警戒するだけでは不十分』と否定的に見ている。「見えざる帝国」のトップであるユーハバッハも藍染を「五人の特記戦力」の一人として一目置いている。
					</p>
					<p class="c-text">
						また他者を惹きこんでしまうカリスマ性を持ち、藍染自身に殺されかけた元部下の雛森桃さえ当初は「藍染は市丸に利用されているだけ」と現実逃避してしまう程だった。それは本来敵であるはずの虚すら惹きつける程で、アイスリンガーからは「藍染様は我等にとって太陽のような存在」と讃えられていた。
					</p>
					<p class="c-text">
						一護に対して何らかの関心を見せており、一護の事も死神（一心）と滅却師（真咲）の間から生まれた時から知っていた。またルキアとの出会いから完全虚化に至るまでの一護の戦いを裏で演出していた張本人。関心を持っていた理由は、ホワイトと一心との戦闘の際、真咲がホワイトから傷を負わされたことから始まる。死神の虚化のために創られたホワイトによって滅却師である真咲が虚化することは、自分たちにとっても想定外の出来事だったが、ホワイトが死神ではなく滅却師を虚化の対象に選んだことに興味を持ち、その先を見届けようとしていた。後に、一心と真咲の間に生まれた一護を死神・虚・滅却師の力を併せ持つ特殊な存在として注目し、その成長を促そうと一護に幾多の戦闘を仕向けていた。
					</p>
					<p class="c-text">
						浦原が崩玉を封印・隔離していた為に表立った行動を避けていたが、ルキアの魂魄内に隠された崩玉を手に入れるため、中央四十六室成員を皆殺しの上、中央四十六室からの命令の様に見せかけ人間への死神能力譲渡の罪を犯してしまったルキアを双殛で処刑しようと画策していた。しかし、一護達の瀞霊廷侵入後の働きから、既に処刑失敗の可能性を想定し、別の手段を用意する為、自身が暗殺されたように見せかけた。処刑日程を縮めていく手口で執行を急ぐも、ルキアを救出しようとする一護や恋次達の活躍で処刑は失敗に終わってしまう。しかし市丸や東仙を従え、その別の手段でルキアから直接崩玉を取り出し、手に入れることに成功。その後、「私が天に立つ」と宣言したのちに市丸ギンと東仙要の両名を従えて、ギリアン級大虚（メノスグランデ）の大群と共に、虚圏へと消えていった。離反後は、自分が完全となった崩玉を使って生み出した破面達を率いている。更に宣言の達成のために『王鍵』創成を目論み、そのために空座町を消滅させることを画策している。後に井上織姫の稀有な能力に目を付け、ウルキオラ・シファーに彼女を誘拐するよう指示する。後に、井上織姫の誘拐は黒崎一護と更木剣八を、虚圏に隔離する為だと言う事を自白している。
					</p>
					<p class="c-text">
						織姫救出を巡る虚夜宮での一護達と十刃の戦いの最中、市丸や東仙そして3番以上の十刃を引き連れ、空座町での決戦を開始。熾烈な戦いの末に迎え撃った隊長格、仮面の軍勢さらには浦原・夜一・一心を倒した後で本物の空座町に侵攻し、一護のさらなる強化のためにたつきら一護の級友達の命を狙うが、断界での修行を終えた一護の「最後の月牙天衝」が決め手で敗北。崩玉が藍染は一護に勝てないという心を取り込んだ為、斬魄刀や死神の力を奪われた（浦原は崩玉が藍染を主とは認めていないと解釈している）挙句、本物の空座町を襲撃する前に別の鬼道と一緒に打ち込まれていた、浦原の「九十六京火架封滅」によって封印された。その後、新しくなった中央四十六室により、崩玉と融合しているため死刑に出来ず、地下監獄最下層・第8監獄「無間」にて1万8800年の投獄刑に処される（判決時に彼らを挑発した為に目と口を塞がれ、刑期も2万年に引き上げられた）。なお、封印される直前の言葉から霊王がどのような存在か知っていたらしいが詳細は不明。藍染が何故王鍵を手に入れようと野心を持ち、霊王を殺害して神になって（千年決戦篇で判明）その後どうしようと考えていたのかは最後まで明かされなかった。また、貴族の出なのか平民の家の出なのかも明かされることがなく、何故死神になったのかも重要人物であるにもかかわらず明かされなかった。
					</p>
					<p class="c-text">
						千年血戦篇では登場こそないものの、ユーハバッハと獄中で面会、5人の特記戦力に入っており、味方になるよう勧誘されたが断ったことが彼の口から明かされた。一護との戦いを終えた小説版では、牢獄の中で登場し、８代目の剣八と対面している。何故現在の剣八が卍解もできなかった一護に負けたのか、真に警戒していたのが山本総隊長以外では剣八だけだということが語られた。別の小説では、悪事を働いた人物ではあったが功績は今も認められており、死神としての実力や改革を幾つも行って死神たちの待遇を良くするなど管理能力にも優れた人物だったことは確かであり、平子ですらも一緒にいて楽しかったこともあったと認めている。また、藍染の考えた鬼道の練習方法は今も使われているとのこと。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『鏡花水月（きょうかすいげつ）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放に伴う形状の変化はないが、解放の瞬間を一度でも見た相手の五感・霊感等を支配し、対象を誤認させることが出来る「完全催眠」という能力を持つ。【卍解】は劇中未使用のため不明。</dd>
						<dd class="ability__txt c-text">この能力により、護廷十三隊の隊長格を含む膨大な人数の隊員を自らの催眠下におくことができ、暗躍に大いに貢献した。周囲には完全催眠により「流水系の斬魄刀で、霧と水流の乱反射により敵を撹乱させ同士討ちにさせる能力を持つ」と偽っていた。ドラマCD「騒乱前夜」では、この流水系の能力が味方までも巻き添えを喰らう危険性があるという理由で副隊長を集めて説明会と称して催眠をかけている。</dd>
						<dd class="ability__txt c-text">この能力で自らの死を偽装し、特に雛森の精神を錯乱させた。偽装に関して卯ノ花は検査のため藍染の偽装遺体に最も長く触れていたこともあって違和感を覚えたものの、催眠を解くまで誰にも完全に解明する事はできなかった（この時、鏡花水月で藍染の遺体に見えるように暗示が掛けられていた）。完全催眠から逃れる為には能力の発動前から刀に触れている必要があるが、この事実を知っているのは市丸だけである。また、視覚を通じて催眠状態に陥らせる能力であるため、盲目である東仙にだけは通用しない。さらに、8代目の剣八にも（具体性は不明だが）通用しないことが小説で判明している。格上の相手にも通用するらしく、自分より上と認めている元柳斎のような強者に対しても通用し、ユーハバッハが自分の方が上と思っていた全知全能の未来改変に対しても有効である。</dd>
						<dd class="ability__txt c-text">一護にはこれまで解放の瞬間を一度も見せていなかったため、能力を発動しておらず、直接対決時にも使われることはなかった。一護の無月を喰らった後に消滅し始めており、藍染は、崩玉が自分にはもう斬魄刀は必要ないと判断したからと語っている（一護の考察を考慮すると崩玉が力をなくしたいという藍染の深層の望みを現実化したともとれる）。さらに、浦原の放った鬼道が発動した後に崩玉が暴走し、粉々に砕け散って消滅した。</dd>
						<dd class="ability__txt c-text">しかし、作中末期では復活した場面は描かれていないが藍染は再び所持しており、ユーハバッハに対しても使用し、一護に見せていなかったことが鍵となった。</dd>
						<dd class="c-ability__txt c-text">催眠の解号は「砕けろ『鏡花水月』（くだけろ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため詳細不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">崩玉との融合</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">空座町での決戦時には崩玉を体内へと取り込んでおり、崩玉の防衛反応により自身が負った傷すらも超速再生のように回復する効果を見せ、また一心との戦闘中に崩玉自体と融合した事で、さらに戦闘力が増強した。その力は戦闘を見ていた一護も本能的に藍染には勝てないと悟ったほどだった。</dd>
						<dd class="ability__txt c-text">いが進む中で着々と進化をし、その外観もそれに伴い変化した。浦原参戦時から、蛹のような仮面が全身を覆った異形の形態へと変化し、この形態から右手そのものが斬魄刀と融合した（この形態になって、夜一の攻撃を受けた直後に右手と斬魄刀が融合した）。一定時間が過ぎると仮面の頭部部分が剥がれ落ち、霊感がない人間が触れると存在を失わせるほどの能力を得た。その際の外見は髪が長髪になり、瞳の色が白黒反転している（この形態以降も同様）。その後、部下であった市丸の裏切りをきっかけに、背中に蝶の様な翼を生やした姿へと変貌する。さらに空間を瞬時に転移する能力を身に付け、その能力で市丸を瞬殺した。</dd>
						<dd class="ability__txt c-text">そして一護に追い詰められて逆上した際に顔の皮が剥がれ、背中の羽が無数の首を持つ触手となった虚に近い姿へと変貌した。なお、崩玉を取り込んだことでほぼ不死に近い状態となっており、浦原も封印することでしか藍染を止められなかった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「フラゴール」</span>
						</dt>
						<dd class="ability__txt c-text">崩玉との最終融合時に使用。羽の先端についた口から霊圧の弾を発射する。威力は相当に高く、一撃で地形が変わるほどである。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「ウルトラフラゴール」</span>
						</dt>
						<dd class="ability__txt c-text">フラゴールの強化版。すべての頭部から放出した霊圧の弾を繋げたリング状の攻撃を放つ。しかし、一護にはたやすく破られてしまった。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「ミジョン・エスクード」</dt>
						<dd class="c-ability__txt c-text">背面に100万層からなる盾を作りだし、死角からの攻撃を防ぐ技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「エル・エスクード」</dt>
						<dd class="c-ability__txt c-text">敵の攻撃を薄いガラス状の膜で防ぐ技。ただし、強い衝撃には耐えきれない。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>