<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'sado',
    'genryusai',
    'ukitake',
    'nanao',
    'risa',
    'aizen',
    'stark',
    'accutrone'
  ];
%>
<body>
<div class="container second character syunsui">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">真実を見通すことに長けた</span><br>
						<span class="character-detail-nickname_bottom">護廷十三隊八番隊隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">享楽春水</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">192cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">87kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">一千歳以上</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">7月11日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊八番隊→一番隊へ異動</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">花天狂骨</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">花天狂骨枯松心中</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">酒饅頭</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現隊長・現総隊長<br>上級貴族・京楽家の次男坊で足袋を履かない。フルネームは「京楽 次郎 総蔵佐 春水」。隊長の羽織の上に女物の着物を羽織り、女物の長い帯を袴の帯として使うなど派手な格好をしており飄々とした性格。一見すると隊長としての品格を疑われそうな男だが、実は真実を見通す力に優れており、いざというときになると冷静で的確な判断を下す。
					</p>
					<p class="c-text">
						「真央霊術院」を出た初めての隊長であり、少なくとも250年以上は隊長をしている古参の隊長でもある。『カラブリ+』による戦闘データでは、鬼道・霊圧が最も高く (100) 、元柳斎、藍染、卯ノ花に次いで高水準の戦闘能力を有している。戦闘スタイルは大小の斬魄刀による二刀流だが、本気を出さない時は一つの刀で持つ手を交互に変えながら戦う手法を取っている。
					</p>
					<p class="c-text">
						隊長の羽織の上に羽織っている女物の着物は安物だが、髪を結んだところにつけている風車の小物はとても高価なものである。著作の「バラ色の小径」は全く人気がないが、写真集の「腕まくら」は１部残らず売れた（写真集は他の隊長より初版が少ない上重版されてもいない）。八番隊隊長時代の羽裏色はすおう、羽織は袖のあるタイプ。 
					</p>
					<p class="c-text">
						破面篇では他隊の隊長格と共に、空座町での藍染との決戦に出陣した。自身はスタークと交戦し、浮竹を倒したワンダーワイスに斬りかかった隙を突かれて一度は戦闘不能に陥るも、ラブ、ローズとスタークの交戦に乱入し、花天狂骨の能力を駆使して勝利を収める。後に日番谷と共に藍染と対峙し、花天狂骨の能力で善戦したが敗北した。この決戦内で、元部下のリサと再会を果たす。隊長羽織を無くし他2名と共に元柳斎から説教されていた。
					</p>
					<p class="c-text">
						星十字騎士団との戦いでは初老の銃使いの滅却師と対峙する。隊長達の卍解が奪われるという動揺の隙を衝かれ、滅却師完聖体による銃撃を受けて右目を失い、元柳斎の本気に士気を上げ反撃に転じるも敗北。尸魂界が何とか窮地を脱した後、一番隊隊長・護廷十三隊総隊長に任じられ、右眼に眼帯を付けるようになる。<br>二回目の侵攻では、七緒と共にハッシュヴァルトと対峙するが、帰投命令によりハッシュヴァルトが去ったため直接的な交戦はなかった。
					</p>
					<p class="c-text">
						女好きではあるが男性死神にもフランクに接しており、110年前の藍染から当時十二番隊隊長であった曳船桐生の昇進による質問に答え、101年前の魂魄消失事件でサンプル採取のためにひよ里を派遣したことで不安を隠せなかった浦原や、藍染との決戦時に藍染に対して激昂する日番谷を案じ、死神代行消失篇では隊長達を信じて代行証を所持すると決めた一護の精神的成長を浮竹と共に感じたり、千年血戦篇では元柳斎の死で砕蜂や六車、狛村が一触即発となりかけた際に彼らを冷静に諭している等、浮竹と同じく先達として優れた人物である場面が描かれている。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『花天狂骨（かてんきょうこつ）』</span>
						</dt>
						<dd class="ability__txt c-text">珍しい二刀の斬魄刀。封印時は大小の刀として携帯しているが、能力解放とともに2本の青龍刀のような形状に変化し、『花天狂骨』が発する霊圧領域内で『花天狂骨』が提示する「遊び」のルールを京楽を含めて敵へ強制的に従わせる能力をもつ。それゆえ、そのルールによっては京楽自身もダメージを負い、不利となり得るリスクも生じる。劇中で登場した「遊び」のルールは下記の通り。</dd>
						<dd class="ability__txt c-text">GC版ゲーム『黄昏にまみえる死神』やDS版ゲーム『蒼天に駆ける運命』、PSP用ゲーム『ヒート・ザ・ソウル』シリーズでは風を使った技を多彩に使い、PS3用ソフト『ソウル・イグニッション』では影を使った技を使用する。</dd>
						<dd class="ability__txt c-text">原作では推定しにくいが、アニメでは解放しても刀身の長さは脇差の方が短く、脇差で相手の間合いをつめ翻弄し太刀で相手を仕留める戦い方が適していると述べている。</dd>
						<dd class="c-ability__txt c-text">解号は「花風紊れて花神啼き 天風紊れて天魔嗤う『花天狂骨』（はなかぜみだれてかしんなき てんぷうみだれててんまわらう『 - 』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「嶄鬼（たかおに）」</span>
						</dt>
						<dd class="ability__txt c-text">「高いところへ行った方が勝ち」というルールで、相手より先に高い位置に着くことで効果を発揮する技と思われるが、相手の反撃により攻撃が中断されたため詳細は不明（『ソウル・イグニッション』では上空へ飛んだあとに花天狂骨で敵を上から両断する技となっている）。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「影鬼（かげおに）」</span>
						</dt>
						<dd class="ability__txt c-text">「影を踏まれたら負け」というルールで、相手の影を踏むことにより相手の影の中から攻撃する。影の中に潜んだり、影に刀を刺すことで影内の別の場所から斬撃を放つといった攻撃方法がある。影の中に仲間を連れて潜んだり長時間潜んだりすることも可能で、脱出する際も影さえあれば影の大小に関係なく出現することができる。性質上、かわすのが難しいがスターク戦では二度目で、リジェ戦では一度で見切られている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「艶鬼（いろおに）」</span>
						</dt>
						<dd class="ability__txt c-text">発動中は花天狂骨の持ち主と相手が交互に色を口にし、その色がついている部位のみを斬れるというルール。一度口にした色は双方が斬ることができるようになり、攻撃力は色を口にした際の自分のリスク（＝自分が身にまとっているその色の多さ）によって決定される。リスクが大きければ、かすり傷程度の斬撃でも大きな裂傷となり、逆にリスクが0の場合（＝自分が身にまとっていない色を宣言した場合）、たとえその一撃が相手に深手を負わせるほどの力があっても浅い傷となる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「だるまさんがころんだ」</span>
						</dt>
						<dd class="ability__txt c-text">「動いてるところを見られたら負け」というルールで、発動中は鬼の放った霊圧の攻撃が必ず見えるようになる。鬼が放った霊圧の軌道上を最短距離で移動でき、その間鬼は発動者の止まる姿を見る。その姿は幻覚ではなく、京楽自身の霊圧を固めた置物であり、戦闘に集中して霊覚に比重を置けば置くほど強みを増す。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「影送り（かげおくり）」</span>
						</dt>
						<dd class="ability__txt c-text">影を強く見つめて別の場所へ残像を移す遊び。霊覚の強い者が見つめるとそれに比例して残像も強く残る。そして、一瞬でも京楽から目を離して影の端すら目に入った場合、その後目に映るのは京楽の影法師のみとなる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「不精独楽（ぶしょうごま）」</span>
						</dt>
						<dd class="ability__txt c-text">斬魄刀を両手に一本ずつ持ち、回転することで風を起こし、相手の行動を阻害する。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『花天狂骨枯松心中（かてんきょうこつからまつしんじゅう）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放とともに周囲を暗闇に包み込む。それは京楽自身の霊圧であり、一護やナックルヴァールをして戦慄を覚えるほどに暗く寒い霊圧へと変貌する。始解の能力と能力の霊圧領域が大幅に強化されており、集団戦での発動は好ましくないため、スターク戦で解放しようとした際に浮竹に制止されている。雑誌掲載時では、初登場時の名前は「黒松心中（くろまつしんじゅう）」だったが、次の回で「枯松心中（かれまつしんじゅう）」に変更され、単行本で現在の呼称に修正された。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「一段目 躊躇疵分合（ためらいきずのわかちあい）」</span>
						</dt>
						<dd class="ability__txt c-text">発動によって、発動者自身が負傷した傷を分け合うかのように相手の身体にも同じ傷を負わせる。分け合った傷で死亡することはない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「二段目 慚愧の褥（ざんきのしとね）」</span>
						</dt>
						<dd class="ability__txt c-text">発動によって、発動者に傷を負わせた者を慚愧の念から病で床に伏せるかのように癒えぬ病を相手に患わせる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「三段目 断魚淵（だんぎょのふち）」</span>
						</dt>
						<dd class="ability__txt c-text">発動によって、滝壺に身投げするかのように発動者もろとも相手を深い水に沈める。互いの霊圧が尽きるまで脱出は不可能。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「〆の段 糸切鋏血染喉（いときりばさみちぞめののどぶえ）」</span>
						</dt>
						<dd class="ability__txt c-text">未練を断ち切るかのように霊圧の糸で相手の喉を切り裂く。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「撞指（つきゆび）」</dt>
						<dd class="c-ability__txt c-text">人差し指と中指を相手の背中につけ、遠くへ弾き飛ばす技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>