<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'yoruichi',
    'grimmjow',
    'yhbh',
    'haschwalth',
    'pernida',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character nakklevaar">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
		<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">致命的に危険な能力を持つ</span><br>
						<span class="character-detail-nickname_bottom">マイペースな星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">アスキン・ナックルヴァール</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">D(致死量:THE Deathdealing)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">神の毒見</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">甘めのカフェオレ</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						ノリのいいラテン系の滅却師。以前は自分の言動・挙動が三枚目なのを気にしていたが、現在は開き直っているとのこと。口癖は「致命的」。緊迫したハッシュヴァルトとバズビーの衝突を諌めた。霊子兵装は二重丸が線でつながったような形状の弓矢で、手首のブレスレットから取り出す。好物は甘めのカフェオレで、戦闘中でも飲めるように水筒に入れて持ち歩いている。
					</p>
					<p class="c-text">
						後述にもあるが慎重な性格で、ユーハバッハからの資料を読みこんでおり喜助のこともあらかじめ知っていた。自身の能力を使った戦闘スタイルに独自のポリシーを持っており、夜一やバンビエッタから指摘された動けない相手を絞殺するというやり方はよしとしない。ユーハバッハに従っているのは単に忠誠心だけではなく、現世・尸魂界・虚圏の三つの世界を潰して何を築くつもりのかという好奇心によるところも大きい。
					</p>
					<p class="c-text">
						二回目の侵攻では技術開発局に現れるが、マユリとの会話で気分が乗らず戦わずして去っていった。マユリに迂闊に能力を見せないように警戒したり、グレミィやペペを化け物呼ばわりするなど口調とは裏腹に星十字騎士団の中でも特に慎重なようであるが、彼自身も只者ではない雰囲気を醸し出している。その後、霊王宮に侵攻したユーハバッハから瀞霊廷で交戦していた騎士団員の中で唯一親衛隊員として召喚され、零番隊と対峙する。一度は王悦に斬られるも自身の能力で生き延び、「致死量」の能力で王悦を追い詰めるものの麒麟寺の援護で復活した王悦に倒されるが、ユーハバッハの聖別により蘇生した。その後、霊王宮に来た侵入者を迎え撃とうとするも、それが予想以上に多勢の一護一行だったため逃走。さらに同行していたグリムジョーに因縁をつけられ追跡されてしまうが、ギフトを用いてグリムジョーを戦闘不能に追い込んだ。その後に一護たちと遭遇し、交戦し一護らを一時的に無力化する。しかし、夜一に邪魔され、一護たちを通してしまう。その後、夜一・夕四郎およびそれの救援に駆けつけた喜助と交戦。「極上毒入りボール」を展開し、完聖体となって喜助を追い詰めるが、乱入してきたグリムジョーに胸を貫かれ敗北。自身の死によって威力を増す「極上毒入りボール」の脅威を伝え、息絶えた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『致死量（ザ・デスディーリング）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“D”の能力。生物が摂取した際に死に至る物質の「完全致死量」を自在に操ることができる。指定する物質をナックルヴァール自身が大量に摂取することがトリガーとなり、相手の体内にもともと存在する物質にも有効で、本来は「そこにあって当たり前の物質」を相手にとっての猛毒へと変換することができる（作中では、王悦の『血液』の致死量を大きく低下させて彼を窮地に追い込んだ）。また、本人によればユーハバッハに拾われたのはただひたすらに死ななかったかららしく、能力発動前に王悦の致命傷レベルの斬撃を2回受けても死ななかったため、生命力も高い模様。さらに、攻撃をしてきた者の霊圧を反射的に解析し、免疫を作ることでどんな攻撃も一分あれば無効化してしまい、その際に受けた負傷も回復する。欠点としてはナックルヴァールが満腹などで物質を摂取できないときは条件を満たせない、霊圧が何種類にも変質する相手には免疫が間に合わないなどがある。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「毒入りボール（ギフト・バル）」</dt>
						<dd class="ability__txt c-text">粘着性の液体のようなものをまとった球体を送りつける。攻撃速度は遅いが触れると身体に異常をきたす。霊子・酸素・窒素などの指定したさまざまな物質を混ぜた、「ハイブリッド毒入りボール」という上位技がある。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「毒入りプール（ギフト・バート）」</dt>
						<dd class="ability__txt c-text">アスキンを基点として発生する円形のプールという範囲に入ると、致死まではいかないもののアスキンが指定した物質の耐性を下げる効果がある。作中では霊子を指定し、一護たちを霊子中毒に陥れた。真世界城の霊子濃度の濃さもあり、効果は覿面だった。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『神の毒見（ハスハイン）』</span>
						</dt>
						<dd class="ability__txt c-text">夜一の瞬霳黒猫戦姫の猛撃のあとに発動。本人曰く「冴えない名前」らしい。分子を思わせる光輪・翼・バックルが出現し、顔にバイザーが装着される。毒の変質に対応する能力が付加され、どんな相手でも瞬時に免疫を作ることができる。霊子の棒を作り出して白兵戦も可能。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「極上毒入りボール（ギフト・バル・デラックス）」</dt>
						<dd class="ability__txt c-text">アスキンが作ることのできる最大の毒入りボール。大きさは付近一帯を包み込むほど。いくつもの光球を張りつかせ外部との領域を区切ることで脱出不可能の要塞「猛毒領域（ギフト・ベライヒ）」へと派生する。通常は球体の形をしているが、毒性を強化すると激しく変形する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">「猛毒の指輪（ギフト・リング）」</dt>
						<dd class="ability__txt c-text">大きな指輪状の霊圧を飛ばし、指輪をつけた「部位」を即死させる。アスキンの口ぶりから、目や内臓といった単位で即死させることが可能な様子。巨大化させたリングを直前で縮小させて姿を晦ませながらピアッシングが可能。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">霊子兵装の弓から矢を放つ。一度に数発の矢を射ることができる。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>