<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'uryu',
    'byakuya',
    'hitsugaya',
    'zaraki',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'gremmy',
    'nianzol',
    'giselle',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru',
    'hiyori'
  ];
%>
<body>
<div class="container second character gerard">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">神の尺度へと変換する</span><br>
						<span class="character-detail-nickname_bottom">奇跡の星十字騎士団</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ジェラルド・ヴァルキリー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">M(奇跡:THE Miracle)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						羽根の着いた仮面を被り、剣闘士を思わせる盾と剣を携えた筋骨隆々の男。素顔は黒目のない白い両目にMの文字の隈取を入れている。一部のメンバーから異端の目で見られている雨竜を「新入り」と気さくに呼ぶなど、豪快な性格。とくに戦闘においては強敵と相対するとテンションが高まる傾向があり、更木とのやり取りを聞いていた日番谷に「似た者同士だな」と呆れられていた。ユーハバッハの親衛隊の1人で、「最大・最強・最速の滅却師」を自負する。ユーハバッハに連れられて霊王宮に侵攻するも、王悦に倒された。後に聖別で蘇生する。
					</p>
					<p class="c-text">
						真世界城に護廷十三隊や一護一行が侵入した際は、我先にと探し回ったが他の親衛隊に嵌められて一人も侵入者を発見できずに絶叫していた。後に驚異的な跳躍力で長大な距離を移動し、ユーハバッハの元を急ぐ平子たちの眼前に立ちはだかる。始めは能力の関係上傷を負うため、隊長達に圧倒される。が、能力発動と同時に圧倒的な力で平子をはじめとする隊長格を撃破。途中参戦してきた仮面の軍勢を追い詰め、日番谷と交戦する。戦闘中に乱入した剣八に一時は圧倒されながらも、自身の能力や希望の剣の効果で圧倒するが、その最中でやちると再会し卍解した剣八に圧倒され体を真っ二つにされるが、完聖体を発動して復活。卍解の力を解放しすぎてダメージを負った剣八を撃破するが、今度は卍解が完成した日番谷に翻弄され、全身を凍結された直後に白哉の卍解によって頭部を粉砕された挙句全身が瓦解し、敗北したかに見えたが、自身の能力で復活を遂げる。白哉達と交戦中にユーハバッハが一護を下した直後、全ての騎士団員を不要と断じた聖別によって力を奪い尽くされて白骨化し、死亡した。
					</p>
					<p class="c-text">
						ナックルヴァールの発言から、彼もペルニダと同様にユーハバッハから力を授かっていない滅却師であることが明らかとなっており、騎士団内では、彼の正体は「霊王の心臓」と噂されているが真偽は不明であり、最後まで明かされなかった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『奇跡（ザ・ミラクル）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“M”の能力。傷を負ったものを神の尺度へと交換し、巨大化する。発動前に負ったダメージも全快する。ダメージの大きさと巨体は比例し、十三隊本隊に負わされた傷は一度の交換で過去最大の巨体となった。白哉や仮面の軍勢の総攻撃をまったく受けつけない頑強さに加え、ただの息吹ですら強力な攻撃となる。また、剣八に肉体を真っ二つにされたり、白哉と日番谷の連携で全身を凍結させられた直後に粉砕されても再生するほどの、極めて不死に等しい生命力を誇る。能力の効果はジェラルド自身だけでなく、彼の装備品にまで適用される。二度目の交換では、損傷した部位が光に包まれて紋様と円盾のような関節部分が加わった様相となっている。</dd>
						<dd class="ability__txt c-text">ペルニダと同様に、この能力の聖文字もジェラルド自身がもともと持っていた能力に准えてユーハバッハが命名したものである。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【滅却師完聖体】『神の権能（アシュトニグ）』</span>
						</dt>
						<dd class="ability__txt c-text">剣八に真っ二つに切り裂かれた直後に発動。本人曰く「死して尚、神の為に剣を振るう者」。
上半身に放射状の模様が浮かび、それまでよりさらに巨大化する。頭部には兜のような甲殻が出現し、白哉と日番谷の連携で粉砕された直後に再生した際には、フルフェイス型の兜のような形状に変化しており、光り輝く全身からは無数の光弾をばら撒いている。神の戦士としてこの世の元素に縛られない肉体を持つ。</dd>
						<dd class="ability__txt c-text">盾には五芒星を模した刃が出現し、投擲武器としても使用できるようになる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「神聖滅矢（ハイリッヒ・プファイル）」</dt>
						<dd class="c-ability__txt c-text">完聖体時に使用。両手を合わせたあと、左手を中心に巨大な霊子の弓を生成する。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「希望の剣（ホーフヌング）」</dt>
						<dd class="c-ability__txt c-text">ジェラルドが装備している両刃剣。本人曰く「民衆の希望を束ねて剣となした希望の剣」。巨大化後に抜剣した際には、眼帯を外してグレミィ戦よりも強力になっている剣八の始解に、多少劣るとはいえせめぎ合える威力を誇る。</dd>
						<dd class="c-ability__txt c-text">刀身を傷つけると、傷つけた相手にも傷つけた分と同等のダメージを与える効果を持つ。ただし、凍結させるなどして希望の剣の物質としての機能を停止させるとその効果を失う。</dd>
						<dd class="c-ability__txt c-text">完聖体時には破損が修復されて鍔と柄の部分が五芒星を模した意匠に変化し、切っ先から枝街の大部分を壊滅させるほどの強力な光弾を撃てるようになる。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>