<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'byakuya',
	'renji',
	'rukia',
    'harribel',
    'yhbh',
    'pernida',
    'nakklevaar',
    'gerard',
    'nianzol',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character hyosube">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">全ての斬魄刀の名を知る</span><br>
						<span class="character-detail-nickname_bottom">零番隊の「真名呼和尚」</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">兵主部一兵衛</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">王族特務零番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">一文字</dd>
							<dt class="character-profile__detail-head">真打（卍解）</dt>
							<dd class="character-profile__detail-txt">白筆一文字</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						大きな数珠を首から下げた禿頭の男。異名は「真名呼和尚（まなこおしょう）」で、京楽からは「和尚」と呼ばれている。<br>
						零番隊のリーダー的存在で、尸魂界の万物に名前をつけた人物。そのため、すべての斬魄刀の真の名を知っており、「見えざる帝国」からは5人の特記戦力の1人 （未知数は叡智）に選ばれている。普段は朗々かつ飄々としているが、敵に対する殺意を露わにすると凄惨で恐ろしい表情を見せる。ユーハバッハらが攻めてきたときには、能力で本物の霊王宮を隠していた。その後、ユーハバッハと対峙して追い詰めるも、真の能力を解放したユーハバッハに体を粉々にされ死亡。しかし、到着した一護に名前を呼んでもらい、力の一部を借り受けて復活した。しかし、その後「一護たちではユーハバッハには勝てない」と発言している。
					</p>
					<p class="c-text">
						小説版『BLEACH Can't Fear Your Own World』では、前述の一護たちに対する不穏な台詞の裏には一護を霊王にする目算があったことを明かし、「大虚クラスの者たちを葬るには今の世界のバランスは危うい」とハリベルたちを見逃したあと、零番隊メンバーの名前を呼んで彼らを復活させた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『一文字（いちもんじ）』</span>
						</dt>
						<dd class="ability__txt c-text">巨大な筆の形をしており、解放前でも筆先で触れた部分の名前を斬って半分にする能力を持ち、半分にされた箇所は力や能力が半分になる。空中に円を描き、その中に文字を書き込んでさまざまな効果を発揮する術が使える。解放後は筆先が分厚い刃に変化し、刀身から墨を撒き散らす。この墨で塗り潰されたものは名を失い、力の発動ができなくなる。さらに尸魂界のすべての「黒」を支配下に置き、自分の力に変えることができる。</dd>
						<dd class="ability__txt c-text">解号は「黒めよ『一文字』（くろめよ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【真打（卍解）】『しら筆一文字（しらふでいちもんじ）』</span>
						</dt>
						<dd class="ability__txt c-text">現在の卍解に当たる、最初に生まれた「進化した斬魄刀」。解放に伴う形状の変化はなく、刀身の先端から常に白い墨が放出される。一文字で塗り潰されたものに新たに名前を刻むことができ、刻まれた名前と同等の性質や力を与える。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「不転太殺陵（ふてんたいさつりょう）」</dt>
						<dd class="c-ability__txt c-text">百年後の尸魂界から夜を百夜奪い、黒い墓標の群れを作り出して敵のすべてを無に還す。転生さえもできなくなるという。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「千里通天掌（せんりつうてんしょう）」</dt>
						<dd class="c-ability__txt c-text">巨大な手で対象を千里先まで突き飛ばす。足でも同様の技を放てる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「裏破道 三の道“鉄風殺”（うらはどう さんのどう てっぷうさつ）」</dt>
						<dd class="c-ability__txt c-text">手刀を振り下ろすとともに龍の顔のような霊圧を放出し、対象を叩き割る。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>