<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'sado',
    'urahara',
    'byakuya',
    'rukia',
    'szayelaporro',
    'yammy',
    'asnodt',
    'bazz-b',
    'masculine',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character renji">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">白哉を超えるべく鍛錬する</span><br>
						<span class="character-detail-nickname_bottom">護廷十三隊六番隊副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">阿散井恋次</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">188cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">78kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">8月31日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊六番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">蛇尾丸</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">狒狒王蛇尾丸→双王蛇尾丸(真の卍解)</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">たい焼き</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">刃頭（ＨＡＺＵ）feat.Ill-Bosstinoの”野良犬”/「The NEWBORN」収録</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現副隊長<br>南流魂街78地区「戌吊」出身。赤髪で眉毛から額、首から上半身にかけて大仰な刺青を入れている。性格はやや乱暴だが安定して落ち着きがあり、気配りや機転が利く。同僚や後輩達からの信頼は厚い。副隊長でありながら卍解を修得している隊長クラスに近い実力者。戦闘においての勝率は高くない。
					</p>
					<p class="c-text">
						甘党で、好物は鯛焼き。趣味はゴーグル収集。玉蹴り（フットサル）が大好き。ルキアが現世赴任を命じられた同じときに六番隊副隊長に任命され、それ以前は五番隊を経て十一番隊に在籍（六番隊副隊長任命時は第六席だった）し、斑目一角に戦い方を教わっていた。「殺す相手に名乗る」流儀は、一角から学び守っている。一角を尊敬・信頼している。
					</p>
					<p class="c-text">
						吉良や檜佐木と同じく給料はあっさり使ってしまうタイプであり、大前田の家でご馳走になる描写が「カラブリ＋」で描かれた。
					</p>
					<p class="c-text">
						体中に入れ墨を入れており、額にもしている。また、一角と同じく褌を着用している。<br>六番隊副隊長任命には、銀銀次郎が副業で店主を務めている高級眼鏡屋「眼鏡の銀蜻蛉」が人気になったのを受け、眼鏡屋での商売に専念するため六番隊副隊長を辞職、その後任として任命された。「眼鏡の銀蜻蛉」は行きつけの店で、銀次郎とも馴染みであり、いくらか割り引いてもらっている（原価が結構なため、購入できないらしい）。夢は、自分でデザインしたゴーグルをかけること。初期では額にゴーグルをかけていたが戦う度に破壊され、最近は代わりに白い手ぬぐいを巻いている。死神代行消失篇では手ぬぐいの色は黒になり、知り合いの鍛冶屋に安価で作らせた鋼のかんざしを挿している。
					</p>
					<p class="c-text">
						檜佐木修兵は学院時代の先輩で、吉良イヅルと雛森桃とは学院時代の同期。優秀者の集められた特進クラスである1組に所属していた。2066期生。
					</p>
					<p class="c-text">
						ルキアとは、流魂街からの幼馴染。40年前まで「戌吊」で身を寄せ合って家族のように暮らしていた。共に真央霊術院で学ぶが、ルキアが朽木家の養子に求められ、彼女の幸せを願って心ならずも祝福することで勧めた。このことが後の恋次とルキアの関係の起点になっている。
					</p>
					<p class="c-text">
						名家令嬢となったルキアと対等に付き合えるようになるため、白哉を超える事のみを考えて鍛錬し続けたが、一度も勝てていない。ルキアの処刑是非を巡る騒動の中で白哉に戦いを挑むが、彼の鬼道と卍解を前に、自身の卍解も破壊され敗北する。最後まで戦士としての闘志を失わず戦い続けたため、白哉からは認められている。藍染の謀反後も、白哉を超えることを目標として仰いでいる。
					</p>
					<p class="c-text">
						ルキアが現世へ駐在する前に六番隊副隊長に任命された。その後、死神能力の譲渡を犯したルキアの捕縛命令を受け、当初は命令通りルキアを尸魂界へ連れて行くが、懺罪宮前での一護との戦闘後、ルキアを助ける事を決意。修得間近だった卍解の修行を終えて、ルキア救出に向けて行動する。前述の白哉との戦いで重傷を負うも花太郎の治療（アニメでは卯ノ花）で回復し再びルキア救出に向かい、一護と共に藍染に立ち向かうも一蹴される。真実を知った護廷十三隊の救援もあって、結果的にルキアを救うことができ、彼女と和解した。この頃から一護のことを信頼し「仲間」と認識する。
					</p>
					<p class="c-text">
						ルキア救出後、空座町に破面襲来の報を受け、ルキアらと共に現世へ派遣され一護と再合流。破面の2度目の襲来時にはイールフォルト・グランツとの戦いに勝利し、グリムジョーに負けたとする一護を「生きていたら勝ち」だと慰めていた。その後浦原商店で厄介になり、浦原に聞きたいことがあったためそれを聞く条件としてチャドの修行を手伝う。
					</p>
					<p class="c-text">
						その後、織姫救出のため、ルキアと共に虚圏に入り再び一護達と合流した。虚夜宮では第8十刃のザエルアポロ・グランツと交戦、助っ人として現れた石田もろとも窮地に立たされるが、虚圏にやってきた涅マユリにその窮地を救われる。虚圏に幽閉される事となり、傷の治療を受けた後、再び連れ去られた織姫の救出に向かう一護の援護を行い、そのまま葬討部隊や巨大虚と戦うが、解放状態のヤミーに倒される。一連の終結後は、尸魂界で一護が無月を使用した反動で気絶するのを目撃した。
					</p>
					<p class="c-text">
						一護に死神の力を取り戻させるための刀に隊長格の死神達と共に霊圧を与え、ルキアや他の隊長格と共に完現術者達との決戦に参戦。空座町決戦から17ヶ月の間、藍染と戦えるようになるために鍛錬を積んでおり、自身が交戦したジャッキーを剣を抜くことなく圧倒するほどの力の差を見せつけた。
					</p>
					<p class="c-text">
						白哉と共に尸魂界に攻め込んできた星十字騎士団（シュテルンリッター）のエス・ノトと交戦するが、エス・ノトが白哉の卍解を奪って白哉を攻撃し続けるのを見かねて卍解しようとした所を、星十字騎士団の一人であるマスク・ド・マスキュリンが卍解できることを知らずにドロップキックを仕掛けてきたため重傷を負い、卍解は運良く奪われなかった。その後、零番隊によって一護・白哉・ルキアと共に霊王宮へ連れて行かれ、『麒麟殿』の白骨地獄と血の池地獄で治療を受けて、麒麟寺天示郎の拳を受けても吹き飛ばされない位まで回復し、一護と共に次の『零番離殿』である『臥豚殿』へ向かった。
					</p>
					<p class="c-text">
						『臥豚殿』では一護と共に食事し、次の『鳳凰殿』では一護と共に人の形をした『浅打』と戦闘を行い、恋次は二枚屋王悦に合格と認められるが一護は失格し現世に追い返された。その後、兵主部一兵衛の『零番離殿』でルキアと共に修行を行っていた。修多羅千手丸には、衣装を新調してもらった。そして修行を完了し、ルキアと共に瀞霊廷へ到着する。
					</p>
					<p class="c-text">
						帰還後は先日自分に重傷を負わせたマスク・ド・マスキュリンと対峙。敵の猛攻にも大したダメージを受けず、修行により修得した真の卍解の力を使って完勝する程の成長を見せたが、ルキアの『一戦する毎に身を隠せ』という約束をし、しばらく眠っていたのだが・・・
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『蛇尾丸（ざびまる）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に刀身にいくつもの節を持ち、伸びて蛇のようにしなる蛇腹剣の形状に変化する。伸縮自在であるため直接的な遠距離攻撃も可能。ただし、伸ばしながらの攻撃は最大3回まででそれ以降は一度縮める必要がある。また、縮めた状態での大きさは黒崎一護の斬月とほぼ同程度。</dd>
						<dd class="c-ability__txt c-text">解号は「咆えろ『蛇尾丸』（ほえろ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「狒牙絶咬（ひがぜっこう）」</span>
						</dt>
						<dd class="ability__txt c-text">節の途切れた蛇尾丸の刀身を一斉に相手に突き立てる、刀身を折られた時の非常用の技。折れた斬魄刀が突然攻撃を仕掛けてくる為、相手の意表を衝いたり隙を作り出すには効果的だが、傷ついた蛇尾丸に無理を強いるために斬魄刀本体への負担が大きく（アニメ版によれば、この技を使った直後はしばらく始解すら不可能になる）、連続しては使えない。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『狒狒王蛇尾丸（ひひおうざびまる）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に巨大な蛇の骨の様な形状に変化し、恋次自身は狒狒の骨と毛皮を身に纏う。戦闘方法は始解時と殆ど変わらないが、斬魄刀そのものによる一撃一撃が強力になり、ギリアン級大虚の破面の斬魄刀も容易に打ち砕く。また、巨体に関わらず動作も素早く、隊長格の瞬歩にも充分に対応可能。始解時同様に複数のパーツで構成されているが、各パーツは形を持った霊体ではなく恋次自身の霊圧で繋がれているため、斬魄刀などで連結を断ち切る事は不可能。蛇尾丸本体への負担が掛かることもあるようだが、分離や再結合は自由自在に行う事ができる。アニメでは、その特性を活かし「狒牙絶咬」を使用していた。</dd>
						<dd class="ability__txt c-text">千年血戦篇後、卍解時による破損は直せないため、以前の白哉との戦いで破壊された刃節の一部が壊れたままだということがマユリの口から一護に語られた。さらに霊王宮での修行時に、実は蛇尾丸はまだ恋次を半分しか認めておらず、この卍解は半分しか解放していない姿であったことも明らかとなった。</dd>
						<dd class="ability__txt c-text">劇場版アニメでは度々その巨大さを生かし、他者を乗せて別場所へと移動させるために使用している。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「狒骨大砲（ひこつたいほう）」</span>
						</dt>
						<dd class="ability__txt c-text">自身の霊圧を開放し、狒狒王蛇尾丸の口からレーザーのように巨大な霊圧の砲弾を発射する。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【真の卍解】『双王蛇尾丸（そうおうざびまる）』</span>
						</dt>
						<dd class="ability__txt c-text"> 実は恋次を真には認めておらず、今まで使用していた卍解は半分しか能力を発揮していなかった。 零番隊『兵主部 一兵衛（真名呼和尚）』により、本当の名を教えてもらい、従える事に成功した。 真に解放された蛇尾丸の卍解で、発動と同時に右手に直刀「オロチ王」、左肩当てから伸びた腕「狒狒王」、そして腰に狒狒の骨を纏った姿となる。それぞれの名前を呼称すると「オロチ王」は鋸状の刃に変形し、「狒狒王」は敵を握り潰せる程に巨大化する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「蛇牙鉄炮（ざがてっぽう）」</span>
						</dt>
						<dd class="ability__txt c-text">真の卍解『双王蛇尾丸』での技。変形したオロチ王を敵に突き刺し、そこに力を集約させて一気に炸裂させる。その際、大口を開けて敵を噛み砕く蛇の姿が浮かぶ。喰らった敵は完全に炭化して砕け散る。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>