<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'urahara',
    'otoribashi',
    'hirako',
    'kensei',
    'risa',
    'aizen',
    'gin',
    'harribel',
    'gerard',
    'hikifune'
  ];
%>
<body>
<div class="container second character hiyori">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">虚化が可能な</span><br>
						<span class="character-detail-nickname_bottom">大阪弁の少女</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">猿柿ひより</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">133cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">26kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">8月1日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">仮面の軍勢</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">馘大蛇</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						元副隊長<br>
						金髪のツインテールで、八重歯とそばかすがある小柄な少女。猿の漢字が胸に描かれた赤ジャージと白いタンクトップを着て、ビーチサンダルを履いている。関西弁を喋り、口癖は「ハゲ」。態度がでかく、上下関係問わずに喧嘩腰で物を言う。死神と人間を嫌っている。一護が内なる虚を制御できるようになってからは、一護の虚化時の戦闘訓練を行う。
					</p>
					<p class="c-text">
						110年前は護廷十三隊の十二番隊副隊長を務めており、前隊長の曳舟を慕っていた。浦原が新隊長となった当初は、彼のことを認めようとせず反発していたが、技術開発室長になるなど嫌々ながらも浦原を手伝っていたようである。ただし、自分より階級が下であるにもかかわらず技術開発副局長に就任したマユリや、上官である自分に対してタメ口で話す阿近に対しては相当苛立っていた。この頃から、平子の顔面をいきなり蹴りとばすなど、良き喧嘩仲間な関係となっていた。101年前に魂魄消失事件のサンプル採取のため拳西のもとへ向かうが、虚化した拳西達と戦い、藍染達の策略に嵌り虚化する。
					</p>
					<p class="c-text">
						空座町での藍染一派との決戦では、日番谷とリサと共にハリベルと対決している。その後、藍染の挑発に乗って斬りかかるも、市丸の『神槍』で体を両断され（アニメでは腹部を刺された）瀕死の重傷を負うが、ハッチと卯ノ花によって一命を取り留めた。決戦後も死神嫌いは変わらず、尸魂界で治療を受けた後はすぐに現世に戻っており、浦原から浦原商店の店員としてスカウトされているが、全く応じていない様子である。
					</p>
					<p class="c-text">
						千年血戦篇では、ラブやハッチやリサと共に平子からの頼みのため、「世界のひずみ直し隊」を結成する。その後は門を作成する為に死神達と合流し、門完成後は霊王宮へ進撃したがジェラルドに敗北した。最終回でも登場し、一護の息子である一勇を目撃している。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『馘大蛇（くびきりおろち）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に、刀身にギザギザがついた身の丈ほどの大剣に変化する。描写が少なく、能力は不明。</dd>
						<dd class="ability__txt c-text">具象化した姿は明らかになっていないが、小説『The Death Save The Strawberry』では、嘘ばかりつく性悪な性格の斬魄刀であり、そこから真実を見出すことで屈服（卍解の習得）に成功したという設定が明らかになっている。逆撫は初めて藍染と接した時には異常に興味を示しており、この逆撫の反応から、平子は藍染の本性を察し警戒を強めていた。卍解は小説『Can't Fear Your Own World』にて使用しており、効果については京楽等の卍解と同じ様に周りを巻き込むタイプであると言われている。</dd>
						<dd class="ability__txt c-text">解号は「ぶっ手切れ『馘大蛇』（ぶったぎれ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">虚化時には一本角の生えた仮面が表れる。虚を制御する為の内在闘争では、最長時間（69分2秒）を記録。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「虚閃（セロ）」</span>
						</dt>
						<dd class="ability__txt c-text">虚化後に口から放つ。色は赤。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「ガトリング地団駄」</dt>
						<dd class="c-ability__txt c-text">一護の修業で虚化後に使用。空中に身を浮かせ、地団駄を踏むように連続で蹴りつける技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「西瓜割り（すいかわり）」</dt>
						<dd class="c-ability__txt c-text">虚化後に使用。下肢に反動をつけ、体重を乗せて相手を真っ二つに両断する技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>