<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'otoribashi',
    'syunsui',
    'ukitake',
    'aizen',
    'gin',
    'baraggan',
    'harribel',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'zommari',
    'szayelaporro',
    'aaroniero',
    'yammy'
  ];
%>
<body>
<div class="container second character stark">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">弱きを羨む</span><br>
						<span class="character-detail-nickname_bottom">孤独な第一十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">コヨーテ・スターク</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">187cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">77kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">1月19日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">郡狼</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">孤独</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第1十刃</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						下顎骨のような仮面の名残を首飾りのように着けた黒髪の男性。手袋のような物をはめている左手の甲に『1』の刻印があり、胸部に虚の孔がある。常に気だるげで寝起きが悪く、戦闘や非常時においても消極的な態度を見せる怠慢な性格。その性格から争いを好まず、「できれば皆が戦っている中で、戦っているフリだけでもして過ごしたい」という発言をし、相手の京楽から共感を得ている。京楽が本来の二刀流を封印して戦っていることをわずかな癖から見抜き、『花天狂骨』の『艶鬼』のルールを先んじて把握するなど、洞察力も高い。響転による速度も優れ、グリムジョー達との戦いを終えた一護が「消えた」と認識するほど。従属官のリリネットは破面化した際、通常は肉体と刀に分ける虚の力を1体の虚が2つの肉体に分けた半身のような存在である。リリネットが自身の斬魄刀のようなものであるため、解放前は四角形の四つの角に牙がついている鍔がある刀を武器として扱う。
					</p>
					<p class="c-text">
						その異常なまでの霊圧の強さから、何度も仲間の虚達が自身を残して消滅し最後に自分しか生き残らないという過去を持つ。孤独を癒すために破面化し、自分と一緒にいても滅びない存在である強い仲間を求めていた（その境遇から弱い存在に憧れている一面を持っていた）。その能力を藍染に見込まれ、仲間を求めるという点で利害が一致した。そのため、仲間に対する情は怠慢な物腰に反して強く、藍染への忠誠心が高い。しかし元々の怠け癖からリリネットの説得がなければ積極的に動こうとしない場面も見受けられた。<br>
						虚圏でのグリムジョーとノイトラとの対戦後の一護達の前に現れ、織姫を第五の塔へと拉致した後、リリネットと共に藍染の空座町への侵攻に同行し、京楽と交戦する。他の2体の十刃を圧倒した【卍解】への興味から、京楽に【卍解】を促すために帰刃し加勢に加わった浮竹との戦いも展開、その後ワンダーワイスの介入を機に一度は京楽を一時戦闘不能状態に陥らせ、バラガンへの弔い合戦として新手のラブとローズを追い詰めるが、再び現れた京楽の『花天狂骨』を使った戦いにより敗れ戦死した。<br>
						十刃が集う会合でうたた寝をし東仙に咎められるも、本人は意に介していない模様。<br>
						アニメ版では、本気を出すとリリネットの人格が消えてしまうという説明がされた。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『群狼（ロス・ロボス）』</span>
						</dt>
						<dd class="ability__txt c-text">分身であるリリネットと一体化することで解放される。</dd>
						<dd class="ability__txt c-text">解放するとオオカミの毛皮のようなコートをまとったガンマンスタイルのカウボーイを思わせる姿に変わり、左目部分にポインターのような仮面の名残が形成される。リリネットは2丁拳銃に変化しており、会話も可能。自分の魂を引き裂き分かち合う能力を持っており、スターク自身でありリリネットでもある狼の弾頭を召喚し、2丁拳銃からの虚閃と狼の弾頭を操って戦う。狼の弾頭は攻撃を受けると分裂する上、標的に喰らい付くことで大爆発を起こす。</dd>
						<dd class="ability__txt c-text">アニメでは狼の弾頭はリリネットの意思が司っており、さらに大爆発することで狼は消滅してしまうため、狼が全滅することはリリネットがいなくなることを意味したため、リリネットの「消失」でスタークは京楽との戦闘に意欲を出せないまま敗れたという描写が加わった。</dd>
						<dd class="c-ability__txt c-text">解号は「蹴散らせ『群狼』（けちらせ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「無限装弾虚閃（セロ・メトラジェッタ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放後に使用。銃から虚閃を無数に連射する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「コルミージョ」</span>
						</dt>
						<dd class="ability__txt c-text">スペイン語で「牙」という意味。 背中の弾倉から霊子で構成された武器を発現させる技。様々な武器を形成でき、劇中では剣を発現させ使用している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚閃（セロ）」</dt>
						<dd class="c-ability__txt c-text">解放前は構えなしで胸から、解放後は銃から放つ。色は青。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>