<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'byakuya',
	'renji',
	'rukia',
    'yhbh',
    'pernida',
    'nakklevaar',
    'gerard',
    'nianzol',
    'tenjiro',
    'hikifune',
    'senjyumaru'
  ];
%>
<body>
<div class="container second character oetsu">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">全ての斬魄刀のを創り出した</span><br>
						<span class="character-detail-nickname_bottom">零番隊の第三官西方神将の「刀神」</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">二枚屋王悦</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">王族特務零番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						零番隊 第三官 西方神将<br>
						レゲエダンサーのような頭をし、ラッパーのような口調で喋る男。異名は「刀神（とうしん）」。零番離殿は鳳凰殿。<br>
						斬魄刀を創り出した人物。尸魂界の開闢以来、全死神の「己の斬魄刀」の原型となる無銘の斬魄刀「浅打」のすべてを創っている。そのため、すべての「浅打」の在り処を知っていたが、「霊王宮」で打ち直されるまで一護の斬魄刀だけは彼の製作ではなかった。<br>
						その後、霊王宮に侵攻してきたユーハバッハと親衛隊と対峙し、鞘伏でジェラルドとペルニダとリジェを瞬殺し、ナックルヴァールに致命傷を与えたが、その直後にナックルヴァールの能力で体に異常をきたし、苦戦するも天示郎の助けもあり勝利する。しかし、ユーハバッハが聖別を発動させ、復活したリジェに体に穴を開けられて倒された。<br>
						小説版『BLEACH Can't Fear Your Own World』では復活後、鳳凰殿から『已己巳己巴』が強奪された事を知ると怒りを滲ませ、護衛についていた斬魄刀たちの傷跡から網彌代時灘の仕業だと悟った。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【斬魄刀】『鞘伏（さやふし）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">王悦がユーハバッハの迎撃の際に持ち出した斬魄刀。通常の浅打と同じ形状だが、いくら斬っても刃こぼれせず血の一滴も付着しない異常なまでの斬れ味を持つ。しかし、斬れ味がよすぎて収める鞘が創れず、専用の液体に浸けて保管しなければならない。このため、刀として成立しない「失敗作」と呼ばれており、瀞霊廷に送ることができないまま一切使われていなかった。解号は不明。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>