<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'uryu',
    'sado',
    'urahara',
    'yoruichi',
    'rangiku',
    'rukia',
    'aizen',
    'ulquiorra',
    'nnoitra',
    'grimmjow',
    'yammy',
    'nelliel',
    'ginjyo',
    'tsukishima',
    'riruka',
    'quilge',
    'kukaku',
    'hiyori'
  ];
%>
<body>
<div class="container second character orihime">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">神の領域を侵す</span><br>
						<span class="character-detail-nickname_bottom">特異な能力者</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">井上織姫</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">157cmm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">45kg→49kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">15歳 → 17歳</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">9月3日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">空座第一高校</dd>
							<dt class="character-profile__detail-head">完現術を媒介するもの</dt>
							<dd class="character-profile__detail-txt">花型ヘアピン</dd>
							<dt class="character-profile__detail-head">完現術</dt>
							<dd class="character-profile__detail-txt">盾舜六花</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">チーズ・バター・甘いもの</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">井上昊</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">T'en va pas/ELSA</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">BO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						黒崎一護のクラスメイト。胡桃色のロングヘアが特徴で、巨乳。作中においてはかなりの美少女らしく、平子真子からは「べっぴんさん」、獅子河原萌笑からは「超まぶい」、三年生になってからは後輩から「アイドルみたい」と言われる程。6枚の花弁をもつ花の形のヘアピンが特徴。このピンを触媒とした盾舜六花（しゅんしゅんりっか）という攻守・治療・復元の霊能力の使い手。
					</p>
					<p class="c-text">
						3年前に唯一の親族である兄の昊を交通事故で失って以降、一人暮らしをしている。兄によれば、人としても親としても失格だった両親とは3歳の頃に別離して消息不明のため、親戚が援助をしている。今でこそ明るく能天気な性格だが、中学時代はたつきに助けられるまで、髪の色を理由に上級生から因縁をつけられイジメを受けたことがあり、塞ぎこんでいた時期があった。
					</p>
					<p class="c-text">
						一護に想いを寄せている。当初はただ単に顔が面白いからといった理由だったが、次第に彼の内面にも惹かれていく。破面編の頃には「たとえ5回生まれ変わろうと5回とも同じ人を好きになる」と言うほどの想いの強さを見せている。劇場版では、一護が再度地獄に向かうことを決めた時、無事を祈るあまり背後から抱き付いたことがある。一護が非常に格好良く見えてしまう「織姫ビジョン」なる特異な才能も持ち合わせている。<br>命の危機を顧みずに敵を救出したり、仮面の軍勢（ヴァイザード）のハッチからは「能力が似ているなら戦いには向いていない」と言われても「戦いたい」と言う言葉などから、勇気のある一面を持つ。自分たちに害意を持っていたり、実際に害した者にまで救いの手を差し伸べたり、捨石にされた敵を助けられなかったことを悔やんだりと、戦闘において敵に対しても非情になりきれない部分が甘さや迷いとなって出てしまう面が有ることから、石田や恋次等からは「戦闘に向いていない」と評されている。
					</p>
					<p class="c-text">
						連載版と違って兄はいなく、両親は死亡している。ある日、神社の階段から落ちて死亡する。死神代行を七日間だけすることになった一護に鎖を切られ、あの世へ行こうとしていた時に三年前に死んだ父親の霊が現れる。しかし、既に虚化していたため襲い掛かってきた所を一護に助けられる。一護とは一度話しただけだったが、好意は持っており父親の仏壇で何時も話していた。一護に助けられた後はルキアの失態のためあの世に行くことができず、現世に留まって一護に再会しようとした。
					</p>
					<p class="c-text">
						虚（ホロウ）となった兄の昊に襲われたときに死神化した一護と魂魄状態で接触して助けられてから、自分自身の能力が少しずつ目覚め、石田の撒き餌に引き寄せられたナムシャンデリアという虚（ホロウ）から自身を助けようとして傷付いた竜貴を守ろうとする意思から、初めて盾舜六花を発動させナムシャンデリアを倒す。その後浦原喜助によりチャドと共に死神や虚について知らされ、一護を護りたいという思いから、チャドと共に夜一の修行を受け、盾舜六花を自在に扱えるようになる。
					</p>
					<p class="c-text">
						一護・茶渡（チャド）・石田・夜一と共にルキアを助けるため、そして一護を護るために尸魂界へ乗り込み瀞霊廷へ侵入したときは、他メンバーと分散してしまい涅マユリと交戦するまで石田と行動を共にしていた。一貫坂慈楼坊との戦闘で慈楼坊により唯一の攻撃手段の椿鬼を損傷され、自分の無力さを痛感する。涅マユリとの本格戦闘を前に石田と別れた後は、更木剣八・草鹿やちるら十一番隊と行動を共にし、捕えられていた石田やチャド、岩鷲を救出し双殛の丘で一護の戦いを見守った。事件終了後は藍染によって重傷を負った一護を治療した。<br>破面が最初に現世に襲来した際、立ち向かおうとするが到底敵わず、十刃・ヤミーの攻撃を受けチャドと共に深手を負う。その際に発動させた「盾舜六花」の霊能力の特異性のため藍染惣右介に目を付けられることになった。
					</p>
					<p class="c-text">
						尸魂界からの連絡後、藍染に彼女が利用されることを危惧した浦原から椿鬼を失ったことを理由に戦力外通知を受け、ルキアに励まされたことを機に二人で尸魂界で修行に入るが、最中に藍染の命を受け襲来した破面たちと戦闘中の仲間の命を盾に取られ、ウルキオラに連行され虚圏に下る。だが尸魂界には状況証拠から織姫の意志による裏切りと判断されてしまう。虚圏では藍染より自分の能力について教えられ、自分の能力で崩玉が存在しなかった状態に還そうと決意する。
					</p>
					<p class="c-text">
						自分の救出に来た一護との再々戦を望むグリムジョーに軟禁されていた部屋から連れ出され、拒絶能力により一護を救命、一護とグリムジョーの対戦をネルと共に見守る。直後に一護を襲撃したノイトラと一護達の救援に来た剣八との死闘後は、織姫の拉致が一護達を虚圏へおびき寄せる役割を果たしたとして、藍染からは用済みとされながらも、解放も処分もされることなく、第一十刃のスタークに虚夜宮に連れ戻され、藍染に虚夜宮の守護を任されたウルキオラの保護・監視下に再び置かれることとなったが、自身を助けるためウルキオラと完全に決着をつけた一護に救出された。
					</p>
					<p class="c-text">
						一護共々高校3年生となり平和に暮らしていたが、彼に「XCUTION」の銀城が接触して完現術の修業をすることとなった際に月島達に襲われる。銀城の依頼でしばらくは一護の修業の回復役として付き合っていたが、完現術を覚えた彼が月島との戦いになった際、月島が彼女を襲った時に使った完現術が原因で一護の敵となって襲いかかる。その後一護がルキア達により死神の力を完全に取り戻した時に喜助達の手により気絶させられ戦線離脱した。最後は完現術が解かれ元に戻ったが、月島のことは一切覚えていなかった。アニメでは、この描写はなかった。
					</p>
					<p class="c-text">
						高校3年生となってケーキ屋『ABCookies』からスカウトされてアルバイトを始めた。スカウト理由は、彼女がその店のケーキを道端であまりにも幸せそうに頬張っていたのを見た通行人多数が彼女の持っていた紙袋を見て店に押しかけた出来事があり、店長が彼女による絶大な宣伝効果を認めた為。またその店の売れ残りのパンを貰ってはあちこちに配って回っている。
					</p>
					<p class="c-text">
						見えざる帝国の魔の手から現世に逃げてきたネルの頼みで、一護たちと共に虚圏へ向かう。到着した虚圏で一護が虚圏狩猟部隊隊長キルゲ・オピーと交戦し、一瞬の隙をついて浦原がキルゲに致命傷を負わせるが、乱装天涯で自分の体を動かすキルゲの攻撃を受けて負傷した上に、命の危機に陥る。しかし、何者かがキルゲの体を両断したことで救われ、尸魂界に到着した一護との通信が繋がった時には回復しており、一護が見知った何者かと一緒にいた。その後は、浦原の指示で茶渡と共に修行している。
					</p>
					<p class="c-text">
						一護が瀞霊廷に到着し、ユーハバッハが雨竜・ハッシュヴァルトと共に霊王宮へと侵攻した際、浦原・一護・茶渡・夜一・岩鷲と共に霊王宮へと向かう。その際の衣装について、茶渡からツッコミを入れられる。浦原によれば、真ん中を閉じると両脇から胸がこぼれる仕組みだそうである。夜一によれば、'どこぞのスケベに騙されて仕方なく着ている'ということだが、茶渡の回想によれば、浦原から、'これを着たら黒崎さんが喜ぶ'と言われ、即決で着ることを自分で選択している。
					</p>
				</div>
			</div>
			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">盾舜六花</span>
						</dt>
						<dd class="ability__txt c-text">それぞれ花の名を冠した妖精のような存在を呼び出して盾を作り、事象を拒絶する稀有な霊能力。または、その術を構成するメンバーの総称。一護の霊力の影響で、兄の形見であるヘアピンから生まれた、“魂の力”が具現化した存在。ハッチによれば、ヘアピンが斬魄刀のようなものである（実際意志をもった霊子体・能力という共通点がある）。茶渡と同様、ヘアピンを媒介とした完現術（フルブリング）とも解釈できる。</dd>
						<dd class="ability__txt c-text">六花本体は非常に脆く攻撃されるといとも容易く破壊されてしまうのが難点。特に椿鬼は攻撃を担当する性質上、反撃を受け何度か損傷・破壊されている。</dd>
						<dd class="ability__txt c-text">非常に稀有な能力であり、周囲もその能力を不思議に思っていたようで、ハッチからは「人間のままでそんな能力を持っているなんて少し信じ難い」と称され、尸魂界もその能力の希少性を理解していたと藍染の口から語られた。ハッチと同質の能力を持つため、彼女だけがハッチの作った「結界を張った内部を生物の意識下から消し去る」鬼道を容易くすり抜けられた。</dd>
						<dd class="ability__txt c-text">織姫の霊力の増減や精神や身体状態に影響を受けるものの、六花の各メンバーと織姫との間に五感や思考、意志の連動性や共有性は無いようで、発動・使用時には言霊が、意志の疎通には口頭での会話が必要。</dd>
						<dd class="ability__txt c-text">破面篇の途中からは、技の使用だけに使っており、登場人物としては出てくることはなくなった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">三天結盾（さんてんけっしゅん） - 火無菊・梅厳・リリィ</span>
						</dt>
						<dd class="ability__txt c-text">防御術。“盾の外”の攻撃を拒絶。三人が逆三角形（普通の三角形にも出来る）の頂点にそれぞれ位置取ることで盾を張って攻撃を防ぐが、防御力はさほどではなく、原作では、強い攻撃を受けて一撃で砕け散ることもあるが、アニメでは大虚の攻撃を弾いたり、虚化した一護の月牙天衝の爆発に巻き込まれても防いだことがある。また、盾を張る三人自身は攻撃に晒される危険性がある。攻撃を防ぐ他、落下時の衝撃を和らげる・障害物を食い止める・対象者を降ろす・織姫や仲間達の移動させるといった使われ方もした。バウント編で火無菊、梅厳、リリィは、己の意思で織姫を守っている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">双天帰盾（そうてんきしゅん） - 舜桜・あやめ</span>
						</dt>
						<dd class="ability__txt c-text">治癒･復元術。“盾の内”の破壊又は、事象を拒絶。六花の二人の間に対象を囲う楕円形の盾を張り、盾の内側を事象（出来事）が起こる前までの状態に戻す。傷を治すのは早いが、霊圧・魂魄回復は遅く、一護の卍解の衣装（卍解でもこれは霊圧を回復すれば治る）を短時間で回復できなかったことがある。</dd>
						<dd class="ability__txt c-text">後に、この能力は極めて特殊であることが藍染により明かされる。限定した対象に生じた事象（出来事）を拒絶することで、たとえ失われたものでも元に戻すことが出来る。藍染曰く神の領域を侵す能力であり、その能力によって失われたグリムジョーの左腕を復元し、また対象の吹飛ばされた上半身を元に戻したりもした。拒絶する事象に霊力が関わっている場合、その大きさによって拒絶するのに要する労力や時間が変わる。また剣八とノイトラ戦の時点では治癒中の対象による内側からの干渉を弾くといった性質も見せている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">孤天斬盾（こてんざんしゅん） - 椿鬼</span>
						</dt>
						<dd class="ability__txt c-text">攻撃術。“盾の両面”の物質の結合を拒絶。物質の結合を解く力を持ち、丸い盾(じゃない時もあるが)を張った椿鬼を撃ち込んだ対象を真っ二つに裂く。虚を倒せることや月島に傷を付けることや暗殺部隊の隊員にダメージを与えることはできたが、死神や破面に対した戦闘において有効なダメージを与えた事はない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">四天抗盾（してんこうしゅん） - 火無菊・梅厳・リリィ・椿鬼</span>
						</dt>
						<dd class="ability__txt c-text">防御・迎撃術。爆発反応装甲と同等の効果を持ち、三角錐状の盾で防いだ攻撃の衝撃を盾の爆発で拡散し、同時に自動的に椿鬼による反射攻撃を加える。空座町決戦後、一護がいつか死神の力を取り戻した時に備えて修得した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>