<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'uryu',
    'urahara',
    'syunsui',
    'renji',
    'rukia',
    'nnoitra',
    'yammy',
    'nelliel',
    'ginjyo',
    'tsukishima',
    'riruka',
    'quilge',
    'kukaku',
    'hiyori'
  ];
%>
<body>
<div class="container second character sado">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">腕に悪魔の能力を宿す</span><br>
						<span class="character-detail-nickname_bottom">一護の親友</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">茶渡泰虎</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">197cm → 199cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">112kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">15歳 → 17歳</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月7日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">空座第一高校</dd>
							<dt class="character-profile__detail-head">完現術を媒介するもの</dt>
							<dd class="character-profile__detail-txt">腕</dd>
							<dt class="character-profile__detail-head">完現術</dt>
							<dd class="character-profile__detail-txt">悪魔の左腕</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">可愛いモノ</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">祖父</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">"NO SONG UNHEARD"/THE HELLACOPTERS</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">AO型</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						黒崎一護のクラスメイトで中学生時代からの親友。あだ名はチャド（一護が初対面の際に、彼の名字を間違えて読んだのがきっかけ）。メキシコ人とのクォーターであり浅黒い肌の体格の良い少年。一人称は「俺」。顔は前髪で片眼が隠れており、唇は分厚い。高校生にも関わらずかなりの老け顔らしく、夏梨に「オッサン」呼ばわりされたり、インコに入っていたシバタには「おじちゃん」と呼ばれる。
					</p>
					<p class="c-text">
						鉄骨を背中で受け止め、オートバイと正面衝突しても耐えうる尋常ならざる頑強さを持つ。寡黙ながら心優しい性格で、成績も優秀であり（期末試験で一学年322名中11位）授業態度もいい模様。可愛いモノに目がなく、その嗜好からコンとは浅からぬ因縁がある（逃げていたコンを見て、それを可愛いと思い追いかけていったのが始まり）。
					</p>
					<p class="c-text">
						沖縄出身だが、両親を早くに亡くし、メキシコのアブウェロ（祖父）であるオスカー・ホアキン・デ・ラ・ロサの元で育てられた。幼少期は粗暴で、自分が気に入らないことやイジメがあれば相手に暴力を振るっていたが、見かねた祖父に諭され、自分のために暴力を振るわなくなった。
					</p>
					<p class="c-text">
						不良に絡まれているところを一護に助けられてから、一護と「互いのために拳を振るう」ことを約束する。その誓いによるものらしく、一護がルキアを助けたいからという理由だけで自身も尸魂界へ向かう決意をするほど、一護との絆は堅い。
					</p>
					<p class="c-text">
						戦闘力は尸魂界篇においては護廷十三隊の戦闘集団である十一番隊の隊士達や八番隊の第三席・円乗寺辰房を下す程の実力であり、一般隊士の斬魄刀を易々曲げてしまうほどの強度を持つ。恋次との修行を経てからは十刃落ちと対等に戦えるほどに成長する。ただし阿散井恋次同様、戦闘での勝率は高くない（両者の共通点は乱戦には強い傾向がある）。
					</p>
					<p class="c-text">
						霊感は全く無かったが、死神化した一護と接触したことで強まっていき、黒崎夏梨を守る事をきっかけに固有の能力が開花。右腕に鎧が装着され、霊力による打撃を放つことが出来るようになる。
					</p>
					<p class="c-text">
						夜一の指導で修行をした後、一護達と共に尸魂界へ向かう。瀞霊廷へ侵入したときは一護達と離れ離れになり、単独で行動して多くの隊士を負傷させ八番隊の三席を一撃で倒すほど腕を上げる。八番隊隊長・京楽春水との勝負に敗れ、石田や岩鷲と共に投獄される。後に織姫と剣八ら十一番隊に救出される。
					</p>
					<p class="c-text">
						周囲の者のために戦えなくなった心境を察して、一護が藍染との決戦で死神の力を失ったことに心を痛めており、自分の能力と同質の力を持つ銀城空吾ら「XCUTION」達と手を組み、一護の死神の力を取り戻すための修行に関わっていく。月島が最初に一護に襲ってきた際に月島に「挟まれ」たため、月島を仲間だと信じ、一護が月島と戦った時には、月島に攻撃を仕掛ける一護に戸惑いながらも織姫と共に月島の味方をする。
					</p>
					<p class="c-text">
						圏から逃れてきたネルたちの頼みで、一護たちと共に虚圏へ向かう。到着した虚圏で遭遇した「見えざる帝国」の狩猟部隊隊長キルゲ・オピーを一護と浦原が倒すが、一護が転界門に入ってすぐに乱装天傀で再び動き出したキルゲの攻撃で負傷するが、何者かの不意打ちでキルゲは倒されたため、何とか命は助かる。その後、「見えざる帝国」が一時撤退した後の尸魂界で一護たちが霊王宮に向かう前に繋がった通信では、浦原や織姫と共に元気な姿を見せている。その後は、浦原の指示で織姫と共に修行を行う。修業後は、霊力を駆使して空中に浮遊できるようになった模様。また、尸魂界に加勢に来た際には白い専用の衣装を纏っている。
					</p>
					<p class="c-text">
						そして、一護が自覚せずに開けてしまった障壁の穴を通って霊王宮へ向かおうとするユーハバッハたちに一護が追いつく直前に、一護の前に立ちはだかった石田雨竜が一護に放った攻撃を「三天結盾」で防いだ織姫と共に瀞霊廷に到着する。そして、一護や織姫と共に霊王宮へ行くための準備が整うのを十二番隊隊舎で待つ。霊王宮突入後はナックルヴァールに翻弄されるも、夜一の加勢によりその場を脱して、新たに創設された真世界城へと乗り込む。その城内で動く巨大な石像と対峙し、岩鷲と共に一護の帰り道を作るべく奮戦するが使われることはなかった。十年後はプロボクサーになり、外見が京楽春水に似ている。
					</p>
				</div>
			</div>
			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">変化した右腕</span>
						</dt>
						<dd class="ability__txt c-text">一護の霊力の影響でチャドの魂の力が具現化した右腕の鎧。破面襲来後、恋次との修行を経て形状も変わり、その後のガンテンバイン戦で「巨人の右腕（ブラソ・デレチャ・デ・ヒガンテ）」としてさらに強化された。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「拳からの拳撃」</span>
						</dt>
						<dd class="ability__txt c-text">変化した右腕から霊力による打撃を放つ。当初は一日2発が限界だったが、夜一との特訓により連続で使えるようになった。京楽には消耗限界を超えていても命を削って連続で使用するタイプの技であると分析されている。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「巨人の一撃（エル・ディレクト）」</span>
						</dt>
						<dd class="ability__txt c-text">破面との決戦を前に恋次との修行によって会得した。右肩の出っ張りの部分が開き、霊子をまとったパンチを繰り出す。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「クレーン投げ（グルーア・ティラール）」</span>
						</dt>
						<dd class="ability__txt c-text">攻撃相手の腕をとり、一本背負いの要領で投げ飛ばす技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">巨人の右腕（ブラソ・デレチャ・デ・ヒガンテ）</span>
						</dt>
						<dd class="ability__txt c-text">「変化した右腕」から進化した右腕の鎧で、「防御の力」を宿している。真の姿となった時はガンテンバインの“主よ我等を許し給え（ディオス・ルエゴ・ノス・ペルドーネ）”を完全防御するほど防御力が高い。だが十刃・ノイトラには一刀両断されてしまった。</dd>
						<dd class="ability__txt c-text">虚圏に来て、破面・ガンテンバイン・モスケーダと交戦している際に完全に覚醒し、髑髏の様な模様が入った巨大な盾のような形状に変化した。黒を基調としたカラーリング。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">悪魔の左腕（ブラソ・イスキエルダ・デル・ディアブロ）</span>
						</dt>
						<dd class="ability__txt c-text">恋次との修行の末にチャドが発見した「攻撃の力」を宿した左腕の鎧。巨人の右腕と比較するとシンプルな形状で対照的に白い色をしている。原作では不明だが、アニメでは発現のきっかけとなった修行に立ち会った恋次には、虚園で共闘するまでは悪魔の左腕のことは知らされていない。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「魔人の一撃（ラ・ムエルテ）」</span>
						</dt>
						<dd class="ability__txt c-text">左腕の鎧で、霊子をまとった強烈なパンチを繰り出す。その際、口を開けた髑髏のような形になるように壁を粉砕した。巨人の右腕とは比べ物にならないほど威力が高く、解放状態のガンテンバインを一撃で倒した。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>