<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'urahara',
    'otoribashi',
    'hirako',
    'kensei',
    'syunsui',
    'nanao',
    'aizen',
    'gerard',
    'hiyori'
  ];
%>
<body>
<div class="container second character risa">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">虚化の犠牲になった</span><br>
						<span class="character-detail-nickname_bottom">元享楽の副隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">矢胴丸リサ</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">162cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">52kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">2月3日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">仮面の軍勢→八番隊隊長</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">鉄漿蜻蛉</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						名古屋弁と 関西弁を話し、セーラー服を着ている。眼鏡におさげと一見して真面目そうな外見で、実はエロ本好き（アニメ版では水着グラビアの本）。口調は結構きついが仲間を気遣う一面もある。羅武に、2日に1回はエロ本を貸す。本人は1日に2回読む。本人曰く「スケベではなく、興味津々なだけ」。隠れているものほど見たくなる性格らしい。
					</p>
					<p class="c-text">
						虚化すると、十字模様が入った菱形の仮面が現れる。
					</p>
					<p class="c-text">
						110年前は護廷十三隊の八番隊副隊長で京楽の部下で、七緒と毎月一日は一緒に本を読んでいた。当時は下がスカート状になった死覇装を纏っている。101年前に、京楽の推薦によりテッサイの代わりに魂魄消失案件の始末特務部隊の一人に選ばれた。虚化した拳西達と戦うが、藍染達の策略に嵌り虚化した。
					</p>
					<p class="c-text">
						破面篇では一護の虚化制御の内在闘争時に自身が当番という理由で最初に戦った。空座町の決戦時には、他のメンバーと共に参戦。ひよりと共にハリベルと交戦するもハリベルが藍染に斬られたことで中断され、一護の現世帰還後に虚化して藍染に挑むも敗れた。
					</p>
					<p class="c-text">
						藍染との決戦後は、志波空鶴の家を拠点に書籍販売会社を立ち上げて、事業を営んでいる。現世の本（特にエロ本）やCDを尸魂界に調達して販売、特に男性死神からの支持を受けてかなりの売上を得ているようである。この事業により、尸魂界に拠点を置いている現在も現世に顔を出す機会が多く、ひよ里ら現世残留組とは接触を取り続けている。
					</p>
					<p class="c-text">
						千年血戦篇では、ひよりが結成した「世界のひずみ直し隊」に加わっている。この戦いから髪型がポニーテールに変わっている。その後、門を作成する為に死神達と合流。門完成後は霊王宮へ進撃したが、ジェラルドに敗北した。戦いが収束した後は、元流斎の戦死により元上官の京楽が総隊長に就任したため、空席であった八番隊隊長に任命され、護廷十三隊に復帰した。小説版では、七緒とも再会し、図書館では雛森と対面し、二人に相談して自身の隊の副隊長を選ぼうとしていたが、ダメ出しが多くて結局決まらなかったため、当面七緒を一番隊副隊長を兼任する形で副隊長代行に任命することとなった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『鉄漿蜻蛉（はぐろとんぼ）』</span>
						</dt>
						<dd class="ability__txt c-text">解放時は刀と鞘を繋げて回し、巨大な槍と矛の中間のような武器に変化する。描写が少なく、能力は不明だが、決戦後に隊長に就任したことから卍解は会得していると思われる。</dd>
						<dd class="c-ability__txt c-text">解号は「潰せ『鉄漿蜻蛉』（つぶせ『〜』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「二十一条蜻蛉下り」</span>
						</dt>
						<dd class="ability__txt c-text">ジェラルドに対して使用。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">虚化</span>
						</dt>
						<dd class="ability__txt c-text">十字模様が入った菱形の仮面が現れる。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「パンチラトルネード」</dt>
						<dd class="c-ability__txt c-text">一護の修業時に使用。片手を支点に広げた両足を旋回させ、もう片方の手で斬魄刀を振う技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「千枚卸（せんまいおろし）」</dt>
						<dd class="c-ability__txt c-text">虚化後に使用。相手を細かくスライスするように斬り刻む技。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>