<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'ichigo',
	'byakuya',
	'renji',
	'rukia',
    'yhbh',
    'pernida',
    'nakklevaar',
    'gerard',
    'nianzol',
    'hyosube',
    'tenjiro',
    'hikifune',
    'oetsu'
  ];
%>
<body>
<div class="container second character senjyumaru">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">針仕事が得意な</span><br>
						<span class="character-detail-nickname_bottom">北方神将の「大織守」</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">修多羅千手丸</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">王族特務零番隊</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						零番隊 第四官 北方神将<br>
						大きな髪飾りを付けた人物（性別不明。対峙したジェラルドからは女性と言われている）。一人称はわらわ。異名は「大織守（おおおりがみ）」。<br>
						背中に六本の義手を装着している。マユリとは知り合いらしく、技術開発局にいたようだが、詳細は最後まで不明。ルキアたちの死覇装を新たに製作した。自身の宮殿の内装はさまざまな反物で派手に彩られており、採寸するために相手を脅して全裸にさせるなど性格は強引かつ高飛車。景色と同化している暖簾を被せることでその裏に人物を隠せるほか、本物と見紛うような空間を作り出して偽の自分や建造物を映し出すことができる。
					</p>
					<p class="c-text">
						霊王宮でユーハバッハらと対峙し、ニャンゾルを倒すも次に立ちはだかったリジェの狙撃で射殺された。しかし、これまで戦っていた場所が偽の霊王宮であることを明かし、本物の千手丸が姿を現して戦闘は継続する。その後の描写はなかったが、聖別で復活した親衛隊に倒された。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">裁縫針のような形状の斬魄刀。描写が少なく、詳細不明。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『名称不明』</span>
						</dt>
						<dd class="ability__txt c-text">作中未解放のため、詳細不明。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>