<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'urahara',
    'yoruichi',
    'hirako',
    'baraggan',
    'bg9',
    'tenjiro'
  ];
%>
<body>
<div class="container second character soifon">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">二番隊と隠密機動を束ねる</span><br>
						<span class="character-detail-nickname_bottom">白打のスペシャリスト</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">砕蜂</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">150cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">38kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">2月11日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊二番隊/隠密機動第一分隊「刑軍」</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">雀蜂</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">雀蜂雷公鞭</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">魚</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">四楓院夜一</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
							<div class="character-profile-img_02 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						隊長・隠密機動総司令官・隠密機動第一分隊「刑軍」総括軍団長<br>
						代々処刑・暗殺を生業とし続けてきた下級貴族「蜂（フォン）家」の九代目。6人兄妹の末っ子として生まれ、5人の兄達も隠密機動所属だったがまもなく死去。おかっぱのようだが両耳付近は長く、布で巻いており、髪の先には輪がくくりつけられている。隠密機動入団時に蜂 梢綾（フォン シャオリン）の幼名を捨て曾祖母の号「砕蜂」を（アニメでは強制的に）受け継ぐ。
					</p>
					<p class="c-text">
						善悪等に関心が無く、護廷十三隊隊長としての使命と矜持にのみ基づいて行動し、任務に障害がある者はたとえ仲間であっても排除する冷徹な性格。部下と親しくしあうのを好まず、大前田をぞんざいに扱っているが、非常事態には自分よりも部下の命を優先させようとしている。また仲間のピンチは敵を倒すチャンスとして利用するという隠密機動としての持論を持っている。死神隊士や隠密機動の中には彼女に憧れる者も多く、ファンクラブまで存在するほど人気が高い。羽裏色はこはくいろ、羽織は袖のないタイプ。
					</p>
					<p class="c-text">
						夜一の元部下で彼女を敬愛・崇拝していたが、それゆえに夜一の突発的すぎる逃亡に戸惑いを覚え、裏切り者と誤解して彼女を恨み、自らの手で捕まえると決意することで、その感情を乗り越え、総司令官の地位へ上り詰めた。しかし夜一への想いは完全には捨て切れず、後に夜一との対決で誤解を解き、和解し共闘する。夜一が逃亡する原因となった浦原喜助を嫌っており、またハッチとは面識があるが、浦原と通じていたこともあり彼のことも嫌っている。アニメでは、平子のことも嫌っている描写があり、最終回のエンドロールでは、訓練用の的に浦原だけでなく平子の顔も描かれており、それらを破壊するシーンが描かれた。
					</p>
					<p class="c-text">
						基本的な戦闘能力では夜一を上回るが、総合的には未だ一歩劣る。戦いの際、刑戦装束という背中が露出しているノースリーブの服を着ている。また、白打で戦うことが多い。「瞬閧」（後述）を独力で身に付け、後に完成した。アニメのバウント篇では馬橋にビットの毒を注入されるも、雀蜂の毒を使用し中和。馬橋を油断させ、撃退することに成功している（原作には雀蜂自体が毒を持っているという記述・描写はない）。また、訓練により、たいていの毒は彼女に通じないらしい。また、バウント篇や過去篇でも浦原を疎んでる節がある。和解後、夜一に想いはやや暴走気味であり、小説『BLEACH THE HONEY DISH RHAPSODY』では事件がひと段落ついた後、夜一が尸魂界滞在中は仕事そっちのけで身の回りの世話やお供をする（だが仕事は猛スピードで終わらせている）、「死神図鑑ゴールデン」で夜一にチョコをプレゼントしようとして、当の夜一が猫に変身して受け取りを拒否されるなど彼女との絡みは原作・アニメ共によくネタにされている。そんな思いに起因してかネコグッズの収集を趣味としている。
					</p>
					<p class="c-text">
						他隊の隊長格と共に、空座町での藍染との決戦に出陣する。自身はジオ・ヴェガと対峙して撃破し、後にバラガンと戦うも左腕を失うが、ハッチと共闘してバラガンを退けた。その後、藍染に挑み敗北する。終戦後、失われた左腕は回復した。
					</p>
					<p class="c-text">
						星十字騎士団との戦いではBG9（ベー・ゲー・ノイン）と対峙、早期決着を狙い卍解するも『雀蜂雷公鞭』を奪われてしまう。戦いの後では、何処かの崖で一人修行していた。二回目の侵攻は大前田の危機を救いBG9と対峙し、無窮瞬閧により追い詰めるが損害がなく逆に追い詰められる。ミサイル攻撃により重傷を負い、意識不明になるが浦原の声によって目覚め侵影薬により卍解が虚化したことで卍解を取り戻し『雀蜂雷公鞭』でBG9を倒す。
					</p>
					<p class="c-text">
						前述のように、冷徹そうな見た目とは裏腹に非常に感情的なところがあり、総隊長である元柳斎の死に対して誰よりも取り乱し星十字騎士団との戦いに駆けつけなかった零番隊に対し上下関係を無視して非難した。アニメオリジナルの新隊長天貝繍助篇では任務の邪魔をされたため、始解して一護を本気で殺そうとした。ルキアとも少しだけ戦った。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『雀蜂（すずめばち）』</span>
						</dt>
						<dd class="ability__txt c-text">解放前の状態でも他の斬魄刀に比べて短く、能力解放とともに右手中指に付けるアーマーリング状の刃に変化する。能力は最初の一撃で標的の身体に刻まれる死の刻印蜂紋華（ほうもんか）にもう一度攻撃を加えることで必ず相手を死に至らしめる弐撃決殺（にげきけっさつ）。二撃を加えられた相手は蜂紋華に包まれるように消滅する。「同じ場所」というのは必ずしも蜂紋華が刻まれた場所に攻撃を加えなければならないわけではなく、たとえば一撃目を体の前面から、二撃目を背面から加え、傷の深さまで含めて一撃目と二撃目の傷が接触すれば条件を満たす。夜一が逃亡した当時はまだ能力が未完成であったため、一撃目でつけた蜂紋華の持続時間に限りがあったが、再会して対決したときには能力は完成されており、持続時間の限りがなくなっている。</dd>
						<dd class="c-ability__txt c-text">解号は「尽敵螫殺『雀蜂』（じんてきしゃくせつ『 - 』）」」</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『雀蜂雷公鞭（じゃくほうらいこうべん）』</span>
						</dt>
						<dd class="ability__img img_01"></dd>
						<dd class="ability__txt c-text">能力解放とともに砕蜂の右腕にハチの下腹部を模したような照準器付きの砲台が装備され、そこから金色の蜂の針状の砲弾をミサイルのように放つ。大きくて重いため持ったままだとまともに動けず、砕蜂自身は「自分の矜持に反する」としてあまり使用を好んでいない。一発による破壊力は本人曰く「暗殺と呼ぶには派手すぎる」ほど高く、着弾点に巨大な爆風を撒き散らすため、暗殺よりも殲滅戦に向いている。ただし連続での使用は体力の消耗が激しいため、3日に一発が限度。また使った砕蜂自身も反動で吹き飛ばされるため、バラガンとの戦いでは鎧の下地に使う鋼鉄の帯「銀条反」を自身とビルに巻いて使用していた。しかし、実際に使用した際には、爆風によってその銀条反もちぎれ、さらに吹き飛んだ砕蜂を庇おうとした大前田もろともビル壁面にめり込むほどの威力を発揮している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">瞬閧（しゅんこう）</span>
						</dt>
						<dd class="ability__txt c-text">夜一との対決時に使用。これを夜一が去ってから独自に鍛錬し会得した模様。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">無窮瞬閧（むきゅうしゅんこう）</span>
						</dt>
						<dd class="ability__txt c-text">鬼道の応用「瞬閧（しゅんこう）」を修業で改良し、長時間発動できるようにした。本人は「風」と描写している。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">滝鯉（たきごい）</dt>
						<dd class="c-ability__txt c-text">相手の蹴りなどを手と足で受け止め、体勢を崩させる技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">吊柿（つりがき）</dt>
						<dd class="c-ability__txt c-text">相手の放った拳や蹴りに自分の手足をかけて攻撃の軸にする戦闘手段。もともとは夜一の生み出した技。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">風車（かざぐるま）</dt>
						<dd class="c-ability__txt c-text">一回転し、落ちる力を使用して爪先蹴りを放つ。砕蜂と夜一の自ら回転する技の総称でもある。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>