<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'isshin',
    'rangiku',
    'aizen',
    'gin',
    'harribel',
    'gerard',
    'giselle',
    'hiyori'
  ];
%>
<body>
<div class="container second character hitsugaya">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">将来を嘱望される</span><br>
						<span class="character-detail-nickname_bottom">最年少隊長</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">日番谷冬獅郎</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">133cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">28kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">12月20日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">護廷十三隊十番隊
</dd>
							<dt class="character-profile__detail-head">始解</dt>
							<dd class="character-profile__detail-txt">氷輪丸</dd>
							<dt class="character-profile__detail-head">卍解</dt>
							<dd class="character-profile__detail-txt">大紅蓮氷輪丸</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">甘納豆、大根おろしがたっぷりかかった玉子焼き</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						現隊長<br>
						西流魂街一地区「潤林安」出身。史上最年少で隊長になった銀髪翡翠眼の天才児。小柄な少年のような外見（身長・体重ともに9歳男子の平均値に相当）だが、物事を冷静に見渡せる高い見識の持ち主で、常にドタバタ騒ぎを巻き起こす死神たちのなかで、主にツッコミ役に位置づけられているクールな常識人。一見冷めているように見えるが、心には熱い激情を秘めている。羽裏色は千歳緑（ちとせみどり）（常緑植物の葉の色）。羽織は袖のないタイプ。
					</p>
					<p class="c-text">
						かつて死神になることを日番谷に薦めた恩人でもある副隊長の松本乱菊との関係は現在絶妙なパワーバランスで成り立っている。一見正反対な性格にみえるこのコンビだが、なぜか馬が合うらしく仕事中だけではなくよくプライベートも共にしている。事務作業の有能さや、やや苦労性ながらも優しさが窺えるような行動もみせる。<br>五番隊副隊長・雛森桃とは幼馴染で、幼い頃は流魂街に住む祖母の許で姉弟のように育った。それ故に雛森の身を案じ気遣っており、雛森を心身共に追い詰めた市丸や藍染に対し、怒りを見せたこともある。実際、藍染からは「隊長の中では自身に対してもっとも憎しみを抱く人物」と評されている。西門の番人・兕丹坊とは仲がよく休日になると彼に会うために足を運ぶ。彼に「都会のルール」を教えた人物。
					</p>
					<p class="c-text">
						「潤林安」で過ごした当時は祖母と雛森以外の周囲の人達から、銀髪と翡翠（碧緑）の瞳に加えて物事を冷静に見渡せるクールな性格のため「氷のようだ」と言われ恐れられ避けられていた。またこの時から「氷輪丸」の本体を夢で見るようになった。偶然出会った松本乱菊に夢で見た「氷輪丸」の事、自身の力がこのままでは祖母を殺してしまう事を指摘された上で死神になるように諭され、祖母の元を去り死神を目指すようになった。<br>仕事熱心なのも「寝る子は育つ」という祖母の言葉を率先して忠実に実行する為に早く自室に戻り昼寝がしたいという理由から来ており、休日には流魂街に住む祖母に会いに行く程のおばあちゃん子。甘納豆は流魂街に住む祖母の好物で、昔から食べていて好物であり、今でも時々祖母から隊舎に差し入れが送られてくる。しかし、その他の甘いものは苦手。他の好物は大根おろしがたっぷりかかった玉子焼きで嫌いなものは干し柿。<br>一護等に呼び捨てされたり、「隊長」を付けないで呼ばれる度に「日番谷隊長だ」と言い返しており、アニメではある種のお約束となっている。
					</p>
					<p class="c-text">
						寒さに強いが暑さに弱く、自身の著作である「華麗なる結晶」も夏の間は11月頃まで休載される。護廷十三隊が休暇で、海水浴に行き皆が水着に着替え楽しんでいる時でも、冬獅郎だけは浜茶屋の中で涼んでいた。隊長の中では一番背が低く、今のところ全護廷隊士の中でも十一番隊の副隊長・草鹿やちるに次いで低身長である。身長が伸びないことに本人が一番悩んでいる。コマ回しが幼い頃から得意で、潤林安では負け無しの強さを誇る。<br>志波一心（後の黒崎一心）が十番隊隊長であった時期は第三席で、その頃から事務作業の有能さが認められており、次期隊長候補（松本は当時から副隊長だったが、性格に問題があるため一心から駄目出しされた）に期待されていた。この頃は、まだ卍解を習得していなかったことが一心視点の回想シーンで語られた。
					</p>
					<p class="c-text">
						破面篇では、京楽から「日番谷隊長は天才だから、あと100年もしたら追い抜かれてしまう」と評されているが、藍染からは「若さ故に勝機と見れば真っ先に飛び込むのが最大の欠点」と酷評されており、この部分は京楽も案じている描写がある。十三番隊隊長・浮竹十四郎からは「じゅうしろう」「とうしろう」と名前の響きが似ているため気に入られており、よく現世のお菓子をくれる。以上のように、良くも悪くも先達から一目置かれている。
					</p>
					<p class="c-text">
						写真集「冬のライオン」が重版されたり、グラビアカレンダーの発売、さらに瀞霊廷通信で特集が組まれるなど、瀞霊廷内での人気はかなり高いものと思われる。乱菊曰く「男女問わず大人気のウチの隊長」らしい。なお写真集は乱菊の隠し撮りによるものであり、基本的にイベントごとへの付き合いはよくないのだが乱菊に連れ回されて出席することもある。「冬のライオン」が重版されたことを乱菊にイキナリ伝えられ、「重版されたコメントを!」と乱菊に頼まれたが、「うるさい!」と一喝した。
					</p>
					<p class="c-text">
						護廷十三隊内部の不穏な気配をいち早く察知し、独自に探索活動を行い市丸ギンに疑惑の目を向ける。市丸の計略により雛森と刃を交える事態に陥ったが、市丸の狙いがルキアの処刑にあるとかぎ付け処刑を止めようと乱菊と共に中央四十六室に乗り込み、そこで真実を知ることになる。全ての仲間を騙していた藍染に対して逆上し、卍解して挑んだが、一瞬にして倒されてしまう。卯ノ花烈の救護で一命を取り留める。<br>破面（アランカル）襲来時に備えて、破面討伐隊の現場指揮官としてルキアらと共に「日番谷先遣隊」として現世へ派遣され、代行組の一護らと合流する。最初は乱菊の誘いを断り自分で泊まる所を探す素振りを見せるが、結局は乱菊と共に井上織姫の自宅に居候する事にした。現世での戦闘では破面・No.11（アランカル・ウンデシーモ）シャウロン・クーファンや旧第6十刃（セスタ・エスパーダ）ルピと交戦し苦戦しながらも勝利を収めている。
					</p>
					<p class="c-text">
						後に山本総隊長の指示で尸魂界に一時帰還後、現世空座町に侵攻してきた藍染一派を迎え撃つため現世に赴く。現世での決戦では第3十刃（トレス・エスパーダ）ティア・ハリベルと交戦、仮面の軍勢のリサ、ひよりとも共闘する。十刃が全滅したのち、己の隊長という職務を賭して他の隊長らとともに藍染に立ち向かい、京楽と共に藍染へ真っ先に斬りかかるが、鏡花水月の力に翻弄されて雛森を刺してしまった上に、左腕左足を切断される重傷を負う。一連の終結後は回復し、雛森を守るため氷輪丸の力をもっと引き出さんと修行に打ち込んでいる。<br>ひよりとどちらがチビかで言い争う場面もあったが、身長は両方同じである。 一護に死神の力を取り戻させるため、一護に死神の力を与える刀に他の隊長格らと共に霊圧を与え、ルキアや恋次・剣八・一角・白哉と共に完現術者たちとの決戦に参戦して雪緒と対決し、凍らせて雪緒の能力を解除させ、卍解を使うまでもなく勝利した。<br>瀞霊廷に侵攻してきた『見えざる帝国』の蒼都（ツァン・トゥ）と対峙、早期決着を狙い卍解するも『大紅蓮氷輪丸』を奪われてしまった。劣勢に陥るが山本元柳斎が放った全力の霊圧を察知し、松本と共に奮い立つ。『見えざる帝国』が撤退した後は、奪われた卍解に未練を残さず、斬術に磨きをかけるべく道場で稽古に励んでいた。
					</p>
					<p class="c-text">
						『見えざる帝国』の二回目の侵攻ではバズビーと対峙。松本との連携である多重真空氷層を繰り出すが、流刃若火の炎も相殺した火力に窮地に立たされる。 その後も奮闘するがバーナーフィンガー2で重傷を負いさらに、蒼都の乱入で絶体絶命に陥るが侵影薬により卍解が虚化したことで卍解を取り戻し、『大紅蓮氷輪丸』で蒼都を氷漬けにする。その後、松本を治療しようとするが力尽きて倒れてしまう。直後に何者かの影が近づいている描写があったが・・・・・
					</p>
					<p class="c-text">
						その後、マユリがジゼル・ジュエルと交戦している最中にゾンビの状態でマユリたちと相対する。弓親・一角・クールホーンを瞬殺し、続いてマユリと交戦するが、何度マユリを倒しても時間が逆に進むような感覚に襲われる。それは、マユリの新薬の効果であり、マユリを倒す度にマユリを倒す前まで遡るというものであった。マユリの始解で四肢の動きを封じられ、更なる実験のために新薬の経過を観察されることになる。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【始解】『氷輪丸（ひょうりんまる）』</span>
						</dt>
						<dd class="ability__txt c-text">刀自体は普通の刀よりも少し長い程度だが、彼の身長に対しては長いため背負っている（劇場版第二作では腰に挿している）。氷雪系最強の斬魄刀。</dd>
						<dd class="ability__txt c-text">能力解放と共に柄尻に鎖で繋がれた龍の尾のような三日月形の刃物が付き、溢れだす霊圧が触れたもの全てを凍らせる水と氷の竜を創り出す。斬魄刀そのものにも、触れたものを凍らせる能力が付加する。始解時から「天相従臨（てんそうじゅうりん）」という天候を支配する能力があり、四方三里（半径約12km）に及ぶ広範囲の天候に影響を与える。斬魄刀は「大気中の水分全て」なため、折られても何度も作り出すことが可能。</dd>
						<dd class="ability__txt c-text">斬魄刀票では1位を獲得している。</dd>
						<dd class="ability__txt c-text">隊長格の中では卍解との能力差が最も少なく、作り出せる氷の量が少ない、という位しか差異がない。そのため、卍解を奪われてからは少ない氷でも戦えるように応用技が編み出された。</dd>
						<dd class="c-ability__txt c-text">解号は「霜天に坐せ『氷輪丸』（そうてんにざせ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【卍解】『大紅蓮氷輪丸（だいぐれんひょうりんまる）』</span>
						</dt>
						<dd class="ability__txt c-text">能力解放と共に、刀を持った腕から連なる巨大な翼を持つ西洋風の氷の龍を日番谷自身が纏い、背後に三つの巨大な花のような氷の結晶が浮かぶ。このとき刀身の鍔が微妙に変化し、元々の鍔に少しずらした鍔が重なっているような形状となっている。</dd>
						<dd class="ability__txt c-text">能力は始解時の能力が増大したもので、氷と凍気を自在に発し操る。又、刀以外の部分は全て氷でできている為、たとえ砕かれても水（液体としてその場に無くとも空気中の水分など）さえあれば何度でも再生可能という特性を持つ。その他にも、敵から受けてできた傷口を氷で塞ぐことで、一時的に出血を止めることなどができる。</dd>
						<dd class="ability__txt c-text">だが「日番谷自身がまだ幼いために卍解は未完成であり、持続時間が短い。背後にある花の結晶は日番谷の残りの霊力を示すもので、時間と共に花の花弁が一枚ずつ砕け落ちていき、十二枚の花弁全てが散った時、卍解も消える」[9]と思われていたが、本人によると氷の華が全て散り尽して、ようやく完成する。この状態になると日番谷は大人びた姿となり、戦闘力も向上する。蒼都との二回目の対決では、虚化の影響で左目が仮面のような氷に覆われている。 なお大紅蓮というのは八寒地獄の大紅蓮地獄に由来する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「真空多層氷壁（しんくうたそうひょうへき）」</span>
						</dt>
						<dd class="ability__txt c-text">『氷輪丸』と松本の『灰猫』を組み合わせた技。防御以外にも鋭利な形状に変えて攻撃に転用できる。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「綾陣氷壁（りょうじんひょうへき）」</span>
						</dt>
						<dd class="ability__txt c-text">繊細な氷を編み込んだ氷壁を盾にする防御技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「六衣氷結陣（ろくいひょうけつじん）」</span>
						</dt>
						<dd class="ability__txt c-text">地面の六ヶ所に氷の結晶を仕掛け、踏み込んだ標的を氷柱で包み込む設置式の技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「竜霰架（りゅうせんか）」</span>
						</dt>
						<dd class="ability__txt c-text">刀で貫いた相手を十字架型の氷塊に閉じこめ、砕く技。本来は卍解時に使用する技だが、アニメでのみ始解の状態で使用した。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「千年氷牢（せんねんひょうろう）」</span>
						</dt>
						<dd class="ability__txt c-text">氷柱を大量に発生させて敵を囲み、巨大な氷塊に敵を閉じ込める技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「斬氷人形（ざんひょうにんぎょう）」</span>
						</dt>
						<dd class="ability__txt c-text">氷で自身の分身を作り出す。死覇装の皺など、細かな部分も精巧に作成可能。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「群鳥氷柱（ぐんちょうつらら）」</span>
						</dt>
						<dd class="ability__txt c-text">敵に向けて大量の氷柱を放つ技。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「氷竜旋尾（ひょうりゅうせんび）」</span>
						</dt>
						<dd class="ability__txt c-text">氷で形成された斬撃を敵に向けて放つ技。相手が初撃を上空に避けた場合でも、氷の斬撃を上空にいる相手に放つ氷竜旋尾・絶空（ぜっくう）のコンボに繋げることが出来る。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「氷天百華葬（ひょうてんひゃっかそう）」</span>
						</dt>
						<dd class="ability__txt c-text">日番谷の最大の必殺技。天相従臨によって発生させた雨雲に穴を空け、触れたものを瞬時に華のように凍りつかせる雪を大量に降らせる技。本人曰く、百輪の氷の華が咲き終える頃には相手の命は消えているとのこと。降雪に触れただけで凍るために回避がとても困難な技である。第3十刃ハリベルに対して使用したがワンダーワイスの登場により一時的に活動を停止させるにとどまった。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「四界氷結（しかいひょうけつ）」</span>
						</dt>
						<dd class="ability__txt c-text">卍解が完成した状態で発動した技。大紅蓮氷輪丸を解放して四歩のうちに踏みしめた空間の地水火風の全てを凍結する。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>