<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
    'ichigo',
    'orihime',
    'urahara',
    'aizen',
    'harribel',
    'nnoitra',
    'grimmjow',
    'szayelaporro',
    'nakklevaar'
  ];
%>
<body>
<div class="container second character nelliel">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">優しい心と高い実力を持つ</span><br>
						<span class="character-detail-nickname_bottom">元第3十刃</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">ネリエル・トゥ・オーデルシュヴァンク</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">176cm</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">63kg</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">4月24日</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">十刃→虚圏</dd>
							<dt class="character-profile__detail-head">帰刀</dt>
							<dd class="character-profile__detail-txt">羚騎</dd>
							<dt class="character-profile__detail-head">司る死の形</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">破面・No.</dt>
							<dd class="character-profile__detail-txt">第3十刃→unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						黄緑色の髪で眉間から鼻筋にかけて傷痕があり前歯がない。ひびのはいった人の髑髏のような仮面の名残を頭に乗せ、顔の中央を横切るように仮面紋がある。新庄弁と思われる東北弁で喋る。バッタリ出会ったペッシェとドンドチャッカを兄とし、バワバワをペットとしている。彼等にずっと追いかけられる無限追跡ごっこが唯一の娯楽（ドMなので、泣くぐらい追いかけてもらわないと楽しくないらしい）。虚圏で出会った一護に懐き、虚夜宮（ラス・ノーチェス）内で一護を追いかけ行動を共にするようになる。一護の戦闘が終わる度に心配なのか彼に泣き付いて来る。口からは、僅かながら治癒効果があるヨダレのような液体を出すことができる。
					</p>
					<p class="c-text">
						かつては第3十刃の地位についており、本来は山羊の髑髏のような仮面をかぶった成人女性の姿で、背中に『3』の刻印がされている。実力はノイトラ（当時No.8）を圧倒するほどであったが、他方で、戦いを好まぬ性格でもあった。数年前に、ノイトラとザエルアポロの策略により背後から頭を割られ（顔と仮面の傷はそのときのもの）、自身の従属官だったドンドチャッカ、ペッシェと共に虚夜宮の外に放り出された。その際、傷から霊圧が流れ出して幼女の姿になってしまい、同時に記憶喪失となる。また、本来の姿に戻っても子供っぽい一面は残っており、ノイトラを吹っ飛ばした後も一護に泣きついていた（当然成体としての彼女の力も戻っているため、強く抱きしめられた一護はあまりの痛さに白目を向いて失神していた）。
					</p>
					<p class="c-text">
						ドンドチャッカ、ペッシェは戦いを好まぬ彼女の事を案じてその事を黙っていたが、一護を守りたいという強い気持ちから元の姿と記憶、十刃としての力を取り戻し、斬魄刀を解放してノイトラを圧倒的な実力で追い詰めた所で、再び幼女の姿に戻ってしまう。過去には自分よりも実力が劣るにも関わらず藍染の命令を無視し勝手な行動を取るノイトラを諌めるような言動をとっており、それがノイトラから嫉妬のような思いを抱かれる原因となっていた。
					</p>
					<p class="c-text">
						ノイトラが剣八に倒される最後の瞬間、幼女の姿ながら僅かに記憶が戻ったらしく、彼の名を呟きながら目を醒ます。成体ではその体型から想像もつかないような食欲を持ち、空腹の度合いが過ぎるとバワバワをやたらと見つめ始める。
					</p>
					<p class="c-text">
						その後は従属官2人と共に破面篇には登場しなかったが、千年血戦篇にて“見えざる帝国”に拉致されたドンドチャッカの救出を頼むためにペッシェと共に現世の一護のもとを訪れる。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【帰刃】『羚騎士（ガミューサ）』</span>
						</dt>
						<dd class="ability__txt c-text">解放の際は刀を地面と平行に構えて行う。解放すると上半身が人、下半身が羚羊という半人半獣のケンタウロスを連想させるような容姿となり、手にしたランス状の武器を用いて戦う。</dd>
						<dd class="c-ability__txt c-text">解号は「謳え『羚騎士』（うたえ『～』）」。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「翠の射槍（ランサドール・ヴェルデ）」</span>
						</dt>
						<dd class="ability__txt c-text">解放時に使用。ランス状の武器を全力で投擲して敵を貫く。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「重奏虚閃（セロ・ドーブル）」</dt>
						<dd class="c-ability__txt c-text">相手の虚閃を飲み込んだ後、自分の虚閃を上乗せして放出する。色はピンク。幼女の姿の際には虚閃を飲み込み、それを吐き出すといった技の片鱗を見せている。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「虚弾（バラ）」</dt>
						<dd class="c-ability__txt c-text">小説「BLEACH Can't Fear Your Own World」で使用。手から放つ。</dd>
					</dl>
					<dl class="c-ability-text">
						<dt class="c-ability__tit">「超加速（ちょうかそく）」</dt>
						<dd class="c-ability__txt c-text">名前の通り、瞬間的にスピードが飛躍的に上昇する能力。作中では幼女の姿の時のみ使用。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>