<%- include('../../inc/_head', {page_flg:'character_detail', page: json['character_detail']}) %>
<%
var charaArray = [
	'uryu',
    'otoribashi',
    'kensei',
    'zaraki',
    'yhbh',
    'haschwalth',
    'pernida',
    'nakklevaar',
    'bambietta',
    'asnodt',
    'liltotto',
    'bazz-b',
    'cangdu',
    'quilge',
    'bg9',
    'gerard',
    'accutrone',
    'driscoll',
    'meninas',
    'masculine',
    'candice',
    'nianzol',
    'giselle'
  ];
%>
<body>
<div class="container second character gremmy">
	<div class="container__inner">
		<%- include('../../inc/_header', {current:'character'}) %>
		<div class="main-visual_second">
			<div class="main-visual_second__inner">
			</div>
		</div>

		<h2 class="c-tit-lv_2">CHARACTER</h2>
<div class="main-contents_second">
			
			<div class="character-detail-name-brock">
				<div class="character-detail-nickname">
					<p class="character-detail-nickname__nickname">
						<span class="character-detail-nickname_top">危険視された</span><br>
						<span class="character-detail-nickname_bottom">規格外の夢想家</span>
					</p>
				</div>
				<div class="character-detail-name">
					<p class="character-detail-name__name">グレミィ・トゥミュー</p>
				</div>
			</div>

			<div class="character-profile">
				<div class="inner">
					<div class="character-profile-wrap">
						<dl class="character-profile__detail">
							<dt class="character-profile__detail-head">身長</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">体重</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">年齢</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">誕生日</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">所属</dt>
							<dd class="character-profile__detail-txt">見えざる帝国/星十字騎士団</dd>
							<dt class="character-profile__detail-head">聖文字</dt>
							<dd class="character-profile__detail-txt">V(夢想家:THE Visionary)</dd>
							<dt class="character-profile__detail-head">滅却師完聖体</dt>
							<dd class="character-profile__detail-txt">名称不明</dd>
							<dt class="character-profile__detail-head">好物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">尊敬する人物</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">テーマミュージック</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
							<dt class="character-profile__detail-head">血液型</dt>
							<dd class="character-profile__detail-txt">unknown</dd>
						</dl>
						<div class="character-profile-img">
							<div class="character-profile-img_01 character-profile-img__inner"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="character-description">
				<div class="inner">
					<p class="c-text">
						ロングコートを着用し、フードを被っている少年。「想像力」こそこの世で一番強い力と語り、「星十字騎士団」最強を自負する。仲間意識が希薄な騎士団の中でも一際危うい性格をしており、主であるユーハバッハすら攻撃に巻き込むことに躊躇がない。その能力からナックルヴァールやバズビーはおろかユーハバッハからも危険視されており、監禁されていたために一度目の尸魂界侵攻には参加していなかった。
					</p>
					<p class="c-text">
						二度目の侵攻では、自分が差し向けたグエナエルが敗色濃厚になると突如その場に出現。昏睡していた拳西とローズを想像で殺害し、グエナエルも用済みとして処分する。続けてやちるを戦闘不能に追い込み救援に駆けつけた剣八と対峙、決戦の舞台を作り出して交戦する。
圧倒的な能力から他者と本気でぶつかり合わず、物事に対して無関心に近い感情を持っていたが、鬼神の如き剣八の戦いぶりに触発され、勝利を渇望するようになる。巨大隕石を想像して瀞霊廷ごと剣八を倒そうとしたがこれを打ち破られ、分身を駆使した追撃や異空間の召喚でも倒しきれず、最後の手段として剣八と同じ力を持った怪物に変貌しようとするが、その途中で身体が崩壊してしまい敗北。剣八に負けたことを悔しがりながらも戦いには満足したようで、清々しい表情を浮かべながら本体を残して消滅した。
					</p>
					<p class="c-text">
						実は前述した少年の姿すら想像の産物であり、真の姿はケースに入れられた脳髄。剣八と同じ強さを想像した際、想像上の身体のキャパシティを剣八の力が超えたため収まりきらず、自壊に繋がった。
					</p>
				</div>
			</div>

			<div class="character-ability">
				<div class="inner">
					<h3 class="c-tit-lv_3">～技・能力～</h3>
					<dl class="c-ability-text">
						<dt class="ability__tit">
							<span class="ability__tit-txt">【能力】『夢想家（ザ・ヴィジョナリィ）』</span>
						</dt>
						<dd class="ability__txt c-text">聖文字“V”の能力。文字通り、グレミィが想像した事象を現実にする能力。他人の骨を脆くしたり、自分の傷の回復や体の硬度を上げるほか、自然物や人工物は勿論、生命をも創造でき、「自分自身」を生み出すことで想像力を倍増し、より壮大で強力なイメージを実現させられる。全能のような能力ではあるが、グレミィの想像が逐一反映されるため、目の前の戦闘に集中しすぎるとほかの想像を維持できずに効果が消失してしまう。また、予想外の反撃を受けるなどしてわずかでも精神的に動揺しネガティブなイメージが頭をよぎっても、それが即座に反映されてしまうため自身に不利益な効果をもたらすこともある。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「グエナエル・リー」</span>
						</dt>
						<dd class="ability__txt c-text">頭にヘッドホンのようなものをつけた小柄な老人。霊子兵装は小振りのナイフ。実はグレミィの空想の産物であり、実在する人間ではない。ローズと拳西を治療していた勇音とやちるの前に現れ、自身の能力でやちるを圧倒するも、やちるの始解で逆に追い詰められ、創造主のグレミィからも「忘れ去られた」挙句に抹殺されてしまった。空想の産物とはいえれっきとした人格があり、一方的に相手を痛めつけることを好む卑劣かつサディスティックな性格の持ち主。また創造主に忠実というわけではなく、用済みにされた際には怒りを見せグレミィにも襲いかかろうとしていた。</dd>
					</dl>
					<dl class="c-ability-text layer3">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「消失点（バニシング・ポイント）」</span>
						</dt>
						<dd class="ability__txt c-text">グレミィが想像したグエナエルの能力。自分の存在を相手の視界、意識からも完全に消すことができる。3つの能力形態を持ち、グエナエルの姿が消えて透明となるバージョン1、グエナエルの存在（実体）が消えて攻撃をかわすバージョン2、グエナエルの記憶が他者から消える（忘れる）バージョン3がある。バージョン1とバージョン2は瞬時に切り替えでき、作中ではおもにこの2つを使い分けていた。</dd>
					</dl>
					<dl class="c-ability-text layer3">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「消尽滑体（バニシング・スライダー）」</span>
						</dt>
						<dd class="ability__txt c-text">全霊圧を集中して発動する技。グエナエルの存在をわずかに後方にずらすことで敵の攻撃を回避する。</dd>
					</dl>
					<dl class="c-ability-text layer2">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「シャズ・ドミノ」</span>
						</dt>
						<dd class="ability__txt c-text">顔の右半分に刺青を入れた、黒縁眼鏡の男。霊子兵装は、刀身の黒いクナイ。技術開発局をぺぺとともに襲撃するが、キルゲの能力から脱出した一護に能力を説明する前に斬り倒された。その後、後述の能力により偽の死体をその場に残し、本体は中央四十六室を襲撃。崩玉を得るためにナユラを攻撃したが、足を切り取る寸前で現れた吉良と戦闘。激戦をくり広げるも、瓦礫を使った吉良の策の前に破れ、叫び声とともに大地に沈んでいった。</dd>
					</dl>
					<dl class="c-ability-text layer3">
						<dt class="ability__tit">
							<span class="ability__tit-txt">「生存能力（ザ・バイアビリティー）」</span>
						</dt>
						<dd class="ability__txt c-text">グレミィが想像したシャズの能力。周囲の霊子を取り込み、尋常ならざる勢いで自らの肉体の補修を行うことができる。虚の超速再生をも上回る再生速度を持ち、霊子から生み出した血肉を自らの死体であるかのように偽装することもできる。この能力を使い、シャズはグレミィの想像であった体を、実体のある体に変えることで、グレミィの支配から解放された。</dd>
					</dl>
				</div>
			</div>

			<%- include('../../inc/_back_to_character') %>

			<div class="related-character">
				<div class="inner">
					<h3 class="c-tit-lv_3">～RELATED CHARACTER～</h3>
					<ul class="related-character-list">
						<%- include('../../inc/_related', {data:charaArray}) %>
					</ul>
				</div>
			</div>

		</div>

		<!-- <div class="bg-band_diagonal"></div> -->
		<%- include('../../inc/_footer') %>
	</div>
</div>
</body>
</html>